<?xml version="1.0" encoding="utf-8"?>
<!--指定标签及参数的集合。-->
<root>
  <label name="用户登陆界面" />
  <label name="用户登陆成功" />
  <label name="回复留言列表" />
  <label name="留言回复标签">
    <param name="generalid" datatype="Int" />
  </label>
  <label name="评论列表">
    <param name="gid" datatype="Int" />
    <param name="listnum" datatype="Int" />
  </label>
  <label name="内容评论PK标签">
    <param name="showclass" datatype="Bool" />
    <param name="titlelen" datatype="Int" />
    <param name="contentlen" datatype="Int" />
    <param name="propertytype" datatype="String" />
    <param name="showauthor" datatype="Bool" />
    <param name="showdatetype" datatype="String" />
    <param name="showhits" datatype="Bool" />
    <param name="showhotsign" datatype="Bool" />
    <param name="shownewsign" datatype="Bool" />
    <param name="showtips" datatype="Bool" />
    <param name="opentype" datatype="String" />
    <param name="shownum" datatype="Int" />
    <param name="page" datatype="Bool" />
    <param name="pagesize" datatype="Int" />
    <param name="generalid" datatype="Int" />
  </label>
</root>