<?xml version="1.0" encoding="utf-8"?>
<!--包含自定义应用程序设置。-->
<appSettings>
  <add key="EasyOne:UserFilesPath" value="/upload" />
  <add key="EasyOne:DefaultUploadSuffix" value=".jpg.gif.jpeg.png.bmp.swf.fla.rm.rmvb.mp3.mpeg.avi.mpeg2.wmv.midi" />
  <add key="EasyOne:LabelXsltPath" value="~/Temp" />
  <add key="WebDAL" value="EasyOne.SqlServerDal" />
  <add key="LogFactoryName" value="DBLog" />
  <add key="Version" value="1.0.0.0" />
</appSettings>