<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sqlCacheConfiguration" type="EasyOne.Components.CacheDependency.Configuration.CacheDependencySettings, EasyOne.Components" />
  </configSections>
  <sqlCacheConfiguration>
    <cacheProviders>
      <add name="Bank" type="EasyOne.Components.CacheDependency.SqlCacheDependency, EasyOne.Components" database="EasyOne2007" table="PE_Bank" />
      <add name="Trademark" type="EasyOne.Components.CacheDependency.SqlCacheDependency, EasyOne.Components" database="EasyOne2007" table="PE_Trademark" />
    </cacheProviders>
  </sqlCacheConfiguration>
</configuration>