<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <CommonMailServer>
    <MailConfig>
      <MailFrom>@163.com</MailFrom>
      <EnabledSsl>false</EnabledSsl>
      <Port>25</Port>
      <AuthenticationType>Basic</AuthenticationType>
      <MailServer>smtp.163.com</MailServer>
      <MailServerUserName>{$UserName}</MailServerUserName>
      <MailServerPassWord>
      </MailServerPassWord>
    </MailConfig>
    <MailConfig>
      <MailFrom>@gmail.com</MailFrom>
      <EnabledSsl>true</EnabledSsl>
      <Port>465</Port>
      <AuthenticationType>Basic</AuthenticationType>
      <MailServer>smtp.gmail.com</MailServer>
      <MailServerUserName>{$UserName}</MailServerUserName>
      <MailServerPassWord>
      </MailServerPassWord>
    </MailConfig>
    <MailConfig>
      <MailFrom>@126.com</MailFrom>
      <EnabledSsl>false</EnabledSsl>
      <Port>25</Port>
      <AuthenticationType>Basic</AuthenticationType>
      <MailServer>smtp.126.com</MailServer>
      <MailServerUserName>{$UserName}</MailServerUserName>
      <MailServerPassWord>
      </MailServerPassWord>
    </MailConfig>
    <MailConfig>
      <MailFrom>@sina.com</MailFrom>
      <EnabledSsl>false</EnabledSsl>
      <Port>25</Port>
      <AuthenticationType>Basic</AuthenticationType>
      <MailServer>smtp.sina.com</MailServer>
      <MailServerUserName>{$UserName}</MailServerUserName>
      <MailServerPassWord>
      </MailServerPassWord>
    </MailConfig>
    <MailConfig>
      <MailFrom>@yahoo.com.cn</MailFrom>
      <EnabledSsl>false</EnabledSsl>
      <Port>465</Port>
      <AuthenticationType>Basic</AuthenticationType>
      <MailServer>smtp.mail.yahoo.com.cn</MailServer>
      <MailServerUserName>{$UserName}</MailServerUserName>
      <MailServerPassWord>
      </MailServerPassWord>
    </MailConfig>
    <MailConfig>
      <MailFrom>@sohu.com</MailFrom>
      <EnabledSsl>false</EnabledSsl>
      <Port>25</Port>
      <AuthenticationType>Basic</AuthenticationType>
      <MailServer>smtp.sohu.com</MailServer>
      <MailServerUserName>{$UserName}</MailServerUserName>
      <MailServerPassWord>
      </MailServerPassWord>
    </MailConfig>
    <MailConfig>
      <MailFrom>@qq.com</MailFrom>
      <EnabledSsl>false</EnabledSsl>
      <Port>25</Port>
      <AuthenticationType>Basic</AuthenticationType>
      <MailServer>smtp.qq.com</MailServer>
      <MailServerUserName>{$UserName}</MailServerUserName>
      <MailServerPassWord>
      </MailServerPassWord>
    </MailConfig>
    <MailConfig>
      <MailFrom>@tom.com</MailFrom>
      <EnabledSsl>false</EnabledSsl>
      <Port>25</Port>
      <AuthenticationType>Basic</AuthenticationType>
      <MailServer>smtp.tom.com</MailServer>
      <MailServerUserName>{$UserName}</MailServerUserName>
      <MailServerPassWord>
      </MailServerPassWord>
    </MailConfig>
    <MailConfig>
      <MailFrom>@eyou.com</MailFrom>
      <EnabledSsl>false</EnabledSsl>
      <Port>25</Port>
      <AuthenticationType>Basic</AuthenticationType>
      <MailServer>mx.eYou.com</MailServer>
      <MailServerUserName>{$UserName}</MailServerUserName>
      <MailServerPassWord>
      </MailServerPassWord>
    </MailConfig>
    <MailConfig>
      <MailFrom>@263.net</MailFrom>
      <EnabledSsl>false</EnabledSsl>
      <Port>25</Port>
      <AuthenticationType>Basic</AuthenticationType>
      <MailServer>smtp.263.net</MailServer>
      <MailServerUserName>{$UserName}</MailServerUserName>
      <MailServerPassWord>
      </MailServerPassWord>
    </MailConfig>
    <MailConfig>
      <MailFrom>@x263.net</MailFrom>
      <EnabledSsl>false</EnabledSsl>
      <Port>25</Port>
      <AuthenticationType>Basic</AuthenticationType>
      <MailServer>smtp.x263.net</MailServer>
      <MailServerUserName>{$UserName}@x263.net</MailServerUserName>
      <MailServerPassWord>
      </MailServerPassWord>
    </MailConfig>
    <MailConfig>
      <MailFrom>@21cn.com</MailFrom>
      <EnabledSsl>false</EnabledSsl>
      <Port>25</Port>
      <AuthenticationType>Basic</AuthenticationType>
      <MailServer>smtp.21cn.com</MailServer>
      <MailServerUserName>{$UserName}</MailServerUserName>
      <MailServerPassWord>
      </MailServerPassWord>
    </MailConfig>
  </CommonMailServer>
</configuration>