<?xml version="1.0" encoding="utf-8"?>
<!--指定页面传递参数的集合。-->
<queryStrings mode="OnlyList">
  <page url="~/Analytics/Counter.aspx">
    <param name="Style" datatype="String" optional="true" />
    <param name="Referer" datatype="String" optional="true" />
    <param name="Timezone" datatype="String" optional="true" />
    <param name="Width" datatype="String" optional="true" />
    <param name="Height" datatype="String" optional="true" />
    <param name="Color" datatype="String" optional="true" />
  </page>
  <page url="~/Analytics/CounterLink.aspx">
    <param name="Style" datatype="String" optional="true" />
  </page>
  <page url="~/Comment/AddComment.aspx">
    <param name="NodeId" datatype="Int" />
    <param name="Id" datatype="Int" optional="true" />
  </page>
  <page url="~/Comment/CommentExcerpt.aspx">
    <param name="Id" datatype="Int" />
    <param name="CommentId" datatype="Int" />
    <param name="Title" datatype="String" optional="true" />
  </page>
  <page url="~/Comment/CommentPKZoneManage.aspx">
    <param name="CommentID" datatype="Int" />
    <param name="Id" datatype="Int" />
    <param name="Title" datatype="String" optional="true" length="255" />
    <param name="Action" datatype="String" optional="true" />
    <param name="ItemTitle" datatype="String" optional="true" length="255" />
    <param name="ItemContent" datatype="String" optional="true" />
    <param name="RadlPosition" datatype="Int" optional="true" />
  </page>
  <page url="~/Comment/CommentRestore.aspx">
    <param name="Id" datatype="Int" />
    <param name="CommentId" datatype="Int" />
    <param name="Title" datatype="String" optional="true" />
  </page>
  <page url="~/Comment/ContentCommontManage.aspx">
    <param name="Id" datatype="Int" />
    <param name="CommentId" datatype="Int" />
    <param name="Title" datatype="String" optional="true" />
    <param name="Action" datatype="String" optional="true" />
  </page>
  <page url="~/Common/BaiduMap.aspx">
    <param name="page" datatype="Int" optional="true" />
  </page>
  <page url="~/Common/GetBrowseTimes.aspx">
    <param name="id" datatype="Int" />
  </page>
  <page url="~/Common/GetContentEdit.aspx">
    <param name="itemid" datatype="Int" />
  </page>
  <page url="~/Common/GetHits.aspx">
    <param name="Id" datatype="Int" />
    <param name="HitsType" datatype="String" optional="true" />
  </page>
  <page url="~/Common/GoogleMap.aspx">
    <param name="page" datatype="Int" optional="true" />
  </page>
  <page url="~/Common/GuestWrite.aspx">
    <param name="id" datatype="Int" optional="true" />
    <param name="modelId" datatype="Int" optional="true" />
  </page>
  <page url="~/Common/ShowAuthor.aspx">
    <param name="authorname" datatype="String" />
    <param name="updatetime" datatype="String" optional="true" />
    <param name="page" datatype="Int" optional="true" />
  </page>
  <page url="~/Common/ShowAuthorList.aspx">
    <param name="page" datatype="Int" optional="true" />
  </page>
  <page url="~/Common/ShowCopyFrom.aspx">
    <param name="copyfrom" datatype="String" />
    <param name="page" datatype="Int" optional="true" />
  </page>
  <page url="~/Common/ShowCopyFromList.aspx">
    <param name="page" datatype="Int" optional="true" />
  </page>
  <page url="~/Common/ShowDownloadError.aspx">
    <param name="Id" datatype="Int" />
    <param name="type" datatype="Int" />
  </page>
  <page url="~/Common/ShowDownloadUrl.aspx">
    <param name="Id" datatype="Int" />
    <param name="UrlId" datatype="Int" optional="true" />
    <param name="ServerId" datatype="Int" optional="true" />
    <param name="Pay" datatype="String" optional="true"/>
  </page>
  <page url="~/Common/Vote.aspx">
    <param name="GeneralId" datatype="Int" optional="true" />
  </page>
  <page url="~/Editor/Editor/filemanager/upload/aspx/upload.aspx">
    <param name="Type" datatype="String" optional="true" />
    <param name="UploaderType" datatype="String" optional="true" />
    <param name="IsWatermark" datatype="Bool" optional="true" />
    <param name="IsThumb" datatype="Bool" optional="true" />
    <param name="ModelId" datatype="Int" optional="true" />
    <param name="FieldName" datatype="String" optional="true" />
  </page>
  <page url="~/IAA/ADCount.aspx">
    <param name="AdId" datatype="Int" />
    <param name="Action" datatype="String" optional="true" />
  </page>
  <page url="~/IAA/ADShow.aspx">
    <param name="AdId" datatype="Int" />
  </page>
  <page url="~/PayOnline/PayOnline.aspx">
    <param name="AddOrder" datatype="String" optional="true" length="10" />
    <param name="OrderId" datatype="Int" optional="true" length="10" />
    <param name="PayPlatformId" datatype="Int" optional="true" length="10" />
    <param name="PointAmount" datatype="Int" optional="true" length="10" />
    <param name="vMoney" datatype="String" optional="true" length="20" />
  </page>
  <page url="~/PayOnline/PayResult99bill.aspx" abortOnError="false">
    <param name="orderid" datatype="String" optional="true" />
    <param name="merchantAcctId" datatype="String" optional="true" />
    <param name="version" datatype="String" optional="true" />
    <param name="language" datatype="String" optional="true" />
    <param name="signType" datatype="String" optional="true" />
    <param name="payType" datatype="String" optional="true" />
    <param name="bankId" datatype="String" optional="true" />
    <param name="orderTime" datatype="String" optional="true" />
    <param name="orderAmount" datatype="String" optional="true" />
    <param name="dealId" datatype="String" optional="true" />
    <param name="bankDealId" datatype="String" optional="true" />
    <param name="dealTime" datatype="String" optional="true" />
    <param name="payAmount" datatype="String" optional="true" />
    <param name="fee" datatype="String" optional="true" />
    <param name="ext1" datatype="String" optional="true" />
    <param name="ext2" datatype="String" optional="true" />
    <param name="payResult" datatype="String" optional="true" />
    <param name="errCode" datatype="String" optional="true" />
    <param name="signMsg" datatype="String" optional="true" />
  </page>
  <page url="~/PayOnline/PayResult99billSzx.aspx" abortOnError="false">
    <param name="orderid" datatype="String" optional="true" />
    <param name="merchantAcctId" datatype="String" optional="true" />
    <param name="version" datatype="String" optional="true" />
    <param name="language" datatype="String" optional="true" />
    <param name="signType" datatype="String" optional="true" />
    <param name="payType" datatype="String" optional="true" />
    <param name="orderTime" datatype="String" optional="true" />
    <param name="orderAmount" datatype="String" optional="true" />
    <param name="dealId" datatype="String" optional="true" />
    <param name="payAmount" datatype="String" optional="true" />
    <param name="ext1" datatype="String" optional="true" />
    <param name="ext2" datatype="String" optional="true" />
    <param name="payResult" datatype="String" optional="true" />
    <param name="signMsg" datatype="String" optional="true" />
    <param name="cardNumber" datatype="String" optional="true" />
    <param name="cardPwd" datatype="String" optional="true" />
    <param name="billOrderTime" datatype="String" optional="true" />
  </page>
  <page url="~/PayOnline/PayResultAlipay.aspx" abortOnError="false">
    <param name="out_trade_no" datatype="String" optional="true" />
    <param name="trade_status" datatype="String" optional="true" />
    <param name="price" datatype="String" optional="true" />
    <param name="notify_id" datatype="String" optional="true" />
    <param name="sign" datatype="String" optional="true" />
  </page>
  <page url="~/PayOnline/PayResultAlipayInstant.aspx" abortOnError="false">
    <param name="out_trade_no" datatype="String" optional="true" />
    <param name="trade_status" datatype="String" optional="true" />
    <param name="price" datatype="String" optional="true" />
    <param name="notify_id" datatype="String" optional="true" />
    <param name="sign" datatype="String" optional="true" />
  </page>
  <page url="~/PayOnline/PayResultChinabank.aspx" abortOnError="false">
    <param name="v_oid" datatype="String" optional="true" />
    <param name="v_md5str" datatype="String" optional="true" />
    <param name="v_amount" datatype="String" optional="true" />
    <param name="v_pstatus" datatype="String" optional="true" />
    <param name="v_moneytype" datatype="String" optional="true" />
  </page>
  <page url="~/PayOnline/PayResultChinabankAutoRecieve.aspx" abortOnError="false">
    <param name="v_oid" datatype="String" optional="true" />
    <param name="v_md5str" datatype="String" optional="true" />
    <param name="v_amount" datatype="String" optional="true" />
    <param name="v_pstatus" datatype="String" optional="true" />
    <param name="v_moneytype" datatype="String" optional="true" />
    <param name="v_pmode" datatype="String" optional="true" />
    <param name="v_pstring" datatype="String" optional="true" />
  </page>
  <page url="~/PayOnline/PayResultCncard.aspx" abortOnError="false">
    <param name="c_mid" datatype="String" optional="true" />
    <param name="c_order" datatype="String" optional="true" />
    <param name="c_orderamount" datatype="String" optional="true" />
    <param name="c_ymd" datatype="String" optional="true" />
    <param name="c_transnum" datatype="String" optional="true" />
    <param name="c_succmark" datatype="String" optional="true" />
    <param name="c_moneytype" datatype="String" optional="true" />
    <param name="c_cause" datatype="String" optional="true" />
    <param name="c_memo1" datatype="String" optional="true" />
    <param name="c_memo2" datatype="String" optional="true" />
    <param name="c_signstr" datatype="String" optional="true" />
  </page>
  <page url="~/PayOnline/PayResultIpay.aspx" abortOnError="false">
    <param name="v_date" datatype="String" optional="true" />
    <param name="v_oid" datatype="String" optional="true" />
    <param name="v_amount" datatype="String" optional="true" />
    <param name="v_pstatus" datatype="String" optional="true" />
    <param name="v_md5" datatype="String" optional="true" />
  </page>
  <page url="~/PayOnline/PayResultIps.aspx" abortOnError="false">
    <param name="billno" datatype="String" optional="true" />
    <param name="currency_type" datatype="String" optional="true" />
    <param name="amount" datatype="String" optional="true" />
    <param name="date" datatype="String" optional="true" />
    <param name="succ" datatype="String" optional="true" />
    <param name="attach" datatype="String" optional="true" />
    <param name="ipsbillno" datatype="String" optional="true" />
    <param name="retencodetype" datatype="String" optional="true" />
    <param name="signature" datatype="String" optional="true" />
  </page>
  <page url="~/PayOnline/PayResultTenpay.aspx" abortOnError="false">
    <param name="cmdno" datatype="String" optional="true" />
    <param name="pay_result" datatype="String" optional="true" />
    <param name="pay_info" datatype="String" optional="true" />
    <param name="date" datatype="String" optional="true" />
    <param name="bargainor_id" datatype="String" optional="true" />
    <param name="transaction_id" datatype="String" optional="true" />
    <param name="sp_billno" datatype="String" optional="true" />
    <param name="total_fee" datatype="String" optional="true" />
    <param name="fee_type" datatype="String" optional="true" />
    <param name="attach" datatype="String" optional="true" />
    <param name="sign" datatype="String" optional="true" />
  </page>
  <page url="~/PayOnline/PayResultXpay.aspx" abortOnError="false">
    <param name="bid" datatype="String" optional="true" />
    <param name="sid" datatype="String" optional="true" />
    <param name="md" datatype="String" optional="true" />
    <param name="prc" datatype="String" optional="true" />
    <param name="success" datatype="String" optional="true" />
    <param name="bankcode" datatype="String" optional="true" />
    <param name="v_pstring" datatype="String" optional="true" />
  </page>
  <page url="~/PayOnline/PayResultYeepay.aspx" abortOnError="false">
    <param name="MerchantId" datatype="String" optional="true" />
    <param name="MerchantOrderNumber" datatype="String" optional="true" />
    <param name="PaidAmount" datatype="String" optional="true" />
  </page>
  <page url="~/PayOnline/SelectPayPlatform.aspx" abortOnError="false">
    <param name="OrderID" datatype="Int" optional="true" />
    <param name="PointAmount" datatype="Int" optional="true" />
  </page>
  <page url="~/PayOnline/ShowResult.aspx" abortOnError="false">
    <param name="PayMessage" datatype="String" />
    <param name="PaymentNum" datatype="String" optional="true" />
  </page>
  <page url="~/Prompt/ShowError.aspx">
    <param name="Action" datatype="String" optional="true" />
  </page>
  <page url="~/Prompt/ShowExceptionMessage.aspx">
    <param name="MessageID" datatype="Int" optional="true" />
  </page>
  <page url="~/Prompt/ShowSuccess.aspx">
    <param name="Action" datatype="String" optional="true" />
  </page>
  <page url="~/Rss/Rss.aspx">
    <param name="page" datatype="Int" optional="true" />
  </page>
  <page url="~/Shop/OrderSuccess.aspx">
    <param name="OrderId" datatype="Int" length="5" />
  </page>
  <page url="~/Shop/Payment.aspx">
    <param name="RdbPresentId" datatype="Int" optional="true" />
  </page>
  <page url="~/Shop/ShoppingCart.aspx">
    <param name="Id" datatype="Int" optional="true" length="5" />
    <param name="Action" datatype="String" optional="true" length="10" />
    <param name="Num" datatype="Int" optional="true" />
    <param name="Property" datatype="String" optional="true" length="255" />
    <param name="IdList" datatype="String" optional="true" length="255" />
  </page>
  <page url="~/Shop/ShowProducer.aspx">
    <param name="page" datatype="String" optional="true" length="10" />
    <param name="producername" datatype="String" optional="true" length="50" />
  </page>
  <page url="~/Shop/ShowProducerList.aspx">
    <param name="page" datatype="String" optional="true" length="10" />
  </page>
  <page url="~/Shop/ShowTrademark.aspx">
    <param name="page" datatype="String" optional="true" length="10" />
    <param name="TrademarkName" datatype="String" optional="true" length="50" />
  </page>
  <page url="~/Shop/ShowTrademarkList.aspx">
    <param name="page" datatype="String" optional="true" length="10" />
  </page>
  <page url="~/Survey/AnswerList.aspx">
    <param name="SurveyID" datatype="Int" />
    <param name="QuestionID" datatype="Int" />
  </page>
  <page url="~/Survey/ListReport.aspx">
    <param name="SurveyID" datatype="Int" />
    <param name="ShowType" datatype="Int" optional="true" />
  </page>
  <page url="~/Survey/SurveySave.aspx">
    <param name="SurveyID" datatype="Int" optional="true" />
    <param name="SurveyPassword" datatype="String" optional="true" />
  </page>
  <page url="~/User/Accessories/AuthorList.aspx">
    <param name="SearchType" datatype="String" optional="true" />
    <param name="Author" datatype="String" optional="true" />
    <param name="ListType" datatype="Int" optional="true" />
    <param name="OpenerText" datatype="String" />
  </page>
  <page url="~/User/Accessories/DownServerList.aspx">
    <param name="OpenerText" datatype="String" optional="true" />
  </page>
  <page url="~/User/Accessories/FileUpload.aspx">
    <param name="ModuleName" datatype="String" optional="true" length="50" />
    <param name="NodeId" datatype="Int" optional="true" />
    <param name="ModelId" datatype="Int" optional="true" />
    <param name="FieldName" datatype="String" optional="true" length="100" />
    <param name="ReturnJSFunction" datatype="String" optional="true" />
  </page>
  <page url="~/User/Accessories/GetUploadPath.aspx">
    <param name="NodeId" datatype="Int" />
  </page>
  <page url="~/User/Accessories/KeyWordList.aspx">
    <param name="OpenerText" datatype="String" optional="true" />
  </page>
  <page url="~/User/Accessories/MultiplePhotoUpload.aspx">
    <param name="NodeId" datatype="Int" optional="true" />
    <param name="ModelId" datatype="Int" optional="true" />
    <param name="FieldName" datatype="String" optional="true" length="100" />
    <param name="ReturnJSFunction" datatype="String" optional="true" />
  </page>
  <page url="~/User/Accessories/ProducerList.aspx">
    <param name="ProducerType" datatype="String" optional="true" />
    <param name="OpenerText" datatype="String" optional="true" />
  </page>
  <page url="~/User/Accessories/SourceList.aspx">
    <param name="OpenerInput" datatype="String" optional="true" />
  </page>
  <page url="~/User/Accessories/TrademarkList.aspx">
    <param name="TrademarkType" datatype="String" optional="true" />
    <param name="OpenerText" datatype="String" optional="true" />
  </page>
  <page url="~/User/Contents/AnonymousContent.aspx">
    <param name="NodeId" datatype="Int" optional="true" />
    <param name="ModelId" datatype="Int" optional="true" />
  </page>
  <page url="~/User/Contents/AnonymousContent2.aspx">
    <param name="NodeId" datatype="Int" />
    <param name="ModelId" datatype="Int" />
  </page>
  <page url="~/User/Contents/CommentManage.aspx">
    <param name="CommentID" datatype="Int" optional="true" />
    <param name="GeneralID" datatype="Int" optional="true" />
    <param name="NodeId" datatype="Int" optional="true" />
    <param name="Action" datatype="String" optional="true" />
  </page>
  <page url="~/User/Contents/CommentModify.aspx">
    <param name="Action" datatype="String" optional="true" />
    <param name="CommentID" datatype="Int" optional="true" />
    <param name="GeneralID" datatype="Int" optional="true" />
    <param name="NodeId" datatype="Int" optional="true" />
  </page>
  <page url="~/User/Contents/CommentTree.aspx">
    <param name="NodeId" datatype="Int" optional="true" />
  </page>
  <page url="~/User/Contents/CommentXml.aspx">
    <param name="NodeId" datatype="Int" optional="true" />
  </page>
  <page url="~/User/Contents/Content.aspx">
    <param name="Action" datatype="String" length="7" />
    <param name="NodeId" datatype="Int" />
    <param name="GeneralID" datatype="Int" optional="true" />
    <param name="ModelId" datatype="Int" />
  </page>
  <page url="~/User/Contents/ContentManage.aspx">
    <param name="NodeId" datatype="Int" optional="true" />
    <param name="Status" datatype="Int" optional="true" />
    <param name="NodeName" datatype="String" optional="true" length="255" />
  </page>
  <page url="~/User/Contents/ContentSelectTreeXml.aspx">
    <param name="NodeId" datatype="Int" optional="true" />
    <param name="Action" datatype="String" optional="true" />
  </page>
  <page url="~/User/Contents/Favorite.aspx">
    <param name="Id" datatype="Int" optional="true" />
    <param name="Action" datatype="String" optional="true" />
  </page>
  <page url="~/User/Contents/Index.aspx">
    <param name="Action" datatype="String" optional="true" length="3" />
    <param name="js" datatype="String" optional="true" />
  </page>
  <page url="~/User/Contents/NavContent.aspx">
    <param name="Action" datatype="String" optional="true" />
  </page>
  <page url="~/User/Contents/NodeXml.aspx">
    <param name="NodeId" datatype="Int" optional="true" />
    <param name="Action" datatype="String" optional="true" />
  </page>
  <page url="~/User/Contents/Signin.aspx">
    <param name="NodeId" datatype="Int" optional="true" />
  </page>
  <page url="~/User/Contents/SpecialSelectTreeXml.aspx">
    <param name="Action" datatype="String" optional="true" />
    <param name="SpecialCategoryID" datatype="Int" optional="true" />
  </page>
  <page url="~/User/Contents/NodesList.aspx">
    <param name="ModelId" datatype="Int" optional="false" />
    <param name="ClientID" datatype="String" optional="false" />
    <param name="Action" datatype="String" optional="false" />
  </page>
  <page url="~/User/Crm/Question.aspx">
    <param name="Id" datatype="Int" optional="true" />
    <param name="Action" datatype="String" optional="true" />
  </page>
  <page url="~/User/Crm/ReplyQuestion.aspx">
    <param name="Id" datatype="Int" optional="true" />
  </page>
  <page url="~/User/Info/ValidLogDetail.aspx">
    <param name="LogId" datatype="Int" />
  </page>
  <page url="~/User/Message/Message.aspx">
    <param name="Action" datatype="String" optional="true" />
    <param name="MessageID" datatype="Int" optional="true" />
    <param name="inceptUser" datatype="String" optional="true" />
    <param name="UserName" datatype="String" optional="true" />
  </page>
  <page url="~/User/Message/MessageManager.aspx">
    <param name="ManageType" datatype="Int" optional="true" />
  </page>
  <page url="~/User/Message/MessageRead.aspx">
    <param name="MessageID" datatype="Int" />
    <param name="ManageType" datatype="Int" />
  </page>
  <page url="~/User/Message/PopupMessageRead.aspx">
    <param name="Unread" datatype="Int" optional="true" />
    <param name="MessageID" datatype="Int" />
  </page>
  <page url="~/User/Shop/AddPayment.aspx">
    <param name="OrderId" datatype="Int" length="10" />
    <param name="AddOrder" datatype="String" optional="true" />
  </page>
  <page url="~/User/Shop/Bankroll.aspx">
    <param name="ShowType" datatype="Int" optional="true" />
  </page>
  <page url="~/User/Info/Bankroll.aspx">
    <param name="ShowType" datatype="Int" optional="true" />
  </page>
  <page url="~/User/Shop/OrderFeedback.aspx">
    <param name="OrderId" datatype="Int" optional="true" length="10" />
  </page>
  <page url="~/User/Shop/ConfirmRemittance.aspx">
    <param name="OrderId" datatype="Int" optional="true" length="10" />
  </page>
  <page url="~/User/Shop/OrderList.aspx">
    <param name="OrderType" datatype="Int" optional="true" length="5" />
  </page>
  <page url="~/User/Shop/Product.aspx">
    <param name="ModelId" datatype="Int" optional="true" length="10" />
    <param name="NodeId" datatype="Int" optional="true" length="10" />
    <param name="Action" datatype="String" optional="true" length="20" />
    <param name="GeneralId" datatype="Int" optional="true" length="10" />
    <param name="LinkType" datatype="Int" optional="true" length="5" />
  </page>
  <page url="~/User/Shop/ProductManage.aspx">
    <param name="NodeId" datatype="Int" optional="true" length="10" />
    <param name="ListType" datatype="Int" optional="true" length="10" />
    <param name="Status" datatype="String" optional="true" length="100" />
    <param name="GeneralID" datatype="Int" optional="true" />
  </page>
  <page url="~/User/Shop/ShowDownload.aspx">
    <param name="ItemID" datatype="Int" />
  </page>
  <page url="~/User/Shop/ShowOrder.aspx">
    <param name="OrderId" datatype="Int" />
  </page>
  <page url="~/User/Shop/Wholesale.aspx">
    <param name="IdList" datatype="String" optional="true" length="255" />
  </page>
  <page url="~/User/UserFriend/FriendGroup.aspx">
    <param name="Action" datatype="String" optional="true" length="20" />
    <param name="GroupId" datatype="Int" optional="true" length="10" />
    <param name="GroupName" datatype="String" optional="true" length="100" />
  </page>
  <page url="~/User/UserFriend/FriendManage.aspx">
    <param name="GroupId" datatype="Int" optional="true" length="10" />
  </page>
  <page url="~/User/RegisterCheck.aspx">
    <param name="UserName" datatype="String" length="20" />
    <param name="CheckNum" datatype="String" length="-1" />
  </page>
  <page url="~/User/Login.aspx">
    <param name="responseversion" datatype="String" optional="true" />
    <param name="ReturnUrl" datatype="String" optional="true" />
    <param name="Action" datatype="String" optional="true" />
    <param name="Id" datatype="Int" optional="true" />
    <param name="MessageID" datatype="Int" optional="true" />
    <param name="UserName" datatype="String" optional="true" />
  </page>
  <page url="~/Wap/Wap.aspx">
    <param name="id" datatype="Int" optional="true" />
    <param name="Page" datatype="Int" optional="true" />
  </page>
  <page url="~/Wap/WapItem.aspx">
    <param name="id" datatype="Int" optional="true" />
    <param name="Page" datatype="Int" optional="true" />
  </page>
  <page url="~/Category.aspx">
    <param name="Id" datatype="Int" />
    <param name="Page" datatype="Int" optional="true" />
  </page>
  <page url="~/Item.aspx" abortOnError="true">
    <param name="Id" datatype="Int" casesensitive="false" />
    <param name="Page" datatype="Int" optional="true" />
    <param name="Pay" datatype="String" optional="true" length="3" />
  </page>
  <page url="~/Print.aspx">
    <param name="Id" datatype="Int" />
    <param name="Page" datatype="Int" optional="true" />
  </page>
  <page url="~/Search.aspx">
    <param name="searchtype" datatype="Int" optional="true" />
    <param name="Page" datatype="Int" optional="true" />
    <param name="nodeid" datatype="Int" optional="true" />
    <param name="ModuleName" datatype="String" optional="true" />
    <param name="Keyword" datatype="String" optional="true" />
    <param name="ModelId" datatype="Int" optional="true" />
    <param name="fieldoption" datatype="String" optional="true" />
    <param name="Submit" datatype="String" optional="true" />
    <param name="showtype" datatype="Int" optional="true" />
    <param name="title" datatype="String" optional="true" />
    <param name="productintro" datatype="String" optional="true" />
    <param name="productexplain" datatype="String" optional="true" />
    <param name="producername" datatype="String" optional="true" />
    <param name="trademarkname" datatype="String" optional="true" />
    <param name="lowprice" datatype="String" optional="true" />
    <param name="highprice" datatype="String" optional="true" />
    <param name="author" datatype="String" optional="true" />
    <param name="begindate" datatype="String" optional="true" />
    <param name="enddate" datatype="String" optional="true" />
    <param name="photointro" datatype="String" optional="true" />
    <param name="inputer" datatype="String" optional="true" />
    <param name="copyfrom" datatype="String" optional="true" />
    <param name="lowinfopoint" datatype="Int" optional="true" />
    <param name="highinfopoint" datatype="Int" optional="true" />
    <param name="copyfrom" datatype="String" optional="true" />
    <param name="softintro" datatype="String" optional="true" />
    <param name="softlanguage" datatype="String" optional="true" />
    <param name="softtype" datatype="String" optional="true" />
    <param name="softversion" datatype="String" optional="true" />
    <param name="copyrighttype" datatype="String" optional="true" />
    <param name="content" datatype="String" optional="true" />
    <param name="intro" datatype="String" optional="true" />
    <param name="source" datatype="String" optional="true" />
    <param name="specialid" datatype="String" optional="true" />
  </page>
  <page url="~/ShowComment.aspx">
    <param name="Id" datatype="Int" casesensitive="false" />
    <param name="Page" datatype="Int" optional="true" />
  </page>
  <page url="~/Special.aspx">
    <param name="Id" datatype="Int" optional="true" />
    <param name="Action" datatype="String" optional="true" length="20" />
    <param name="Page" datatype="Int" optional="true" />
  </page>
  <page url="~/Tag.aspx">
    <param name="Keyword" datatype="String" />
    <param name="Page" datatype="Int" optional="true" />
  </page>
  <page url="~/API/API_Response.aspx">
    <param name="syskey" datatype="String" optional="true" />
    <param name="username" datatype="String" optional="true" />
    <param name="password" datatype="String" optional="true" />
    <param name="savecookie" datatype="Int" optional="true" />
    <param name="rawpassword" datatype="String" optional="true" />
  </page>
  <page url="~/Shop/AddressList.aspx">
    <param name="username" datatype="String" optional="true" />
  </page>
  <page url="~/UserSynchro/UserSynchro.aspx">
    <param name="action" datatype="String" optional="true" />
    <param name="batch" datatype="Int" optional="true" />
  </page>
  <page url="~/User/RegisterPayPassword.aspx">
    <param name="Url" datatype="String" optional="true" />
  </page>
  <page url="~/Shop/OrderForm.aspx">
    <param name="OrderNum" datatype="String" optional="true" />
    <param name="Name" datatype="String" optional="true" />
  </page>
</queryStrings>