<?xml version="1.0" encoding="utf-8"?>
<security>
  <noCheckAdminLogOn mode="OnlyList">
    <page url="~/Admin/Login.aspx" />
    <page url="~/Admin/Prompt/ShowError.aspx" />
  </noCheckAdminLogOn>
  <noCheckUrlReferrer mode="OnlyList">
    <page url="~/Admin/" />
    <page url="~/Admin/Login.aspx" />
    <page url="~/Admin/Index.aspx" />
    <page url="~/Admin/User/UserList.aspx" />
    <page url="~/Admin/User/UserNameList.aspx" />
    <page url="~/Admin/Shop/AgentList.aspx" />
    <page url="~/Admin/shop/ProducerList.aspx" />
    <page url="~/Admin/Shop/ProductList.aspx" />
    <page url="~/Admin/Shop/TrademarkList.aspx" />
    <page url="~/Admin/Shop/ProductPicker.aspx" />
    <page url="~/Admin/Accessories/AuthorList.aspx" />
    <page url="~/Admin/Accessories/SourceList.aspx" />
    <page url="~/Admin/Template/Template_addlabel.aspx" />
    <page url="~/Admin/Template/Template_addPage.aspx" />
    <page url="~/Admin/Template/LabelXmlShow.aspx" />
    <page url="~/Admin/Template/TemplateUpload.aspx" />
    <page url="~/Admin/Template/LabelUpload.aspx" />
    <page url="~/Admin/ADZone/UploadAdFile.aspx" />
    <page url="~/Admin/UploadProgress/UploadProgressTemplate.aspx" />
    <page url="~/Admin/Accessories/TemplateList.aspx" />
    <page url="~/Admin/Crm/ClientList.aspx" />
    <page url="~/Admin/Crm/ContacterList.aspx" />
    <page url="~/Admin/Crm/CompanyList.aspx" />
    <page url="~/Admin/Accessories/AuthorPic.aspx" />
    <page url="~/Admin/Shop/AddressList.aspx" />
    <page url="~/Admin/Contents/NodesList.aspx" />
    <page url="~/Admin/Contents/SpecialList.aspx" />
    <page url="~/Admin/Accessories/ShowCheckTitleMessage.aspx" />
    <page url="~/Admin/Accessories/ShowUploadFiles.aspx" />
    <page url="~/Admin/Shop/DeliverCharge.aspx" />
    <page url="~/Admin/Accessories/KeyWordList.aspx" />
    <page url="~/Admin/Accessories/DownServerList.aspx" />
    <page url="~/Admin/Template/TemplateUpload.aspx" />
    <page url="~/Admin/Template/LabelUpload.aspx" />
    <page url="~/Admin/Template/StyleSheetsUpload.aspx" />
    <page url="~/Admin/Shop/CityList.aspx" />
    <page url="~/Admin/Shop/ProductModelList.aspx" />
    <page url="~/Admin/User/AdminList.aspx" />
    <page url="~/Admin/User/NodePermissions.aspx" />
    <page url="~/Admin/User/SpecialPermissions.aspx" />
    <page url="~/Admin/User/FieldPermissions.aspx" />
    <page url="~/Admin/Shop/PresentList.aspx" />
    <page url="~/Admin/Collection/FieldRule.aspx" />
    <page url="~/Admin/Profile/CheckNewVersion.aspx" />
  </noCheckUrlReferrer>
  <checkSecurityCode>
    <page url="~/Admin/Contents/ModelManage.aspx?Action=Delete" />
    <page url="~/Admin/Contents/ModelManage.aspx?Action=Delete" />
    <page url="~/Admin/Contents/SpecialCategoryManage.aspx?Action=Delete" />
    <page url="~/Admin/CommonModel/ModelTemplateManage.aspx?Action=Delete" />
    <page url="~/Admin/Accessories/DownServerManage.aspx?Action=Delete" />
    <page url="~/Admin/Accessories/InsideLinkManage.aspx?Action=Delete" />
    <page url="~/Admin/Accessories/KeywordManage.aspx?Action=Delete" />
    <page url="~/Admin/Accessories/WordFilterManage.aspx?Action=Delete" />
    <page url="~/Admin/ADZone/ADManage.aspx?Action=Delete" />
    <page url="~/Admin/ADZone/ADZoneManage.aspx?Action=Delete" />
    <page url="~/Admin/Contents/CategoryManage.aspx?Action=Delete" />
    <page url="~/Admin/Contents/CommentManage.aspx?Action=Delete" />
    <page url="~/Admin/Contents/CommentPKZoneManage.aspx?Action=Delete" />
    <page url="~/Admin/Contents/ContentCommentManage.aspx?Action=Delete" />
    <page url="~/Admin/Contents/FlowProcessManage.aspx?Action=Delete" />
    <page url="~/Admin/Contents/SpecialManage.aspx?Action=Delete" />
    <page url="~/Admin/Survey/QuestionManage.aspx?Action=Delete" />
    <page url="~/Admin/User/UserGroupManage.aspx?Action=Delete" />
    <page url="~/Admin/Contents/ContentView.aspx?Action=Delete" />
    <page url="~/Admin/Accessories/InsideLinkManage.aspx?Action=disInsideLink" />
    <page url="~/Admin/Accessories/InsideLinkManage.aspx?Action=runInsideLink" />
    <page url="~/Admin/Accessories/WordFilterManage.aspx?Action=disWordFilter" />
    <page url="~/Admin/Accessories/WordFilterManage.aspx?Action=runWordFilter" />
    <page url="~/Admin/ADZone/ADManage.aspx?Action=Copy" />
    <page url="~/Admin/ADZone/ADZoneManage.aspx?Action=Copy" />
    <page url="~/Admin/ADZone/ADZoneManage.aspx?Action=Clear" />
    <page url="~/Admin/CommonModel/Field.aspx?Action=Copy" />
    <page url="~/Admin/Contents/ContentCommentManage.aspx?Action=UnAudited" />
    <page url="~/Admin/Contents/ContentCommentManage.aspx?Action=Audited" />
    <page url="~/Admin/Contents/ContentCommentManage.aspx?Action=UnPremier" />
    <page url="~/Admin/Contents/ContentCommentManage.aspx?Action=Premier" />
    <page url="~/Admin/CommonModel/ModelTemplate.aspx?Action=AddModelToFieldTemplate" />
    <page url="~/Admin/Contents/SpecialManage.aspx?Action=Clear" />
    <page url="~/Admin/Contents/WorkFlowsManage.aspx?Action=Copy" />
    <page url="~/Admin/Shop/ShoppingCartManage.aspx?Action=Clear" />
    <page url="~/Admin/Contents/ContentView.aspx?Action=UnAudited" />
    <page url="~/Admin/Contents/ContentView.aspx?Action=Audited" />
    <page url="~/Admin/Contents/ContentView.aspx?Action=UnPremier" />
    <page url="~/Admin/Contents/ContentView.aspx?Action=Premier" />
    <page url="~/Admin/Contents/ContentShowSuccess.aspx?Action=Add" />
    <page url="~/Admin/Contents/ContentShowSuccess.aspx?Action=Delete" />
  </checkSecurityCode>
  <checkPermissions mode="OnlyList">
    <!--内容模块文件管理 -->
    <page url="contents/addcontenttonode.aspx" operateCode="CategoryInfoManage" />
    <page url="contents/addcontenttospecial.aspx" operateCode="InfoManage" />
    <page url="contents/articlepreview.aspx" operateCode="InfoManage" />
    <page url="contents/photopreview.aspx" operateCode="InfoManage" />
    <page url="contents/softpreview.aspx" operateCode="InfoManage" />
    <page url="contents/nodetree.aspx" operateCode="InfoManage,CategoryInfoManage" checkType="or" />
    <page url="contents/nodeslist.aspx" operateCode="InfoManage" />
    <page url="contents/contentmanage.aspx" operateCode="InfoManage,CategoryInfoManage" checkType="or" />
    <page url="contents/specialtree.aspx" operateCode="SpecialInfoManage" />
    <page url="contents/specialinfosmanage.aspx" operateCode="SpecialInfoManage" />
    <page url="contents/content.aspx" operateCode="InfoManage" />
    <page url="contents/contentbatchset.aspx" operateCode="InfoManage" />
    <page url="contents/contentcommentmanage.aspx" operateCode="InfoManage" />
    <page url="contents/contenthtml.aspx" operateCode="InfoManage" />
    <page url="contents/contentpreview.aspx" operateCode="InfoManage" />
    <page url="contents/contentrecycle.aspx" operateCode="InfoManage" />
    <page url="contents/contentsignin.aspx" operateCode="InfoManage" />
    <page url="contents/contenttreexml.aspx" operateCode="InfoManage,CategoryInfoManage" checkType="or" />
    <page url="contents/contentview.aspx" operateCode="InfoManage" />
    <page url="contents/contentshowsuccess.aspx" operateCode="InfoManage" />
    <page url="contents/flowprocess.aspx" operateCode="InfoManage" />
    <page url="contents/flowprocessmanage.aspx" operateCode="InfoManage" />
    <page url="contents/commentguide.aspx" operateCode="CommentManage" />
    <page url="contents/commentmanage.aspx" operateCode="CommentManage" />
    <page url="contents/commentexcerpt.aspx" operateCode="CommentManage" />
    <page url="contents/commentpkzonemanage.aspx" operateCode="CommentManage" />
    <page url="contents/commentrestore.aspx" operateCode="CommentManage" />
    <page url="contents/commenttreexml.aspx" operateCode="CommentManage" />
    <page url="contents/commentmodify.aspx" operateCode="CommentManage" />
    <page url="contents/commentreplymodify.aspx" operateCode="CommentManage" />
    <page url="contents/autocreatehtml.aspx" operateCode="CreateHtmlManage" />
    <page url="contents/createhtmlsingle.aspx" operateCode="CreateHtmlManage" />
    <page url="contents/createhtmlspecialcategory.aspx" operateCode="CreateHtmlManage" />
    <page url="contents/createhtmlspecial.aspx" operateCode="CreateHtmlManage" />
    <page url="contents/createhtmlguide.aspx" operateCode="CreateHtmlManage" />
    <page url="contents/createhtmlcontent.aspx" operateCode="CreateHtmlManage" />
    <page url="contents/createhtmlnodes.aspx" operateCode="CreateHtmlManage" />
    <page url="contents/createhtmlspecialCategory.aspx" operateCode="CreateHtmlManage" />
    <page url="contents/createhtmlprogress.aspx" operateCode="CreateHtmlManage" />
    <page url="contents/categoryguide.aspx" operateCode="NodesManage" />
    <page url="contents/categorymanage.aspx" operateCode="NodesManage" />
    <page url="contents/category.aspx" operateCode="NodesManage" />
    <page url="contents/single.aspx" operateCode="NodesManage" />
    <page url="contents/outlink.aspx" operateCode="NodesManage" />
    <page url="contents/categoryorder.aspx" operateCode="NodesManage" />
    <page url="contents/categoryorderN.aspx" operateCode="NodesManage" />
    <page url="contents/categoryunite.aspx" operateCode="NodesManage" />
    <page url="contents/categorymove.aspx" operateCode="NodesManage" />
    <page url="contents/categoryreset.aspx" operateCode="NodesManage" />
    <page url="contents/categorypatch.aspx" operateCode="NodesManage" />
    <page url="contents/categorybatchset.aspx" operateCode="NodesManage" />
    <page url="contents/nodetreexml.aspx" operateCode="NodesManage" />
    <page url="contents/special.aspx" operateCode="SpecialManage" />
    <page url="contents/specialinfotreexml.aspx" operateCode="SpecialManage,SpecialInfoManage" checkType="or" />
    <page url="contents/speciallist.aspx" operateCode="SpecialManage,ProductSpecialInfoManage" checkType="or" />
    <page url="contents/specialorder.aspx" operateCode="SpecialManage" />
    <page url="contents/specialselecttreexml.aspx" operateCode="SpecialManage" />
    <page url="contents/specialtreexml.aspx" operateCode="SpecialManage" />
    <page url="contents/specialguide.aspx" operateCode="SpecialManage,ProductSpecialInfoManage" checkType="or"/>
    <page url="contents/specialmanage.aspx" operateCode="SpecialManage,ProductSpecialInfoManage" checkType="or"/>
    <page url="contents/specialcategorymanage.aspx" operateCode="SpecialManage" />
    <page url="contents/specialcategoryorder.aspx" operateCode="SpecialManage" />
    <page url="contents/specialcategory.aspx" operateCode="SpecialManage,ProductSpecialInfoManage" checkType="or" />
    <page url="contents/specialunite.aspx" operateCode="SpecialManage" />
    <page url="contents/specialbatchset.aspx" operateCode="SpecialManage" />
    <page url="contents/movetootherspecial.aspx" operateCode="SpecialManage" />
    <page url="collection/collectionhistorymanage.aspx" operateCode="CollectionManage" />
    <page url="collection/collectionfiltermanage.aspx" operateCode="CollectionManage" />
    <page url="collection/collectionfilter.aspx" operateCode="CollectionManage" />
    <page url="collection/configstep1.aspx" operateCode="CollectionManage" />
    <page url="collection/configstep2.aspx" operateCode="CollectionManage" />
    <page url="collection/configstep3.aspx" operateCode="CollectionManage" />
    <page url="collection/itemmanage.aspx" operateCode="CollectionManage" />
    <page url="collection/collectionmain.aspx" operateCode="CollectionManage" />
    <page url="collection/collectionproc.aspx" operateCode="CollectionManage" />
    <page url="collection/historymanage.aspx" operateCode="CollectionManage" />
    <page url="template/templatemanageguide.aspx" operateCode="TemplateManage" />
    <page url="template/templatemanage.aspx" operateCode="TemplateManage" />
    <page url="template/labelguide.aspx" operateCode="LabelManage" />
    <page url="template/labelmanage.aspx" operateCode="LabelManage" />
    <page url="template/styleguide.aspx" operateCode="StyleManage" />
    <page url="template/stylemanage.aspx" operateCode="StyleManage" />
    <page url="template/includefileguide.aspx" operateCode="IncludeFileManage" />
    <page url="template/includefilemanage.aspx" operateCode="IncludeFileManage" />
    <page url="configuration/frontpagetemplateconfig.aspx" operateCode="DynamicPageConfig" />
    <page url="contents/model.aspx" operateCode="ContentModel" />
    <page url="contents/manageguide.aspx" operateCode="ContentModel" />
    <page url="contents/modelmanage.aspx" operateCode="ContentModel" />
    <page url="commonmodel/field.aspx" operateCode="ContentModel,ProductModelManage" checkType="or" />
    <page url="commonmodel/fieldmanage.aspx" operateCode="ContentModel,ProductModelManage" checkType="or" />
    <page url="commonmodel/modelpreview.aspx" operateCode="ContentModel,ProductModelManage" checkType="or" />
    <page url="commonmodel/modeltemplate.aspx" operateCode="ContentModel,ProductModelManage" checkType="or" />
    <page url="commonmodel/modeltemplateexport.aspx" operateCode="ContentModel,ProductModelManage" checkType="or" />
    <page url="commonmodel/modeltemplateimport.aspx" operateCode="ContentModel,ProductModelManage" checkType="or" />
    <page url="commonmodel/modeltemplatemanage.aspx" operateCode="ContentModel,ProductModelManage" checkType="or" />
    <page url="commonmodel/templatefieldmanage.aspx" operateCode="ContentModel,ProductModelManage" checkType="or" />
    <page url="contents/workflows.aspx" operateCode="WorkFlowManage" />
    <page url="contents/workflowsguide.aspx" operateCode="WorkFlowManage" />
    <page url="contents/workflowsmanage.aspx" operateCode="WorkFlowManage" />
    <page url="contents/status.aspx" operateCode="StatusManage" />
    <page url="contents/statusguide.aspx" operateCode="StatusManage" />
    <page url="contents/statusmanage.aspx" operateCode="StatusManage" />
    <page url="accessories/insidelinkguide.aspx" operateCode="InsideLinkManage" />
    <page url="accessories/insidelinkmanage.aspx" operateCode="InsideLinkManage" />
    <page url="accessories/wordfilterguide.aspx" operateCode="WordFilterManage" />
    <page url="accessories/wordfiltermanage.aspx" operateCode="WordFilterManage" />
    <page url="accessories/keywordguide.aspx" operateCode="KeyWordManage" />
    <page url="accessories/keywordmanage.aspx" operateCode="KeyWordManage" />
    <page url="accessories/author.aspx" operateCode="AuthorManage" />
    <page url="accessories/authorguide.aspx" operateCode="AuthorManage" />
    <page url="accessories/authormanage.aspx" operateCode="AuthorManage" />
    <page url="accessories/sourceguide.aspx" operateCode="SourceManage" />
    <page url="accessories/sourcemanage.aspx" operateCode="SourceManage" />
    <page url="accessories/downserverguide.aspx" operateCode="DownServerManage" />
    <page url="accessories/downservermanage.aspx" operateCode="DownServerManage" />
    <page url="accessories/downloaderrorguide.aspx" operateCode="DownloadErrorManage" />
    <page url="accessories/downloaderrormanage.aspx" operateCode="DownloadErrorManage" />
    <!--商店模块文件管理 -->
    <page url="shop/shopnodetree.aspx" operateCode="ProductManage,ProductBatchModify" checkType="or" />
    <page url="shop/producttreexml.aspx" operateCode="ProductManage,ProductBatchModify" checkType="or" />
    <page url="shop/productmanage.aspx" operateCode="ProductManage" />
    <page url="shop/productbatchset.asp" operateCode="ProductManage,NodeContentManage" checkType="or" />
    <page url="shop/productrecycle.aspx" operateCode="ProductManage,NodeContentManage" checkType="or" />
    <page url="user/cardadd.aspx" operateCode="CardManage" />
    <page url="user/cardbatchadd.aspx" operateCode="CardManage" />
    <page url="user/cardmodify.aspx" operateCode="CardManage" />
    <page url="user/cardshow.aspx" operateCode="CardManage" />
    <page url="user/cardguide.aspx" operateCode="CardManage" />
    <page url="user/cardsmanage.aspx" operateCode="CardManage" />
    <page url="shop/createhtmlprogress.aspx" operateCode="CreateHtmlManage" />
    <page url="shop/producthtml.aspx" operateCode="ProductManage" />
    <page url="shop/productbatchmodify.aspx" operateCode="ProductBatchModify" />
    <page url="shop/stock.aspx" operateCode="StockManage" />
    <page url="shop/stockguide.aspx" operateCode="StockManage" />
    <page url="shop/stockmanage.aspx" operateCode="StockManage" />
    <page url="shop/shoppingcartguide.aspx" operateCode="ShoppingCartManage" />
    <page url="shop/shoppingcartmanage.aspx" operateCode="ShoppingCartManage" />
    <page url="shop/orderguide.aspx" operateCode="OrderManage,OrderAdd" checkType="or" />
    <page url="shop/orderlist.aspx" operateCode="OrderManage" />
    <page url="shop/orderadd.aspx" operateCode="OrderAdd" />
    <page url="shop/ordermanage.aspx" operateCode="OrderManage" />
    <page url="shop/consignmentguide.aspx" operateCode="OnsignmentList" />
    <page url="shop/consignmentlist.aspx" operateCode="OnsignmentList" />
    <page url="shop/printformat.aspx" operateCode="PrintFormat" />
    <page url="shop/bankrollitemlistsearch.aspx" operateCode="BankrollItemList" />
    <page url="shop/bankrollitemlistguide.aspx" operateCode="BankrollItemList" />
    <page url="shop/bankrollitemlist.aspx" operateCode="BankrollItemList" />
    <page url="shop/salelistguide.aspx" operateCode="SaleList" />
    <page url="shop/salelist.aspx" operateCode="SaleList" />
    <page url="accessories/paymentlogdetail.aspx" operateCode="PaymentLogManage" />
    <page url="accessories/paymentlogguide.aspx" operateCode="PaymentLogManage" />
    <page url="accessories/paymentlogmanage.aspx" operateCode="PaymentLogManage" />
    <page url="shop/orderfeedbackmanage.aspx" operateCode="OrderFeedbackManage" />
    <page url="shop/orderfeedbackmodify.aspx" operateCode="OrderFeedbackManage" />
    <page url="shop/orderfeedbackdetail.aspx" operateCode="OrderFeedbackManage" />
    <page url="shop/invoiceitemlistguide.aspx" operateCode="InvoiceItemList" />
    <page url="shop/invoiceitemlist.aspx" operateCode="InvoiceItemList" />
    <page url="shop/deliveritemlistguide.aspx" operateCode="DeliverItemList" />
    <page url="shop/deliveritemlist.aspx" operateCode="DeliverItemList" />
    <page url="shop/transferlogguide.aspx" operateCode="TransferLogManage" />
    <page url="shop/transferlogmanage.aspx" operateCode="TransferLogManage" />
    <page url="shop/presentguide.aspx" operateCode="PromotionManage" />
    <page url="shop/presentmanager.aspx" operateCode="PromotionManage" />
    <page url="shop/present.aspx" operateCode="PromotionManage" />
    <page url="shop/presentprojectguide.aspx" operateCode="PromotionProject" />
    <page url="shop/presentproject.aspx" operateCode="PromotionProject" />
    <page url="shop/salecountguide.aspx" operateCode="SellCount" />
    <page url="shop/salecount.aspx" operateCode="SellCount" />
    <page url="shop/totalsaleguide.aspx" operateCode="SellCount" />
    <page url="shop/totalsale.aspx" operateCode="SellCount" />
    <page url="shop/saleroomguide.aspx" operateCode="SellCount" />
    <page url="shop/saleroom.aspx" operateCode="SellCount" />
    <page url="shop/comparehitsordernumberguide.aspx" operateCode="SellCount" />
    <page url="shop/comparehitsordernumber.aspx" operateCode="SellCount" />
    <page url="shop/categorysaleroomguide.aspx" operateCode="SellCount" />
    <page url="shop/categorysaleroom.aspx" operateCode="SellCount" />
    <page url="shop/memberordersguide.aspx" operateCode="SellCount" />
    <page url="shop/memberorders.aspx" operateCode="SellCount" />
    <page url="shop/memberexpenditureguide.aspx" operateCode="SellCount" />
    <page url="shop/memberexpenditure.aspx" operateCode="SellCount" />
    <page url="shop/memberorderlinessguide.aspx" operateCode="SellCount" />
    <page url="shop/memberorderliness.aspx" operateCode="SellCount" />
    <page url="shop/paymenttypeguide.aspx" operateCode="PaymentTypeManage" />
    <page url="shop/paymenttypemanage.aspx" operateCode="PaymentTypeManage" />
    <page url="shop/delivertypeguide.aspx" operateCode="DeliverTypeManage" />
    <page url="shop/delivertypemanage.aspx" operateCode="DeliverTypeManage" />
    <page url="shop/producerguide.aspx" operateCode="ProducerManage" />
    <page url="shop/producermanage.aspx" operateCode="ProducerManage" />
    <page url="shop/trademarkguide.aspx" operateCode="TrademarkManage" />
    <page url="shop/trademarkmanage.aspx" operateCode="TrademarkManage" />
    <page url="shop/packageguide.aspx" operateCode="PackageManage" />
    <page url="shop/packagemanage.aspx" operateCode="PackageManage" />
    <page url="accessories/payplatform.aspx" operateCode="PayPlatformManage" />
    <page url="accessories/payplatformguide.aspx" operateCode="PayPlatformManage" />
    <page url="accessories/payplatformmanage.aspx" operateCode="PayPlatformManage" />
    <page url="accessories/bank.aspx" operateCode="BankAccountManage" />
    <page url="accessories/bankguide.aspx" operateCode="BankAccountManage" />
    <page url="accessories/bankmanage.aspx" operateCode="BankAccountManage" />
    <page url="accessories/regionguide.aspx" operateCode="RegionManage" />
    <page url="accessories/regionmanage.aspx" operateCode="RegionManage" />
    <page url="shop/productmodelmanageguide.aspx" operateCode="ProductModelManage" />
    <page url="shop/productmodel.aspx" operateCode="ProductModelManage" />
    <page url="shop/productmodelmanage.aspx" operateCode="ProductModelManage" />
    <page url="shop/coupon.aspx" operateCode="Coupon" />
    <page url="shop/couponmanage.aspx" operateCode="Coupon" />
    <page url="shop/couponguide.aspx" operateCode="Coupon" />
    <page url="shop/couponlist.aspx" operateCode="Coupon" />
    <page url="shop/OrderFeedbackManage.aspx" operateCode="OrderManage" />
    <page url="shop/OrderFeedbackModify.aspx" operateCode="OrderManage" />
    <page url="shop/OrderFeedbackDetail.aspx" operateCode="OrderManage" />
    <!--客户关系管理 -->
    <page url="crm/addincome.aspx" operateCode="ClientMoneyManage" />
    <page url="crm/addpayment.aspx" operateCode="ClientMoneyManage" />
    <page url="crm/addremit.aspx" operateCode="ClientMoneyManage" />
    <page url="crm/client.aspx" operateCode="ClientAdd,ClientModifyOwn,ClientModifyAll" checkType="or" />
    <page url="crm/clientlist.aspx" operateCode="ClientManage,ComplainManage" checkType="or" />
    <page url="crm/clientshow.aspx" operateCode="ClientView" />
    <page url="crm/companylist.aspx" operateCode="ClientManage" />
    <page url="crm/clientguide.aspx" operateCode="ClientManage,ClientView,ClientAdd,ClientModifyOwn,ClientModifyAll,ClientDelete" checkType="or" />
    <page url="crm/clientmanage.aspx" operateCode="ClientManage" />
    <page url="crm/complain.aspx" operateCode="ComplainAdd,ComplainModifyOwn,ComplainModifyAll" checkType="or" />
    <page url="crm/complainsearch.aspx" operateCode="ComplainView" />
    <page url="crm/complainshow.aspx" operateCode="ComplainView" />
    <page url="crm/complainguide.aspx" operateCode="ComplainManage,ComplainView,ComplainAdd,ComplainModifyOwn,ComplainModifyAll,ComplainDelete,CallView,CallAdd,CallModifyOwn,CallModifyAll" checkType="or" />
    <page url="crm/complainmanage.aspx" operateCode="ComplainManage" />
    <page url="crm/contacter.aspx" operateCode="ContacterAdd,ContacterModifyOwn,ContacterModifyAll" checkType="or" />
    <page url="crm/contacterlist.aspx" operateCode="ContacterManage" />
    <page url="crm/contactershow.aspx" operateCode="ContacterView" />
    <page url="crm/contacterguide.aspx" operateCode="ContacterManage,ContacterView,ContacterAdd,ContacterModifyOwn,ContacterModifyAll,ContacterDelete" checkType="or" />
    <page url="crm/contactermanage.aspx" operateCode="ContacterManage" />
    <page url="crm/service.aspx" operateCode="ServiceAdd,ServiceModifyOwn,ServiceModifyAll" checkType="or" />
    <page url="crm/serviceconfirm.aspx" operateCode="ServiceManage" />
    <page url="crm/servicesearch.aspx" operateCode="ServiceView" />
    <page url="crm/serviceshow.aspx" operateCode="ServiceView,ServiceModifyOwn,ServiceModifyAll" checkType="or" />
    <page url="crm/serviceguide.aspx" operateCode="ServiceManage,ServiceView,ServiceAdd,ServiceModifyOwn,ServiceModifyAll,ServiceDelete" checkType="or" />
    <page url="crm/servicemanage.aspx" operateCode="ServiceManage" />
    <!--用户管理-->
    <page url="user/user.aspx" operateCode="UserSuperManage,UserAdd" checkType="or" />
    <page url="user/usermanage.aspx" operateCode="UserManage" />
    <page url="user/userguide.aspx" operateCode="UserSuperManage,UserAdd" checkType="or" />
    <page url="user/usergroup.aspx" operateCode="UserSuperManage,UserAdd" checkType="or" />
    <page url="user/usergroupmanage.aspx" operateCode="UserGroupManage" />
    <page url="user/usergroupguide.aspx" operateCode="UserGroupManage" />
    <page url="user/nodepermissions.aspx" operateCode="UserGroupManage,AdministratorManage" checkType="or" />
    <page url="user/specialpermissions.aspx" operateCode="UserGroupManage,AdministratorManage" checkType="or" />
    <page url="user/fieldpermissions.aspx" operateCode="UserGroupManage,AdministratorManage" checkType="or" />
    <page url="user/rolefieldpermissions.aspx" operateCode="AdministratorManage" />
    <page url="user/administratorguide.aspx" operateCode="AdministratorManage" />
    <page url="user/administratormanage.aspx" operateCode="AdministratorManage" />
    <page url="user/administrator.aspx" operateCode="AdministratorManage" />
    <page url="user/addincome.aspx" operateCode="UserMoneyManage" />
    <page url="user/addotherincome.aspx" operateCode="UserMoneyManage" />
    <page url="user/addpayment.aspx" operateCode="UserMoneyManage,OrderVirtualMoneyPayment" checkType="or" />
    <page url="user/batchaddmoney.aspx" operateCode="UserMoneyManage" />
    <page url="user/addpoint.aspx" operateCode="UserPointManage" />
    <page url="user/batchaddpoint.aspx" operateCode="UserPointManage" />
    <page url="user/exchangepoint.aspx" operateCode="UserPointManage" />
    <page url="user/minuspoint.aspx" operateCode="UserPointManage" />
    <page url="user/addvaliddate.aspx" operateCode="UserValidDateManage" />
    <page url="user/batchaddvaliddate.aspx" operateCode="UserValidDateManage" />
    <page url="user/exchangevalid.aspx" operateCode="UserValidDateManage" />
    <page url="user/minusvaliddate.aspx" operateCode="UserValidDateManage" />
    <page url="user/logsearch.aspx" operateCode="UserPointManage,UserValidDateManage" checkType="or" />
    <page url="user/batchmove.aspx" operateCode="UserMove" />
    <page url="user/modifypurview.aspx" operateCode="UserModifyPermissions" />
    <page url="user/usershow.aspx" operateCode="UserView" />
    <page url="user/regclient.aspx" operateCode="UserUpdateToClient" />
    <page url="user/regcompany.aspx" operateCode="UserUpdateToClient" />
    <page url="user/roleguide.aspx" operateCode="UserRoleManage" />
    <page url="user/role.aspx" operateCode="UserRoleManage" />
    <page url="user/rolemanage.aspx" operateCode="UserRoleManage" />
    <page url="user/rolemember.aspx" operateCode="UserRoleManage" />
    <page url="user/pointlogguide.aspx" operateCode="PointLog" />
    <page url="user/pointlog.aspx" operateCode="PointLog" />
    <page url="user/pointlogdetail.aspx" operateCode="PointLog" />
    <page url="user/validlogguide.aspx" operateCode="ValidLog" />
    <page url="user/validlog.aspx" operateCode="ValidLog" />
    <page url="user/validlogdetail.aspx" operateCode="ValidLog" />
    <page url="user/companymanage.aspx" operateCode="CompanyManage" />
    <page url="user/companyshow.aspx" operateCode="CompanyManage" />
    <!--附件管理-->
    <page url="adzone/adguide.aspx" operateCode="AdManage" />
    <page url="adzone/admanage.aspx" operateCode="AdManage" />
    <page url="adzone/adcount.aspx" operateCode="AdManage" />
    <page url="adzone/advertisement.aspx" operateCode="AdManage" />
    <page url="adzone/adzone.aspx" operateCode="AdManage" />
    <page url="adzone/adzoneexport.aspx" operateCode="AdManage" />
    <page url="adzone/adzoneguide.aspx" operateCode="AdManage" />
    <page url="adzone/adzoneimport.aspx" operateCode="AdManage" />
    <page url="adzone/adzonemanage.aspx" operateCode="AdManage" />
    <page url="adzone/jstemplate.aspx" operateCode="AdManage" />
    <page url="adzone/modifyjstemplate.aspx" operateCode="AdManage" />
    <page url="adzone/previewad.aspx" operateCode="AdManage" />
    <page url="adzone/showjscode.aspx" operateCode="AdManage" />
    <page url="survey/surveyguide.aspx" operateCode="SurveyManage" />
    <page url="survey/survey.aspx" operateCode="SurveyManage,SurveyQuestionnaireManage" checkType="or" />
    <page url="survey/surveymanage.aspx" operateCode="SurveyManage,SurveyQuestionnaireManage" checkType="or" />
    <page url="survey/surveycode.aspx" operateCode="SurveyManage,SurveyQuestionnaireManage,SurveyCode" checkType="or" />
    <page url="survey/surveyresult.aspx" operateCode="SurveyResultPreview" />
    <page url="survey/surveycodeguide.aspx" operateCode="SurveyManage" />
    <page url="survey/surveyresultguide.aspx" operateCode="SurveyManage" />
    <page url="survey/question.aspx" operateCode="SurveyQuestionnaireManage,SurveyCreate" checkType="or" />
    <page url="survey/questiondetail.aspx" operateCode="SurveyQuestionnaireManage,SurveyCreate" checkType="or" />
    <page url="survey/questionmanage.aspx" operateCode="SurveyQuestionnaireManage,SurveyCreate" checkType="or" />
    <page url="survey/questionpreview.aspx" operateCode="SurveyQuestionnaireManage,SurveyCreate,SurveyResultPreview" checkType="or" />
    <page url="survey/showcountdata.aspx" operateCode="SurveyResultPreview" />
    <page url="survey/showcountdata2.aspx" operateCode="SurveyResultPreview" />
    <page url="survey/showcountdata3.aspx" operateCode="SurveyResultPreview" />
    <page url="survey/surveyreport.aspx" operateCode="SurveyResultPreview" />
    <page url="analytics/statinfolistreport.aspx" operateCode="StatInfoList,StatManage" checkType="or" />
    <page url="analytics/ipadd.aspx" operateCode="StatManage" />
    <page url="analytics/ipmanage.aspx" operateCode="StatManage" />
    <page url="analytics/statinit.aspx" operateCode="StatManage" />
    <page url="analytics/statconfig.aspx" operateCode="StatManage" />
    <page url="analytics/codereference.aspx" operateCode="StatInfoList,StatManage" checkType="or" />
    <page url="analytics/stat.aspx" operateCode="StatInfoList,StatManage" />
    <page url="analytics/showclientdetail.aspx" operateCode="StatInfoList,StatManage" checkType="or" />
    <page url="analytics/statinfolistreport.aspx" operateCode="StatInfoList,StatManage" checkType="or" />
    <page url="analytics/statotherreport.aspx" operateCode="StatInfoList,StatManage" checkType="or" />
    <page url="analytics/stattimereport.aspx" operateCode="StatInfoList,StatManage" checkType="or" />
    <page url="analytics/statuserdatareport.aspx" operateCode="StatInfoList,StatManage" checkType="or" />
    <page url="analytics/statvisitorreport.aspx" operateCode="StatInfoList,StatManage" checkType="or" />
    <page url="accessories/filesguide.aspx" operateCode="UploadFiledManage" />
    <page url="accessories/filemanage.aspx" operateCode="UploadFiledManage" />
    <page url="accessories/cachemanageguide.aspx" operateCode="CacheManage" />
    <page url="accessories/cachemanage.aspx" operateCode="CacheManage" />
    <page url="accessories/cacheshow.aspx" operateCode="CacheManage" />
    <page url="accessories/logmanagerguide.aspx" operateCode="LogManager" />
    <page url="accessories/logmanager.aspx" operateCode="LogManager" />
    <page url="accessories/logdetail.aspx" operateCode="LogManager" />
    <page url="accessories/messageguide.aspx" operateCode="MessageManage" />
    <page url="accessories/messagemanage.aspx" operateCode="MessageManage" />
    <page url="accessories/messageread.aspx" operateCode="MessageManage" />
    <page url="accessories/messageadd.aspx" operateCode="MessageManage" />
    <page url="accessories/messagebatchdel.aspx" operateCode="MessageManage" />
    <page url="accessories/maillistexport.aspx" operateCode="MailListSend" />
    <page url="accessories/maillistguide.aspx" operateCode="MailListSend" />
    <page url="accessories/maillistsend.aspx" operateCode="MailListSend" />
    <page url="configuration/siteconfigguide.aspx" operateCode="SiteConfig,DynamicPageConfig,ShopParameterConfig" checkType="or" />
    <page url="configuration/FrontPageTemplateConfig.aspx" operateCode="DynamicPageConfig" />
    <page url="configuration/siteinfo.aspx" operateCode="SiteConfig" />
    <page url="configuration/siteoption.aspx" operateCode="SiteConfig" />
    <page url="configuration/shopconfig.aspx" operateCode="SiteConfig" />
    <page url="configuration/userconfig.aspx" operateCode="SiteConfig" />
    <page url="configuration/mailconfig.aspx" operateCode="SiteConfig" />
    <page url="configuration/thumbconfig.aspx" operateCode="SiteConfig" />
    <page url="configuration/iplockconfig.aspx" operateCode="SiteConfig" />
    <page url="configuration/smsconfig.aspx" operateCode="SiteConfig" />
    <page url="shop/shopconfig.aspx" operateCode="SiteConfig" />
    <page url="configuration/choicesetguide.aspx" operateCode="ChoicesetManage" />
    <page url="configuration/choiceset.aspx" operateCode="ChoicesetManage" />
    <page url="accessories/region.aspx" operateCode="RegionManage" />
    <page url="accessories/regionguide.aspx" operateCode="RegionManage" />
    <page url="accessories/regionmanage.aspx" operateCode="RegionManage" />
    <page url="accessories/comparefilesonlineguide.aspx" operateCode="CompareFilesOnline" />
    <page url="accessories/comparefilesonline.aspx" operateCode="CompareFilesOnline" />
    <!--　通用页面-->
    <page url="index.aspx" operateCode="None" />
    <page url="login.aspx" operateCode="None" />
    <page url="logout.aspx" operateCode="None" />
    <page url="prompt/showerror.aspx" operateCode="None" />
    <page url="prompt/showmessage.aspx" operateCode="None" />
    <page url="prompt/showsuccess.aspx" operateCode="None" />
    <page url="uploadprogress/uploadprogresstemplate.aspx" operateCode="None" />
    <page url="profile/changetheme.aspx" operateCode="None" />
    <page url="profile/myworktable.aspx" operateCode="None" />
    <page url="profile/quicklinks.aspx" operateCode="None" />
    <page url="profile/quicklinksconfig.aspx" operateCode="None" />
    <page url="profile/quicklinkssort.aspx" operateCode="None" />
    <page url="accessories/fileupload.aspx" operateCode="None" />
    <page url="user/userlist.aspx" operateCode="None" />
  </checkPermissions>
</security>