<?xml version="1.0"?>
<SiteConfig>
  <FrontTemplateList>
    <FrontTemplate Key="DynamicPageDefault" Value="/其他模板/默认动态页模板.html" />
    <FrontTemplate Key="Login" Value="/用户中心模板/默认用户登录页模板.html" />
    <FrontTemplate Key="Register" Value="/用户中心模板/默认用户注册页模板.html" />
    <FrontTemplate Key="RegisterCheck" Value="/用户中心模板/默认用户注册认证模板.html" />
    <FrontTemplate Key="ShowSuccess" Value="/其他模板/默认信息提示页模板.html" />
    <FrontTemplate Key="ShowError" Value="/其他模板/默认信息提示页模板.html" />
    <FrontTemplate Key="ShowUserSuccess" Value="/其他模板/框架内默认信息提示页模板.html" />
    <FrontTemplate Key="ShowUserError" Value="/其他模板/框架内默认信息提示页模板.html" />
    <FrontTemplate Key="RegCompany" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="RegCompany2" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="Vote" Value="/其他模板/投票结果页模板.html" />
    <FrontTemplate Key="ShowOnline" Value="/其他模板/默认在线用户查看模板.html" />
    <FrontTemplate Key="ShowDownloadUrl" Value="/其他模板/在线播放页模板.html" />
    <FrontTemplate Key="Special" Value="/专题页模板/默认专题首页模板.html" />
    <FrontTemplate Key="Search" Value="/其他模板/搜索页模板.html" />
    <FrontTemplate Key="ShowDownloadError" Value="/其他模板/下载错误信息页模板.html" />
    <FrontTemplate Key="ShowAuthorList" Value="/其他模板/作者列表页模板.html" />
    <FrontTemplate Key="ShowAuthor" Value="/其他模板/显示作者详细信息页模板.html" />
    <FrontTemplate Key="ShowCopyFromList" Value="/其他模板/来源列表页模板.html" />
    <FrontTemplate Key="ShowCopyFrom" Value="/其他模板/显示来源详细信息页模板.html" />
    <FrontTemplate Key="GuestWrite" Value="/其他模板/签写留言页模板.html" />
    <FrontTemplate Key="OrderForm" Value="/其他模板/默认动态页模板.html" />
    <FrontTemplate Key="ShoppingCart" Value="/订购流程模板/默认购物车页模板.html" />
    <FrontTemplate Key="FastRegister" Value="/订购流程模板/默认快速登录注册页模板.html" />
    <FrontTemplate Key="Payment" Value="/订购流程模板/默认收银台模板.html" />
    <FrontTemplate Key="Preview" Value="/订购流程模板/默认订单预览页模板.html" />
    <FrontTemplate Key="OrderSuccess" Value="/订购流程模板/默认订购成功页模板.html" />
    <FrontTemplate Key="FriendGroup" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="FriendGroupManage" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="Friend" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="FriendManage" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="Message" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="MessageRead" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="MessageManager" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="PopupMessageRead" Value="/用户中心模板/默认会员中心弹出未读短消息模板.html" />
    <FrontTemplate Key="CardList" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="Recharge" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="ExchangePoint" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="ExchangeValidDate" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="ValidLog" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="ValidLogDetail" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="PointLog" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="PointLogDetail" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="DonatePoint" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="BuyPoint" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="Product" Value="/用户中心模板/默认会员中心信息管理通用模板.html" />
    <FrontTemplate Key="ProductManage" Value="/用户中心模板/默认会员中心信息管理通用模板.html" />
    <FrontTemplate Key="OrderList" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="Bankroll" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="PaymentLog" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="ShowOrder" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="AddPayment" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="DownList" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="ShowDownload" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="AddressManager" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="CouponList" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="OrderFeedback" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="MergeOrder" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="Wholesale" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="ComplainList" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="Bill" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="ConfirmRemittance" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="ShowProducer" Value="/其他模板/显示厂商详细信息页模板.html" />
    <FrontTemplate Key="ShowProducerList" Value="/其他模板/显示厂商列表页模板.html" />
    <FrontTemplate Key="ShowTrademark" Value="/其他模板/显示品牌详细信息页模板.html" />
    <FrontTemplate Key="ShowTrademarkList" Value="/其他模板/显示品牌列表页模板.html" />
    <FrontTemplate Key="ShowCompare" Value="/其他模板/商品比较模板.html" />
    <FrontTemplate Key="Content" Value="/用户中心模板/默认会员中心信息管理通用模板.html" />
    <FrontTemplate Key="NavContent" Value="/用户中心模板/默认会员中心信息管理通用模板.html" />
    <FrontTemplate Key="ContentManage" Value="/用户中心模板/默认会员中心信息管理通用模板.html" />
    <FrontTemplate Key="NodeTree" Value="/用户中心模板/默认会员中心栏目树模板.html" />
    <FrontTemplate Key="Signin" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="AnonymousContent" Value="/用户中心模板/匿名投稿页模板.html" />
    <FrontTemplate Key="AnonymousContent2" Value="/用户中心模板/匿名投稿页模板.html" />
    <FrontTemplate Key="AuthorList" Value="/用户中心模板/默认会员中心弹出窗口通用模板.html" />
    <FrontTemplate Key="SourceList" Value="/用户中心模板/默认会员中心弹出窗口通用模板.html" />
    <FrontTemplate Key="KeyWordList" Value="/用户中心模板/默认会员中心弹出窗口通用模板.html" />
    <FrontTemplate Key="DownServerList" Value="/用户中心模板/默认会员中心弹出窗口通用模板.html" />
    <FrontTemplate Key="Default" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="Index" Value="/用户中心模板/默认会员中心信息管理首页模板.html" />
    <FrontTemplate Key="ModifyInfo" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="Password" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="PayPassword" Value="/用户中心模板/默认会员中心通用模板.html" />
    <FrontTemplate Key="Favorite" Value="/用户中心模板/默认会员中心信息管理通用模板.html" />
    <FrontTemplate Key="GetPassword" Value="/其他模板/默认忘记密码页模板.html" />
    <FrontTemplate Key="RegisterPayPassword" Value="/用户中心模板/默认设置支付密码页模板.html" />
    <FrontTemplate Key="SelectPayPlatform" Value="/订购流程模板/默认在线支付第一步模板.html" />
    <FrontTemplate Key="PayOnline" Value="/订购流程模板/默认在线支付第二步模板.html" />
    <FrontTemplate Key="PayOnlineStep" Value="/订购流程模板/默认在线支付第三步模板.html" />
    <FrontTemplate Key="CommentManage" Value="/用户中心模板/默认会员中心信息管理通用模板.html" />
    <FrontTemplate Key="CommentModify" Value="/用户中心模板/默认会员中心信息管理通用模板.html" />
    <FrontTemplate Key="CommentTree" Value="/用户中心模板/默认会员中心栏目树模板.html" />
    <FrontTemplate Key="AddComment" Value="/评论页模板/评论发表页模板.html" />
    <FrontTemplate Key="CommentPKZoneManage" Value="/评论页模板/评论PK页模板.html" />
    <FrontTemplate Key="CommentExcerpt" Value="/评论页模板/评论引用页模板.html" />
    <FrontTemplate Key="RssIndex" Value="/其他模板/默认rss页模板.html" />
    <FrontTemplate Key="WapIndex" Value="/其他模板/默认wap页模板.html" />
    <FrontTemplate Key="WapItem" Value="/其他模板/Wap内容页模板.html" />
  </FrontTemplateList>
  <IPLockConfig>
    <AdminLockIPBlack />
    <AdminLockIPType>0</AdminLockIPType>
    <AdminLockIPWhite />
    <LockIPBlack />
    <LockIPType>0</LockIPType>
    <LockIPWhite />
  </IPLockConfig>
  <MailConfig>
    <AuthenticationType>Basic</AuthenticationType>
    <EnabledSsl>false</EnabledSsl>
    <MailFrom>someone@163.com</MailFrom>
    <MailServer>smtp.163.com</MailServer>
    <MailServerPassWord>password</MailServerPassWord>
    <MailServerUserName>someone</MailServerUserName>
    <Port>25</Port>
  </MailConfig>
  <ShopConfig>
    <AgainBuyUrl />
    <City>广州市</City>
    <ConsignmentFormat>
      &amp;lt;table cellspacing=&amp;quot;1&amp;quot; cellpadding=&amp;quot;2&amp;quot; width=&amp;quot;100%&amp;quot; border=&amp;quot;0&amp;quot; class=&amp;quot;border&amp;quot;&amp;gt;
      &amp;lt;tbody&amp;gt;
      &amp;lt;tr align=&amp;quot;center&amp;quot;&amp;gt;
      &amp;lt;td class=&amp;quot;title&amp;quot;&amp;gt;&amp;lt;strong&amp;gt;订 单 信 息&amp;lt;/strong&amp;gt;（订单编号：{$OrderNum}） &amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr&amp;gt;
      &amp;lt;td style=&amp;quot;HEIGHT: 25px&amp;quot;&amp;gt;
      &amp;lt;table cellspacing=&amp;quot;0&amp;quot; cellpadding=&amp;quot;2&amp;quot; width=&amp;quot;100%&amp;quot; border=&amp;quot;0&amp;quot;&amp;gt;
      &amp;lt;tbody&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot;&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 18%&amp;quot;&amp;gt;客户名称：{$ClientName} &amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 20%&amp;quot;&amp;gt;用 户 名：{$UserName} &amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 20%&amp;quot;&amp;gt;代 理 商：{$AgentName} &amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 18%&amp;quot;&amp;gt;购买日期：{$BeginDate}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;COLOR: #000000&amp;quot;&amp;gt;下单时间：{$InputTime}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot; style=&amp;quot;COLOR: #000000&amp;quot;&amp;gt;
      &amp;lt;td&amp;gt;需要发票：{$NeedInvoice}&amp;lt;/td&amp;gt;
      &amp;lt;td&amp;gt;已开发票：{$Invoiced}&amp;lt;/td&amp;gt;
      &amp;lt;td&amp;gt;订单状态：{$Status}&amp;lt;/td&amp;gt;
      &amp;lt;td&amp;gt;付款情况：{$PayStatus}&amp;lt;/td&amp;gt;
      &amp;lt;td&amp;gt;物流状态：{$DeliverStatus}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;/tbody&amp;gt;
      &amp;lt;/table&amp;gt;
      &amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr align=&amp;quot;center&amp;quot;&amp;gt;
      &amp;lt;td style=&amp;quot;HEIGHT: 24%&amp;quot;&amp;gt;
      &amp;lt;table cellspacing=&amp;quot;1&amp;quot; cellpadding=&amp;quot;2&amp;quot; width=&amp;quot;100%&amp;quot; border=&amp;quot;0&amp;quot;&amp;gt;
      &amp;lt;tbody&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot;&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; style=&amp;quot;WIDTH: 12%&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;收货人姓名：&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 38%&amp;quot;&amp;gt;{$ContacterName}&amp;lt;/td&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; style=&amp;quot;WIDTH: 12%&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;联系电话：&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 38%&amp;quot;&amp;gt;{$Phone}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot; valign=&amp;quot;top&amp;quot;&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;收货人地址：&amp;lt;/td&amp;gt;
      &amp;lt;td&amp;gt;{$Address}&amp;lt;/td&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;邮政编码：&amp;lt;/td&amp;gt;
      &amp;lt;td&amp;gt;{$ZipCode}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot;&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;收货人邮箱：&amp;lt;/td&amp;gt;
      &amp;lt;td&amp;gt;{$Email}&amp;lt;/td&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;收货人手机：&amp;lt;/td&amp;gt;
      &amp;lt;td&amp;gt;{$Mobile}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot;&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;付款方式：&amp;lt;/td&amp;gt;
      &amp;lt;td&amp;gt;{$PaymentType}&amp;lt;/td&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;送货方式：&amp;lt;/td&amp;gt;
      &amp;lt;td&amp;gt;{$DeliverType}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot; valign=&amp;quot;top&amp;quot;&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;发票信息：&amp;lt;/td&amp;gt;
      &amp;lt;td&amp;gt;{$InvoiceContent}&amp;lt;/td&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;备注/留言：&amp;lt;/td&amp;gt;
      &amp;lt;td&amp;gt;{$Remark}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot; valign=&amp;quot;top&amp;quot;&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;发货时间要求：&amp;lt;/td&amp;gt;
      &amp;lt;td colspan=&amp;quot;3&amp;quot;&amp;gt;{$DeliveryTime}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;/tbody&amp;gt;
      &amp;lt;/table&amp;gt;
      &amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr&amp;gt;
      &amp;lt;td&amp;gt;
      &amp;lt;table cellspacing=&amp;quot;1&amp;quot; cellpadding=&amp;quot;0&amp;quot; width=&amp;quot;100%&amp;quot; border=&amp;quot;0&amp;quot; class=&amp;quot;border&amp;quot;&amp;gt;
      &amp;lt;tbody&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbgleft&amp;quot; align=&amp;quot;center&amp;quot;&amp;gt;
      &amp;lt;td&amp;gt;商 品 名 称&amp;lt;/td&amp;gt;
      &amp;lt;!--&amp;lt;td style=&amp;quot;width: 70px;&amp;quot;&amp;gt;
      商品编号&amp;lt;/td&amp;gt;--&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 35px&amp;quot;&amp;gt;单位&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 60px&amp;quot;&amp;gt;数量&amp;lt;/td&amp;gt;
      &amp;lt;!--&amp;lt;td style=&amp;quot;width: 70px;&amp;quot;&amp;gt;
      库存数量&amp;lt;/td&amp;gt;--&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 70px&amp;quot;&amp;gt;服务期限&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 120px&amp;quot;&amp;gt;备注&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;foreachstart&amp;gt;&amp;lt;/foreachstart&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot; align=&amp;quot;center&amp;quot;&amp;gt;
      &amp;lt;td align=&amp;quot;left&amp;quot;&amp;gt;{$ProductName} &amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 35px&amp;quot;&amp;gt;{$Unit} &amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 60px&amp;quot;&amp;gt;{$Amount} &amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 70px&amp;quot;&amp;gt;{$ServiceTerm} &amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 120px&amp;quot;&amp;gt;{$ItemRemark} &amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;foreachend&amp;gt;&amp;lt;/foreachend&amp;gt;
      &amp;lt;/tbody&amp;gt;
      &amp;lt;/table&amp;gt;
      &amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;/tbody&amp;gt;
      &amp;lt;/table&amp;gt;
    </ConsignmentFormat>
    <ContinueBuy />
    <Country>中华人民共和国</Country>
    <EmailOfDeliver>
      亲爱的 {$ContacterName} 您好：&lt;br&gt;
      您于 {$InputTime} 提交的 {$OrderNum} 号订单已经发货，请您注意及时查收。&lt;br&gt;
      订单信息如下：&lt;br&gt;
      {$OrderInfo}
    </EmailOfDeliver>
    <EmailOfInvoice>
      亲爱的 {$ContacterName} 您好：&lt;br&gt;
      您于 {$InputTime} 提交的 {$OrderNum} 号订单已经开具发票&lt;br&gt;
      订单信息如下：&lt;br&gt;
      {$OrderInfo}
    </EmailOfInvoice>
    <EmailOfOrderConfirm>
      亲爱的 {$ContacterName} 您好：&lt;br&gt;
      您于 {$InputTime} 提交的 {$OrderNum} 号订单已经确认。请您按照订单中的金额汇款并联系我们。收到汇款后我们将立即安排发货。&lt;br&gt;
      订单信息如下：&lt;br&gt;
      {$OrderInfo}
    </EmailOfOrderConfirm>
    <EmailOfReceiptMoney>
      亲爱的 {$ContacterName} 您好：&lt;br&gt;
      您于 {$InputTime} 提交的 {$OrderNum} 号订单已经银行汇款，我们正在安排发货。&lt;br&gt;
      订单信息如下：&lt;br&gt;
      {$OrderInfo}
    </EmailOfReceiptMoney>
    <EmailOfRefund>
      亲爱的 {$ContacterName} 您好：&lt;br&gt;
      我们已对您于 {$InputTime} 提交的 {$OrderNum} 号订单进行了退款，您可以在您的会员资金明细中查看相关记录。&lt;br&gt;
      订单信息如下：&lt;br&gt;
      {$OrderInfo}
    </EmailOfRefund>
    <EmailOfSendCard>
      亲爱的 {$ContacterName} 您好：&lt;br&gt;
      您于 {$InputTime} 提交的 {$OrderNum} 号订单交付充值卡。&lt;br&gt;
      充值卡信息如下：&lt;br&gt;
      {$CardInfo}
    </EmailOfSendCard>
    <EnableCoupon>false</EnableCoupon>
    <EnableGuestBuy>true</EnableGuestBuy>
    <EnablePartPay>true</EnablePartPay>
    <GwcThumbsHeight>45</GwcThumbsHeight>
    <GwcThumbsWidth>0</GwcThumbsWidth>
    <IsGwcShowProducdtThumb>false</IsGwcShowProducdtThumb>
    <IsOrderProductListShowThumb>true</IsOrderProductListShowThumb>
    <IsPaymentShowProducdtThumb>true</IsPaymentShowProducdtThumb>
    <IsPayPassword>false</IsPayPassword>
    <IsPreviewShowProducdtThumb>true</IsPreviewShowProducdtThumb>
    <IsProductListThumb>true</IsProductListThumb>
    <IsSetFunctionary>false</IsSetFunctionary>
    <IsShowGwcMarkPrice>false</IsShowGwcMarkPrice>
    <IsShowGwcProductType>false</IsShowGwcProductType>
    <IsShowGwcSaleType>false</IsShowGwcSaleType>
    <IsShowPaymentMarkPrice>false</IsShowPaymentMarkPrice>
    <IsShowPaymentProductType>true</IsShowPaymentProductType>
    <IsShowPaymentSaleType>false</IsShowPaymentSaleType>
    <IsShowPreviewMarkPrice>false</IsShowPreviewMarkPrice>
    <IsShowPreviewProductType>true</IsShowPreviewProductType>
    <IsShowPreviewSaleType>false</IsShowPreviewSaleType>
    <IsThumb>false</IsThumb>
    <IsWatermark>false</IsWatermark>
    <MoneyPresentPoint>1.00</MoneyPresentPoint>
    <OrderFormat>
      &amp;lt;table cellspacing=&amp;quot;1&amp;quot; cellpadding=&amp;quot;2&amp;quot; width=&amp;quot;98%&amp;quot; border=&amp;quot;0&amp;quot; class=&amp;quot;border&amp;quot;&amp;gt;
      &amp;lt;tbody&amp;gt;
      &amp;lt;tr align=&amp;quot;center&amp;quot;&amp;gt;
      &amp;lt;td class=&amp;quot;title&amp;quot;&amp;gt;&amp;lt;strong&amp;gt;订 单 信 息&amp;lt;/strong&amp;gt;（订单编号：{$OrderNum}） &amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr&amp;gt;
      &amp;lt;td style=&amp;quot;HEIGHT: 25px&amp;quot;&amp;gt;
      &amp;lt;table cellspacing=&amp;quot;0&amp;quot; cellpadding=&amp;quot;2&amp;quot; width=&amp;quot;100%&amp;quot; border=&amp;quot;0&amp;quot;&amp;gt;
      &amp;lt;tbody&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot;&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 18%&amp;quot;&amp;gt;客户名称：{$ClientName}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 20%&amp;quot;&amp;gt;用 户 名：{$UserName}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 18%&amp;quot;&amp;gt;代 理 商：{$AgentName}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 20%&amp;quot;&amp;gt;购买日期：{$BeginDate}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 24%&amp;quot;&amp;gt;下单时间：{$InputTime}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot;&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 18%&amp;quot;&amp;gt;需要发票：{$NeedInvoice}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 20%&amp;quot;&amp;gt;已开发票：{$Invoiced}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 18%&amp;quot;&amp;gt;订单状态：{$Status}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 20%&amp;quot;&amp;gt;付款情况：{$PayStatus}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 24%&amp;quot;&amp;gt;物流状态：{$DeliverStatus}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;/tbody&amp;gt;
      &amp;lt;/table&amp;gt;
      &amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr align=&amp;quot;center&amp;quot;&amp;gt;
      &amp;lt;td style=&amp;quot;HEIGHT: 24%&amp;quot;&amp;gt;
      &amp;lt;table cellspacing=&amp;quot;1&amp;quot; cellpadding=&amp;quot;2&amp;quot; width=&amp;quot;100%&amp;quot; border=&amp;quot;0&amp;quot;&amp;gt;
      &amp;lt;tbody&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot;&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; style=&amp;quot;WIDTH: 12%&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;收货人姓名：&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 38%&amp;quot; align=&amp;quot;left&amp;quot;&amp;gt;{$ContacterName}&amp;lt;/td&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; style=&amp;quot;WIDTH: 12%&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;联系电话：&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 38%&amp;quot; align=&amp;quot;left&amp;quot;&amp;gt;{$Phone}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot; valign=&amp;quot;top&amp;quot;&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; style=&amp;quot;WIDTH: 12%&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;收货人地址：&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 38%&amp;quot; align=&amp;quot;left&amp;quot;&amp;gt;{$Address}&amp;lt;/td&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; style=&amp;quot;WIDTH: 12%&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;邮政编码：&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 38%&amp;quot; align=&amp;quot;left&amp;quot;&amp;gt;{$ZipCode}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot;&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; style=&amp;quot;WIDTH: 12%&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;收货人邮箱：&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 38%&amp;quot; align=&amp;quot;left&amp;quot;&amp;gt;{$Email}&amp;lt;/td&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; style=&amp;quot;WIDTH: 12%&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;收货人手机：&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 38%&amp;quot; align=&amp;quot;left&amp;quot;&amp;gt;{$Mobile}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot;&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; style=&amp;quot;WIDTH: 12%&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;付款方式：&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 38%&amp;quot; align=&amp;quot;left&amp;quot;&amp;gt;{$PaymentType}&amp;lt;/td&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; style=&amp;quot;WIDTH: 12%&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;送货方式：&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 38%&amp;quot; align=&amp;quot;left&amp;quot;&amp;gt;{$DeliverType}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot; valign=&amp;quot;top&amp;quot;&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; style=&amp;quot;WIDTH: 12%&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;发票信息：&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 38%&amp;quot; align=&amp;quot;left&amp;quot;&amp;gt;{$InvoiceContent}&amp;lt;/td&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; style=&amp;quot;WIDTH: 12%&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;备注/留言：&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 38%&amp;quot; align=&amp;quot;left&amp;quot;&amp;gt;{$Remark}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot; valign=&amp;quot;top&amp;quot;&amp;gt;
      &amp;lt;td class=&amp;quot;tdbgleft&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;发货时间要求：&amp;lt;/td&amp;gt;
      &amp;lt;td colspan=&amp;quot;3&amp;quot;&amp;gt;{$DeliveryTime}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;/tbody&amp;gt;
      &amp;lt;/table&amp;gt;
      &amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr&amp;gt;
      &amp;lt;td&amp;gt;
      &amp;lt;table cellspacing=&amp;quot;1&amp;quot; cellpadding=&amp;quot;0&amp;quot; width=&amp;quot;100%&amp;quot; border=&amp;quot;0&amp;quot;&amp;gt;
      &amp;lt;tbody&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbgleft&amp;quot; align=&amp;quot;center&amp;quot;&amp;gt;
      &amp;lt;td&amp;gt;商 品 名 称&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 5%&amp;quot;&amp;gt;单位&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 6%&amp;quot;&amp;gt;数量&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 8%&amp;quot;&amp;gt;市场价&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 8%&amp;quot;&amp;gt;实价&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 8%&amp;quot;&amp;gt;指定价&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 8%&amp;quot;&amp;gt;金额&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 8%&amp;quot;&amp;gt;服务期限&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 10%&amp;quot;&amp;gt;备注&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;foreachstart&amp;gt;&amp;lt;/foreachstart&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot; align=&amp;quot;center&amp;quot;&amp;gt;
      &amp;lt;td align=&amp;quot;left&amp;quot;&amp;gt;{$ProductName}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 5%&amp;quot;&amp;gt;{$Unit}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 6%&amp;quot;&amp;gt;{$Amount}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 8%&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;{$Original}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 8%&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;{$Price}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 8%&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;{$TruePrice}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 8%&amp;quot; align=&amp;quot;right&amp;quot;&amp;gt;{$TotalMoney}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 8%&amp;quot;&amp;gt;{$ServiceTerm}&amp;lt;/td&amp;gt;
      &amp;lt;td style=&amp;quot;WIDTH: 10%&amp;quot;&amp;gt;{$ItemRemark}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;foreachend&amp;gt;&amp;lt;/foreachend&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot;&amp;gt;
      &amp;lt;td align=&amp;quot;right&amp;quot; colspan=&amp;quot;6&amp;quot;&amp;gt;合计：&amp;lt;/td&amp;gt;
      &amp;lt;td align=&amp;quot;right&amp;quot;&amp;gt;{$SubTotal}&amp;lt;/td&amp;gt;
      &amp;lt;td colspan=&amp;quot;2&amp;quot;&amp;gt;&amp;amp;nbsp;&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;tr class=&amp;quot;tdbg&amp;quot;&amp;gt;
      &amp;lt;td align=&amp;quot;left&amp;quot; colspan=&amp;quot;4&amp;quot;&amp;gt;运费：{$ChargeDeliver}元 &amp;lt;br /&amp;gt;
      实际金额：{$OrderTotalMoney}元 &amp;lt;br /&amp;gt;
      返还 &amp;lt;font color=&amp;quot;#ff0000&amp;quot;&amp;gt;{$TotalPresentMoney}&amp;lt;/font&amp;gt; 元现金券，赠送 &amp;lt;font color=&amp;quot;#ff0000&amp;quot;&amp;gt;{$TotalPresentExp} &amp;lt;/font&amp;gt;点积分，赠送 &amp;lt;font color=&amp;quot;#ff0000&amp;quot;&amp;gt;{$TotalPresentPoint}&amp;lt;/font&amp;gt;&amp;lt;/td&amp;gt;
      &amp;lt;td align=&amp;quot;right&amp;quot; colspan=&amp;quot;2&amp;quot;&amp;gt;实际金额：&amp;lt;/td&amp;gt;
      &amp;lt;td align=&amp;quot;right&amp;quot;&amp;gt;{$TotalMoney}&amp;lt;/td&amp;gt;
      &amp;lt;td align=&amp;quot;left&amp;quot; colspan=&amp;quot;2&amp;quot;&amp;gt;已付款：{$MoneyReceipt}&amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;/tbody&amp;gt;
      &amp;lt;/table&amp;gt;
      &amp;lt;/td&amp;gt;
      &amp;lt;/tr&amp;gt;
      &amp;lt;/tbody&amp;gt;
      &amp;lt;/table&amp;gt;
    </OrderFormat>
    <OrderProductListThumbsHeight>45</OrderProductListThumbsHeight>
    <OrderProductListThumbsWidth>0</OrderProductListThumbsWidth>
    <OrderProductNumber>0</OrderProductNumber>
    <PartPayAge>10</PartPayAge>
    <PaymentThumbsHeight>45</PaymentThumbsHeight>
    <PaymentThumbsWidth>0</PaymentThumbsWidth>
    <PostCode>510000</PostCode>
    <PrefixOrderFormNum>PE</PrefixOrderFormNum>
    <PrefixPaymentNum>OP</PrefixPaymentNum>
    <PreviewThumbsHeight>45</PreviewThumbsHeight>
    <PreviewThumbsWidth>0</PreviewThumbsWidth>
    <ProductListThumbsHeight>45</ProductListThumbsHeight>
    <ProductListThumbsWidth>0</ProductListThumbsWidth>
    <Province>广东省</Province>
    <TaxRate>0</TaxRate>
    <TaxRateType>0</TaxRateType>
  </ShopConfig>
  <SiteInfo>
    <BannerUrl>Skin/Default/images/banner.gif</BannerUrl>
    <Copyright />
    <EshopWebPartSetting />
    <LogoUrl>Skin/Default/images/logo.gif</LogoUrl>
    <MetaDescription />
    <MetaKeywords />
    <ProductEdition>CMS</ProductEdition>
    <SiteName>俊雅博思</SiteName>
    <SiteTitle>俊雅博思</SiteTitle>
    <SiteUrl>http://www.EasyOne.net</SiteUrl>
    <VirtualPath>/</VirtualPath>
    <Webmaster>站长</Webmaster>
    <WebmasterEmail>info@EasyOne.net</WebmasterEmail>
  </SiteInfo>
  <SiteOption>
    <AdvertisementDir>IAA</AdvertisementDir>
    <AutoSignInTime>0</AutoSignInTime>
    <CollectionSleep>0</CollectionSleep>
    <CreateHtmlPath />
    <EnablePointMoneyExp>true</EnablePointMoneyExp>
    <EnableSiteManageCode>false</EnableSiteManageCode>
    <EnableSoftKey>false</EnableSoftKey>
    <EnableUploadFiles>true</EnableUploadFiles>
    <HitsOfHot>0</HitsOfHot>
    <IncludeFilePath>JS</IncludeFilePath>
    <IsAbsoluatePath>false</IsAbsoluatePath>
    <IsAutoSignIn>false</IsAutoSignIn>
    <ManageDir>Admin</ManageDir>
    <RefreshQueueSize>0</RefreshQueueSize>
    <RssEnable>true</RssEnable>
    <SiteManageCode>8888</SiteManageCode>
    <TemplateDir>/Template/雅蓝模板方案</TemplateDir>
    <TicketTime>0</TicketTime>
    <UploadDir>UploadFiles</UploadDir>
    <UploadFileExts>gif|jpg|jpeg|jpe|bmp|png|rar</UploadFileExts>
    <UploadFileMaxSize>1024</UploadFileMaxSize>
    <UploadFilePathRule>{$RootDir}/{$Year}/{$Month}</UploadFilePathRule>
    <WapEnable>true</WapEnable>
  </SiteOption>
  <SmsConfig>
    <AdminPhoneNumber>13800138000</AdminPhoneNumber>
    <BankLogMessage>{$UserName}您好：您汇到{$BankName}的{$Money}元汇款已收到并已添加到你的帐户中。</BankLogMessage>
    <CartInformMessage />
    <ChangeStateMessage>{$UserName}您好：您添加的'{$Title}'信息状态已更改为{$State}。</ChangeStateMessage>
    <ConfirmOrderMessage>{$UserName}您好：您提交的订单已确认。请按订单中的金额汇款并联系我们。收到汇款后我们将立即安排发货。动易网络（请勿回复此短信）</ConfirmOrderMessage>
    <ConsignmentMessage>{$UserName}您好：您包装已发货，请留意包裹单并及时到邮局领取。若两周内没有收到请及时和我们联系。动易网络（请勿回复此短信）</ConsignmentMessage>
    <EncouragePeriodMessage>{$UserName} 您好：已经给您的帐户中添加了有效期{$Valid}。现有效期剩余天数为:{$ValidDays}天。</EncouragePeriodMessage>
    <EncouragePointMessage>{$UserName} 您好：已经给您的帐户中添加了{$Point}点券。现可用点数为：{$UserPoint}。</EncouragePointMessage>
    <ExchangePeriodMessage>{$UserName} 您好：已从您的帐户中扣除了{$Money}元，用于兑换有效期{$Valid}。现有效期剩余天数为:{$ValidDays}天。</ExchangePeriodMessage>
    <ExchangePointMessage>{$UserName} 您好：已从您的帐户中扣除了{$Money}元，用于兑换{$Point}点券。现可用点数为：{$UserPoint}。</ExchangePointMessage>
    <IncomeLogMessage>{$UserName} 您好：已经给您的帐户中添加了{$Money}元。您现在的资金余额为：{$Balance}。</IncomeLogMessage>
    <InvoiceMessage>{$UserName}您好：您提交的订单已经开具发票。动易网络（请勿回复此短信）</InvoiceMessage>
    <IsAutoSendCardNumber>false</IsAutoSendCardNumber>
    <IsAutoSendMessage>false</IsAutoSendMessage>
    <IsAutoSendStateMessage>false</IsAutoSendStateMessage>
    <MD5Key />
    <OrderMessage>会员 {$UserName} 于 {$InputTime} 下了一个订单，订单金额为：{$MoneyTotal}元。</OrderMessage>
    <PayoutLogMessage>{$UserName} 您好：已从您的帐户中扣除了{$Money}元，用于{$Reason}。</PayoutLogMessage>
    <PayoutPeriodMessage>{$UserName} 您好：已从您帐户中扣除有效期{$Valid}，用于{$Reason}。现有效剩余天数为:{$ValidDays}天。</PayoutPeriodMessage>
    <PayoutPointMessage>{$UserName} 您好：已从您的帐户中扣除了{$Point}点券，用于{$Reason}。现可用点数为：{$UserPoint}。</PayoutPointMessage>
    <RefundmentMessage>{$UserName}您好：我们已对您的订单进行了退款，您可在您会员资金明细中查看相关记录。动易网络（请勿回复此短信）</RefundmentMessage>
    <RemitMessage>{$UserName}您好：您汇到{$BankName}的{$Money}元汇款已收到并已添加到你的帐户中。动易网络（请勿回复此短信）</RemitMessage>
    <SendCardNumberMessage>{$UserName}您好：您提交的订单购买的充值卡信息如下：{$CardInfo}。动易网络（请勿回复此短信）</SendCardNumberMessage>
    <UseLabel>{$OrderFormID}：订单ID
      {$OrderFormNum}：订单编号
      {$UserName}：收货人姓名
      {$OrderInfo}：订单信息
      {$MoneyTotal}：订单总金额
      {$MoneyReceipt}：订单已收款
      {$MoneyNeedPay}：需要支付金额
      {$InputTime}：订购时间
      {$UserName}：会员用户名
      {$Address}：收货人地址
      {$ZipCode}：收货人邮编
      {$Mobile}：收货人手机
      {$Phone}：收货人电话
      {$Email}：收货人Email
      {$PaymentType}：付款方式
      {$DeliverType}：送货方式
      {$OrderStatus}：订单状态
      {$PayStatus}：付款情况
      {$DeliverStatus}：物流状态
      {$Charge_Deliver}：运费
      {$PresentMoney}：返还现金券
      {$PresentExp}：赠送积分
      {$Charge_Deliver}：运费
      {$ExpressCompany}：物流公司名称
      {$ExpressNumber}：快递单号</UseLabel>
    <UserName>EasyOne</UserName>
  </SmsConfig>
  <ThumbsConfig>
    <AddBackColor>#EE1169</AddBackColor>
    <ThumbsHeight>130</ThumbsHeight>
    <ThumbsMode>1</ThumbsMode>
    <ThumbsWidth>99</ThumbsWidth>
  </ThumbsConfig>
  <UserConfig>
    <AdminCheckReg>false</AdminCheckReg>
    <EmailCheckReg>false</EmailCheckReg>
    <EmailOfRegCheck>
      欢迎您注册成为本站会员！&lt;br&gt;
      验证码：{$CheckNum}
      请点击下面的地址，输入上面的验证码进行邮件验证。验证通过后，您就可以正式成为我们的会员，享受有关服务了！&lt;br&gt;
      &lt;a href='{$CheckUrl}' target='_blank'&gt;{$CheckUrl}&lt;/a&gt;
    </EmailOfRegCheck>
    <EnableCheckCodeOfLogOn>false</EnableCheckCodeOfLogOn>
    <EnableCheckCodeOfReg>false</EnableCheckCodeOfReg>
    <EnableMultiLogOn>false</EnableMultiLogOn>
    <EnableMultiRegPerEmail>true</EnableMultiRegPerEmail>
    <EnableQAofReg>false</EnableQAofReg>
    <EnableRegCompany>false</EnableRegCompany>
    <EnableUserReg>true</EnableUserReg>
    <GroupId>1</GroupId>
    <MoneyExchangePointByMoney>1</MoneyExchangePointByMoney>
    <MoneyExchangePointByPoint>1</MoneyExchangePointByPoint>
    <MoneyExchangeValidDayByMoney>1</MoneyExchangeValidDayByMoney>
    <MoneyExchangeValidDayByValidDay>1</MoneyExchangeValidDayByValidDay>
    <PointName>点券</PointName>
    <PointUnit>点</PointUnit>
    <PresentExp>0</PresentExp>
    <PresentExpPerLogOn>0</PresentExpPerLogOn>
    <PresentMoney>0</PresentMoney>
    <PresentPoint>0</PresentPoint>
    <PresentValidNum>0</PresentValidNum>
    <PresentValidUnit>1</PresentValidUnit>
    <RegAnswer1>答案一</RegAnswer1>
    <RegAnswer2>答案二</RegAnswer2>
    <RegAnswer3>答案三</RegAnswer3>
    <RegFieldsMustFill />
    <RegFieldsSelectFill>QQ,MSN,Homepage,OfficePhone,HomePhone</RegFieldsSelectFill>
    <RegQuestion1>问题一？</RegQuestion1>
    <RegQuestion2>问题二？</RegQuestion2>
    <RegQuestion3>问题三？</RegQuestion3>
    <UserExpExchangePointByExp>1</UserExpExchangePointByExp>
    <UserExpExchangePointByPoint>1</UserExpExchangePointByPoint>
    <UserExpExchangeValidDayByExp>1</UserExpExchangeValidDayByExp>
    <UserExpExchangeValidDayByValidDay>1</UserExpExchangeValidDayByValidDay>
    <UserGetPasswordType>1</UserGetPasswordType>
    <UserNameLimit>2</UserNameLimit>
    <UserNameMax>20</UserNameMax>
    <UserNameRegDisabled>admin|administrator|system|operator|support|root|postmaster|webmaster|security</UserNameRegDisabled>
  </UserConfig>
  <WaterMarkConfig>
    <WaterMarkImageInfo>
      <ImagePath>skin/default/images/logo.gif</ImagePath>
      <WaterMarkPosition>WM_TOP_LEFT</WaterMarkPosition>
      <WaterMarkPositionX>0</WaterMarkPositionX>
      <WaterMarkPositionY>0</WaterMarkPositionY>
    </WaterMarkImageInfo>
    <WaterMarkTextInfo>
      <FoneBorder>1</FoneBorder>
      <FoneBorderColor>#000000</FoneBorderColor>
      <FoneColor>#1A1AE6</FoneColor>
      <FoneSize>12</FoneSize>
      <FoneStyle>Bold</FoneStyle>
      <FoneType>宋体</FoneType>
      <Text>动易网络</Text>
      <WaterMarkPosition>WM_TOP_LEFT</WaterMarkPosition>
      <WaterMarkPositionX>0</WaterMarkPositionX>
      <WaterMarkPositionY>0</WaterMarkPositionY>
    </WaterMarkTextInfo>
    <WaterMarkType>1</WaterMarkType>
  </WaterMarkConfig>
</SiteConfig>