<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="default.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
  <rewrites>
    <add name="RewriteItem" virtualUrl="^~/Item/(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Item.aspx?id=$1" ignoreCase="true" />
    <add name="RewriteItemPage" virtualUrl="^~/Item/(\d+)_(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Item.aspx?id=$1&amp;page=$2" ignoreCase="true" />
    <add name="RewritePrint" virtualUrl="^~/Print/(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Print.aspx?id=$1" ignoreCase="true" />
    <add name="RewritePrintPage" virtualUrl="^~/Print/(\d+)_(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Print.aspx?id=$1&amp;page=$2" ignoreCase="true" />
    <add name="RewriteCategory" virtualUrl="^~/Category_(\d+)/" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Category.aspx?id=$1" ignoreCase="true" />
    <add name="RewriteCategory" virtualUrl="^~/Category_(\d+)/Index.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Category.aspx?id=$1" ignoreCase="true" />
    <add name="RewriteIndexCategory" virtualUrl="^~/Category_-2/Index.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx" ignoreCase="true" />
    <add name="RewriteCategoryPage" virtualUrl="^~/Category_(\d+)/Index_(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Category.aspx?id=$1&amp;page=$2" ignoreCase="true" />
    <add name="RewriteSpecial" virtualUrl="^~/Special_(\d+)/" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Special.aspx?id=$1&amp;action=special" ignoreCase="true" />
    <add name="RewriteSpecial" virtualUrl="^~/Special_(\d+)/Index.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Special.aspx?id=$1&amp;action=special" ignoreCase="true" />
    <add name="RewriteSpecialPage" virtualUrl="^~/Special_(\d+)/Index_(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Special.aspx?id=$1&amp;page=$2&amp;action=special" ignoreCase="true" />
    <add name="RewriteSpecialCategory" virtualUrl="^~/Specialcategory_(\d+)/" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Special.aspx?id=$1&amp;action=specialcategory" ignoreCase="true" />
    <add name="RewriteSpecialCategory" virtualUrl="^~/Specialcategory_(\d+)/Index.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Special.aspx?id=$1&amp;action=specialcategory" ignoreCase="true" />
    <add name="RewriteSpecialCategoryPage" virtualUrl="^~/Specialcategory_(\d+)/Index_(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Special.aspx?id=$1&amp;page=$2&amp;action=specialcategory" ignoreCase="true" />
    <add name="RewriteSpecialCategoryIndex" virtualUrl="^~/Specialcategory/$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Special.aspx" ignoreCase="true" />
    <add name="RewriteSpecialCategoryIndexPage" virtualUrl="^~/Specialcategory/Index.aspx$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Special.aspx" ignoreCase="true" />
  </rewrites>
</urlrewritingnet>