<?xml version="1.0"?>
<root>
  <LabelType>静态标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate>
              <![CDATA[<div id="LoginFrom" style="display:none" class="Login_ajax">
<SCRIPT LANGUAGE="JavaScript">
<!--

                    function refreshValidateCodeImage(ValidateCodeImageControl)
                    {
                        ValidateCodeImageControl.src =  ValidateCodeImageControl.src + '?code=' + randomNum(10);
                    }
                    function randomNum(n){ 
                        var rnd=''; 
                        for(var i=0;i<n;i++)
                             rnd+=Math.floor(Math.random()*10);
                        return rnd;
                    }
            
//-->
</SCRIPT>

        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td>
                    用户名：
                </td>
                <td>
                    <input name="TxtUserName" type="text" maxlength="20" id="TxtUserName" class="inputtext" style="width:95px;" />
                </td>
            </tr>
            <tr>
                <td>
                    密 码：
                </td>
                <td>
                    <input name="TxtPassword" type="password" id="TxtPassword" class="inputtext" style="width:95px;" />
                </td>
            </tr>
            
                <tr id="checkcode" style="display:none">
                    <td>
                        验证码：
                    </td>
                    <td>
                        <input name="TxtValidateCode" type="text" maxlength="6" value="no" id="TxtValidateCode" class="inputtext" onfocus="this.select();" style="width:50px;" /><img id="VcodeLogOn" title="看不清楚，换一个" onclick="refreshValidateCodeImage(this);" src="{PE.SiteConfig.ApplicationPath /}Controls/ValidateCodeImage.aspx" align="absmiddle" style="border-width:0px;cursor:hand;" />
                    </td>
                </tr>
            
            <tr>
                <td>
                    Cookie：
                </td>
                <td>
                    <select name="DropExpiration" id="DropExpiration">
		<option value="None">不保存</option>
		<option value="Day">保存一天</option>
		<option value="Month">保存一月</option>
		<option value="Year">保存一年</option>

	</select>
                </td>
            </tr>
        </table>
        <input type="submit" name="BtnLogOn" value="登录" id="BtnLogOn" onclick="login();" class="inputbutton" />&nbsp;&nbsp;
        <a href="{PE.SiteConfig.ApplicationPath /}User/Register.aspx" target="_top">注册</a>｜<a href="{PE.SiteConfig.ApplicationPath /}User/GetPassword.aspx"
            target="_top">忘记密码</a>
        <div class="clearbox">
        </div>
        <a class="bt_login" href="{PE.SiteConfig.ApplicationPath /}User/Contents/AnonymousContent.aspx" target="_blank">匿名投稿</a>
        <div class="clearbox">
        </div>
</div>
 <div id="PnlLogOnStatus" class="Login_ajax">      
</div>
<script language="javascript" type="text/javascript">
   CheckIsLogin();
   
   function Loginin(LoginString)
   {
   $("LoginFrom").innerHTML=$("LoginFrom").innerHTML+LoginString;
   }
   
   function CheckIsLogin()
   {
     $("PnlLogOnStatus").innerHTML="<img src=\"{PE.SiteConfig.applicationpath/}Skin/Default/Images/loading.gif\" alt=\"\"/>";
     var x = new AjaxRequest('XML','status');
     x.para =[];
     x.post('logincheck', '{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) {
        var xml = x.createXmlDom(s);
        var  status = xml.getElementsByTagName("status")[0].firstChild.data;
       
        if(status=='ok')
        {
           $("PnlLogOnStatus").style.display="";
            $("LoginFrom").style.display="none";
            $("PnlLogOnStatus").innerHTML=GetUserInfo(xml);
        }
        else
        {
            $("PnlLogOnStatus").style.display="none";
            $("LoginFrom").style.display="";
            CheckEnableValidCode();
        }
        });
   }
function GetUserInfo(xml)
   {
        var userInfo="<div class=\"u_login\">"+xml.getElementsByTagName("username")[0].firstChild.data+"，您好！您有：<br/>";
        userInfo =userInfo +"资金余额："+xml.getElementsByTagName("balance")[0].firstChild.data+" 元<br/>";
        userInfo =userInfo +"经验积分："+xml.getElementsByTagName("exp")[0].firstChild.data+" 分<br/>";
        userInfo =userInfo +"待阅短信："+xml.getElementsByTagName("msg")[0].firstChild.data+" 条<br/>";
        userInfo =userInfo +"登录次数："+xml.getElementsByTagName("logintimes")[0].firstChild.data+" 次<br/>";
        userInfo =userInfo +"可用点券："+xml.getElementsByTagName("point")[0].firstChild.data+" "+xml.getElementsByTagName("pointunit")[0].firstChild.data+"<br/>";
        userInfo =userInfo +"待签文章："+xml.getElementsByTagName("signincontent")[0].firstChild.data+" 篇<br/>";
        userInfo =userInfo +"<div style=\"text-align: center\"><a href=\"{PE.SiteConfig.ApplicationPath /}User/Default.aspx\" target=\"_top\">会员中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;";
        userInfo =userInfo +"<a href=\"{PE.SiteConfig.ApplicationPath /}User/Logout.aspx\" target=\"_top\">退出登录</a></div>";
        userInfo=userInfo+"</div>";
        return userInfo;
   }
   
function CheckEnableValidCode()
{
    var x = new AjaxRequest('XML','status');
     x.para =[];
     x.post('EnableValidCode', '{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) {
        var xml = x.createXmlDom(s);
        var  status = xml.getElementsByTagName("status")[0].firstChild.data;
        if(status=="yes")
        {
            $("checkcode").style.display='';
            $("TxtValidateCode").value='';
        }
        });
}
function login()
{
     if($("TxtUserName").value=='')
     {
        alert("请填写用户名！");
        $("TxtUserName").focus();
       return ;
     }
     if($("TxtPassword").value=='')
     {
        alert("请填写密码！");
        $("TxtPasssword").focus();
        return ;
     }
     if($("TxtValidateCode").value=='')
     {
        alert("请填写验证码！");
        $("TxtValidateCode").focus();
        return ;
     }
     var x = new AjaxRequest('XML','status');
     x.para = ['username='+ $("TxtUserName").value, 'password='+$("TxtPassword").value, 'checkcode='+$("TxtValidateCode").value, 'expiration='+$("DropExpiration").value];
     x.post('userlogin', '{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) {
        var xml = x.createXmlDom(s);
        var  status = xml.getElementsByTagName("status")[0].firstChild.data;
       // document.getElementById("status").style.display = "none";
        switch (status)
        {
            case "ok":
                //changepage(1,'评论列表','JS_基本风格');
                if(xml.getElementsByTagName("API_Enable")[0].firstChild.data=="1")
                {
                var LoginString=xml.getElementsByTagName("LoginString")[0].firstChild.data;
                //document.write(LoginString);
                Loginin(LoginString);
                }
                CheckIsLogin();
                break;
            case "err":
                alert(xml.getElementsByTagName("body")[0].firstChild.data);
                break;   
        }
       
    });
}
    </script>]]></LabelTemplate>
</root>