<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>用户登录</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate>
    <![CDATA[<table class="user_box_boder" align="center" cellspacing="0" border="0" class="width_100">
      <tr>
      <td class="user_box">
      <table cellspacing="0" class="width_100">
      <tr>
      <td class="user_box_tit">用户登录</td>
      </tr>
      <tr>
      <td class="user_box_con">
    {PE.Label id="AjaxCMS用户登录" /}
      </td>
      </tr>
      </table>
      </td>
      </tr>
      </table>
      <!-- 用户登录结束 -->]]></LabelTemplate>
  <OutType>txt</OutType>
</root>