<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString><![CDATA[SELECT TOP @pagesize C.GeneralID,C.ItemID, C.TableName,C.Title,C.Status,C.EliteLevel,C.InputTime,C.Editor,A.CopyFrom,A.Intro,A.Author  FROM PE_CommonModel C INNER JOIN PE_U_Article A ON C.GeneralID = A.ID  WHERE C.GeneralID not in (select top @startrow C.GeneralID from PE_CommonModel C where ((C.TableName = 'PE_U_Article') AND (C.Status = 99) AND (C.EliteLevel < 100)) ORDER BY C.EliteLevel DESC,C.UpdateTime DESC) AND ((C.TableName = 'PE_U_Article') AND (C.Status = 99) AND (C.EliteLevel < 100)) ORDER BY C.EliteLevel DESC,C.UpdateTime DESC]]></LabelSqlString>
  <UsePage>True</UsePage>
  <LabelSqlCount><![CDATA[select count(GeneralID) from PE_CommonModel WHERE PE_CommonModel.TableName = 'PE_U_Article' AND PE_CommonModel.Status = 99  AND PE_CommonModel.EliteLevel < 100]]></LabelSqlCount>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet">
  <xsl:for-each select="/NewDataSet/Table">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td rowspan="3" width="20%" height="80px" align="center" valign="top">
<div style="width:52px;height:52px;text-align:center;line-height:320%;font-size:18px;font-weight:bold;font-family:Georgia,Arial,Verdana,sans-serif;background:url('/SiteFactory/Skin/Default/Images/digg_bg1.gif') top no-repeat;">
<xsl:value-of select="EliteLevel"/>
</div>
          <div style="border: 1px solid #000000;margin-top:3px;font-size:12px;width:52px;height:18px;text-align:center;border-color:#ADCAEC">
<xsl:if test="EliteLevel &lt; 99">
<a> <xsl:attribute name="href">
</xsl:attribute>投一票</a>
</xsl:if>
<xsl:if test="EliteLevel &gt; 98">
投一票
</xsl:if>

</div>
        </td>
        <td align="left">
<a> <xsl:attribute name="href">Item/<xsl:value-of select="ItemID"/>.aspx
</xsl:attribute>
<xsl:value-of select="Title"/>
</a>
</td>
      </tr>
      <tr>
        <td align="left">
<div style="width:100%">
<xsl:value-of disable-output-escaping="yes" select="Intro"/>
</div>
<a>
<xsl:attribute name="href">Item/<xsl:value-of select="ItemID"/>.aspx</xsl:attribute>详情…</a>
</td>
      </tr>
      <tr>
        <td align="left">
<table width="100%" border="0">
          <tr>
            <td width="25%">
<a> <xsl:attribute name="href">Common/ShowAuthor.aspx?authorname="<xsl:value-of select="Author"/>"
</xsl:attribute>
<xsl:value-of select="Author"/>
</a>
</td>
            <td width="20%">
<xsl:value-of select="CopyFrom"/>
</td>
            <td width="30%">
<xsl:value-of select="pe:FormatDate(InputTime,'yyyy-mm-dd')"/>
</td>
            <td width="25%">
<xsl:value-of select="Editor"/>
</td>
          </tr>
        </table>
</td>
      </tr>
    </table>
</xsl:for-each>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>