<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>splitchar</name>
    <default>|</default>
    <intro>分割符号</intro>
  </attributes>
  <LabelSqlString>select top @shownum KeywordText from PE_Keywords order by Priority desc,Hits desc</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="splitchar"/>
<xsl:variable name="countnum" select="count(/NewDataSet/Table)"/>
<xsl:template match="/NewDataSet">
<xsl:for-each select="Table">
<a> <xsl:attribute name="href">Tag.aspx?keyword=<xsl:value-of select="KeywordText"/>
</xsl:attribute>
<xsl:value-of select="KeywordText"/>
</a>
<xsl:if test="position()&lt;$countnum">
<xsl:value-of select="$splitchar"/>
</xsl:if>
</xsl:for-each>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>shownum</name>
    <default>20</default>
    <intro>显示数目</intro>
  </attributes>
</root>