<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>SELECT TOP 1 PE_CommonModel.*,PE_U_Article.*  FROM PE_CommonModel INNER JOIN PE_U_Article ON PE_CommonModel.ItemID = PE_U_Article.ID  WHERE  (PE_CommonModel.GeneralID = @itemid) AND PE_CommonModel.Status=99</LabelSqlString>
  <LabelTemplate>
   <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:output method="xml" />
<xsl:param name="itemid"/>
<xsl:template match="/">
<card id="main" title="{pe:SiteName()}" newcontext="false" ordered="true">
<xsl:choose>
<xsl:when test="pe:WapEnable() = 'False'">
<p align="left">本站尚未开放WAP功能！</p> 
</xsl:when>
<xsl:otherwise>
  <xsl:choose>
    <xsl:when test="count(NewDataSet/Table) = 0">
    <p>内容不存在！</p>
    </xsl:when>
    <xsl:otherwise>
<p>
<xsl:value-of select="NewDataSet/Table/Title"/>
</p>
<p>
作者:<xsl:value-of select="/NewDataSet/Table/Author"/>
来源:<xsl:value-of select="/NewDataSet/Table/CopyFrom"/>
更新时间:<xsl:value-of select="pe:FormatDate(/NewDataSet/Table/UpdateTime,'yyyy年mm月dd日')"/>
</p>
<p>
<xsl:choose>
<xsl:when test="/NewDataSet/Table/PaginationType = '手动分页'">
{PE.ContentPage id="contentpage" mode="manual" pagesize="<xsl:value-of select="/NewDataSet/Table/MaxCharPerPage" />" urlpage="true"}
</xsl:when>
<xsl:when test="/NewDataSet/Table/PaginationType = '自动分页'">
{PE.ContentPage id="contentpage" mode="auto" pagesize="<xsl:value-of select="/NewDataSet/Table/MaxCharPerPage" />" urlpage="true"}
</xsl:when>
<xsl:otherwise>
{PE.ContentPage id="contentpage" mode="none"}
</xsl:otherwise>
</xsl:choose>
<xsl:value-of disable-output-escaping="yes" select="pe:FiltText(pe:FiltInsideLink(/NewDataSet/Table/Content))" />
{/PE.ContentPage}
</p>
<p>
<a>
 <xsl:attribute name="href">
<xsl:value-of select="pe:InstallDir()"/>wap/wap.aspx
</xsl:attribute>返回首页
</a>
</p>
    </xsl:otherwise>
  </xsl:choose>
</xsl:otherwise>
</xsl:choose>
</card>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>itemid</name>
    <default>1</default>
    <intro>文章ID</intro>
  </attributes>
  <OutType>
  </OutType>
  <CacheTime>0</CacheTime>
</root>