<root>
  <LabelType>WAP</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>可分页</LabelIntro>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>SELECT Top @pagesize PE_Nodes.* FROM PE_Nodes WHERE NodeID NOT IN (SELECT TOP @startrow NodeID FROM PE_Nodes where ParentID = @parentid order by OrderID) and (ParentID = @parentid) order by OrderID</LabelSqlString>
  <LabelTemplate>
  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="parentid" />
<xsl:template match="/NewDataSet">
<card id="main" title="{pe:SiteName()}" newcontext="false" ordered="true">
<xsl:choose>
<xsl:when test="pe:WapEnable() = 'False'">
<p align="left">本站尚未开放WAP功能！</p> 
</xsl:when>
<xsl:otherwise>
  <xsl:choose>
    <xsl:when test="count(Table) = 0">
      <p>
<xsl:value-of select="pe:GetNode($parentid,'name')" />
</p>
      {PE.Label id="WAP终极栏目信息列表" nodeid="<xsl:value-of select="$parentid"/>" /}
    </xsl:when>
    <xsl:otherwise>
    <xsl:for-each select="Table">
    <p>
<xsl:value-of select="NodeName"/>
</p>
    {PE.Label id="WAP栏目信息列表" arraynodeid="<xsl:value-of select="arrChildID" />" /}
    </xsl:for-each>
    </xsl:otherwise>
  </xsl:choose>
</xsl:otherwise>
</xsl:choose>
</card>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>parentid</name>
    <default>1</default>
    <intro>父栏目ID</intro>
  </attributes>
  <UsePage>True</UsePage>
  <LabelSqlCount>select count(*) from PE_Nodes where ParentID = @parentid</LabelSqlCount>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
</root>