<root>
  <LabelType>WAP</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>可分页</LabelIntro>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>SELECT Top @pagesize PE_CommonModel.* FROM PE_CommonModel WHERE GeneralID NOT IN (SELECT TOP @startrow GeneralID FROM PE_CommonModel where NodeID = @nodeid order by UpdateTime desc) and (NodeID = @nodeid) AND Status=99 order by UpdateTime desc</LabelSqlString>
  <LabelTemplate>
   <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(Table) = 0">
<p>本栏目尚无内容!</p>
</xsl:when>
<xsl:otherwise>
<xsl:for-each select="Table">
<p>
<a>
 <xsl:attribute name="href">
<xsl:value-of select="pe:InstallDir()"/>wap/wapitem.aspx?id=<xsl:value-of select="GeneralID"/>
</xsl:attribute>
<xsl:value-of select="Title"/>
</a>
</p>
</xsl:for-each>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>nodeid</name>
    <default>1</default>
    <intro>栏目ID</intro>
  </attributes>
  <UsePage>True</UsePage>
  <LabelSqlCount>select count(*) from PE_CommonModel where NodeID = @nodeid AND Status=99  order by UpdateTime desc</LabelSqlCount>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
</root>