<?xml version="1.0"?>
<root>
	<LabelType />
	<LabelIntro />
	<OutType>sin</OutType>
	<LabelDataType>sql_sysquery</LabelDataType>
	<attributes>
		<name>TitleLen</name>
		<default>60</default>
		<intro>标题字数,2个字符等于一个汉字</intro>
	</attributes>
	<attributes>
		<name>ParentID</name>
		<default>0</default>
		<intro>父栏目ID</intro>
	</attributes>
	<attributes>
		<name>arrNodeID</name>
		<default>N.arrChildID</default>
		<intro>栏目数组,多个用逗号分开并用单引号括起</intro>
	</attributes>
	<attributes>
		<name>ShowHits</name>
		<default>true</default>
		<intro>标题是否显示点击数</intro>
	</attributes>
	<attributes>
		<name>ShowTips</name>
		<default>true</default>
		<intro>标题是否显示提示信息</intro>
	</attributes>
	<attributes>
		<name>ShowUnit</name>
		<default>篇</default>
		<intro>条目单位</intro>
	</attributes>
	<attributes>
		<name>ShowTime</name>
		<default>true</default>
		<intro>标题是否显示时间</intro>
	</attributes>
	<attributes>
		<name>ItemID</name>
		<default>0</default>
		<intro>内容ID,使用@RequestInt_id做参数,会自动传入</intro>
	</attributes>
	<LabelSqlString><![CDATA[SELECT TOP 1 C.GeneralID,C.Title,C.Hits,C.UpdateTime FROM dbo.PE_Nodes N,dbo.PE_CommonModel C WHERE C.GeneralID > @ItemID AND CHARINDEX(',' + RTRIM(C.NodeID) +',',',' + CAST(@arrNodeID AS NVARCHAR(100)) +',') > 0 AND C.Status = 99 AND N.ParentID = @ParentID ORDER BY C.GeneralID ASC]]></LabelSqlString>
	<LabelTemplate>
		<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
 <xsl:output method="html"/>
 <xsl:param name="TitleLen"/>
 <xsl:param name="ShowTips"/>
 <xsl:param name="ShowHits"/>
 <xsl:param name="ShowTime"/>
 <xsl:param name="OpenType"/>
 <xsl:param name="ShowUnit"/>
 <xsl:template match="/">
  <xsl:choose>
   <xsl:when test="count(/NewDataSet/Table)=0">下一<xsl:value-of select="$ShowUnit" />：没有了</xsl:when>
   <xsl:otherwise>
    <span style="color:red">下一<xsl:value-of select="$ShowUnit"/>：</span>
    <a>
     <xsl:attribute name="href">
      <xsl:value-of select="pe:GetInfoPath(/NewDataSet/Table/GeneralID)"/>
     </xsl:attribute>
     <xsl:choose>
      <xsl:when test="$OpenType='_blank'">
       <xsl:attribute name="target">_blank</xsl:attribute>
      </xsl:when>
      <xsl:when test="$OpenType='_parent'">
       <xsl:attribute name="target">_parent</xsl:attribute>
      </xsl:when>
      <xsl:when test="$OpenType='_top'">
       <xsl:attribute name="target">_top</xsl:attribute>
      </xsl:when>
      <xsl:otherwise>
       <xsl:attribute name="target">_self</xsl:attribute>
      </xsl:otherwise>
     </xsl:choose>
     <xsl:if test="$ShowTips='true'">
      <xsl:attribute name="title">标题：<xsl:value-of select="pe:RemoveHtml(/NewDataSet/Table/Title)"/>
<xsl:value-of select="'&#xD;'"/>发表时间：<xsl:value-of select="pe:FormatDate(/NewDataSet/Table/UpdateTime, 'yy年mm月dd日')"/>
<xsl:value-of select="'&#xD;'"/>点击数：<xsl:value-of select="/NewDataSet/Table/Hits"/>
      </xsl:attribute>
     </xsl:if>
     <xsl:value-of select="pe:CutText(/NewDataSet/Table/Title,$TitleLen,'…')"/>
    </a>
    <xsl:if test="$ShowHits='true'">
     <span>[<xsl:value-of select="/NewDataSet/Table/Hits"/>]</span>
    </xsl:if>
    <xsl:if test="$ShowTime='true'">
     <span>[<xsl:value-of select="pe:FormatDate(/NewDataSet/Table/UpdateTime, 'yy年mm月dd日')"/>]</span>
    </xsl:if>
   </xsl:otherwise>
  </xsl:choose>
 </xsl:template>
</xsl:transform>
]]>
	</LabelTemplate>
	<attributes>
		<name>OpenType</name>
		<default>_blank</default>
		<intro>链接打开方式</intro>
	</attributes>
</root>