<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>SELECT Top @pagesize C.GeneralId,C.NodeID,C.InputTime,C.Inputer,C.Hits,C.UpdateTime,C.Title,C.PinyinTitle,I.SpecialID FROM PE_CommonModel C INNER JOIN PE_SpecialInfos I ON C.GeneralID=I.GeneralID WHERE C.GeneralID NOT IN (SELECT Top @startrow IC.GeneralID FROM PE_CommonModel IC INNER JOIN PE_SpecialInfos II ON IC.GeneralID=II.GeneralID WHERE II.SpecialID IN(SELECT S.SpecialID FROM PE_Specials S WHERE S.SpecialCategoryID=@specialcategoryid) AND IC.Status=99 ORDER BY IC.UpdateTime DESC) AND I.SpecialID IN(SELECT SpecialID FROM PE_Specials WHERE SpecialCategoryID=@specialcategoryid) AND C.Status=99 ORDER BY C.UpdateTime DESC
</LabelSqlString>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:param name="titlelen" />
<xsl:output method="xml" />
<xsl:template match="/">
<NewDataSet>
<xsl:for-each select="NewDataSet/Table">
<Table>
<GeneralId>
<xsl:value-of select="GeneralId"/>
</GeneralId>
<Inputer>
<xsl:value-of select="Inputer"/>
</Inputer>
<Hits>
<xsl:value-of select="Hits"/>
</Hits>
<UpdateTime>
<xsl:value-of select="pe:FormatDate(UpdateTime,'yyyy-mm-dd')"/>
</UpdateTime>
<SpecialName>
<xsl:value-of select="pe:GetSpecial(SpecialID,'name')"/>
</SpecialName>
<SpecialPath>
&lt;a href="<xsl:value-of select="pe:GetSpecialPath(SpecialID)"/>"&gt;<xsl:value-of select="pe:GetSpecial(SpecialID,'name')" />&lt;/a&gt;
</SpecialPath>
<InfoPath>
&lt;a href="<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>"&gt;<xsl:value-of select="pe:CutText(Title,$titlelen,'...')" />&lt;/a&gt;
</InfoPath>
</Table>
</xsl:for-each>
</NewDataSet>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <OutType>
  </OutType>
  <CacheTime>0</CacheTime>
  <UsePage>True</UsePage>
  <LabelSqlCount>select count(C.GeneralID) from PE_CommonModel C INNER JOIN PE_SpecialInfos I ON C.GeneralID=I.GeneralID  where I.SpecialID IN(SELECT SpecialID FROM PE_Specials WHERE SpecialCategoryID=@specialcategoryid) AND C.Status=99</LabelSqlCount>
  <attributes>
    <name>specialcategoryid</name>
    <default>1</default>
    <intro>专题类别ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题字符数</intro>
  </attributes>
</root>