<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>specialcategoryid</name>
    <default>1</default>
    <intro>专题类别ID</intro>
  </attributes>
  <attributes>
    <name>shownum</name>
    <default>20</default>
    <intro>显示个数</intro>
  </attributes>
  <LabelSqlString>SELECT TOP @shownum * FROM PE_Specials WHERE SpecialCategoryID=@specialcategoryid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="titlelen" />
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(Table)=0">
<ul>
<li>该专题无内容!</li>
</ul>
</xsl:when>
<xsl:otherwise>
<ul>
<xsl:for-each select="Table">
<li>
<a>
<xsl:attribute name="href">
<xsl:value-of select="pe:GetSpecialPath(SpecialID)"/>
</xsl:attribute>
<xsl:attribute name="target">
<xsl:choose>
<xsl:when test="OpenType=0">
_self
</xsl:when>
<xsl:otherwise>
_blank
</xsl:otherwise>
</xsl:choose>
</xsl:attribute>
<xsl:value-of select="pe:CutText(SpecialName,$titlelen,'...')"/>
</a>
</li>
</xsl:for-each>
</ul>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>最多显示字符个数</intro>
  </attributes>
</root>