<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>specialid</name>
    <default>1</default>
    <intro>专题ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <LabelSqlString>SELECT TOP @shownum C.* FROM PE_CommonModel C INNER JOIN PE_SpecialInfos S ON C.GeneralID=S.GeneralID WHERE S.SpecialID=@specialid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="titlelen"/>
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(Table)=0">
<li>
没有专题信息！
</li>
</xsl:when>
<xsl:otherwise>
<xsl:for-each select="Table">
<li>
<a> <xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
</xsl:attribute> <xsl:value-of select="pe:CutText(pe:RemoveHtml(Title),$titlelen,'')"/>
</a>
</li>
</xsl:for-each>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>shownum</name>
    <default>8</default>
    <intro>显示个数</intro>
  </attributes>
</root>