<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>specialcategoryid</name>
    <default>0</default>
    <intro>专题类别ID</intro>
  </attributes>
  <LabelSqlString>SELECT SpecialID,SpecialName FROM PE_Specials WHERE SpecialCategoryID=@specialcategoryid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet">
<xsl:if test="count(Table)&gt;0">
<xsl:for-each select="Table">
<xsl:text disable-output-escaping="yes">&lt;</xsl:text>option value="0|<xsl:value-of select="SpecialID"/>"<xsl:text disable-output-escaping="yes">&gt;&amp;nbsp;&amp;nbsp;</xsl:text><xsl:value-of select="SpecialName"/><xsl:text disable-output-escaping="yes">&lt;</xsl:text>/option<xsl:text disable-output-escaping="yes">&gt;</xsl:text>
</xsl:for-each>
</xsl:if>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>