<?xml version="1.0"?>
<root>
  <LabelType>系统标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>specialid</name>
    <default>0</default>
    <intro>专题ID</intro>
  </attributes>
  <LabelSqlString>SELECT SpecialCategoryID,SpecialName FROM PE_Specials WHERE SpecialID=@specialid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet/Table">
>><a href="{pe:GetSpecialCategoryPath(SpecialCategoryID)}">{PE.Label id="取得专题类别名" specialcategoryid="<xsl:value-of select="SpecialCategoryID"/>" /}</a>>>
<xsl:value-of select="SpecialName"/>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>