<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>
  </OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shounum</name>
    <default>10</default>
    <intro>显示专题类别数</intro>
  </attributes>
  <LabelSqlString>SELECT TOP @shounum SpecialCategoryID,SpecialCategoryName,OpenType FROM PE_SpecialCategory ORDER BY OrderID ASC</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
还没有任何专题！
</xsl:when>
<xsl:otherwise>

<xsl:for-each select="/NewDataSet/Table">
<li>
<img src="{pe:InstallDir()}images/tree_folder4.gif" />
<a> 
<xsl:attribute name="href">
<xsl:value-of select="pe:GetSpecialCategoryPath(SpecialCategoryID)"/>
</xsl:attribute>
<xsl:attribute name="target">
<xsl:choose> 
<xsl:when test="OpenType=0">
_self
</xsl:when>
<xsl:otherwise>
_blank
</xsl:otherwise>
</xsl:choose>
</xsl:attribute>
<xsl:value-of select="SpecialCategoryName"/>
</a>
</li>
{PE.Label id="分类下的专题" specialcategoryid="<xsl:value-of select="SpecialCategoryID"/>"/}
</xsl:for-each>

</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>