<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>用于本页显示自定义信息数，如20个信息/页，超过此设定时进行分页查看信息</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[        <!-- 子栏目分页标签开始（用于本页显示自定义信息数，如20个信息/页，超过此设定时进行分页查看信息） -->
        <div class="class_page"> 页次：<b>1</b>/<b>5</b>　每页<b>20</b>　信息数<b>1026</b>  <font face="Webdings">9</font><font face=Webdings>7 </font><font color=#ff0000>[1]</font> <a href="#">[2]</a> <a href="#">[3]</a> <a href="#">[4]</a> <a href="#">[5]</a> <a title=下一页 href="#"><font face=Webdings>8</font></a>&nbsp;&nbsp;&nbsp;&nbsp;<a title=最后页 href="#"><font face=Webdings>:</font></a> 第
          <select name="select"  onchange="javascript:window.location.href=this.options[this.selectedIndex].value" size="1">
            <option selected>1</option>
            <option value=88_2.htm>2</option>
            <option value=88_3.htm>3</option>
            <option value=88_2.htm>4</option>
            <option value=88_3.htm>5</option>
          </select>
          页 </div>
        <!-- 子栏目分页标签结束 -->
]]></LabelTemplate>
  <OutType>txt</OutType>
</root>