<root>
  <LabelType>地图标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shownum</name>
    <default>11</default>
    <intro>输出数量</intro>
  </attributes>
  <LabelSqlString>SELECT TOP @pagesize C.* FROM PE_CommonModel C WHERE C.GeneralID NOT IN(SELECT TOP @startrow IC.GeneralID FROM PE_CommonModel IC ORDER BY IC.UpdateTime DESC) ORDER BY C.UpdateTime DESC</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="xml" />
<xsl:template match="/NewDataSet/Table">
<item>
<title>
<xsl:value-of select="Title"/>
</title>
<link>
<xsl:value-of select="pe:SitePath()" />
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
</link>
<text>
</text>
<image>
</image>
<keywords>
</keywords>
<author>
<xsl:value-of select="Inputer"/>
</author>
<source>
</source> 
<pubDate>
<xsl:value-of select="UpdateTime"/>
</pubDate>
</item>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <OutType>sin</OutType>
  <CacheTime>120</CacheTime>
  <UsePage>True</UsePage>
  <LabelSqlCount>SELECT COUNT(GeneralID) FROM PE_CommonModel</LabelSqlCount>
</root>