<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>SELECT TOP 1 PE_CommonModel.*,PE_U_Announce.*  FROM PE_CommonModel INNER JOIN PE_U_Announce ON PE_CommonModel.ItemID = PE_U_Announce.ID  WHERE  (PE_CommonModel.GeneralID = @itemid) AND PE_CommonModel.Status=99</LabelSqlString>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:output method="xml" />
<xsl:template match="/">
<Root>
<GeneralID>
<xsl:value-of select="/NewDataSet/Table/GeneralID"/>
</GeneralID>
<Title>
<xsl:value-of select="pe:EncodeText(/NewDataSet/Table/Title,'htmlencode')"/>
</Title>
<Content>
<xsl:value-of disable-output-escaping="yes" select="/NewDataSet/Table/Content" />
</Content>
<Inputer>
<xsl:value-of select="/NewDataSet/Table/Inputer" />
</Inputer>
<Author>
<xsl:value-of select="/NewDataSet/Table/Author"/>
</Author>
<DateAndTime>
<xsl:value-of select="pe:FormatDate(/NewDataSet/Table/DateAndTime,'yyyy-mm-dd')"/>
</DateAndTime>
<UpdateTime>
<xsl:value-of select="pe:FormatDate(/NewDataSet/Table/UpdateTime,'yyyy-mm-dd')"/>
</UpdateTime>
<Hits>
&lt;script language="JavaScript" type="text/JavaScript" src="<xsl:value-of select="pe:InstallDir()" />Common/GetHits.aspx?id=<xsl:value-of select="/NewDataSet/Table/GeneralID"/>"&gt;&lt;/script&gt;
</Hits>
<DayHits>
<xsl:value-of select="/NewDataSet/Table/DayHits"/>
</DayHits>
<WeekHits>
<xsl:value-of select="/NewDataSet/Table/WeekHits"/>
</WeekHits>
<MonthHits>
<xsl:value-of select="/NewDataSet/Table/MonthHits"/>
</MonthHits>
</Root>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>itemid</name>
    <default>0</default>
    <intro>公告ID</intro>
  </attributes>
  <OutType>
  </OutType>
  <CacheTime>0</CacheTime>
</root>