<root>
  <LabelType>其它标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>itemid</name>
    <default>1</default>
    <intro>信息ID</intro>
  </attributes>
  <LabelSqlString>SELECT N.NodeID,N.NodeName,N.ParentPath,C.Title FROM PE_Nodes N INNER JOIN PE_CommonModel C ON N.NodeID=C.NodeID  WHERE C.GeneralID=@itemid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:param name="itemid" />
<xsl:output method="html" />
<xsl:template match="/NewDataSet/Table">
{PE.Label id="当前栏目带链接栏目位置导航" nodeid="<xsl:value-of select="NodeID"/>"/}>>
内容正文
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>