<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>select top @shownum * from PE_CommonModel Where NodeID in (@nodelist) and Status=99 order by updateTime DESC</LabelSqlString>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>列表数量</intro>
  </attributes>
  <attributes>
    <name>showclass</name>
    <default>true</default>
    <intro>是否显示文章所属栏目</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>40</default>
    <intro>标题长度</intro>
  </attributes>
  <attributes>
    <name>contentlen</name>
    <default>40</default>
    <intro>内容长度</intro>
  </attributes>
  <attributes>
    <name>propertytype</name>
    <default>none</default>
    <intro>列表前图标样式</intro>
  </attributes>
  <attributes>
    <name>showauthor</name>
    <default>false</default>
    <intro>显示作者</intro>
  </attributes>
  <attributes>
    <name>showdatetype</name>
    <default>none</default>
    <intro>显示日期</intro>
  </attributes>
  <attributes>
    <name>showhits</name>
    <default>false</default>
    <intro>显示点击数</intro>
  </attributes>
  <attributes>
    <name>showhotsign</name>
    <default>false</default>
    <intro>显示热门标记</intro>
  </attributes>
  <attributes>
    <name>shownewsign</name>
    <default>false</default>
    <intro>显示最新标记</intro>
  </attributes>
  <attributes>
    <name>showtips</name>
    <default>false</default>
    <intro>显示注释</intro>
  </attributes>
  <attributes>
    <name>opentype</name>
    <default>_blank</default>
    <intro>打开方式</intro>
  </attributes>
  <attributes>
    <name>colnum</name>
    <default>1</default>
    <intro>列数</intro>
  </attributes>
  <LabelType>通用列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicPhoto.gif</LabelImage>
  <LabelIntro>本标签不分页</LabelIntro>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:output method="html" />
<xsl:param name="showclass" />
<xsl:param name="titlelen" />
<xsl:param name="contentlen" />
<xsl:param name="propertytype" />
<xsl:param name="showauthor" />
<xsl:param name="showdatetype" />
<xsl:param name="showhits" />
<xsl:param name="showhotsign" />
<xsl:param name="shownewsign" />
<xsl:param name="showtips" />
<xsl:param name="opentype" />
<xsl:param name="colnum" />
<xsl:template match="/">
<table border="0">
<tr>
<xsl:apply-templates select="NewDataSet/Table" />
</tr>
</table>
</xsl:template>
<xsl:template match="NewDataSet/Table">
<td>
<xsl:choose>
<xsl:when test="$propertytype='none'">
</xsl:when>
<xsl:when test="$propertytype='1'">
<img src="{pe:InstallDir()}images/Special_List2.gif" />
</xsl:when>
<xsl:when test="$propertytype='2'">
<img src="{pe:InstallDir()}images/Special_List3.gif" />
</xsl:when>
<xsl:when test="$propertytype='3'">
<img src="{pe:InstallDir()}images/Special_List4.gif" />
</xsl:when>
<xsl:when test="$propertytype='4'">
<img src="{pe:InstallDir()}images/Special_List5.gif" />
</xsl:when>
<xsl:when test="$propertytype='5'">
<img src="{pe:InstallDir()}images/Special_List6.gif" />
</xsl:when>
<xsl:when test="$propertytype='6'">
<img src="{pe:InstallDir()}images/Special_List7.gif" />
</xsl:when>
<xsl:when test="$propertytype='7'">
<img src="{pe:InstallDir()}images/Special_List8.gif" />
</xsl:when>
<xsl:when test="$propertytype='8'">
<img src="{pe:InstallDir()}images/Special_List9.gif" />
</xsl:when>
<xsl:otherwise>
<xsl:element name="img">
<xsl:attribute name="src">
<xsl:value-of select="$propertytype" />
</xsl:attribute>
</xsl:element>
</xsl:otherwise>
</xsl:choose>
<xsl:if test="$showclass='true'">
[<a>
<xsl:attribute name="href">
<xsl:value-of select="pe:GetNodePath('true',NodeID)" />
</xsl:attribute>
<xsl:if test="$opentype='_blank'">
<xsl:attribute name="target">_blank</xsl:attribute>
</xsl:if>
<xsl:value-of select="pe:GetNode(NodeID,'name')" />
</a>]
</xsl:if>
<a>
<xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
</xsl:attribute>
<xsl:if test="$opentype='_blank'">
<xsl:attribute name="target">_blank</xsl:attribute>
</xsl:if>
<xsl:if test="$showtips='true'">
<xsl:attribute name="title">作者:未知<xsl:value-of select="'&#xD;'" />发表时间:<xsl:value-of select="pe:FormatDate(UpdateTime, 'yyyy年mm月dd日')" />
<xsl:value-of select="'&#xD;'" />点击数:0</xsl:attribute>
</xsl:if>
<xsl:value-of select="pe:CutText(Title,$titlelen,'…')" />
</a>
</td>
<xsl:if test="$showdatetype='true'">
<td>
<xsl:value-of select="pe:FormatDate(UpdateTime, 'yy-mm-dd')" />
</td>
</xsl:if>
<xsl:if test="position() mod $colnum = 0">
<xsl:text disable-output-escaping="yes">&lt;/tr&gt;&lt;tr&gt;</xsl:text>
</xsl:if>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>nodelist</name>
    <default>1</default>
    <intro>栏目ID</intro>
  </attributes>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
</root>