<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPhotoCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>SELECT TOP 10 PE_CommonModel.*,PE_U_Article.*  FROM PE_CommonModel INNER JOIN PE_U_Article ON PE_CommonModel.ItemID = PE_U_Article.ID  WHERE  (PE_CommonModel.GeneralID = @itemid) AND PE_CommonModel.Status=99</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:output method="html" />
<xsl:template match="/">
                    <div class="c_main_box">
                        <div class="c_title_text">
                            <xsl:value-of select="/NewDataSet/Table/Title"/>
</div>
                        <div class="c_content_text">
                            <xsl:value-of disable-output-escaping="yes" select="pe:EncodeText(/NewDataSet/Table/Content,'enbase64')" />
                        </div>
                        <div class="c_bot_text">
                            作者：<xsl:value-of select="/NewDataSet/Table/Author"/> | 来源:<xsl:value-of select="/NewDataSet/Table/Source"/>
</div>
                    </div>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>itemid</name>
    <default>14</default>
    <intro>文章ID</intro>
  </attributes>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
</root>