<?xml version="1.0"?>
<root>
  <LabelType>静态标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <attributes>
    <name>nodeId</name>
    <default>1</default>
    <intro>栏目编号</intro>
  </attributes>
  <attributes>
    <name>modelid</name>
    <default>1</default>
    <intro>模型编号</intro>
  </attributes>
  <LabelTemplate><![CDATA[<a href="{PE.SiteConfig.ApplicationPath /}User/Contents/AnonymousContent.aspx?nodeId=<xsl:value-of select="$nodeId"/>&modelid=<xsl:value-of select="$modelid"/>" target="_blank"><xsl:value-of select="$showName"/></a>]]></LabelTemplate>
  <attributes>
    <name>showName</name>
    <default>用户投稿</default>
    <intro>显示的名</intro>
  </attributes>
</root>