<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>
  </OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>ProducerID</name>
    <default>
    </default>
    <intro>厂商ID</intro>
  </attributes>
  <attributes>
    <name>iNum</name>
    <default>10</default>
    <intro>品牌显示数量</intro>
  </attributes>
  <LabelSqlString><![CDATA[SELECT TOP 10 TrademarkID,TrademarkType,ProducerID,TrademarkName,TrademarkPhoto,TrademarkIntro,Passed,onTop,IsElite,Hits  FROM PE_Trademark  WHERE  (ProducerID = '@ProducerID')  ORDER BY TrademarkID DESC ]]></LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
没有持有品牌
</xsl:when>
<xsl:otherwise>
<div>
<xsl:for-each select="Table">
<li>
<a>
<xsl:attribute name="href">
{PE.SiteConfig.applicationpath/}Shop/ShowTrademark.aspx?TrademarkName=<xsl:value-of select="pe:UrlEncode(TrademarkName)"/>
</xsl:attribute>
<xsl:value-of select="TrademarkName"/>
</a>
</li>
</xsl:for-each>
</div>	
</xsl:otherwise>
</xsl:choose>	
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>