<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝友情链接</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[<!-- 友情链接 -->
    <div id="center_all">
         <div class="c_padding">
            <div class="c_friendsite">
               <a href="http://www.powereasy.net/" target="_blank"><img src="http://www.powereasy.net/images/logo2.gif" alt="动易网络" /></a><br />
               <a href="#">文字友情链接</a>　　<a href="#">文字友情链接</a>　　<a href="#">文字友情链接</a>
            </div>
         </div>
    </div>]]></LabelTemplate>
  <OutType>txt</OutType>
</root>