<root>
  <LabelType>图片列表</LabelType>
  <LabelIntro></LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString><![CDATA[SELECT TOP 1 GeneralID,NodeID,InputTime,Title FROM PE_CommonModel WHERE GeneralID>@generalid AND TableName='PE_U_Photo' AND Status=99 ORDER BY GeneralID ASC]]></LabelSqlString>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:param name="generalid" />
<xsl:output method="html" />
<xsl:template match="/">
<xsl:if test="count(/NewDataSet/Table)&gt;0">
<Input id="next" onclick="javascript:window.open('{pe:GetInfoPath(NewDataSet/Table/NodeID,NewDataSet/Table/GeneralID,NewDataSet/Table/InputTime,NewDataSet/Table/Title)}', '_self')" type="button" value="下一组美图" name="next" />
</xsl:if>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <CacheTime>60</CacheTime>
  <attributes>
    <name>generalid</name>
    <default>1</default>
    <intro>图片ID</intro>
  </attributes>
</root>