<root>
  <LabelType>系统标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>得到发布信息的标题</LabelIntro>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>gid</name>
    <default>1</default>
    <intro>信息ID</intro>
  </attributes>
  <LabelSqlString>SELECT TOP 1 Title FROM PE_CommonModel WHERE GeneralID = @gid </LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet/Table">
<xsl:value-of select="Title"/>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <OutType>txt</OutType>
  <CacheTime>0</CacheTime>
</root>