<?xml version="1.0"?>
<root>
  <LabelType>其它标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>itemid</name>
    <default>1</default>
    <intro>软件ID</intro>
  </attributes>
  <LabelSqlString>SELECT TOP 1 DefaultPicUrl  FROM PE_CommonModel  WHERE GeneralID = @itemid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="softname" />
<xsl:param name="target" />
<xsl:template match="/NewDataSet/Table">
		
<xsl:if test="DefaultPicUrl=''">
<xsl:element name="img">
<xsl:attribute name="src">
<xsl:value-of select="pe:UpLoadDir()"/>nopic.gif</xsl:attribute>
<xsl:attribute name="alt">没有图片</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
</xsl:element>
</xsl:if>

<xsl:if test="DefaultPicUrl!=''">
<a> <xsl:attribute name="href">
<xsl:value-of select="DefaultPicUrl"/>
</xsl:attribute>
<xsl:attribute name="target">
<xsl:value-of select="$target"/>
</xsl:attribute>

<xsl:element name="img">
<xsl:attribute name="src">
<xsl:value-of select="DefaultPicUrl"/>
</xsl:attribute>
<xsl:attribute name="alt">
<xsl:value-of select="$softname"/>
</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
</xsl:element> 
</a>
</xsl:if>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>softname</name>
    <default>
    </default>
    <intro>软件名</intro>
  </attributes>
  <attributes>
    <name>target</name>
    <default>_blank</default>
    <intro>打开方式</intro>
  </attributes>
</root>