<?xml version="1.0"?>
<root>
  <LabelType>系统标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>specialcategoryid</name>
    <default>0</default>
    <intro>专题类别ID</intro>
  </attributes>
  <LabelSqlString>SELECT SpecialCategoryName FROM PE_SpecialCategory WHERE SpecialCategoryID=@specialcategoryid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet/Table">
<xsl:value-of select="SpecialCategoryName"/>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>