<root>
  <LabelType>其它标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>itemid</name>
    <default>1</default>
    <intro>内容ID</intro>
  </attributes>
  <attributes>
    <name>tablename</name>
    <default>PE_U_Article</default>
    <intro>所属表名</intro>
  </attributes>
  <LabelSqlString>SELECT Author FROM @tablename WHERE ID =@itemid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet/Table">
	<xsl:value-of select="Author"/>	
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>