<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝右侧广告静态标签</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[<div class="r_ad">
                        <a href="http://www.powereasy.net/" target="_blank">
                            <img src="{PE.SiteConfig.Banner /}" border="0" alt="动易2007 .NET版即将上市" /></a>
</div>]]></LabelTemplate>
  <OutType>txt</OutType>
</root>