<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>parentid</name>
    <datatype>sql.int</datatype>
    <default>2</default>
    <intro>父栏目ID</intro>
  </attributes>
  <UsePage>True</UsePage>
  <LabelSqlString>SELECT Top @pagesize PE_Nodes.* FROM PE_Nodes WHERE NodeID NOT IN (SELECT TOP @startrow NodeID FROM PE_Nodes where (ParentID = @parentid OR NodeID=@parentid) AND ShowOnList_Parent=1 order by OrderID) and ((ParentID = @parentid)  OR (NodeID=@parentid)) AND ShowOnList_Parent=1 order by OrderID</LabelSqlString>
  <LabelSqlCount>select count(*) from PE_Nodes where (ParentID = @parentid OR NodeID=@parentid) AND ShowOnList_Parent=1</LabelSqlCount>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<!-- 一定义参数 -->
<xsl:param name="parentid" />
<xsl:param name="shownum"/>
<xsl:param name="titlelen"/>
<xsl:param name="showpropertytype"/>
<xsl:param name="showincludepic"/>
<xsl:param name="showauthor"/>
<xsl:param name="showdatetype"/>
<xsl:param name="showhits"/>
<xsl:param name="showhotsign"/>
<xsl:param name="shownewsign"/>
<xsl:param name="showtips"/>
<xsl:param name="showcommentlink"/>
<xsl:param name="opentype"/>
<xsl:param name="hits"/>
<xsl:param name="elitelevel"/>
<xsl:template match="/NewDataSet">
<!-- 一列式栏目上下循环开始 -->
<xsl:for-each select="Table">
<div class="childclass_main_box2">
	<div class="c_spacing">
	</div>
	<div class="c_main_box">
			<div class="childclass_title">
				<div class="more">
					<a>
					<xsl:attribute name="href">
					<xsl:value-of select="pe:GetNodePath('true',NodeID)"/>
					</xsl:attribute> 
					[更多]
					</a>
				</div>
				<a> 
				<xsl:attribute name="href">
				<xsl:value-of select="pe:GetNodePath('true',NodeID)"/>
				</xsl:attribute>
				<xsl:value-of select="pe:GetNode(NodeID,'name')"/>
				</a>
			</div>
			<div class="class_content">
				<!-- 显示栏目循环 -->
				<div class="p_class_list">
					<ul>
						{PE.DataSource id="InfoList<xsl:value-of select="NodeID"/>" datasource="显示商品栏目循环列表信息" arraynodeid="<xsl:value-of select="arrChildID"/>" parentid="<xsl:value-of select="$parentid"/>" shownum="<xsl:value-of select="$shownum"/>" hits="<xsl:value-of select="$hits"/>" elitelevel="<xsl:value-of select="$elitelevel"/>" opentype="<xsl:value-of select="$opentype"/>" xslt="true" /}
						{PE.Repeat id="InfoList<xsl:value-of select="NodeID"/>" loop="10"}
						<li>
							<div class="p_list_pic">
							{PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="ProductThumb" /}
							</div>
							 <div class="p_list_name">
							{PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="InfoPath" /}
							</div>
							<div class="p_list_price">
							市场价：￥{PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="MarketPrice" /}
							</div>
							<div class="p_list_price">
							零售价：￥{PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="Price" /}
							</div>
							 <div class="p_list_botton">
							 {PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="BuyProduct" /}
							 {PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="DetailInfo" /}
							</div>					 
							<div class="clearbox">
							</div>
						</li>
						{/PE.Repeat}
					</ul>
				<div class="clearbox2">
				</div>
				</div>
			</div>
	<div class="class_bot">
	</div>
	</div>
</div>
</xsl:for-each>
<!-- 一列式栏目上下循环结束 -->
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>shownum</name>
    <datatype>int</datatype>
    <default>10</default>
    <intro>每栏目显示内容个数</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <datatype>int</datatype>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <EnabelAjax>False</EnabelAjax>
</root>