<?xml version="1.0"?>
<root>
  <LabelType>其它标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>ProductThumb</name>
    <default>
    </default>
    <intro>商品缩略图</intro>
  </attributes>
  <attributes>
    <name>ProductPic</name>
    <default>
    </default>
    <intro>商品大图</intro>
  </attributes>
  <LabelSqlString><![CDATA[select ProductThumb='0']]></LabelSqlString>
  <LabelTemplate>
  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="ProductThumb"/>
<xsl:param name="ProductPic"/>
<xsl:template match="/NewDataSet/Table">
<xsl:choose>
<xsl:when test="$ProductPic = ''">
<xsl:element name="img">
<xsl:attribute name="src"> 
<xsl:choose>
<xsl:when test="$ProductThumb =''">
<xsl:value-of select="pe:UpLoadDir()"/>nopic.gif
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:ConvertAbsolutePath($ProductThumb)"/>
</xsl:otherwise>
</xsl:choose>
 </xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
<xsl:attribute name="id">productphoto</xsl:attribute>
</xsl:element>
</xsl:when>
<xsl:otherwise>
<a>
<xsl:attribute name="href">
<xsl:value-of select="pe:ConvertAbsolutePath($ProductPic)"/>
</xsl:attribute>
<xsl:attribute name="target">_blank</xsl:attribute>
<xsl:element name="img">
<xsl:attribute name="src"> 
<xsl:choose>
<xsl:when test="$ProductThumb =''">
<xsl:value-of select="pe:UpLoadDir()"/>nopic.gif
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:ConvertAbsolutePath($ProductThumb)"/>
</xsl:otherwise>
</xsl:choose>
  
</xsl:attribute>

<xsl:attribute name="border">0</xsl:attribute>  
<xsl:attribute name="id">productphoto</xsl:attribute>  
</xsl:element>



</a>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>