<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shownum</name>
    <default>4</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>border</name>
    <default>0</default>
    <intro>图片边框</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>10</default>
    <intro>标题字符数</intro>
  </attributes>
  <LabelSqlString>    select top @shownum m.GeneralID,m.NodeID,m.PinyinTitle,m.InputTime,p.productid,m.title,p.tablename,p.price,p.price_market,m.elitelevel,m.priority,p.productthumb
    from pe_commonmodel m
    inner join pe_nodes n on m.nodeid = n.nodeid
    inner join pe_commonProduct p on m.itemid = p.productid
    where
    n.nodeid in (@arrchildid)
    and m.status=99
    and p.enablesale=1
    @producttype @status
    order by @isnew m.updatetime desc</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="shownum" />
<xsl:param name="titlelen" />
<xsl:param name="border" />
<xsl:param name="showeliteolny" />
<xsl:template match="/">

<xsl:if test="count(/NewDataSet/Table)=0" >
<ul>
<li>没有相关内容!</li>
</ul>
</xsl:if>
<ul>
<xsl:for-each select="/NewDataSet/Table">
<li>

<!-- 图片及链接开始 -->
<div class="pe_u_thumb">
<a>
<xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
</xsl:attribute>
<xsl:element name="img">
<xsl:attribute name="src">

<!-- 判断模型属性输出图片 -->
<xsl:choose>
<xsl:when test="string-length(productthumb)=0">
<xsl:value-of select="pe:UpLoadDir()" />nopic.gif
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:ConvertAbsolutePath(productthumb)"/>
</xsl:otherwise>
</xsl:choose>

<!-- 图片属性 -->
</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
</xsl:element>
</a>
</div>
<!-- 图片及链接结束 -->

<!-- 标题文字及链接开始 -->
<div class="pe_u_thumb_title">
<a>
<xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
</xsl:attribute>
<xsl:value-of select="title" />
</a>
</div>
<!-- 标题文字及链接结束 -->

</li>
</xsl:for-each>
</ul>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>producttype</name>
    <default>
    </default>
    <intro>商品类型</intro>
  </attributes>
  <attributes>
    <name>status</name>
    <default>
    </default>
    <intro>商品状态:IsHot、IsBest、OnTop、IsElite</intro>
  </attributes>
  <attributes>
    <name>isnew</name>
    <default>
    </default>
    <intro>以新品排序</intro>
  </attributes>
  <attributes>
    <name>arrchildid</name>
    <default>0</default>
    <intro>子节点</intro>
  </attributes>
</root>