<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>parentid</name>
    <default>1</default>
    <intro>父栏目ID</intro>
  </attributes>
  <UsePage>
  </UsePage>
  <LabelSqlString>SELECT NodeID,arrChildID FROM PE_Nodes WHERE ParentId=@parentid</LabelSqlString>
  <LabelSqlCount>select count(*) from PE_Nodes where ParentID = @parentid</LabelSqlCount>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<!-- 一定义参数 -->
<xsl:param name="parentid" />
<xsl:param name="shownum"/>
<xsl:param name="titlelen"/>
<xsl:param name="showpropertytype"/>
<xsl:param name="showincludepic"/>
<xsl:param name="showauthor"/>
<xsl:param name="showdatetype"/>
<xsl:param name="showhits"/>
<xsl:param name="showhotsign"/>
<xsl:param name="shownewsign"/>
<xsl:param name="showtips"/>
<xsl:param name="showcommentlink"/>
<xsl:param name="opentype"/>
<xsl:param name="hits"/>
<xsl:param name="elitelevel"/>

<xsl:template match="/NewDataSet">
<!-- 一列式栏目列表样式开始 -->
<div class="childclass_main_box3">
	<div class="class_title">
		<a> 
		<xsl:attribute name="href">
		<xsl:value-of select="pe:GetNodePath('true',$parentid)"/>
		</xsl:attribute>
		<xsl:value-of select="pe:GetNode($parentid,'name')"/>
		</a>
	</div>
	<div class="class_content">
		<div class="p_childclass_list">
			<ul>
			<xsl:choose>
				<xsl:when test="count(Table) = 0">
				<li>
				本栏尚无内容!
				</li>                 
				</xsl:when>
				<xsl:otherwise>
					<xsl:for-each select="Table">
					<li>
					 {PE.Label id="显示商品一列式栏目列表" arraynodeid="<xsl:value-of select="arrChildID"/>" parentid="<xsl:value-of select="NodeID" />" shownum="<xsl:value-of select="$shownum" />" titlelen="<xsl:value-of select="$titlelen" />" showpropertytype="<xsl:value-of select="$showpropertytype" />" showincludepic="<xsl:value-of select="$showincludepic" />" showauthor="<xsl:value-of select="$showauthor" />" showdatetype="<xsl:value-of select="$showdatetype" />" showhits="<xsl:value-of select="$showhits" />" showhotsign="<xsl:value-of select="$showhotsign" />"  shownewsign="<xsl:value-of select="$shownewsign" />" showtips="<xsl:value-of select="$showtips" />" showcommentlink="<xsl:value-of select="$showcommentlink" />" opentype="<xsl:value-of select="$opentype" />" hits="<xsl:value-of select="$hits" />" elitelevel="<xsl:value-of select="$elitelevel" />" /}
					</li> 
					</xsl:for-each>
				</xsl:otherwise>
			</xsl:choose>
			</ul>
		</div>
		<div class="clearbox">
		</div>
	</div>
</div>
<!-- 一列式栏目列表样式结束 -->
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>每栏目显示内容个数</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <attributes>
    <name>showpropertytype</name>
    <default>0</default>
    <intro>显示文章属性（固顶/推荐/普通）的方式</intro>
  </attributes>
  <attributes>
    <name>showincludepic</name>
    <default>false</default>
    <intro>是否显示“[图文]”字样</intro>
  </attributes>
  <attributes>
    <name>showauthor</name>
    <default>false</default>
    <intro>是否显示作者名</intro>
  </attributes>
  <attributes>
    <name>showdatetype</name>
    <default>mm-dd</default>
    <intro>日期显示方式</intro>
  </attributes>
  <attributes>
    <name>showhits</name>
    <default>false</default>
    <intro>是否显示点击数</intro>
  </attributes>
  <attributes>
    <name>showhotsign</name>
    <default>false</default>
    <intro>是否显示热门标志</intro>
  </attributes>
  <attributes>
    <name>shownewsign</name>
    <default>false</default>
    <intro>是否显示新内容标志</intro>
  </attributes>
  <attributes>
    <name>showtips</name>
    <default>false</default>
    <intro>是否显示作者、更新日期、点击数等浮动提示信息</intro>
  </attributes>
  <attributes>
    <name>showcommentlink</name>
    <default>false</default>
    <intro>是否显示评论链接</intro>
  </attributes>
  <attributes>
    <name>opentype</name>
    <default>_blank</default>
    <intro>打开方式</intro>
  </attributes>
  <attributes>
    <name>hits</name>
    <default>0</default>
    <intro>热门最小点击数</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐优先级</intro>
  </attributes>
</root>