<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>nodeid</name>
    <default>4</default>
    <intro>栏目ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题字符数</intro>
  </attributes>
  <attributes>
    <name>type</name>
    <default>
    </default>
    <intro>要显示的商品种类</intro>
  </attributes>
  <LabelSqlString>Select NodeID,NodeName From PE_Nodes Where NodeID=@nodeid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<!-- 一定义参数 -->
<xsl:param name="parentid" />
<xsl:param name="shownum"/>
<xsl:param name="titlelen"/>
<xsl:param name="type" />
<xsl:param name="opentype" />
<xsl:output method="html" />
<xsl:template match="/NewDataSet/Table">
<xsl:choose>
   <xsl:when test="count(/NewDataSet/Table) =0">
       <li>指定的栏目还没内容!</li>
   </xsl:when>
   <xsl:otherwise>
       	<div class="c_main_box">
			<div class="childclass_title">
         <!--
				<div class="more">
					<a>
					<xsl:attribute name="href">
					<xsl:value-of select="pe:GetNodePath('true',NodeID)"/>
					</xsl:attribute> 
					[更多]
					</a>
				</div>
            -->
				<!--<a> 
				<xsl:attribute name="href">
				<xsl:value-of select="pe:GetNodePath('true',NodeID)"/>
				</xsl:attribute>
				<xsl:value-of select="pe:GetNode(NodeID,'name')"/>
				</a>-->
         <span class="childclass_pic">
</span>
         <xsl:choose>
            <xsl:when test="$type=1">最新商品</xsl:when>
            <xsl:when test="$type=2">推荐商品</xsl:when>
            <xsl:when test="$type=3">热卖商品</xsl:when>
            <xsl:when test="$type=4">精品商品</xsl:when>
            <xsl:when test="$type=5">固顶商品</xsl:when>
            <xsl:otherwise>
<xsl:value-of select="pe:GetNode(NodeID,'name')"/>
</xsl:otherwise>        
         </xsl:choose>         

			</div>
			<div class="class_content">
				<!-- 显示栏目循环 -->
				<div class="p_class_list">
					<ul>
						{PE.DataSource id="conn" datasource="显示商品栏目循环列表信息_分页"
                  pagesize="<xsl:value-of select="$shownum"/>"
                  page="true" urlpage="true"  arraynodeid="<xsl:value-of select="NodeID"/>"
                  parentid="<xsl:value-of select="NodeID"/>"
                  shownum="<xsl:value-of select="$shownum"/>" opentype="<xsl:value-of select="$opentype"/>" xslt="true"
                   <xsl:choose>
                    <xsl:when test="$type=1">isnew="convert(int,isnew) desc,"</xsl:when>
                    <xsl:when test="$type=2">status="and elitelevel &gt;=100"</xsl:when>
                    <xsl:when test="$type=3">status="and ishot=1"</xsl:when>
                    <xsl:when test="$type=4">status="and isbest=1"</xsl:when>
                    <xsl:when test="$type=5">status="and priority &gt;=100"</xsl:when>
                  </xsl:choose> /}
						{PE.Repeat id="conn" loop="<xsl:value-of select="$shownum"/>"}
						<li>
							<div class="p_list_pic">
							{PE.field id="conn" fieldname="ProductThumb" /}
							</div>
							 <div class="p_list_name">
							{PE.field id="conn" fieldname="InfoPath" /}
							</div>
							<div class="p_list_price">
							市场价：￥{PE.field id="conn" fieldname="MarketPrice" /}
							</div>
							<div class="p_list_price">
							零售价：￥{PE.field id="conn" fieldname="Price" /}
							</div>
							 <div class="p_list_botton">
							 {PE.field id="conn" fieldname="BuyProduct" /}
							 {PE.field id="conn" fieldname="DetailInfo" /}
							</div>					 
							<div class="clearbox">
</div>
						</li>
						{/PE.Repeat}
					</ul>
				    <div class="clearbox2">
</div>
				</div>
			</div>
		<div class="class_bot">
		</div>
	</div>
 <div class="class_page">{PE.Page id="url_基本风格" datasource="conn" /}</div>
   </xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>opentype</name>
    <default>_blank</default>
    <intro>打开方式</intro>
  </attributes>
</root>