<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shownum</name>
    <default>4</default>
    <intro>参数说明</intro>
  </attributes>
  <attributes>
    <name>border</name>
    <default>0</default>
    <intro>
    </intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>10</default>
    <intro>
    </intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>4</default>
    <intro>
    </intro>
  </attributes>
  <LabelSqlString>SELECT arrChildID FROM PE_Nodes WHERE NodeID=@parentid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html"/>
<xsl:param name="shownum"/>
<xsl:param name="border"/>
<xsl:param name="titlelen"/>
<xsl:param name="parentid"/>
<xsl:template match="/NewDataSet/Table">
<xsl:choose>
	<!-- 指定的栏目没有内容 -->
	<xsl:when test="count(/NewDataSet/Table) = 0">
			<li>
			指定的栏目还没内容!
			</li>
	</xsl:when>
	<xsl:otherwise>
             {PE.Label id="商品普通图片列表标签_查询条件" status="and priority &gt;= 100" shownum="<xsl:value-of select="$shownum" />" border="<xsl:value-of select="$border" />" titlelen="<xsl:value-of select="$titlelen" />" arrchildid="<xsl:value-of select="arrChildID"/>"  /}
        </xsl:otherwise>
</xsl:choose>

</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>