<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shownum</name>
    <default>8</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>border</name>
    <default>0</default>
    <intro>图片边框</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>10</default>
    <intro>标题字符数</intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>0</default>
    <intro>父栏目ID</intro>
  </attributes>
  <LabelSqlString><![CDATA[SELECT TOP @shownum C.GeneralID,C.NodeID,C.InputTime,C.Title,C.PinyinTitle,C.UpdateTime,C.DefaultPicUrl,N.NodeName,T.*  FROM (PE_CommonModel C INNER JOIN PE_Nodes N ON C.NodeID=N.NodeID) INNER JOIN PE_U_Photo T ON C.ItemID=T.ID WHERE (N.NodeID=@parentid OR N.ParentId=@parentid) AND C.TableName='PE_U_Photo' AND C.Status=99 AND C.DefaultPicUrl<>'' ORDER BY C.UpdateTime DESC ]]></LabelSqlString>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="shownum" />
<xsl:param name="titlelen" />
<xsl:param name="border" />
<xsl:template match="/">
<xsl:if test="count(/NewDataSet/Table)=0" >
<ul>
<li>没有相关内容!</li>
</ul>
</xsl:if>
<ul>
<xsl:for-each select="/NewDataSet/Table">
<li>

<!-- 图片及链接开始 -->
<div class="pe_u_thumb">
<a>
<xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
</xsl:attribute>
<xsl:element name="img">
<xsl:attribute name="src">
<!-- 判断模型属性输出图片 -->
<xsl:value-of select="pe:ConvertAbsolutePath(DefaultPicUrl)"/>
<!-- 图片属性 -->
</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
</xsl:element>
</a>
</div>
<!-- 图片及链接结束 -->

<!-- 标题文字及链接开始 -->
<div class="pe_u_thumb_title">
<a>
<xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
</xsl:attribute>
<xsl:value-of select="Title" />
</a>
</div>
<!-- 标题文字及链接结束 -->

</li>
</xsl:for-each>
</ul>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>