<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>SELECT TOP 1 PE_CommonModel.*,PE_U_Photo.*  FROM PE_CommonModel INNER JOIN PE_U_Photo ON PE_CommonModel.ItemID = PE_U_Photo.ID  WHERE  (PE_CommonModel.GeneralID = @itemid) AND PE_CommonModel.Status=99</LabelSqlString>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:output method="xml" />
<xsl:param name="titlelen" />
<xsl:template match="/">
<root>
<NodeID>
<xsl:value-of select="/NewDataSet/Table/NodeID"/>
</NodeID>
<GeneralID>
<xsl:value-of select="/NewDataSet/Table/GeneralID"/>
</GeneralID>
<Title>
<xsl:value-of select="pe:EncodeText(/NewDataSet/Table/Title,'htmlencode')"/>
</Title>
<NodeID>
<xsl:value-of select="/NewDataSet/Table/NodeID"/>
</NodeID>
<Inputer>
<xsl:value-of select="/NewDataSet/Table/Inputer"/>
</Inputer>
<Keyword>
<xsl:value-of select="pe:EncodeText(pe:ReplaceText(/NewDataSet/Table/Keyword,'|',','),'htmlencode')"/>
</Keyword>
<Hits>
&lt;script language="JavaScript" type="text/JavaScript" src="<xsl:value-of select="pe:InstallDir()" />Common/GetHits.aspx?id=<xsl:value-of select="/NewDataSet/Table/GeneralID"/>"&gt;&lt;/script&gt;
</Hits>
<DayHits>
<xsl:value-of select="/NewDataSet/Table/DayHits"/>
</DayHits>
<WeekHits>
<xsl:value-of select="/NewDataSet/Table/WeekHits"/>
</WeekHits>
<MonthHits>
<xsl:value-of select="/NewDataSet/Table/MonthHits"/>
</MonthHits>
<UpdateTime>
<xsl:value-of select="pe:FormatDate(/NewDataSet/Table/UpdateTime,'yyyy-mm-dd')"/>
</UpdateTime>
<LinkAuthor>
<xsl:value-of select="pe:EncodeText(/NewDataSet/Table/Author,'urlencode')"/>
</LinkAuthor>
<Author>
<xsl:value-of select="/NewDataSet/Table/Author"/>
</Author>
<LinkCopyFrom>
<xsl:value-of select="pe:EncodeText(/NewDataSet/Table/CopyFrom,'urlencode')"/>
</LinkCopyFrom>
<CopyFrom>
<xsl:value-of select="/NewDataSet/Table/CopyFrom"/>
</CopyFrom>
<PhotoIntro>
<xsl:value-of disable-output-escaping="yes" select="/NewDataSet/Table/PhotoIntro" />
</PhotoIntro>
<DefaultPicUrl>
&lt;img src="<xsl:value-of select="pe:UpLoadDir()"/>
<xsl:value-of select="/NewDataSet/Table/DefaultPicUrl"/>" alt="<xsl:value-of select="/NewDataSet/Table/Title"/>" border="0" /$gt;
</DefaultPicUrl>
<PhotoUrl>
<xsl:value-of select="/NewDataSet/Table/PhotoUrl"/>
</PhotoUrl>
</root>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>itemid</name>
    <default>2</default>
    <intro>图片ID</intro>
  </attributes>
  <OutType>
  </OutType>
  <CacheTime>0</CacheTime>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
</root>