<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>nodeid</name>
    <default>0</default>
    <intro>参数说明</intro>
  </attributes>
  <LabelSqlString>select NodeID,NodeName from PE_Nodes where ParentID=@nodeid and NodeType=1 and ShowOnList_Parent=1 order by OrderID asc</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/">
<xsl:for-each select="/NewDataSet/Table">
<li>
<xsl:choose>
<xsl:when test="position()=last()">
<img src="{pe:InstallDir()}images/tree_line2.gif" />
</xsl:when>
<xsl:otherwise>
<img src="{pe:InstallDir()}images/tree_line1.gif" />
</xsl:otherwise>
</xsl:choose>
<img src="{pe:InstallDir()}images/tree_folder3.gif" />
<a>
<xsl:attribute name="href">
<xsl:value-of select="pe:GetNodePath('false',NodeID)"/>
</xsl:attribute>
 <xsl:value-of select="NodeName"/>
</a>
</li>
</xsl:for-each>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <EnabelAjax>False</EnabelAjax>
</root>