<root>
  <LabelType>通用列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>可分页</LabelIntro>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>SELECT Top @pagesize PE_Nodes.* FROM PE_Nodes WHERE NodeID NOT IN (SELECT TOP @startrow NodeID FROM PE_Nodes where ParentID = @parentid order by OrderID) and (ParentID = @parentid) order by OrderID</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="parentid" />
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(Table) = 0">
<div class="con_main">
  <div class="conmaintit">
<xsl:value-of select="pe:GetNode($parentid,'name')" />
</div>
  <div class="conmaintxt">
  <PE.Label id="终极栏目信息列表" nodeid="$parentid" />
  </div>
  <div class="conmainbot">
  </div>
</div>
</xsl:when>
<xsl:otherwise>
<xsl:for-each select="Table">
<div class="con_main">
  <div class="conmaintit">
<a>
<xsl:attribute name="href">
<xsl:value-of select="pe:GetNodePath('true',NodeID)" />
</xsl:attribute>
<xsl:value-of select="NodeName"/>
</a>
</div>
  <div class="conmaintxt">
  <PE.Label id="栏目信息列表" arraynodeid="arrChildID" />
  </div>
  <div class="conmainbot">
  </div>
</div>
</xsl:for-each>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>parentid</name>
    <default>1</default>
    <intro>父栏目ID</intro>
  </attributes>
  <UsePage>True</UsePage>
  <LabelSqlCount>select count(*) from PE_Nodes where ParentID = @parentid</LabelSqlCount>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
</root>