<root>
  <LabelType>静态标签</LabelType>
  <LabelIntro>雅蓝幻灯片标签</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0"
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform" 
  xmlns:pe="labelproc"
  exclude-result-prefixes="pe"
>
  <xsl:output method="html"/>
    <xsl:template match="/">
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="90" height="130">
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="movie" value="{PE.SiteConfig.ApplicationPath/}skin/sz/news.swf" />
    <param name="quality" value="high"><param name="bgcolor" value=#ffffff" />
    <param name="menu" value="false" />
    <param name=wmode value="opaque" />
    <param name="FlashVars" value="pics={pe:Getpics()}&links={pe:Getlinks()}&texts={pe:Gettexts()}&borderwidth=90&borderheight=130&textheight=30" />
    <embed src="{PE.SiteConfig.ApplicationPath/}skin/sz/news.swf" wmode="opaque" FlashVars="pics={pe:Getpics()}&links={pe:Getlinks()}&texts={pe:Gettexts()}&borderwidth=90&borderheight=130&textheight=30" menu="false" bgcolor="#ffffff" quality="high" width="90" height="130" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
    </object>
    <br />
   </xsl:transform>
]]></LabelTemplate>
</root>