<root>
  <LabelType>系统标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>parentid</name>
    <default>1</default>
    <intro>父栏目ID</intro>
  </attributes>
  <attributes>
    <name>arrnodeid</name>
    <default>0</default>
    <intro>栏目ID数组</intro>
  </attributes>
  <attributes>
    <name>includechild</name>
    <default>false</default>
    <intro>是否包含子栏目</intro>
  </attributes>
  <attributes>
    <name>specialid</name>
    <default>0</default>
    <intro>专题ID</intro>
  </attributes>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>文章数</intro>
  </attributes>
  <attributes>
    <name>ishot</name>
    <default>false</default>
    <intro>是否是热门文章</intro>
  </attributes>
  <LabelSqlString>SELECT NodeID,NodeName FROM PE_Nodes WHERE NodeID=@parentid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
  <xsl:output method="html" />
  <!-- 定义参数 -->
  <xsl:param name="parentid"/>
  <xsl:param name="arrnodeid"/>
  <xsl:param name="includechild"/>
  <xsl:param name="specialid"/>
  <xsl:param name="shownum"/>
  <xsl:param name="ishot"/>
  <xsl:param name="iselite"/>
  <xsl:param name="datenum"/>
  <xsl:param name="ordertype"/>
  <xsl:param name="imgwidth"/>
  <xsl:param name="imgheight"/>
  <xsl:param name="titlelen"/>
  <xsl:param name="timeout"/>
  <xsl:param name="effectid"/>
  <xsl:param name="hits"/>
  <xsl:param name="elitelevel"/>
  <xsl:param name="tablename"/>
  <xsl:template match="/">
    <xsl:apply-templates select="NewDataSet/Table" />
  </xsl:template>
  <xsl:template match="NewDataSet/Table">

    <xsl:choose>
      <!-- 指定的栏目没有内容 -->
      <xsl:when test="count(/NewDataSet/Table) = 0">
        <li>
          指定的栏目还没内容!
        </li>
      </xsl:when>
      <xsl:otherwise>
		<!-- 是否热门 -->
		<xsl:choose>
			<!-- 设置了热门，还必须设置热门的点击数，否则仍然是显示所有文章 -->
			<xsl:when test="$ishot='true'">
				<!-- 是否推荐 -->
				<xsl:choose>
					<!-- 设置了推荐，还必须设置推荐的优先级，否则仍然是显示所有文章 -->
					<xsl:when test="$iselite='true'">
						<!-- 是否包含子栏目 -->
						<xsl:choose>
							<xsl:when test="$includechild='true'">
								<!-- 当arrnodeid为单个栏目ID，parentid=$arrnodeid，arrnodeid=0 -->
								<xsl:choose>
									<xsl:when test="pe:Convert2Int($arrnodeid)&gt;0">
										{PE.Label id="幻灯片效果显示图片_排序方式" parentid="<xsl:value-of select="$arrnodeid" />" arrnodeid="0" includechild ="<xsl:value-of select="$includechild" />" specialid="<xsl:value-of select="$specialid" />" shownum="<xsl:value-of select="$shownum" />" ishot="<xsl:value-of select="$ishot" />" iselite="<xsl:value-of select="$iselite" />"  datenum="<xsl:value-of select="$datenum" />" ordertype="<xsl:value-of select="$ordertype" />" imgwidth="<xsl:value-of select="$imgwidth" />"  imgheight="<xsl:value-of select="$imgheight" />" titlelen="<xsl:value-of select="$titlelen" />" timeout="<xsl:value-of select="$timeout" />" effectid="<xsl:value-of select="$effectid" />" hits="<xsl:value-of select="$hits" />" strhits=" AND C.Hits>=@hits " elitelevel="<xsl:value-of select="$elitelevel" />" strelitelevel=" AND C.EliteLevel>=@elitelevel " tablename="PE_U_Soft"  /}

									</xsl:when>
									<xsl:otherwise>
										{PE.Label id="幻灯片效果显示图片_排序方式" parentid="<xsl:value-of select="$parentid" />" arrnodeid="<xsl:value-of select="$arrnodeid" />" includechild ="<xsl:value-of select="$includechild" />" specialid="<xsl:value-of select="$specialid" />" shownum="<xsl:value-of select="$shownum" />" ishot="<xsl:value-of select="$ishot" />" iselite="<xsl:value-of select="$iselite" />"  datenum="<xsl:value-of select="$datenum" />" ordertype="<xsl:value-of select="$ordertype" />" imgwidth="<xsl:value-of select="$imgwidth" />"  imgheight="<xsl:value-of select="$imgheight" />" titlelen="<xsl:value-of select="$titlelen" />" timeout="<xsl:value-of select="$timeout" />" effectid="<xsl:value-of select="$effectid" />" hits="<xsl:value-of select="$hits" />" strhits=" AND C.Hits>=@hits " elitelevel="<xsl:value-of select="$elitelevel" />" strelitelevel=" AND C.EliteLevel>=@elitelevel " tablename="PE_U_Soft"  /}

									</xsl:otherwise>
								</xsl:choose>
								<!-- 判断arrnodeid为单个栏目ID结束 -->

							</xsl:when>
							<xsl:otherwise>
								{PE.Label id="幻灯片效果显示图片_排序方式" parentid="<xsl:value-of select="$parentid" />" arrnodeid="<xsl:value-of select="$arrnodeid" />" includechild ="<xsl:value-of select="$includechild" />" specialid="<xsl:value-of select="$specialid" />" shownum="<xsl:value-of select="$shownum" />" ishot="<xsl:value-of select="$ishot" />" iselite="<xsl:value-of select="$iselite" />"  datenum="<xsl:value-of select="$datenum" />" ordertype="<xsl:value-of select="$ordertype" />" imgwidth="<xsl:value-of select="$imgwidth" />"  imgheight="<xsl:value-of select="$imgheight" />" titlelen="<xsl:value-of select="$titlelen" />" timeout="<xsl:value-of select="$timeout" />" effectid="<xsl:value-of select="$effectid" />" hits="<xsl:value-of select="$hits" />" strhits=" AND C.Hits>=@hits " elitelevel="<xsl:value-of select="$elitelevel" />" strelitelevel=" AND C.EliteLevel>=@elitelevel " tablename="PE_U_Soft"  /}

							</xsl:otherwise>
						</xsl:choose>
						<!-- 是否包含子栏目 -->
					</xsl:when>
					<xsl:otherwise>
						<!-- 是否包含子栏目 -->
						<xsl:choose>
							<xsl:when test="$includechild='true'">
								<!-- 当arrnodeid为单个栏目ID，parentid=$arrnodeid，arrnodeid=0 -->
								<xsl:choose>
									<xsl:when test="pe:Convert2Int($arrnodeid)&gt;0">
										{PE.Label id="幻灯片效果显示图片_排序方式" parentid="<xsl:value-of select="$arrnodeid" />" arrnodeid="0" includechild ="<xsl:value-of select="$includechild" />" specialid="<xsl:value-of select="$specialid" />" shownum="<xsl:value-of select="$shownum" />" ishot="<xsl:value-of select="$ishot" />" iselite="<xsl:value-of select="$iselite" />"  datenum="<xsl:value-of select="$datenum" />" ordertype="<xsl:value-of select="$ordertype" />" imgwidth="<xsl:value-of select="$imgwidth" />"  imgheight="<xsl:value-of select="$imgheight" />" titlelen="<xsl:value-of select="$titlelen" />" timeout="<xsl:value-of select="$timeout" />" effectid="<xsl:value-of select="$effectid" />" hits="<xsl:value-of select="$hits" />" strhits=" AND C.Hits>=@hits " elitelevel="0" tablename="PE_U_Soft"  /}

									</xsl:when>
									<xsl:otherwise>
										{PE.Label id="幻灯片效果显示图片_排序方式" parentid="<xsl:value-of select="$parentid" />" arrnodeid="<xsl:value-of select="$arrnodeid" />" includechild ="<xsl:value-of select="$includechild" />" specialid="<xsl:value-of select="$specialid" />" shownum="<xsl:value-of select="$shownum" />" ishot="<xsl:value-of select="$ishot" />" iselite="<xsl:value-of select="$iselite" />"  datenum="<xsl:value-of select="$datenum" />" ordertype="<xsl:value-of select="$ordertype" />" imgwidth="<xsl:value-of select="$imgwidth" />"  imgheight="<xsl:value-of select="$imgheight" />" titlelen="<xsl:value-of select="$titlelen" />" timeout="<xsl:value-of select="$timeout" />" effectid="<xsl:value-of select="$effectid" />" hits="<xsl:value-of select="$hits" />" strhits=" AND C.Hits>=@hits " elitelevel="0" tablename="PE_U_Soft"  /}

									</xsl:otherwise>
								</xsl:choose>
								<!-- 判断arrnodeid为单个栏目ID结束 -->

							</xsl:when>
							<xsl:otherwise>
								{PE.Label id="幻灯片效果显示图片_排序方式" parentid="<xsl:value-of select="$parentid" />" arrnodeid="<xsl:value-of select="$arrnodeid" />" includechild ="<xsl:value-of select="$includechild" />" specialid="<xsl:value-of select="$specialid" />" shownum="<xsl:value-of select="$shownum" />" ishot="<xsl:value-of select="$ishot" />" iselite="<xsl:value-of select="$iselite" />"  datenum="<xsl:value-of select="$datenum" />" ordertype="<xsl:value-of select="$ordertype" />" imgwidth="<xsl:value-of select="$imgwidth" />"  imgheight="<xsl:value-of select="$imgheight" />" titlelen="<xsl:value-of select="$titlelen" />" timeout="<xsl:value-of select="$timeout" />" effectid="<xsl:value-of select="$effectid" />" hits="<xsl:value-of select="$hits" />" strhits=" AND C.Hits>=@hits " elitelevel="0" tablename="PE_U_Soft"  /}

							</xsl:otherwise>
						</xsl:choose>
						<!-- 是否包含子栏目 -->

					</xsl:otherwise>
				</xsl:choose>
				<!-- 是否推荐结束 -->
			</xsl:when>
			<xsl:otherwise>
				<!-- 是否推荐 -->
				<xsl:choose>
					<!-- 设置了推荐，还必须设置推荐的优先级，否则仍然是显示所有文章 -->
					<xsl:when test="$iselite='true'">
						<!-- 是否包含子栏目 -->
						<xsl:choose>
							<xsl:when test="$includechild='true'">
								<!-- 当arrnodeid为单个栏目ID，parentid=$arrnodeid，arrnodeid=0 -->
								<xsl:choose>
									<xsl:when test="pe:Convert2Int($arrnodeid)&gt;0">
										{PE.Label id="幻灯片效果显示图片_排序方式" parentid="<xsl:value-of select="$arrnodeid" />" arrnodeid="0" includechild ="<xsl:value-of select="$includechild" />" specialid="<xsl:value-of select="$specialid" />" shownum="<xsl:value-of select="$shownum" />" ishot="<xsl:value-of select="$ishot" />" iselite="<xsl:value-of select="$iselite" />"  datenum="<xsl:value-of select="$datenum" />" ordertype="<xsl:value-of select="$ordertype" />" imgwidth="<xsl:value-of select="$imgwidth" />"  imgheight="<xsl:value-of select="$imgheight" />" titlelen="<xsl:value-of select="$titlelen" />" timeout="<xsl:value-of select="$timeout" />" effectid="<xsl:value-of select="$effectid" />" hits="0" strhits="" elitelevel="<xsl:value-of select="$elitelevel" />" strelitelevel=" AND C.EliteLevel>=@elitelevel " tablename="PE_U_Soft"  /}

									</xsl:when>
									<xsl:otherwise>
										{PE.Label id="幻灯片效果显示图片_排序方式" parentid="<xsl:value-of select="$parentid" />" arrnodeid="<xsl:value-of select="$arrnodeid" />" includechild ="<xsl:value-of select="$includechild" />" specialid="<xsl:value-of select="$specialid" />" shownum="<xsl:value-of select="$shownum" />" ishot="<xsl:value-of select="$ishot" />" iselite="<xsl:value-of select="$iselite" />"  datenum="<xsl:value-of select="$datenum" />" ordertype="<xsl:value-of select="$ordertype" />" imgwidth="<xsl:value-of select="$imgwidth" />"  imgheight="<xsl:value-of select="$imgheight" />" titlelen="<xsl:value-of select="$titlelen" />" timeout="<xsl:value-of select="$timeout" />" effectid="<xsl:value-of select="$effectid" />" hits="0" strhits="" elitelevel="<xsl:value-of select="$elitelevel" />" strelitelevel=" AND C.EliteLevel>=@elitelevel " tablename="PE_U_Soft"  /}

									</xsl:otherwise>
								</xsl:choose>
								<!-- 判断arrnodeid为单个栏目ID结束 -->

							</xsl:when>
							<xsl:otherwise>
								{PE.Label id="幻灯片效果显示图片_排序方式" parentid="<xsl:value-of select="$parentid" />" arrnodeid="<xsl:value-of select="$arrnodeid" />" includechild ="<xsl:value-of select="$includechild" />" specialid="<xsl:value-of select="$specialid" />" shownum="<xsl:value-of select="$shownum" />" ishot="<xsl:value-of select="$ishot" />" iselite="<xsl:value-of select="$iselite" />"  datenum="<xsl:value-of select="$datenum" />" ordertype="<xsl:value-of select="$ordertype" />" imgwidth="<xsl:value-of select="$imgwidth" />"  imgheight="<xsl:value-of select="$imgheight" />" titlelen="<xsl:value-of select="$titlelen" />" timeout="<xsl:value-of select="$timeout" />" effectid="<xsl:value-of select="$effectid" />" hits="0" strhits="" elitelevel="<xsl:value-of select="$elitelevel" />" strelitelevel=" AND C.EliteLevel>=@elitelevel " tablename="PE_U_Soft"  /}

							</xsl:otherwise>
						</xsl:choose>
						<!-- 是否包含子栏目 -->

					</xsl:when>
					<xsl:otherwise>
						<!-- 是否包含子栏目 -->
						<xsl:choose>
							<xsl:when test="$includechild='true'">
								<!-- 当arrnodeid为单个栏目ID，parentid=$arrnodeid，arrnodeid=0 -->
								<xsl:choose>
									<xsl:when test="pe:Convert2Int($arrnodeid)&gt;0">
										{PE.Label id="幻灯片效果显示图片_排序方式" parentid="<xsl:value-of select="$arrnodeid" />" arrnodeid="0" includechild ="<xsl:value-of select="$includechild" />" specialid="<xsl:value-of select="$specialid" />" shownum="<xsl:value-of select="$shownum" />" ishot="<xsl:value-of select="$ishot" />" iselite="<xsl:value-of select="$iselite" />"  datenum="<xsl:value-of select="$datenum" />" ordertype="<xsl:value-of select="$ordertype" />" imgwidth="<xsl:value-of select="$imgwidth" />"  imgheight="<xsl:value-of select="$imgheight" />" titlelen="<xsl:value-of select="$titlelen" />" timeout="<xsl:value-of select="$timeout" />" effectid="<xsl:value-of select="$effectid" />" hits="0" strhits="" elitelevel="0" tablename="PE_U_Soft"  /}


									</xsl:when>
									<xsl:otherwise>
										{PE.Label id="幻灯片效果显示图片_排序方式" parentid="<xsl:value-of select="$parentid" />" arrnodeid="<xsl:value-of select="$arrnodeid" />" includechild ="<xsl:value-of select="$includechild" />" specialid="<xsl:value-of select="$specialid" />" shownum="<xsl:value-of select="$shownum" />" ishot="<xsl:value-of select="$ishot" />" iselite="<xsl:value-of select="$iselite" />"  datenum="<xsl:value-of select="$datenum" />" ordertype="<xsl:value-of select="$ordertype" />" imgwidth="<xsl:value-of select="$imgwidth" />"  imgheight="<xsl:value-of select="$imgheight" />" titlelen="<xsl:value-of select="$titlelen" />" timeout="<xsl:value-of select="$timeout" />" effectid="<xsl:value-of select="$effectid" />" hits="0" strhits="" elitelevel="0" tablename="PE_U_Soft"  /}

									</xsl:otherwise>
								</xsl:choose>
								<!-- 判断arrnodeid为单个栏目ID结束 -->

							</xsl:when>
							<xsl:otherwise>
								{PE.Label id="幻灯片效果显示图片_排序方式" parentid="<xsl:value-of select="$parentid" />" arrnodeid="<xsl:value-of select="$arrnodeid" />" includechild ="<xsl:value-of select="$includechild" />" specialid="<xsl:value-of select="$specialid" />" shownum="<xsl:value-of select="$shownum" />" ishot="<xsl:value-of select="$ishot" />" iselite="<xsl:value-of select="$iselite" />"  datenum="<xsl:value-of select="$datenum" />" ordertype="<xsl:value-of select="$ordertype" />" imgwidth="<xsl:value-of select="$imgwidth" />"  imgheight="<xsl:value-of select="$imgheight" />" titlelen="<xsl:value-of select="$titlelen" />" timeout="<xsl:value-of select="$timeout" />" effectid="<xsl:value-of select="$effectid" />" hits="0" strhits="" elitelevel="0" tablename="PE_U_Soft"  /}

							</xsl:otherwise>
						</xsl:choose>
						<!-- 是否包含子栏目 -->

					</xsl:otherwise>
				</xsl:choose>
				<!-- 是否推荐结束 -->

			</xsl:otherwise>
		</xsl:choose>
		<!-- 是否热门结束 -->

      </xsl:otherwise>
    </xsl:choose>
  </xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>iselite</name>
    <default>false</default>
    <intro>是否是推荐文章</intro>
  </attributes>
  <attributes>
    <name>datenum</name>
    <default>0</default>
    <intro>日期范围</intro>
  </attributes>
  <attributes>
    <name>ordertype</name>
    <default>1</default>
    <intro>排序方式</intro>
  </attributes>
  <attributes>
    <name>imgwidth</name>
    <default>150</default>
    <intro>图片宽度</intro>
  </attributes>
  <attributes>
    <name>imgheight</name>
    <default>150</default>
    <intro>图片高度</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <attributes>
    <name>timeout</name>
    <default>5000</default>
    <intro>效果变换间隔时间，以毫秒为单位</intro>
  </attributes>
  <attributes>
    <name>effectid</name>
    <default>23</default>
    <intro>图片转换效果，0至22指定某一种特效，23表示随机效果</intro>
  </attributes>
  <attributes>
    <name>hits</name>
    <default>0</default>
    <intro>热门最小点击数</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐优先级</intro>
  </attributes>
  <attributes>
    <name>tablename</name>
    <default>PE_U_Soft</default>
    <intro>所属表名</intro>
  </attributes>
</root>