<?xml version="1.0"?>
<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>其它标签</LabelType>
  <LabelIntro>显示投票结果柱型图</LabelIntro>
  <LabelSqlString><![CDATA[SELECT Top 1 VoteTitle,GeneralId,VoteItem,StartTime,EndTime,VoteTotalNumber FROM PE_Vote WHERE GeneralId = @GeneralId AND StartTime<EndTime AND IsAlive=1]]></LabelSqlString>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:output method="xml" />
<xsl:template match="/">
<root>
<VoteTitle>
<xsl:value-of select="/NewDataSet/Table/VoteTitle"/>
</VoteTitle>
<VoteItem>
<xsl:value-of select="pe:ShowVoteImage(/NewDataSet/Table/VoteItem)"/>
</VoteItem>
<StartTime>
<xsl:value-of select="/NewDataSet/Table/StartTime"/>
</StartTime>
<EndTime>
<xsl:value-of select="/NewDataSet/Table/EndTime"/>
</EndTime>
<VoteTotalNumber>
<xsl:value-of select="pe:GetVoteNum(/NewDataSet/Table/VoteItem)"/>
</VoteTotalNumber>
</root>
</xsl:template>
</xsl:transform>]]>
  </LabelTemplate>
  <attributes>
    <name>GeneralId</name>
    <default>1</default>
    <intro>投票ID</intro>
  </attributes>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
</root>