<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro> 显示个数</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>40</default>
    <intro>标题字符数</intro>
  </attributes>
  <attributes>
    <name>showupdatetime</name>
    <default>false</default>
    <intro>显示更新日期</intro>
  </attributes>
  <attributes>
    <name>showpic</name>
    <default>false</default>
    <intro>显示小图片</intro>
  </attributes>
  <attributes>
    <name>shownodename</name>
    <default>false</default>
    <intro>显示栏目名</intro>
  </attributes>
  <attributes>
    <name>target</name>
    <default>_blank</default>
    <intro>内容打开方式</intro>
  </attributes>
  <attributes>
    <name>node_target</name>
    <default>_blank</default>
    <intro>栏目打开方式</intro>
  </attributes>
  <attributes>
    <name>span_classname</name>
    <default>new</default>
    <intro>小图片CSS</intro>
  </attributes>
  <attributes>
    <name>fieldname</name>
    <default>Hits</default>
    <intro>字段名</intro>
  </attributes>
  <attributes>
    <name>fieldvalue</name>
    <default>0</default>
    <intro>字段查询条件值</intro>
  </attributes>
  <attributes>
    <name>nodeid</name>
    <default>0</default>
    <intro>栏目ID</intro>
  </attributes>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="shownum" />
<xsl:param name="titlelen" />
<xsl:param name="showupdatetime" />
<xsl:param name="showpic" />
<xsl:param name="shownodename" />
<xsl:param name="target" />
<xsl:param name="node_target" />
<xsl:param name="span_classname" />
<xsl:param name="fieldname" />
<xsl:param name="fieldvalue" />
<xsl:template match="/">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
<ul>
<li>没有相关内容!</li>
</ul>
</xsl:when>
<xsl:otherwise>
{PE.Label id="热门推荐" shownum="$shownum" titlelen="$titlelen" showupdatetime="$showupdatetime" showpic="$showpic" shownodename="$shownodename" target="$target" node_target="$node_target" span_classname="$span_classname" arrnodeid="/NewDataSet/Table/arrChildId" fieldname="$fieldname" fieldvalue="$fieldvalue" /}
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelSqlString>SELECT TOP 1 arrChildId FROM PE_Nodes WHERE NodeID =3</LabelSqlString>
</root>