<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shownum</name>
    <default>5</default>
    <intro>显示来源数</intro>
  </attributes>
  <attributes>
    <name>showtype</name>
    <default>0</default>
    <intro>显示方式。0为普通，1为显示头像及说明，2为显示头像但不显示说明</intro>
  </attributes>
  <attributes>
    <name>imgheight</name>
    <default>175</default>
    <intro>头像高度</intro>
  </attributes>
  <attributes>
    <name>imgwidth</name>
    <default>150</default>
    <intro>头像宽度</intro>
  </attributes>
  <attributes>
    <name>intronum</name>
    <default>50</default>
    <intro>作者简介的字数</intro>
  </attributes>
  <LabelSqlString>SELECT TOP @shownum * FROM PE_Source WHERE IsElite=1 and Passed=1</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="showtype"/>
<xsl:param name="imgheight"/>
<xsl:param name="imgwidth"/>
<xsl:param name="intronum"/>
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
<li>
没有推荐来源！
</li>
</xsl:when>
<xsl:otherwise>
<xsl:for-each select="Table">
<li>
<a> <xsl:attribute name="href">
<xsl:value-of select="pe:InstallDir()"/>Common/ShowCopyFrom.aspx?copyfrom=<xsl:value-of select="Name"/>
</xsl:attribute>
<xsl:choose>
<xsl:when test="$showtype=1">
<xsl:element name="img">
<xsl:attribute name="src">
<xsl:value-of select="Photo"/>
</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
<xsl:attribute name="width">
<xsl:value-of select="$imgwidth"/>
</xsl:attribute>
<xsl:attribute name="height">
<xsl:value-of select="$imgheight"/>
</xsl:attribute>
<xsl:attribute name="alt">
<xsl:value-of select="Name"/>
</xsl:attribute>
</xsl:element>
<br />
<xsl:value-of disable-output-escaping="yes" select="pe:CutText(Intro,$intronum,'...')"/>
</xsl:when>
<xsl:when test="$showtype=2">
<xsl:element name="img">
<xsl:attribute name="src">
<xsl:value-of select="Photo"/>
</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
<xsl:attribute name="width">
<xsl:value-of select="$imgwidth"/>
</xsl:attribute>
<xsl:attribute name="height">
<xsl:value-of select="$imgheight"/>
</xsl:attribute>
<xsl:attribute name="alt">
<xsl:value-of select="Name"/>
</xsl:attribute>
</xsl:element>
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="Name"/>
</xsl:otherwise>
</xsl:choose>
</a>
</li>
</xsl:for-each>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>