<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>parentid</name>
    <default>1</default>
    <intro>父栏目ID</intro>
  </attributes>
  <LabelSqlString>SELECT Top @pagesize PE_Nodes.* FROM PE_Nodes WHERE NodeID NOT IN (SELECT TOP @startrow NodeID FROM PE_Nodes where ParentID = @parentid order by OrderID) and (ParentID = @parentid) order by OrderID
</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:param name="parentid" />
<xsl:output method="html" />
<xsl:template match="/NewDataSet">
<xsl:for-each select="Table">
<div class="childclass_main_box">
	<div class="childclass_title">
		<div class="more">
		<a> 
		  <xsl:attribute name="href">
		  <xsl:value-of select="pe:GetNodePath('true',NodeID)"/>
		  </xsl:attribute>
		  [更多]
		</a>
			</div>
			<a> 
		  <xsl:attribute name="href">
			  <xsl:value-of select="pe:GetNodePath('true',NodeID)"/>
		  </xsl:attribute>
			  <xsl:value-of select="pe:GetNode(NodeID,'name')"/>	  
		   </a>
	</div>
	<div class="childclass_content">
		<ul>
{PE.DataSource id="InfoList<xsl:value-of select="NodeID"/>" datasource="显示文章栏目循环列表信息" arraynodeid="<xsl:value-of select="arrChildID"/>"  xslt="true" /}
          {PE.Repeat id="InfoList<xsl:value-of select="NodeID"/>" loop="10"}
          {PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="GeneralID" /}

{PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="Title" htmldecode="true" length="20" /}
{PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="InfoPath" /}

          {/PE.Repeat}

		 </ul>
		<div class="clearbox">
		</div>
	</div>
	<div class="childclass_bot">
	</div>
</div>


</xsl:for-each>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <UsePage>True</UsePage>
  <LabelSqlCount>select count(*) from PE_Nodes where ParentID = @parentid</LabelSqlCount>
</root>