<root>
  <LabelType>图片列表</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>JavaScript脚本驱动的FLASH幻灯标签</LabelIntro>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>SELECT NodeID,arrChildID FROM PE_Nodes WHERE NodeID=@parentid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:param name="height" />
<xsl:param name="width" />
<xsl:param name="theight" />
<xsl:param name="listnum" />
<xsl:param name="titlelen"/>
<xsl:param name="parentid"/>
<xsl:output method="html" />
<xsl:template match="/">
<xsl:choose>
<xsl:when test="$parentid=0">
{PE.Label id="显示文章频道Flash幻灯" strsql="" width="<xsl:value-of select="$width"/>" height="<xsl:value-of select="$height"/>" theight="<xsl:value-of select="$theight"/>" listnum="<xsl:value-of select="$listnum"/>" titlelen="<xsl:value-of select="$titlelen"/>" /}
</xsl:when>
<xsl:otherwise>
{PE.Label id="显示文章频道Flash幻灯" strsql=" AND PE_CommonModel.NodeID IN(@arrnodeid)" arrnodeid="<xsl:value-of select="/NewDataSet/Table/arrChildID"/>" width="<xsl:value-of select="$width"/>" height="<xsl:value-of select="$height"/>" theight="<xsl:value-of select="$theight"/>" listnum="<xsl:value-of select="$listnum"/>" titlelen="<xsl:value-of select="$titlelen"/>" /}
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>height</name>
    <default>180</default>
    <intro>FLASH高度</intro>
  </attributes>
  <attributes>
    <name>width</name>
    <default>298</default>
    <intro>FLASH宽度</intro>
  </attributes>
  <attributes>
    <name>theight</name>
    <default>19</default>
    <intro>文本高度</intro>
  </attributes>
  <attributes>
    <name>listnum</name>
    <default>6</default>
    <intro>显示数量</intro>
  </attributes>
  <OutType>sin</OutType>
  <CacheTime>60</CacheTime>
  <attributes>
    <name>titlelen</name>
    <default>30</default>
    <intro>标题最多字符数量</intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>0</default>
    <intro>父栏目ID</intro>
  </attributes>
</root>