<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>parentid</name>
    <default>4</default>
    <intro>父栏目ID</intro>
  </attributes>
  <LabelSqlString>SELECT TOP @pagesize C.*,T.* FROM PE_CommonModel C INNER JOIN PE_CommonProduct T ON C.ItemID=T.ProductID And C.Status=99 And T.ProductType!=4 and T.EnableSale=1 WHERE C.GeneralID NOT IN (SELECT TOP @startrow IC.GeneralID FROM PE_CommonModel IC INNER JOIN PE_CommonProduct IT ON IC.ItemID=IT.ProductID And IC.Status=99 And IT.ProductType!=4 and IT.EnableSale=1 WHERE IC.NodeID IN(@arrnodeid) @sqlinnertitle @sqlinnerproductintro @sqlinnerproductexplain @sqlinnerproducername @sqlinnertrademarkname @sqlinnerprice @sqlinnerdate ORDER BY IC.UpdateTime DESC) AND C.NodeID IN (@arrnodeid) @sqltitle @sqlproductintro @sqlproductexplain @sqlproducername @sqltrademarkname @sqlprice @sqldate ORDER BY C.UpdateTime DESC</LabelSqlString>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="parentid" />
<xsl:param name="arrnodeid" />
<xsl:param name="title" />
<xsl:param name="productintro" />
<xsl:param name="productexplain" />
<xsl:param name="producername" />
<xsl:param name="trademarkname" />
<xsl:param name="lowprice" />
<xsl:param name="highprice" />
<xsl:param name="begindate" />
<xsl:param name="enddate" />
<xsl:param name="titlelen" />
<xsl:param name="contentlen" />
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(Table)=0">
<ul>
<li>
没有找到相关内容!
</li>
</ul>
</xsl:when>
<xsl:otherwise>

<div class="p_class_list">
<ul>
<xsl:for-each select="Table">
<li>
<div class="pe_u_thumb">
<a> <xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
</xsl:attribute>
<xsl:element name="img">
<xsl:attribute name="src">
<xsl:value-of select="pe:ConvertAbsolutePath(ProductThumb)"/>
</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
<xsl:attribute name="width">160</xsl:attribute>
<xsl:attribute name="height">120</xsl:attribute>
<xsl:attribute name="alt">
<xsl:value-of select="Title"/>
</xsl:attribute>
</xsl:element>
</a>
</div>
<div class="pe_u_thumb_title">
<a>
 <xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
</xsl:attribute>
<xsl:value-of select="pe:CutText(Title,$titlelen,'...')" />
</a>
</div>
<!--<xsl:text disable-output-escaping="yes">&amp;nbsp;</xsl:text>
<xsl:value-of select="pe:FormatDate(UpdateTime,'yyyy-mm-dd')" />
<br />-->
<xsl:if test="$contentlen&gt;0">
<xsl:value-of disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(PhotoIntro),$contentlen,'...')" />
</xsl:if>
</li>
</xsl:for-each>
</ul>
</div>

</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>arrnodeid</name>
    <default>0</default>
    <intro>子栏目ID数组</intro>
  </attributes>
  <attributes>
    <name>sqltitle</name>
    <default>
    </default>
    <intro>标题查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinnertitle</name>
    <default>
    </default>
    <intro>分页标题查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlproductintro</name>
    <default>
    </default>
    <intro>简介查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinnerproductintro</name>
    <default>
    </default>
    <intro>分页简介查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlproductexplain</name>
    <default>
    </default>
    <intro>详细介绍查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinnerproductexplain</name>
    <default>
    </default>
    <intro>分页详细介绍查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlproducername</name>
    <default>
    </default>
    <intro>厂商查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinnerproducername</name>
    <default>
    </default>
    <intro>分页厂商查询条件</intro>
  </attributes>
  <attributes>
    <name>sqltrademarkname</name>
    <default>
    </default>
    <intro>品牌商标查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinnertrademarkname</name>
    <default>
    </default>
    <intro>分页品牌商标查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlprice</name>
    <default>
    </default>
    <intro>价格查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinnerprice</name>
    <default>
    </default>
    <intro>分页查询条件</intro>
  </attributes>
  <attributes>
    <name>sqldate</name>
    <default>
    </default>
    <intro>更新日期查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinnerdate</name>
    <default>
    </default>
    <intro>分页更新日期查询条件</intro>
  </attributes>
  <UsePage>True</UsePage>
  <LabelSqlCount>SELECT COUNT(C.GeneralID) FROM PE_CommonModel C INNER JOIN PE_CommonProduct T ON C.ItemID=T.ProductID And C.Status=99 And T.ProductType!=4 and T.EnableSale=1 WHERE C.NodeID IN (@arrnodeid)  @sqltitle @sqlproductintro @sqlproductexplain @sqlproducername @sqltrademarkname @sqlprice @sqldate</LabelSqlCount>
  <attributes>
    <name>title</name>
    <default>默认值</default>
    <intro>标题</intro>
  </attributes>
  <attributes>
    <name>productintro</name>
    <default>
    </default>
    <intro>简介</intro>
  </attributes>
  <attributes>
    <name>productexplain</name>
    <default>
    </default>
    <intro>商品详细介绍</intro>
  </attributes>
  <attributes>
    <name>producername</name>
    <default>
    </default>
    <intro>商品生产商</intro>
  </attributes>
  <attributes>
    <name>trademarkname</name>
    <default>
    </default>
    <intro>商品品牌/商标</intro>
  </attributes>
  <attributes>
    <name>lowprice</name>
    <default>
    </default>
    <intro>商品价格</intro>
  </attributes>
  <attributes>
    <name>highprice</name>
    <default>
    </default>
    <intro>商品价格</intro>
  </attributes>
  <attributes>
    <name>begindate</name>
    <default>
    </default>
    <intro>更新日期</intro>
  </attributes>
  <attributes>
    <name>enddate</name>
    <default>
    </default>
    <intro>更新日期</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>30</default>
    <intro>标题最多字符数量</intro>
  </attributes>
  <attributes>
    <name>contentlen</name>
    <default>0</default>
    <intro>内容最多字符数量</intro>
  </attributes>
</root>