<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString><![CDATA[SELECT TOP @pagesize C.*,T.* FROM PE_CommonModel C INNER JOIN @tablename T ON C.ItemID=T.ID WHERE C.GeneralID NOT IN(SELECT TOP @startrow IC.GeneralID  FROM PE_CommonModel IC INNER JOIN @tablename IT ON IC.ItemID=IT.ID WHERE IC.NodeID in (@arraynodeid) AND IC.TableName='@tablename' AND IC.Status=99 AND IC.EliteLevel>=@elitelevel order by IC.UpdateTime DESC) AND C.NodeID in (@arraynodeid) AND C.TableName='@tablename' AND C.Status=99 AND C.EliteLevel>=@elitelevel order by C.UpdateTime DESC
]]></LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:param name="titlelen" />
<xsl:output method="xml" />

<xsl:template match="/">
<xsl:variable name="loginedusername" select="pe:LoginedUserName()"/>
<xsl:variable name="isadminlogined" select="pe:IsAdminLogined()"/>
<NewDataSet>
<xsl:for-each select="NewDataSet/Table">
<Table>
<GeneralID>
<xsl:value-of select="GeneralID"/>
</GeneralID>
<NodeID>
<xsl:value-of select="NodeID"/>
</NodeID>
<ModelId>
<xsl:value-of select="ModelId"/>
</ModelId>
<UpdateTime>
<xsl:value-of select="pe:FormatDate(UpdateTime,'yyyy-mm-dd')"/>
</UpdateTime>
<UpdateTime1>
<xsl:value-of select="pe:FormatDate(UpdateTime,'yyyy-mm-dd')"/>
</UpdateTime1>
<Title>
<xsl:value-of disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(Title),$titlelen,'...')" />
</Title>
<GuestName>
<xsl:value-of select="GuestName"/>
</GuestName>
<GuestNameType>
<xsl:choose>
<xsl:when test="Inputer=''">
游客
</xsl:when>
<xsl:otherwise>
用户
</xsl:otherwise>
</xsl:choose>
</GuestNameType>
<xsl:if test="GuestOicq != ''">
<GuestOicq>
QQ：<xsl:value-of select="GuestOicq"/>
</GuestOicq>
</xsl:if>
<xsl:if test="GuestMsn !=''">
<GuestMsn>
MSN：<xsl:value-of select="GuestMsn"/>
</GuestMsn>
</xsl:if>
<xsl:if test="GuestEmail !=''">
<GuestEmail>
Email：&lt;a href=&quot;mailto:<xsl:value-of select="GuestEmail"/>&quot;&gt;<xsl:value-of select="GuestEmail"/>&lt;/a&gt;
</GuestEmail>
</xsl:if>
<xsl:if test="GuestHomepage !=''">
<GuestHomepage>
主页：&lt;a href=&quot;<xsl:choose><xsl:when test="substring-before(GuestHomepage,'/') = 'http:'"><xsl:value-of select="GuestHomepage"/></xsl:when><xsl:otherwise>http://<xsl:value-of select="GuestHomepage"/></xsl:otherwise></xsl:choose>&quot; target=&quot;_blank&quot;&gt;<xsl:value-of select="GuestHomepage"/>&lt;/a&gt;
</GuestHomepage>
</xsl:if>
<GuestImages>
<xsl:choose>
<xsl:when test="GuestImages=''">
<xsl:value-of select="pe:InstallDir()"/>Images/Comment/01.gif
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:InstallDir()"/>Images/Comment/<xsl:value-of select="GuestImages"/>.gif
</xsl:otherwise>
</xsl:choose>
</GuestImages>
<GuestContent>
        <xsl:choose>
        <xsl:when test="GuestIsPrivate = 'false'">
            <xsl:value-of disable-output-escaping="yes" select="GuestContent"/>
	<br />{PE.Label id="显示管理员回复" shownum="1" itemid="<xsl:value-of select="GeneralID"/>" /}
        </xsl:when>
        <xsl:otherwise>
            <xsl:choose>
            <xsl:when test="(Inputer=$loginedusername and $loginedusername!='') or $isadminlogined='true'">
                 <xsl:value-of disable-output-escaping="yes" select="GuestContent"/>
	<br />{PE.Label id="显示管理员回复" shownum="1" itemid="<xsl:value-of select="GeneralID"/>" /}
            </xsl:when>
            <xsl:otherwise>
                  本留言只有留言人和管理员可见！
            </xsl:otherwise>
            </xsl:choose>
         </xsl:otherwise>
         </xsl:choose>

</GuestContent>
<ReplyPath>
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
</ReplyPath>
<GuestFace>
<xsl:choose>
<xsl:when test="GuestFace=''">
<xsl:value-of select="pe:InstallDir()"/>Images/Comment/face1.gif
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:InstallDir()"/>Images/Comment/face<xsl:value-of select="GuestFace"/>.gif
</xsl:otherwise>
</xsl:choose>
</GuestFace>
<InfoPath>
&lt;a href="<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>"&gt;
<xsl:value-of disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(Title),$titlelen,'...')" />&lt;/a&gt;
</InfoPath>
<NodePath>
&lt;a href="<xsl:value-of select="pe:GetNodePath('true',NodeID)"/>"&gt;
<xsl:value-of select="pe:GetNode(NodeID,'name')" />
&lt;/a&gt;
</NodePath>
<Hits>
<xsl:value-of select="Hits"/>
</Hits>
</Table>
</xsl:for-each>
</NewDataSet>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <OutType>
  </OutType>
  <CacheTime>0</CacheTime>
  <UsePage>True</UsePage>
  <LabelSqlCount><![CDATA[SELECT count(IC.GeneralID) FROM PE_CommonModel IC INNER JOIN @tablename IT ON IC.ItemID=IT.ID WHERE IC.NodeID in (@arraynodeid) AND IC.TableName='@tablename' AND IC.Status=99 AND IC.EliteLevel>=@elitelevel]]></LabelSqlCount>
  <attributes>
    <name>arraynodeid</name>
    <default>7</default>
    <intro>子栏目ID</intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>7</default>
    <intro>父栏目ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题字符数</intro>
  </attributes>
  <attributes>
    <name>tablename</name>
    <default>PE_U_GuestBook</default>
    <intro>所属表名</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐级别</intro>
  </attributes>
</root>