<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>sqlkeyword</name>
    <default>
    </default>
    <intro>关键字查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinnerkeyword</name>
    <default>
    </default>
    <intro>分页关键字查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinfopoint</name>
    <default>
    </default>
    <intro>标题查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinnerinfopoint</name>
    <default>
    </default>
    <intro>分页标题查询条件</intro>
  </attributes>
  <attributes>
    <name>sqltitle</name>
    <default>
    </default>
    <intro>标题查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinnertitle</name>
    <default>
    </default>
    <intro>分页标题查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlintro</name>
    <default>
    </default>
    <intro>简介查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinnerintro</name>
    <default>
    </default>
    <intro>分页简介查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlauthor</name>
    <default>
    </default>
    <intro>作者查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinnerauthor</name>
    <default>
    </default>
    <intro>分页作者查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinputer</name>
    <default>
    </default>
    <intro>录入者查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinnerinputer</name>
    <default>
    </default>
    <intro>分页录入者查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlsource</name>
    <default>
    </default>
    <intro>来源查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinnersource</name>
    <default>
    </default>
    <intro>分页来源查询条件</intro>
  </attributes>
  <attributes>
    <name>sqldate</name>
    <default>
    </default>
    <intro>更新日期查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlinnerdate</name>
    <default>
    </default>
    <intro>分页更新日期查询条件</intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>2</default>
    <intro>父栏目ID</intro>
  </attributes>
  <attributes>
    <name>arrnodeid</name>
    <default>0</default>
    <intro>子栏目ID数组</intro>
  </attributes>
  <attributes>
    <name>title</name>
    <default>
    </default>
    <intro>标题</intro>
  </attributes>
  <LabelSqlString>SELECT TOP @pagesize C.* FROM PE_CommonModel C INNER JOIN PE_U_Photo T ON C.ItemID=T.ID WHERE C.GeneralID NOT IN(SELECT TOP @startrow IC.GeneralID FROM PE_CommonModel IC INNER JOIN PE_U_Photo IT ON IC.ItemID=IT.ID WHERE IC.Status=99 AND IC.NodeID IN(@arrnodeid) @sqlinnerkeyword  @sqlinnerinfopoint @sqlinnertitle @sqlinnerintro @sqlinnerauthor @sqlinnerinputer @sqlinnersource @sqlinnerdate ORDER BY IC.UpdateTime DESC) AND C.Status=99 AND C.NodeID IN (@arrnodeid) @sqlkeyword @sqlinfopoint @sqltitle @sqlintro @sqlauthor @sqlinputer @sqlsource @sqldate ORDER BY C.UpdateTime DESC</LabelSqlString>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="parentid" />
<xsl:param name="arrnodeid" />
<xsl:param name="title" />
<xsl:param name="photointro" />
<xsl:param name="author" />
<xsl:param name="inputer" />
<xsl:param name="copyfrom" />
<xsl:param name="keyword" />
<xsl:param name="lowinfopoint" />
<xsl:param name="highinfopoint" />
<xsl:param name="begindate" />
<xsl:param name="enddate" />
<xsl:param name="titlelen" />
<xsl:param name="contentlen" />
<xsl:param name="arrgeneralid"/>
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(Table)=0">
<ul>
<li>
没有找到您搜索的内容!
</li>
</ul>
</xsl:when>
<xsl:otherwise>
<xsl:for-each select="Table">
<a> <xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
</xsl:attribute>
<xsl:value-of select="pe:CutText(Title,$titlelen,'...')"/>
</a>
<xsl:text disable-output-escaping="yes">&amp;nbsp;&amp;nbsp;</xsl:text>
<xsl:value-of select="pe:FormatDate(UpdateTime,'yyyy-mm-dd')"/>
<xsl:text disable-output-escaping="yes">&lt;br /&gt;</xsl:text>
<xsl:value-of disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(PhotoIntro),$contentlen,'')"/>
</xsl:for-each>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <UsePage>True</UsePage>
  <LabelSqlCount>SELECT COUNT(C.GeneralID) FROM PE_CommonModel C INNER JOIN PE_U_Photo T ON C.ItemID=T.ID WHERE C.Status=99 AND C.NodeID IN (@arrnodeid) @sqlkeyword @sqlinfopoint @sqltitle @sqlintro @sqlauthor @sqlinputer @sqlsource @sqldate</LabelSqlCount>
  <attributes>
    <name>photointro</name>
    <default>
    </default>
    <intro>简介</intro>
  </attributes>
  <attributes>
    <name>author</name>
    <default>
    </default>
    <intro>作者</intro>
  </attributes>
  <attributes>
    <name>inputer</name>
    <default>
    </default>
    <intro>录入者</intro>
  </attributes>
  <attributes>
    <name>copyfrom</name>
    <default>
    </default>
    <intro>来源</intro>
  </attributes>
  <attributes>
    <name>keyword</name>
    <default>
    </default>
    <intro>关键字</intro>
  </attributes>
  <attributes>
    <name>lowinfopoint</name>
    <default>0</default>
    <intro>阅读点数</intro>
  </attributes>
  <attributes>
    <name>highinfopoint</name>
    <default>0</default>
    <intro>阅读点数</intro>
  </attributes>
  <attributes>
    <name>begindate</name>
    <default>
    </default>
    <intro>更新时间</intro>
  </attributes>
  <attributes>
    <name>enddate</name>
    <default>
    </default>
    <intro>更新时间</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>30</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <attributes>
    <name>contentlen</name>
    <default>0</default>
    <intro>内容最多字符数</intro>
  </attributes>
  <attributes>
    <name>arrgeneralid</name>
    <default>0</default>
    <intro>关键字对应内容ID</intro>
  </attributes>
</root>