<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>strsql</name>
    <default>SELECT C.*,T.* FROM PE_CommonModel C INNER JOIN PE_U_Article T ON C.ItemID=T.ID WHERE C.Status=99 AND C.TableName='PE_U_Article' ORDER BY C.UpdateTime DESC</default>
    <intro>查询语句</intro>
  </attributes>
  <attributes>
    <name>sqlcount</name>
    <default>SELECT COUNT(C.*) FROM PE_CommonModel C INNER JOIN PE_U_Article T ON C.ItemID=T.ID WHERE C.Status=99 AND C.TableName='PE_U_Article'</default>
    <intro>分页查询总数</intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>1</default>
    <intro>父栏目ID</intro>
  </attributes>
  <attributes>
    <name>arrnodeid</name>
    <default>0</default>
    <intro>子栏目ID数组</intro>
  </attributes>
  <attributes>
    <name>fieldname</name>
    <default>title</default>
    <intro>查询条件字段名</intro>
  </attributes>
  <attributes>
    <name>fieldvalue</name>
    <default>
    </default>
    <intro>查询条件字段值</intro>
  </attributes>
  <attributes>
    <name>tablename</name>
    <default>PE_U_Article</default>
    <intro>所属表名</intro>
  </attributes>
  <UsePage>True</UsePage>
  <LabelSqlString>@strsql</LabelSqlString>
  <LabelSqlCount>@sqlcount</LabelSqlCount>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="parentid" />
<xsl:param name="arrnodeid" />
<xsl:param name="fieldname" />
<xsl:param name="fieldvalue" />
<xsl:param name="tablename" />
<xsl:param name="titlelen" />
<xsl:param name="contentlen" />

<xsl:template match="/NewDataSet">
<ul>
<xsl:for-each select="Table">
<li>
<a> <xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
</xsl:attribute>
<xsl:value-of disable-output-escaping="yes" select="pe:ShowHeightLineText(pe:CutText(pe:RemoveHtml(Title),$titlelen,'...'),$fieldvalue,'#ff0000')" />
</a>
<xsl:text disable-output-escaping="yes">&amp;nbsp;</xsl:text>
<xsl:value-of select="pe:FormatDate(UpdateTime,'yyyy-mm-dd')"/>
<br />
<xsl:if test="$contentlen&gt;0">
<xsl:value-of disable-output-escaping="yes" select="pe:ShowHeightLineText(pe:CutText(pe:RemoveHtml(Content),$contentlen,'...'),$fieldvalue,'#ff0000')" />
</xsl:if>
</li>
</xsl:for-each>
</ul>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <attributes>
    <name>contentlen</name>
    <default>0</default>
    <intro>内容最多字符数</intro>
  </attributes>
  <attributes>
    <name>arrgeneralid</name>
    <default>0</default>
    <intro>参数说明</intro>
  </attributes>
</root>