<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>SELECT TOP @shownum C.GeneralID,C.NodeID,C.InputTime,C.Title,C.PinyinTitle,CP.ProductID,CP.TableName,CP.ProductName,CP.Price_Market,CP.Price,CP.Price_Member,P.ProductThumb FROM (PE_CommonModel C INNER JOIN PE_CommonProduct CP ON C.GeneralID=CP.ProductID) INNER JOIN PE_U_Product P ON C.ItemID=P.ID WHERE C.NodeID in (@arraynodeid) AND C.TableName='PE_U_Product' AND C.Status=99 order by C.UpdateTime</LabelSqlString>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<!-- 定义参数 -->
<xsl:param name="parentid"/>
<xsl:param name="titlelen"/>

<xsl:template match="/NewDataSet">

<!-- 一列式栏目上下循环开始 -->
<div class="childclass_main_box2">
<div class="c_spacing">
</div>
<div class="c_main_box">
        <div class="childclass_title">
          <div class="more">
            <a>
<xsl:attribute name="href">
<xsl:value-of select="pe:GetNodePath('true',$parentid)"/>
</xsl:attribute>
              [更多]
            </a>
          </div>
<a>
<xsl:attribute name="href">
<xsl:value-of select="pe:GetNodePath('true',$parentid)"/>
</xsl:attribute>
<xsl:value-of select="pe:GetNode($parentid,'name')"/>
</a>
        </div>
        <div class="class_content">
          <!-- 显示栏目循环 -->
        <div class="p_class_list">
          <ul>
            <xsl:choose>
              <xsl:when test="count(Table) = 0">
                <li>尚无内容!
                </li>
              </xsl:when>
              <xsl:otherwise>
                <xsl:for-each select="Table">
                  <!-- 显示内容 -->
                  <li>
                        <div class="p_list_pic">
<a>
<xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
</xsl:attribute>
<xsl:element name="img">
<xsl:attribute name="src">
<xsl:value-of select="ProductThumb"/>
</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
<xsl:attribute name="alt">
<xsl:value-of select="pe:CutText(ProductName,$titlelen,'…')" />
</xsl:attribute>
</xsl:element>
</a>
                        </div>
                        <div class="p_list_name">
<xsl:value-of select="pe:CutText(ProductName,$titlelen,'…')" />
                        </div>
                        <div class="p_list_price">市场价：￥<xsl:value-of select="Price_Market"/>
                        </div>
                        <div class="p_list_price">零售价：￥<xsl:value-of select="Price"/>
                        </div>
                        <div class="p_list_price">会员价：￥<xsl:value-of select="Price_Member"/>
                        </div>
                        <div class="p_list_botton">
<!-- 购买按钮 -->
<a>
<xsl:attribute name="href">
<xsl:value-of select="pe:InstallDir()"/>Shop/ShoppingCart.aspx?Action=AddToCart&amp;ProductID=<xsl:value-of select="ProductID" />&amp;TableName=<xsl:value-of select="TableName" />
</xsl:attribute>
<xsl:element name="img">
<xsl:attribute name="src">{PE.SiteConfig.ApplicationPath /}Skin/Default/images/ProductBuy.gif</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
<xsl:attribute name="alt">购买<xsl:value-of select="pe:CutText(ProductName,$titlelen,'…')" />
</xsl:attribute>
</xsl:element>
</a>
<!-- 详细按钮 -->
<a>
<xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
</xsl:attribute>
<xsl:element name="img">
<xsl:attribute name="src">{PE.SiteConfig.ApplicationPath /}Skin/Default/images/ProductContent.gif</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
<xsl:attribute name="alt">查阅<xsl:value-of select="pe:CutText(ProductName,$titlelen,'…')" />详情</xsl:attribute>
</xsl:element>
</a>
                        </div>

			<div class="clearbox">
</div>
                  </li>
                </xsl:for-each>
              </xsl:otherwise>
            </xsl:choose>
          </ul>
    <div class="clearbox2">
</div>
        </div>
        </div>
        <div class="class_bot">
</div>
</div>
</div>
<!-- 一列式栏目上下循环结束 -->


</xsl:template>
</xsl:transform>
]]></LabelTemplate>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>classname</name>
    <default>childclass_main_box</default>
    <intro>显示子栏目CSS名</intro>
  </attributes>
  <attributes>
    <name>arraynodeid</name>
    <default>1</default>
    <intro>栏目ID</intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>0</default>
    <intro>父栏目ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题字符数</intro>
  </attributes>
</root>