<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>40</default>
    <intro>标题字符数</intro>
  </attributes>
  <attributes>
    <name>showupdatetime</name>
    <default>false</default>
    <intro>显示更新时间</intro>
  </attributes>
  <attributes>
    <name>showpic</name>
    <default>false</default>
    <intro>显示小图片</intro>
  </attributes>
  <attributes>
    <name>shownodename</name>
    <default>false</default>
    <intro>显示栏目</intro>
  </attributes>
  <attributes>
    <name>target</name>
    <default>_blank</default>
    <intro>内容打开方式</intro>
  </attributes>
  <attributes>
    <name>node_target</name>
    <default>_blank</default>
    <intro>栏目打开方式</intro>
  </attributes>
  <attributes>
    <name>span_classname</name>
    <default>new</default>
    <intro>小图片CSS</intro>
  </attributes>
  <LabelSqlString><![CDATA[SELECT TOP @shownum * FROM PE_CommonModel WHERE NodeID IN(@arrnodeid) AND Datediff(d,UpdateTime,getdate())<@days AND Status=99 @sql ORDER BY Hits DESC]]></LabelSqlString>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="shownum" />
<xsl:param name="titlelen" />
<xsl:param name="showupdatetime" />
<xsl:param name="showpic" />
<xsl:param name="shownodename" />
<xsl:param name="target" />
<xsl:param name="node_target" />
<xsl:param name="span_classname" />
<xsl:param name="showhits" />
<xsl:template match="/">
<xsl:if test="count(/NewDataSet/Table)=0" >
<ul>
<li>没有相关内容!</li>
</ul>
</xsl:if>
<ul>
<xsl:for-each select="/NewDataSet/Table">
<li>
<!-- 属性图片 -->
<xsl:if test="$showpic = 'true'">
<span>
<xsl:attribute name="class">
<xsl:value-of select="$span_classname" />
</xsl:attribute>
</span>
</xsl:if>
<!-- 父栏目 -->
<xsl:if test="$shownodename= 'true'">
[<a>
<xsl:attribute name="href">
<xsl:value-of select="pe:GetNodePath('true',NodeID)" />
</xsl:attribute>
<xsl:if test="$node_target!=''">
<xsl:attribute name="target">
<xsl:value-of select="$node_target" />
</xsl:attribute>
</xsl:if>
<xsl:value-of select="pe:GetNode(NodeID,'name')" />
</a>]
</xsl:if>
<!-- 标题 -->
<a>
<xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
</xsl:attribute>
<xsl:if test="$target!=''">
<xsl:attribute name="target">
<xsl:value-of select="$target" />
</xsl:attribute>
</xsl:if>
<xsl:value-of disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(Title),$titlelen,'…')" />
</a>
<!-- 点击数 -->
<xsl:if test="$showhits = 'true'">
 (<xsl:value-of select="Hits" />)
</xsl:if>
<!-- 更新时间 -->
<xsl:if test="$showupdatetime = 'true'">
 [<xsl:value-of select="UpdateTimepe" />]
</xsl:if>

</li>
</xsl:for-each>
</ul>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <CacheTime>
  </CacheTime>
  <attributes>
    <name>days</name>
    <default>7</default>
    <intro>最近天数</intro>
  </attributes>
  <attributes>
    <name>showhits</name>
    <default>false</default>
    <intro>显示点击数</intro>
  </attributes>
  <attributes>
    <name>sql</name>
    <default>
    </default>
    <intro>附加的查询条件</intro>
  </attributes>
  <attributes>
    <name>arrnodeid</name>
    <default>0</default>
    <intro>栏目ID数组</intro>
  </attributes>
</root>