<root>
  <LabelType></LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>generalid</name>
    <default>1</default>
    <intro>软件ID</intro>
  </attributes>
  <attributes>
    <name>tablename</name>
    <default>PE_U_Soft</default>
    <intro>所属表名</intro>
  </attributes>
  <LabelSqlString>SELECT DownloadUrl,arrServerName FROM @tablename WHERE ID=(SELECT TOP 1 ItemID FROM PE_CommonModel WHERE GeneralID=@generalid AND Status=99) </LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe">
<xsl:output method="xml" />
<xsl:param name="generalid"/>
<xsl:template match="NewDataSet/Table">
<Root>
<LocalServer>
<xsl:value-of select="pe:ShowDownloadPath($generalid,DownloadUrl,pe:InstallDir())"/>
</LocalServer>
<MirrorServer>
<xsl:choose>
<xsl:when test="arrServerName !=''">
<xsl:value-of select="pe:ShowDownloadPathMore($generalid,DownloadUrl,pe:InstallDir(),arrServerName)"/>
</xsl:when>
</xsl:choose>
</MirrorServer>
</Root>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>