<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>显示的数量</intro>
  </attributes>
  <attributes>
    <name>producttype</name>
    <default>3</default>
    <intro>商品类型</intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>4</default>
    <intro>ID</intro>
  </attributes>
  <LabelSqlString>    select top @shownum m.*,p.*
    from pe_commonmodel m
    inner join pe_nodes n on m.nodeid = n.nodeid
    inner join pe_commonProduct p on m.GeneralID = p.productid
    where
    (n.parentid=@parentid or n.nodeid=@parentid)
    and m.linktype=0
    and m.status=99
    and p.enablesale=1
    and producttype=@producttype
    order by m.updatetime desc</LabelSqlString>
  <LabelTemplate>
			  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="titlelen"/>
<xsl:template match="/NewDataSet">
<table width="95%">
    <xsl:for-each select="Table">
  <tr>
      <td>
        <xsl:element name="img">
          <xsl:attribute name="src">
            <xsl:value-of select="pe:InstallDir()" />images/common1.gif
          </xsl:attribute>
          <xsl:attribute name="alt">
            普通<xsl:value-of select="pe:GetModelItemName(ModelID)"/>
          </xsl:attribute>
        </xsl:element>
      </td>
      <td>
        [<a>
          <xsl:attribute name="href">
            <xsl:value-of select="pe:GetNodePath('true',NodeID)" />
          </xsl:attribute>
          <xsl:attribute name="target">_blank</xsl:attribute>
          <xsl:value-of select="pe:GetNode(NodeID,'name')" />
        </a>]
        <a>
          <xsl:attribute name="href">
            <xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
          </xsl:attribute>
          <xsl:attribute name="target">_blank</xsl:attribute>
          <xsl:value-of select="pe:CutText(ProductName,$titlelen,'…')" />
        </a>
      </td>
      <td>
        <xsl:value-of select="Inputer"/>
      </td>
      <td>
        <xsl:value-of select="pe:FormatDate(UpdateTime, 'mm-dd')" />
      </td>
           </tr>
 </xsl:for-each>
</table>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>titlelen</name>
    <default>50</default>
    <intro>标题长度</intro>
  </attributes>
</root>