<root>
  <LabelType>图片列表</LabelType>
  <LabelIntro>JavaScript脚本驱动的幻灯标签,使用本标签请在对应页模板中增加/js/powerpoint.js的调用</LabelIntro>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString><![CDATA[SELECT TOP @listnum PE_U_Article.*, PE_CommonModel.*  FROM PE_U_Article INNER JOIN PE_CommonModel ON PE_U_Article.ID = PE_CommonModel.ItemID WHERE PE_CommonModel.TableName='PE_U_Article' AND PE_CommonModel.DefaultPicUrl != '' AND PE_CommonModel.Status=99 @strsql ORDER BY PE_CommonModel.UpdateTime DESC ]]></LabelSqlString>
  <LabelTemplate>
								  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:param name="height" />
<xsl:param name="width" />
<xsl:param name="imgheight" />
<xsl:param name="imgwidth" />
<xsl:param name="titlelen"/>
<xsl:output method="html" />
<xsl:template match="/">
    <TABLE height="{$height}" cellSpacing="0" cellPadding="0" width="{$width}" align="center" border="0">
        <TBODY>
            <TR>
                <TD>
                  <DIV id="bimg">
                      <xsl:for-each select="NewDataSet/Table">
                          <xsl:choose>
                          <xsl:when test="position() = 1">
                              <DIV class="dis">
<A href="{pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)}" target="_blank">
<IMG src="{pe:ConvertAbsolutePath(DefaultPicUrl)}" height="{$imgheight}" width="{$imgwidth}" border="0"/>
</A>
</DIV>
                          </xsl:when>
                          <xsl:otherwise>
                              <DIV class="undis">
<A href="{pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)}" target="_blank">
<IMG src="{pe:ConvertAbsolutePath(DefaultPicUrl)}" height="{$imgheight}" width="{$imgwidth}" border="0"/>
</A>
</DIV>
                          </xsl:otherwise>
                          </xsl:choose>
                      </xsl:for-each>
                  </DIV>
                </TD>
            </TR>
         </TBODY>
    </TABLE>

    <TABLE height="24" cellSpacing="0" cellPadding="0" width="{$width}" align="center" border="0">
        <TBODY>
            <TR>
                <TD class="f14" id="info" width="227">
                      <xsl:for-each select="NewDataSet/Table">
                          <DIV class="dis">
<xsl:value-of select="pe:CutText(Title,$titlelen,'...')"/>
</DIV>
                      </xsl:for-each>
                </TD>
                <TD width="59">
                     <TABLE id="simg" cellSpacing="0" cellPadding="2" width="100%" align="right" border="0">
                         <TBODY>
                             <TR align="middle">
                                 <xsl:for-each select="NewDataSet/Table">
                                       <xsl:choose>
                                       <xsl:when test="position() = 1">
                                           <TD class="s">
<xsl:number value="position()" format="1" />
</TD>
                                       </xsl:when>
                                       <xsl:otherwise>
                                           <TD>
<xsl:number value="position()" format="1" />
</TD>
                                       </xsl:otherwise>
                                       </xsl:choose>
                                 </xsl:for-each>
                             </TR>
                         </TBODY>
                     </TABLE>
                </TD>
            </TR>
        </TBODY>
    </TABLE>
<xsl:if test="count(NewDataSet/Table) > 0">
<script type="text/javascript">
var count=<xsl:value-of select="count(NewDataSet/Table)"/>;
</script>
<script language="javascript" type="text/javascript" src="{pe:InstallDir()}js/powerpoint.js">
</script>
</xsl:if>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>height</name>
    <default>180</default>
    <intro>外框高度</intro>
  </attributes>
  <attributes>
    <name>width</name>
    <default>298</default>
    <intro>外框宽度</intro>
  </attributes>
  <attributes>
    <name>imgheight</name>
    <default>160</default>
    <intro>图片高度</intro>
  </attributes>
  <attributes>
    <name>imgwidth</name>
    <default>200</default>
    <intro>图片宽度</intro>
  </attributes>
  <attributes>
    <name>listnum</name>
    <default>6</default>
    <intro>显示数量</intro>
  </attributes>
  <OutType>
  </OutType>
  <CacheTime>60</CacheTime>
  <attributes>
    <name>titlelen</name>
    <default>30</default>
    <intro>标题最多字符数量</intro>
  </attributes>
  <attributes>
    <name>strsql</name>
    <default>
    </default>
    <intro>查询条件</intro>
  </attributes>
  <attributes>
    <name>arrnodeid</name>
    <default>0</default>
    <intro>栏目ID数组</intro>
  </attributes>
</root>