<root>
  <LabelType>图片列表</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>JavaScript脚本驱动的FLASH幻灯标签</LabelIntro>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>SELECT PhotoUrl FROM PE_U_Photo WHERE ID =@generalid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:param name="generalid" />
<xsl:output method="html" />
<xsl:template match="/">
<xsl:value-of disable-output-escaping="yes" select="pe:GetPhotoPathList(1,250,200,5,4,NewDataSet/Table/PhotoUrl,pe:UpLoadDir(),1)"/>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <OutType>sin</OutType>
  <CacheTime>60</CacheTime>
  <attributes>
    <name>generalid</name>
    <default>1</default>
    <intro>图片ID</intro>
  </attributes>
</root>