<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString><![CDATA[SELECT TOP @shownum C.*,A.* FROM PE_CommonModel C INNER JOIN PE_U_Article A ON C.ItemID=A.ID WHERE C.NodeID in (@arraynodeid) AND C.TableName='PE_U_Article' AND C.Status=99 order by C.UpdateTime]]></LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<!-- 定义参数 -->
<xsl:param name="parentid"/>
<xsl:param name="titlelen"/>
<xsl:param name="hits"/>
<xsl:param name="elitelevel"/>
<xsl:param name="opentype" />
<xsl:template match="/NewDataSet">

<!-- 一列式栏目列表样式开始-->
<div class="childclass_main_box3">
	<div class="c_spacing">
	</div>
	<div class="childclass_title_border">
		<a> 
		<xsl:attribute name="href">
		<xsl:value-of select="pe:GetNodePath('true',$parentid)"/>
		</xsl:attribute>
		<xsl:value-of select="pe:GetNode($parentid,'name')"/>
		</a>
	</div>
	<div class="s_classlist_title">
	  <div class="s_classlist_title_r">点击数</div>
	  <div class="s_classlist_title_c">更新日期</div>
	  <div class="s_classlist_title_l">属性 所属栏目 文章名称</div>
	</div>
	<xsl:choose>
		<xsl:when test="count(Table) = 0">
		<li>本栏尚无内容!
		</li>
		</xsl:when>
		<xsl:otherwise>
		{PE.DataSource id="InfoList" datasource="显示文章栏目循环列表信息" arraynodeid="<xsl:value-of select="arrChildID"/>" parentid="<xsl:value-of select="$parentid"/>"  titlelen="<xsl:value-of select="$titlelen"/>"  hits="<xsl:value-of select="$hits"/>"  elitelevel="<xsl:value-of select="$elitelevel"/>" opentype="<xsl:value-of select="$opentype"/>"  xslt="true" /}
          {PE.Repeat id="InfoList<xsl:value-of select="NodeID"/>" loop="10"}
				<div class="s_classlist_text">
				<div class="s_classlist_text_r">
				{PE.field id="InfoList" fieldname="Hits" /}
				</div>
				<div class="s_classlist_text_c">
				{PE.field id="InfoList" fieldname="UpdateTime" /}
				</div>
				<div class="s_classlist_text_l">
				{PE.field id="InfoList" fieldname="IncludePic" /}
				[{PE.field id="InfoList" fieldname="NodePath" /}]
				[{PE.field id="InfoList" fieldname="InfoPath" /}]
				</div>
				</div>
          {/PE.Repeat}
		</xsl:otherwise>
	</xsl:choose>
</div>

<!-- 一列式栏目列表样式结束 -->
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>arraynodeid</name>
    <default>1</default>
    <intro>栏目ID</intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>0</default>
    <intro>父栏目ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <attributes>
    <name>hits</name>
    <default>0</default>
    <intro>热门最小点击数</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐优先</intro>
  </attributes>
  <attributes>
    <name>opentype</name>
    <default>_blank</default>
    <intro>打开方式</intro>
  </attributes>
</root>