<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString><![CDATA[SELECT TOP @shownum C.*,A.* FROM PE_CommonModel C INNER JOIN @tablename A ON C.GeneralID=A.ID WHERE C.NodeID in (@arraynodeid) AND C.TableName='@tablename' AND C.Status=99 AND C.EliteLevel>=@elitelevel AND C.Hits>=@hits order by C.UpdateTime DESC
]]></LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:param name="titlelen" />
<xsl:param name="opentype" />
<xsl:output method="xml" />
<xsl:template match="/">
<NewDataSet>
<xsl:for-each select="NewDataSet/Table">
<Table>
<GeneralID>
<xsl:value-of select="GeneralID"/>
</GeneralID>
<NodeID>
<xsl:value-of select="NodeID"/>
</NodeID>
<ModelId>
<xsl:value-of select="ModelId"/>
</ModelId>
<ItemId>
<xsl:value-of select="ItemId"/>
</ItemId>
<TableName>
<xsl:value-of select="TableName"/>
</TableName>
<Inputer>
<xsl:value-of select="Inputer"/>
</Inputer>
<Hits>
<xsl:value-of select="Hits"/>
</Hits>
<DayHits>
<xsl:value-of select="DayHits"/>
</DayHits>
<WeekHits>
<xsl:value-of select="WeekHits"/>
</WeekHits>
<MonthHits>
<xsl:value-of select="MonthHits"/>
</MonthHits>
<UpdateTime>
<xsl:value-of select="pe:FormatDate(UpdateTime,'yyyy-mm-dd')"/>
</UpdateTime>
<CommentAudited>
<xsl:value-of select="CommentAudited"/>
</CommentAudited>
<Title>
<xsl:value-of disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(Title),$titlelen,'...')" />
</Title>
<TitleIntact>
<xsl:value-of select="TitleIntact"/>
</TitleIntact>
<Subheading>
<xsl:value-of select="Subheading"/>
</Subheading>
<Author>
<xsl:value-of select="Author"/>
</Author>
<CopyFrom>
<xsl:value-of select="CopyFrom"/>
</CopyFrom>
<Keyword>
<xsl:value-of select="Keyword"/>
</Keyword>
<IncludePic>
<xsl:if test="IncludePic !='无'">
<xsl:value-of select="IncludePic"/>
</xsl:if>
</IncludePic>
<TitleFontColor>
<xsl:value-of select="TitleFontColor"/>
</TitleFontColor>
<TitleFontType>
<xsl:value-of select="TitleFontType"/>
</TitleFontType>
<Intro>
<xsl:value-of disable-output-escaping="yes" select="Intro"/>
</Intro>
<DefaultPicUrl>
<xsl:choose>
<xsl:when test="DefaultPicUrl !=''">
<xsl:if test="pe:IsStartWithhttp(DefaultPicUrl)='false'">
<xsl:value-of select="pe:UpLoadDir()"/>
</xsl:if>
<xsl:value-of select="DefaultPicUrl"/>
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:UpLoadDir()"/>nopic.gif
</xsl:otherwise>
</xsl:choose>
</DefaultPicUrl>
<Content>
<xsl:value-of disable-output-escaping="yes" select="Content"/>
</Content>
<Stars>
<xsl:value-of select="Stars"/>
</Stars>
<InfoPath>
&lt;a href="<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>" target="<xsl:value-of select="$opentype"/>"&gt;
<xsl:value-of  select="pe:CutText(pe:EncodeText(Title,'htmldecode'),$titlelen,'...')" />
&lt;/a&gt;
</InfoPath>
<NodePath>
&lt;a href="<xsl:value-of select="pe:GetNodePath('true',NodeID)"/>"&gt;
<xsl:value-of select="pe:GetNode(NodeID,'name')" />
&lt;/a&gt;
</NodePath>
<NodeUrl>
<xsl:value-of select="pe:GetNodePath('true',NodeID)"/>
</NodeUrl>
<LinkUrl>
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
</LinkUrl>
</Table>
</xsl:for-each>
</NewDataSet>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <UsePage>
  </UsePage>
  <LabelSqlCount>select count(*) from PE_Nodes where ParentID = @parentid</LabelSqlCount>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>arraynodeid</name>
    <default>1</default>
    <intro>子栏目ID</intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>1</default>
    <intro>父栏目ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题字符数</intro>
  </attributes>
  <attributes>
    <name>tablename</name>
    <default>PE_U_Article</default>
    <intro>所属表名</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐级别</intro>
  </attributes>
  <attributes>
    <name>hits</name>
    <default>0</default>
    <intro>热门最小点击数</intro>
  </attributes>
  <attributes>
    <name>opentype</name>
    <default>_blank</default>
    <intro>打开方式</intro>
  </attributes>
</root>