<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>
  </OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>显示评论数</intro>
  </attributes>
  <LabelSqlString>SELECT TOP @shownum PE_Comment.GeneralID,PE_Comment.NodeID,PE_CommonModel.InputTime,PE_CommonModel.Title,PE_CommonModel.PinyinTitle,PE_Comment.CommentID,PE_Comment.CommentTitle,PE_Comment.UpdateDateTime FROM PE_Comment inner join PE_CommonModel ON PE_Comment.GeneralID=PE_CommonModel.GeneralID  ORDER BY PE_Comment.UpdateDateTime DESC</LabelSqlString>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
<li>
还没有评论!
</li>
</xsl:when>
<xsl:otherwise>
<xsl:for-each select="/NewDataSet/Table">
<li>
<a> <xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
</xsl:attribute>
<xsl:value-of select="pe:CutText(CommentTitle,20,'...')"/>
</a>
(<xsl:value-of select="pe:FormatDate(UpdateDateTime,'yyyy-mm-dd')"/>)
</li>
</xsl:for-each>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>