<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <UsePage>True</UsePage>
  <LabelSqlString>SELECT TOP @pagesize * FROM PE_Source WHERE Passed=1 AND ID NOT IN(SELECT TOP @startrow ID FROM PE_Source WHERE Passed=1 ORDER BY ID DESC) ORDER BY ID DESC</LabelSqlString>
  <LabelSqlCount>select count(ID) from PE_Source where Passed=1</LabelSqlCount>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
<li>
还没有来源列表！
</li>
</xsl:when>
<xsl:otherwise>
<div class="s_classlist_title">
  <div class="s_classlist_title_r">姓名</div>
  <div class="s_classlist_title_c">联系人</div>
  <div class="s_classlist_title_l">简介</div>
</div>
<xsl:for-each select="Table">
        <div class="s_classlist_text">
	  <div class="s_classlist_text_r">
<a> <xsl:attribute name="href"><xsl:value-of select="pe:InstallDir()"/>Common/ShowCopyFrom.aspx?copyfrom=<xsl:value-of select="Name"/>
</xsl:attribute>
              <xsl:value-of select="Name"/>
 </a>
	  </div>
          <div class="s_classlist_text_c">
              <xsl:value-of select="Contacter"/>
	  </div>
	  <div class="s_classlist_text_l">
          <xsl:value-of disable-output-escaping="yes" select="Intro"/>
	  </div>
        </div>
</xsl:for-each>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>