<?xml version="1.0"?>
<root>
  <LabelType>数据源标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>
  </OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString><![CDATA[SELECT * FROM PE_Source WHERE Name='@copyfrom'AND Passed=1]]></LabelSqlString>
  <LabelTemplate>
  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="xml" />
<xsl:param name="authorname"/>
<xsl:param name="photowidth"/>
<xsl:param name="photoheight"/>
<xsl:template match="/NewDataSet/Table">
<Root>
<ShowType>
<xsl:value-of select="Type"/>
</ShowType>
<ShowName>
<xsl:value-of select="Name"/>
</ShowName>
<ShowPhoto>
<xsl:choose>
<xsl:when test="Photo!=''">
<xsl:value-of select="Photo"/>
</xsl:when>
<xsl:otherwise>
nopic.gif
</xsl:otherwise>
</xsl:choose>
</ShowPhoto>
<ShowIntro>
<xsl:value-of disable-output-escaping="yes" select="Intro"/>
</ShowIntro>
<ShowAddress>
<xsl:value-of select="Address"/>
</ShowAddress>
<ShowTel>
<xsl:value-of select="Tel"/>
</ShowTel>
<ShowFax>
<xsl:value-of select="Fax"/>
</ShowFax>
<ShowMail>
<xsl:value-of select="Mail"/>
</ShowMail>
<ShowEmail>
<xsl:value-of select="Email"/>
</ShowEmail>
<ShowZipCode>
<xsl:value-of select="ZipCode"/>
</ShowZipCode>
<ShowHomePage>
<xsl:value-of select="HomePage"/>
</ShowHomePage>
<ShowImeeting>
<xsl:value-of select="Im"/>
</ShowImeeting>
<ShowContacter>
<xsl:value-of select="Contacter"/>
</ShowContacter>

</Root>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>copyfrom</name>
    <default>
    </default>
    <intro>来源</intro>
  </attributes>
</root>