<root>
  <LabelType>其它标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝您现在的位置</LabelIntro>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet/Table">

{PE.Label id="父栏目位置导航" parentpath="<xsl:value-of select="ParentPath"/>"/}
<xsl:if test="ShowOnPath='true'">
>>
<xsl:value-of select="pe:GetNode(NodeID,'name')"/>
</xsl:if>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelSqlString>SELECT NodeID,NodeName,ParentPath,ShowOnPath FROM PE_Nodes WHERE NodeID=@nodeid</LabelSqlString>
  <attributes>
    <name>nodeid</name>
    <default>1</default>
    <intro>栏目或信息ID</intro>
  </attributes>
</root>