<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>parentid</name>
    <default>4</default>
    <intro>父栏目ID</intro>
  </attributes>
  <attributes>
    <name>fieldname</name>
    <default>title</default>
    <intro>搜索条件字段名</intro>
  </attributes>
  <attributes>
    <name>fieldvalue</name>
    <default>
    </default>
    <intro>搜索条件字段值</intro>
  </attributes>
  <LabelSqlString>select NodeID,arrChildID from PE_Nodes where NodeID=@parentid</LabelSqlString>
  <LabelTemplate>
  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="parentid" />
<xsl:param name="arrnodeid" />
<xsl:param name="fieldname" />
<xsl:param name="fieldvalue" />
<xsl:param name="titlelen" />
<xsl:param name="contentlen" />
<xsl:template match="/NewDataSet/Table">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
<ul>
<li>
没有任何相关搜索结果!
</li>
</ul>
</xsl:when>
<xsl:otherwise>
	<xsl:choose>
	<!-- 按商品名称搜索 -->
	<xsl:when test="$fieldname='productname' and $fieldvalue!=''">

	{PE.Label id="显示栏目内搜索_商品" 
   strsql="SELECT Top @pagesize C.*,T.* FROM PE_CommonModel C INNER JOIN PE_CommonProduct T ON C.GeneralID=T.ProductID And C.Status=99 And C.LinkType=0 and T.EnableSale=1 WHERE C.GeneralId NOT IN (SELECT Top @startrow IC.GeneralId FROM PE_CommonModel IC INNER JOIN PE_CommonProduct IT ON IC.GeneralID=IT.ProductID And IC.Status=99 And IC.LinkType=0 and IT.EnableSale=1 WHERE IC.NodeId IN(@arrnodeid) AND IC.Title like '%@fieldvalue%' order by IC.UpdateTime desc) AND C.NodeId IN(@arrnodeid) AND C.Title like '%@fieldvalue%' order by C.UpdateTime desc" 
   sqlcount="SELECT COUNT(IC.GeneralID) FROM PE_CommonModel IC INNER JOIN PE_CommonProduct IT ON IC.GeneralID=IT.ProductID And IC.Status=99 And IC.LinkType=0 and IT.EnableSale=1 WHERE IC.NodeId IN(@arrnodeid) AND IC.Title like '%@fieldvalue%'" 
   parentid="<xsl:value-of select="$parentid" />" 
   arrnodeid="<xsl:value-of select="arrChildID" />" 
   fieldname="<xsl:value-of select="$fieldname" />"
   fieldvalue="<xsl:value-of select="$fieldvalue" />"
   tablename="PE_CommonProduct"
   titlelen="<xsl:value-of select="$titlelen" />"
   contentlen="<xsl:value-of disable-output-escaping="yes" select="$contentlen" />"
   page="true" pagesize="10" urlpage="true" span="" class="" /}

	</xsl:when>
	<!-- 按商品简介搜索 -->
	<xsl:when test="$fieldname='productintro' and $fieldvalue!=''">
  {PE.Label id="显示栏目内搜索_商品" 
   strsql="SELECT Top @pagesize C.*,T.* FROM PE_CommonModel C INNER JOIN PE_CommonProduct T ON C.GeneralID=T.ProductID And C.Status=99 And C.LinkType=0 and T.EnableSale=1 WHERE C.GeneralId NOT IN (SELECT Top @startrow IC.GeneralId FROM PE_CommonModel IC INNER JOIN PE_CommonProduct IT ON IC.GeneralID=IT.ProductID And IC.Status=99 And IC.LinkType=0 and IT.EnableSale=1 WHERE IC.NodeId IN(@arrnodeid) AND IT.ProductIntro like '%@fieldvalue%' order by IC.UpdateTime desc) AND C.NodeId IN(@arrnodeid) AND T.ProductIntro like '%@fieldvalue%' order by C.UpdateTime desc" 
   sqlcount="SELECT COUNT(IC.GeneralID) FROM PE_CommonModel IC INNER JOIN PE_CommonProduct IT ON IC.GeneralID=IT.ProductID And IC.Status=99 And IC.LinkType=0 and IT.EnableSale=1 WHERE IC.NodeId IN(@arrnodeid) AND IT.ProductIntro like '%@fieldvalue%'" 
   parentid="<xsl:value-of select="$parentid" />" 
   arrnodeid="<xsl:value-of select="arrChildID" />" 
   fieldname="<xsl:value-of select="$fieldname" />"
   fieldvalue="<xsl:value-of select="$fieldvalue" />"
   tablename="PE_CommonProduct"
   titlelen="<xsl:value-of select="$titlelen" />"
   contentlen="<xsl:value-of disable-output-escaping="yes" select="$contentlen" />"
   page="true" pagesize="10" urlpage="true" span="" class="" /}

	</xsl:when>
	<!-- 按厂商搜索 -->
	<xsl:when test="$fieldname='producername' and $fieldvalue!=''">
  {PE.Label id="显示栏目内搜索_商品" 
   strsql="SELECT Top @pagesize C.*,T.* FROM PE_CommonModel C INNER JOIN PE_CommonProduct T ON C.GeneralID=T.ProductID And C.Status=99 And C.LinkType=0 And T.EnableSale=1 WHERE C.GeneralId NOT IN (SELECT Top @startrow IC.GeneralId FROM PE_CommonModel IC INNER JOIN PE_CommonProduct IT ON IC.GeneralID=IT.ProductID And IC.Status=99 And IC.LinkType=0 and IT.EnableSale=1 WHERE IC.NodeId IN(@arrnodeid) AND IT.ProducerName like '%@fieldvalue%' order by IC.UpdateTime desc) AND C.NodeId IN(@arrnodeid) AND T.ProducerName like '%@fieldvalue%' order by C.UpdateTime desc" 
   sqlcount="SELECT COUNT(IC.GeneralID) FROM PE_CommonModel IC INNER JOIN PE_CommonProduct IT ON IC.GeneralID=IT.ProductID And IC.Status=99 And IC.LinkType=0 and IT.EnableSale=1 WHERE IC.NodeId IN(@arrnodeid) AND IT.ProducerName like '%@fieldvalue%'" 
   parentid="<xsl:value-of select="$parentid" />" 
   arrnodeid="<xsl:value-of select="arrChildID" />" 
   fieldname="<xsl:value-of select="$fieldname" />"
   fieldvalue="<xsl:value-of select="$fieldvalue" />"
   tablename="PE_CommonProduct"
   titlelen="<xsl:value-of select="$titlelen" />"
   contentlen="<xsl:value-of disable-output-escaping="yes" select="$contentlen" />"
   page="true" pagesize="10" urlpage="true" span="" class="" /}

	</xsl:when>

 <!-- 按品牌商标搜索 -->
 <xsl:when test="$fieldname='trademarkname' and $fieldvalue!=''">
  {PE.Label id="显示栏目内搜索_商品" 
   strsql="SELECT Top @pagesize C.*,T.* FROM PE_CommonModel C INNER JOIN PE_CommonProduct T ON C.GeneralID=T.ProductID And C.Status=99 And C.LinkType=0 and T.EnableSale=1 WHERE C.GeneralId NOT IN (SELECT Top @startrow IC.GeneralId FROM PE_CommonModel IC INNER JOIN PE_CommonProduct IT ON IC.GeneralID=IT.ProductID And IC.Status=99 And IC.LinkType=0 and IT.EnableSale=1 WHERE IC.NodeId IN(@arrnodeid) AND IT.TrademarkName like '%@fieldvalue%' order by IC.UpdateTime desc) AND C.NodeId IN(@arrnodeid) AND T.TrademarkName like '%@fieldvalue%' order by C.UpdateTime desc" 
   sqlcount="SELECT COUNT(IC.GeneralID) FROM PE_CommonModel IC INNER JOIN PE_CommonProduct IT ON IC.GeneralID=IT.ProductID And IC.Status=99 And IC.LinkType=0 and IT.EnableSale=1 WHERE IC.NodeId IN(@arrnodeid) AND IT.TrademarkName like '%@fieldvalue%'" 
   parentid="<xsl:value-of select="$parentid" />" 
   arrnodeid="<xsl:value-of select="arrChildID" />" 
   fieldname="<xsl:value-of select="$fieldname" />"
   fieldvalue="<xsl:value-of select="$fieldvalue" />"
   tablename="PE_CommonProduct"
   titlelen="<xsl:value-of select="$titlelen" />"
   contentlen="<xsl:value-of disable-output-escaping="yes" select="$contentlen" />"
   page="true" pagesize="10" urlpage="true" span="" class="" /}

 </xsl:when>

	<!-- 输入值为空搜索 -->
	<xsl:otherwise>
  {PE.Label id="显示栏目内搜索_商品" 
   strsql="SELECT Top @pagesize C.*,T.* FROM PE_CommonModel C INNER JOIN PE_CommonProduct T ON C.GeneralID=T.ProductID And C.Status=99 And C.LinkType=0 and T.EnableSale=1 WHERE C.GeneralId NOT IN (SELECT Top @startrow IC.GeneralId FROM PE_CommonModel IC INNER JOIN PE_CommonProduct IT ON IC.GeneralID=IT.ProductID And IC.Status=99 And IC.LinkType=0 and IT.EnableSale=1 WHERE IC.NodeId IN(@arrnodeid) order by IC.UpdateTime desc) AND C.NodeId IN(@arrnodeid) order by C.UpdateTime desc" 
   sqlcount="SELECT COUNT(IC.GeneralID) FROM PE_CommonModel IC INNER JOIN PE_CommonProduct IT ON IC.GeneralID=IT.ProductID And IC.Status=99 And IC.LinkType=0 and IT.EnableSale=1 WHERE IC.NodeId IN(@arrnodeid)" 
   parentid="<xsl:value-of select="$parentid" />" 
   arrnodeid="<xsl:value-of select="arrChildID" />" 
   fieldname="<xsl:value-of select="$fieldname" />"
   fieldvalue="<xsl:value-of select="$fieldvalue" />"
   tablename="PE_CommonProduct"
   titlelen="<xsl:value-of select="$titlelen" />"
   contentlen="<xsl:value-of disable-output-escaping="yes" select="$contentlen" />"
   page="true" pagesize="10" urlpage="true" span="" class="" /}

	</xsl:otherwise>
</xsl:choose>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>arrnodeid</name>
    <default>0</default>
    <intro>子栏目ID数组</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多显示字符数</intro>
  </attributes>
  <attributes>
    <name>contentlen</name>
    <default>0</default>
    <intro>内容最多显示字符数</intro>
  </attributes>
</root>