<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>40</default>
    <intro>标题字符数</intro>
  </attributes>
  <attributes>
    <name>showupdatetime</name>
    <default>false</default>
    <intro>显示更新时间</intro>
  </attributes>
  <attributes>
    <name>showpic</name>
    <default>false</default>
    <intro>显示小图片</intro>
  </attributes>
  <attributes>
    <name>shownodename</name>
    <default>false</default>
    <intro>显示栏目</intro>
  </attributes>
  <attributes>
    <name>target</name>
    <default>_blank</default>
    <intro>内容打开方式</intro>
  </attributes>
  <attributes>
    <name>node_target</name>
    <default>_blank</default>
    <intro>栏目打开方式</intro>
  </attributes>
  <attributes>
    <name>span_classname</name>
    <default>new</default>
    <intro>小图片CSS</intro>
  </attributes>
  <LabelSqlString>SELECT NodeID,arrChildID  FROM PE_Nodes WHERE NodeID=@parentid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="shownum" />
<xsl:param name="titlelen" />
<xsl:param name="showupdatetime" />
<xsl:param name="showpic" />
<xsl:param name="shownodename" />
<xsl:param name="target" />
<xsl:param name="node_target" />
<xsl:param name="span_classname" />
<xsl:param name="showhits" />
<xsl:param name="days" />
<xsl:param name="sql" />
<xsl:template match="/">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0" >
<ul>
<li>没有相关内容!</li>
</ul>
</xsl:when>
<xsl:otherwise>
{PE.Label id="显示栏目信息排行" arrnodeid="<xsl:value-of select="/NewDataSet/Table/arrChildID"/>" shownum="<xsl:value-of select="$shownum"/>" titlelen="<xsl:value-of select="$titlelen"/>" showupdatetime="<xsl:value-of select="$showupdatetime"/>" showpic="<xsl:value-of select="$showpic"/>" shownodename="<xsl:value-of select="$shownodename"/>" target="<xsl:value-of select="$target"/>" node_target="<xsl:value-of select="$node_target"/>" span_classname="<xsl:value-of select="$span_classname"/>" showhits="<xsl:value-of select="$showhits"/>" days="<xsl:value-of select="$days"/>" sql="<xsl:value-of select="$sql"/>"  /}
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <CacheTime>
  </CacheTime>
  <attributes>
    <name>parentid</name>
    <default>1</default>
    <intro>父栏目ID</intro>
  </attributes>
  <attributes>
    <name>days</name>
    <default>7</default>
    <intro>最近天数</intro>
  </attributes>
  <attributes>
    <name>showhits</name>
    <default>false</default>
    <intro>显示点击数</intro>
  </attributes>
  <attributes>
    <name>sql</name>
    <default>
    </default>
    <intro>附加的查询条件</intro>
  </attributes>
</root>