<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/PE_Path.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString><![CDATA[select NodeID,NodeName,ShowOnList_Parent from PE_Nodes where ParentId=@nodeid and NodeType=1 and PurviewType <> 3 order by OrderID asc]]></LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
找不到相关分类
</xsl:when>
<xsl:otherwise>
<ul>
<xsl:for-each select="/NewDataSet/Table">
<xsl:if test="ShowOnList_Parent='true'">
<li>
<img src="{pe:InstallDir()}images/tree_folder4.gif" />
<a> 
<xsl:attribute name="href">
<xsl:value-of select="pe:GetNodePath('false',NodeID)" />
</xsl:attribute> 
<xsl:value-of select="NodeName"/>
</a>
</li>
{PE.Label id="子栏目" nodeid="<xsl:value-of select="NodeID"/>"/}
</xsl:if>
</xsl:for-each>
</ul>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>nodeid</name>
    <default>1</default>
    <intro>节点ID</intro>
  </attributes>
  <EnabelAjax>False</EnabelAjax>
</root>