<root><LabelType>静态标签</LabelType><LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage><LabelIntro>用于本页显示自定义栏目数，如10个栏目/页，超过此设定时进行分页查看子栏目</LabelIntro><LabelDataType>static</LabelDataType><LabelTemplate>        &lt;!-- 子栏目分页标签开始（用于本页显示自定义栏目数，如10个子栏目，超过此设定时进行分页查看子栏目） --&gt;
        &lt;div class="class_page"&gt; 页次：&lt;b&gt;1&lt;/b&gt;/&lt;b&gt;5&lt;/b&gt;　每页&lt;b&gt;10&lt;/b&gt;　栏目数&lt;b&gt;26&lt;/b&gt;  &lt;font face="Webdings"&gt;9&lt;/font&gt;&lt;font face=Webdings&gt;7 &lt;/font&gt;&lt;font color=#ff0000&gt;[1]&lt;/font&gt; &lt;a href="#"&gt;[2]&lt;/a&gt; &lt;a href="#"&gt;[3]&lt;/a&gt; &lt;a href="#"&gt;[4]&lt;/a&gt; &lt;a href="#"&gt;[5]&lt;/a&gt; &lt;a title=下一页 href="#"&gt;&lt;font face=Webdings&gt;8&lt;/font&gt;&lt;/a&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;a title=最后页 href="#"&gt;&lt;font face=Webdings&gt;:&lt;/font&gt;&lt;/a&gt; 第
          &lt;select name="select"  onchange="javascript:window.location.href=this.options[this.selectedIndex].value" size="1"&gt;
            &lt;option selected&gt;1&lt;/option&gt;
            &lt;option value=88_2.htm&gt;2&lt;/option&gt;
            &lt;option value=88_3.htm&gt;3&lt;/option&gt;
          &lt;/select&gt;
          页 
&lt;/div&gt;
        &lt;!-- 子栏目分页标签结束 --&gt;
</LabelTemplate><OutType>txt</OutType></root>