<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>SELECT TOP 1 C.*,T.* FROM PE_CommonModel C INNER JOIN PE_U_GuestBook T ON C.ItemID=T.ID WHERE C.GeneralID=@itemid</LabelSqlString>
  <LabelTemplate>
  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:output method="xml" />
<xsl:param name="titlelen"/>
<xsl:template match="/">
<xsl:variable name="loginedusername" select="pe:LoginedUserName()"/>
<xsl:variable name="isadminlogined" select="pe:IsAdminLogined()"/>
<Root>
<GeneralID>
<xsl:value-of select="/NewDataSet/Table/GeneralID"/>
</GeneralID>
<NodeID>
<xsl:value-of select="/NewDataSet/Table/NodeID"/>
</NodeID>
<ModelId>
<xsl:value-of select="/NewDataSet/Table/ModelId"/>
</ModelId>
<UpdateTime>
<xsl:value-of select="pe:FormatDate(/NewDataSet/Table/UpdateTime,'yyyy-mm-dd')"/>
</UpdateTime>
<UpdateTime1>
<xsl:value-of select="pe:FormatDate(/NewDataSet/Table/UpdateTime,'yyyy-mm-dd')"/>
</UpdateTime1>
<Title>
<xsl:value-of select="pe:EncodeText(/NewDataSet/Table/Title,'htmlencode')" />
</Title>
<GuestName>
<xsl:value-of select="/NewDataSet/Table/GuestName"/>
</GuestName>
<GuestNameType>
<xsl:choose>
<xsl:when test="/NewDataSet/Table/Inputer=''">
游客
</xsl:when>
<xsl:otherwise>
用户
</xsl:otherwise>
</xsl:choose>
</GuestNameType>
<GuestOicq>
<xsl:value-of select="/NewDataSet/Table/GuestOicq"/>
</GuestOicq>
<GuestMsn>
<xsl:value-of select="/NewDataSet/Table/GuestMsn"/>
</GuestMsn>
<GuestEmail>
<xsl:value-of select="/NewDataSet/Table/GuestEmail"/>
</GuestEmail>
<GuestHomepage>
<xsl:value-of select="/NewDataSet/Table/GuestHomepage"/>
</GuestHomepage>
<GuestImages>
<xsl:choose>
<xsl:when test="/NewDataSet/Table/GuestImages=''">
<xsl:value-of select="pe:InstallDir()"/>Images/Comment/01.gif
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:InstallDir()"/>Images/Comment/<xsl:value-of select="/NewDataSet/Table/GuestImages"/>.gif
</xsl:otherwise>
</xsl:choose>
</GuestImages>
<GuestContent>
        <xsl:choose>
        <xsl:when test="/NewDataSet/Table/GuestIsPrivate = 'false'">
            <xsl:value-of disable-output-escaping="yes" select="/NewDataSet/Table/GuestContent"/>
        </xsl:when>
        <xsl:otherwise>
            <xsl:choose>
            <xsl:when test="(/NewDataSet/Table/Inputer=$loginedusername and $loginedusername!='') or isadminlogined='true'">
                 <xsl:value-of disable-output-escaping="yes" select="/NewDataSet/Table/GuestContent"/>
            </xsl:when>
            <xsl:otherwise>
                  本留言只有留言人和管理员可见！
            </xsl:otherwise>
            </xsl:choose>
         </xsl:otherwise>
         </xsl:choose>

</GuestContent>
<ReplyPath>
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(/NewDataSet/Table/NodeID,/NewDataSet/Table/GeneralID,/NewDataSet/Table/InputTime,/NewDataSet/Table/Title)"/>
</ReplyPath>
<GuestFace>
<xsl:choose>
<xsl:when test="/NewDataSet/Table/GuestFace=''">
<xsl:value-of select="pe:InstallDir()"/>Images/Comment/face1.gif
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:InstallDir()"/>Images/Comment/face<xsl:value-of select="/NewDataSet/Table/GuestFace"/>.gif
</xsl:otherwise>
</xsl:choose>
</GuestFace>
<InfoPath>
&lt;a href="<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(/NewDataSet/Table/NodeID,/NewDataSet/Table/GeneralID,/NewDataSet/Table/InputTime,/NewDataSet/Table/Title)"/>"&gt;
<xsl:value-of select="/NewDataSet/Table/Title" />
&lt;/a&gt;
</InfoPath>
<NodePath>
&lt;a href="<xsl:value-of select="pe:GetNodePath('true',/NewDataSet/Table/NodeID)"/>"&gt;
<xsl:value-of select="pe:GetNode(/NewDataSet/Table/NodeID,'name')" />
&lt;/a&gt;
</NodePath>
<Hits>
&lt;script language="JavaScript" type="text/JavaScript" src="<xsl:value-of select="pe:InstallDir()" />Common/GetHits.aspx?id=<xsl:value-of select="/NewDataSet/Table/GeneralID"/>"&gt;&lt;/script&gt;
</Hits>
</Root>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>itemid</name>
    <default>0</default>
    <intro>留言ID</intro>
  </attributes>
  <OutType>
  </OutType>
  <CacheTime>0</CacheTime>
  <attributes>
    <name>titlelen</name>
    <default>50</default>
    <intro>标题最多字符数</intro>
  </attributes>
</root>