<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝网站顶部静态标签</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[<!-- 顶部 -->

<div id="top_all">
  <div id="head">
      <div id="logo"><a href="{PE.SiteConfig.ApplicationPath/}"><img src="{PE.SiteConfig.logo/}" border="0" alt="logo" /></a></div>
    <div id="top_link">
      <ul>
        <li>·<a href="{PE.SiteConfig.applicationpath/}rss/rss.aspx">RSS</a> ·<a href="{PE.SiteConfig.applicationpath/}wap/wap.aspx">WAP</a> ·<a href="javascript:window.external.addFavorite('{PE.SiteConfig.SitePath /}','{PE.SiteConfig.SiteName /}');">加入收藏</a> ·<a onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('{PE.SiteConfig.SitePath /}');" href="#">设为首页</a></li>
        <li></li>
        <li>
          <marquee onMouseOver="this.stop()" onMouseOut="this.start()" scrollamount="1" scrolldelay="4" align="left">
          {PE.Label id="网站公告横向" /}
          </marquee>
          &nbsp;&nbsp;&nbsp;&nbsp;{PE.SiteConfig.TimeNow /}</li>
      </ul>
    </div>
	<div class="clearbox"></div>
  </div>
  <div id="menu">
    <div id="menubox_pic"> </div>
    <div id="menubox"><a href="{PE.SiteConfig.applicationpath/}">网站首页</a>{PE.Label id="根栏目列表" num="40" colnum="15" showtips="true" titlelen="20" NodeID="0" target="_self" splitchar="" /}</div>
  </div>
</div>
<!-- 中部 -->]]></LabelTemplate>
  <OutType>txt</OutType>
</root>