<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝网站调查静态标签</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[      <div class="left_box">
        <dl>
          <dt>网站调查</dt>
          <dd>
            <script type="text/javascript" src='{PE.SiteConfig.applicationpath/}Analytics/CounterLink.aspx?Style=all'></script>
          </dd>
        </dl>
      </div>]]></LabelTemplate>
  <OutType>txt</OutType>
</root>