<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝网站统计静态标签</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[<div class="left_box">
        <dl>
          <dt>网站统计</dt>
          <dd>
            <ul>
<script src='{PE.SiteConfig.ApplicationPath/}Analytics/CounterLink.aspx?Style=all'></script>
<a href='{PE.SiteConfig.ApplicationPath/}Analytics/ShowOnline.aspx' target='_blank'>查阅网站在线详情 >></a>
            <ul>
          </dd>
        </dl>
      </div>]]></LabelTemplate>
  <OutType>txt</OutType>
</root>