<?xml version="1.0"?>
<root>
  <LabelType>其它标签</LabelType>
  <LabelIntro>在前台显示转入后台编辑的按钮，只有有权限才会显示</LabelIntro>
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate>
        <![CDATA[<span id="content_AdminEdit"></span>
<script type="text/javascript">
	function CheckAdminStatus(id)
	{
		var x=new AjaxRequest('XML','');
		x.para = ['itemid='+id];
		x.post('admineditcheck','{PE.SiteConfig.applicationpath/}ajax.aspx',function(s)
		{
			var xml = x.createXmlDom(s);
			var  status = xml.getElementsByTagName("status")[0].firstChild.data;
			
			if(status=='OK')
			{
        var  managedir = "{PE.SiteConfig.applicationpath/}Common/GetContentEdit.aspx?ItemId=<xsl:value-of select="$ItemId"/>" ;
				$("content_AdminEdit").innerHTML = "【<a href='" + managedir + "' target='_blank'>进入后台编辑</a>】";
			}
		});
	}
  CheckAdminStatus(<xsl:value-of select="$ItemId"/>);
</script>]]></LabelTemplate>
  <attributes>
    <name>ItemId</name>
    <default>0</default>
    <intro>内容ID</intro>
  </attributes>
</root>