<?xml version="1.0"?>
<root>
  <LabelType>其它标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>itemid</name>
    <default>1</default>
    <intro>文章ID</intro>
  </attributes>
  <attributes>
    <name>titlefonttype</name>
    <default>常规</default>
    <intro>标题字型</intro>
  </attributes>
  <LabelSqlString>SELECT Title FROM PE_CommonModel WHERE GeneralId=@itemid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="titlefonttype" />
<xsl:template match="/NewDataSet/Table">
<xsl:choose>
<xsl:when test="$titlefonttype='粗体'">
font-weight:bold;font-style:normal;
</xsl:when>
<xsl:when test="$titlefonttype='斜体'">
font-weight:normal ;font-style:italic ;
</xsl:when>
<xsl:when test="$titlefonttype='粗体+斜体'">
font-weight:bold;font-style:italic ;
</xsl:when>
<xsl:when test="$titlefonttype='常规'">
font-weight:normal ;font-style:normal;
</xsl:when>
<xsl:otherwise>
font-weight:normal ;font-style:normal;
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>