<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝软件节点左侧</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[    <div id="main_left">
{PE.Label id="CMS用户登录" /}
      <div class="left_box">
        <dl>
          <dt>本周下载排行</dt>
          <dd> 
{PE.Label id="栏目信息排行" shownum="20" titlelen="22" showupdatetime="false" showpic="true" shownodename="false" target="_blank" node_target="_blank" span_classname="new" parentid="@RequestInt_id" days="7" showhits="true" /}
          </dd>
        </dl>
      </div>
      <div class="left_box">
        <dl>
          <dt>本月下载排行</dt>
          <dd> 
{PE.Label id="栏目信息排行" shownum="20" titlelen="22" showupdatetime="false" showpic="true" shownodename="false" target="_blank" node_target="_blank" span_classname="new" parentid="@RequestInt_id" days="30" showhits="true" /}
          </dd>
        </dl>
      </div>
      <div class="left_box">
        <dl>
          <dt>特别推荐</dt>
          <dd> <script type="text/javascript" src="{PE.SiteConfig.ApplicationPath /}{PE.SiteConfig.includefilepath /}/EliteSoft.js"></script>		  </dd>
        </dl>
      </div>
      <div class="left_box">
        <dl>
          <dt>热门软件</dt>
          <dd><script type="text/javascript" src="{PE.SiteConfig.ApplicationPath /}{PE.SiteConfig.includefilepath /}/HotSoft.js"></script>
          </dd>
        </dl>
      </div>
    </div>
    <div class="clearbox"> </div>
]]></LabelTemplate>
  <OutType>txt</OutType>
</root>