<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>parentid</name>
    <default>3</default>
    <intro>父栏目ID</intro>
  </attributes>
  <UsePage>True</UsePage>
  <LabelSqlString>SELECT Top @pagesize PE_Nodes.* FROM PE_Nodes WHERE NodeID NOT IN (SELECT TOP @startrow NodeID FROM PE_Nodes where ParentID = @parentid AND ShowOnList_Parent=1 order by OrderID) and (ParentID = @parentid) AND ShowOnList_Parent=1 order by OrderID</LabelSqlString>
  <LabelSqlCount>select count(*) from PE_Nodes where ParentID = @parentid AND ShowOnList_Parent=1</LabelSqlCount>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<!-- 定义参数 -->
<xsl:param name="parentid"/>
<xsl:param name="titlelen"/>
<xsl:param name="opentype" />
<xsl:template match="/NewDataSet">
<!-- 一列式栏目上下循环样式开-->
	 <xsl:choose>
	 <xsl:when test="count(Table) = 0">
	 <li>本栏尚无内容!
	 </li>
	 </xsl:when>
	 <xsl:otherwise>
		<xsl:for-each select="Table">
			<div class="childclass_main_box2">
				<div class="c_spacing">
				</div>
				<div class="childclass_title_border">
				   <div class="more">
					 <a>
					  <xsl:attribute name="href">
					  <xsl:value-of select="pe:GetNodePath('true',NodeID)"/>
					  </xsl:attribute> 
					  [更多]
					 </a>
				   </div>
				   <a> 
					<xsl:attribute name="href">
					<xsl:value-of select="pe:GetNodePath('true',NodeID)"/>
					</xsl:attribute>
					<xsl:value-of select="pe:GetNode(NodeID,'name')"/>
					</a>
				</div>
				<div class="s_classlist_title">
				  <div class="s_classlist_title_r">软件大小</div>
				  <div class="s_classlist_title_c">更新日期</div>
				  <div class="s_classlist_title_l">授权  软件分类  软件名称</div>
				</div>

				{PE.DataSource id="InfoList<xsl:value-of select="NodeID"/>" datasource="显示软件栏目循环列表信息"  page="true"  pagesize="10" pagemain="true" urlpage="true" arraynodeid="<xsl:value-of select="arrChildID"/>" parentid="<xsl:value-of select="ParentID"/>"  titlelen="<xsl:value-of select="$titlelen"/>" opentype="<xsl:value-of select="$opentype"/>" xslt="true" /}
				{PE.Repeat id="InfoList<xsl:value-of select="NodeID"/>" loop="1000"}
					<div class="s_classlist_text">
						<div class="s_classlist_text_r">
						 {PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="SoftSize" /}
						</div>
						<div class="s_classlist_text_c">
						 {PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="UpdateTime" /}
						</div>
						<div class="s_classlist_text_l">
						{PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="CopyrightType" /}
						[{PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="SoftType" /}]
						{PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="InfoPath" /}
						</div>
					</div>
				{/PE.Repeat}

		  </div>
		</xsl:for-each>
	 </xsl:otherwise>
	 </xsl:choose>
<!-- 一列式栏目上下循环样式结束 -->
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>每栏目显示内容数</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <attributes>
    <name>opentype</name>
    <default>_blank</default>
    <intro>打开方式</intro>
  </attributes>
  <EnabelAjax>False</EnabelAjax>
</root>