<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>parentid</name>
    <default>3</default>
    <intro>父栏目ID</intro>
  </attributes>
  <UsePage>
  </UsePage>
  <LabelSqlString>SELECT Top 1 * FROM PE_Nodes WHERE NodeID = @parentid</LabelSqlString>
  <LabelSqlCount>select count(*) from PE_Nodes where ParentID = @parentid</LabelSqlCount>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<!-- 定义参数 -->
<xsl:param name="parentid" />
<xsl:param name="titlelen"/>
<xsl:param name="hits"/>
<xsl:param name="elitelevel"/>
<xsl:param name="tablename"/>
<xsl:param name="arraynodeid"/>
<xsl:param name="mypage"/>
<xsl:param name="mypagesize"/>
<xsl:param name="opentype" />
<xsl:template match="/NewDataSet">
<!-- 子栏目列表样式开始 -->
<div class="childclasslist_box">
	<div class="c_main_box">
	<div class="class_title">
	<span class="childclass_pic">
	</span>
	<xsl:value-of select="pe:GetNode($parentid,'name')"/>
	</div>

	<xsl:choose>
		<xsl:when test="count(Table) = 0">
		<li>本栏尚无内容!
		</li>
		</xsl:when>
		<xsl:otherwise>
                      <xsl:choose>
                      <xsl:when test="$arraynodeid='0'">
                      {PE.DataSource id="InfoList" datasource="显示软件栏目循环列表信息_分页"  page="<xsl:value-of select="$mypage"/>"  pagesize="<xsl:value-of select="$mypagesize"/>" urlpage="true"  arraynodeid="<xsl:value-of select="Table/arrChildID"/>" parentid="<xsl:value-of select="$parentid"/>"  titlelen="<xsl:value-of select="$titlelen"/>"  hits="<xsl:value-of select="$hits"/>"  elitelevel="<xsl:value-of select="$elitelevel"/>" tablename="<xsl:value-of select="$tablename"/>" opentype="<xsl:value-of select="$opentype"/>" xslt="true" /}
                      </xsl:when>
                      <xsl:otherwise>
                      {PE.DataSource id="InfoList" datasource="显示软件栏目循环列表信息_分页"  page="<xsl:value-of select="$mypage"/>"  pagesize="<xsl:value-of select="$mypagesize"/>" urlpage="true"  arraynodeid="<xsl:value-of select="$arraynodeid"/>" parentid="<xsl:value-of select="$parentid"/>"  titlelen="<xsl:value-of select="$titlelen"/>"  hits="<xsl:value-of select="$hits"/>"  elitelevel="<xsl:value-of select="$elitelevel"/>" tablename="<xsl:value-of select="$tablename"/>" opentype="<xsl:value-of select="$opentype"/>" xslt="true" /}
                      </xsl:otherwise>
                      </xsl:choose>
			
			{PE.Repeat id="InfoList" loop="1000"}
				<div class="childclasslist_title">
					<div class="childclasslist_time">
					更新时间：{PE.field id="InfoList" fieldname="UpdateTime" /}
					</div>
					{PE.field id="InfoList" fieldname="InfoPath" /}
				</div>
				<div class="childclasslist_text">
					<div class="c_content_overflow">
					[简介]{PE.field id="InfoList" fieldname="SoftIntro" /}
					</div>
					</div>
					<div class="childclasslist_type">
					大小：<span class="s_font_weight">
					{PE.field id="InfoList" fieldname="SoftSize" /}
					</span>　
					<span class="s_font_weight">|</span>　
					平台：<span class="s_font_weight">
					{PE.field id="InfoList" fieldname="OperatingSystem" /}
					</span>　
					<span class="s_font_weight">|</span>　
					授权：<span class="s_font_red">
					{PE.field id="InfoList" fieldname="CopyrightType" /}
					</span>　
					<span class="s_font_weight">|</span>　
					软件评级：<span class="s_font_green">
					{PE.field id="InfoList" fieldname="Stars" /}
					</span>
					<br />
					版本：<span class="s_font_weight">
					{PE.field id="InfoList" fieldname="SoftVersion" /}
					</span>　
					<span class="s_font_weight">|</span>　
					语言：<span class="s_font_weight">
					{PE.field id="InfoList" fieldname="SoftLanguage" /}
					</span>　
					<span class="s_font_weight">|</span>　
					人气：<span class="s_font_red">
					{PE.field id="InfoList" fieldname="Hits" /}
					</span>　
					<span class="s_font_weight">|</span>　
					软件类别：<span class="s_font_green">
					{PE.field id="InfoList" fieldname="SoftType" /}
					</span> 
				</div>
			{/PE.Repeat}
		</xsl:otherwise>
	</xsl:choose>
	</div>
</div>
<!-- 子栏目列表样式结束 -->
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <attributes>
    <name>hits</name>
    <default>0</default>
    <intro>最小热门点击数</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐优先级</intro>
  </attributes>
  <attributes>
    <name>tablename</name>
    <default>PE_U_Soft</default>
    <intro>所属表名</intro>
  </attributes>
  <attributes>
    <name>arraynodeid</name>
    <default>0</default>
    <intro>栏目数组 0-所有 1,2,3-指定的栏目数ID</intro>
  </attributes>
  <attributes>
    <name>mypage</name>
    <default>true</default>
    <intro>是否分页</intro>
  </attributes>
  <attributes>
    <name>mypagesize</name>
    <default>12</default>
    <intro>每页分页数</intro>
  </attributes>
  <attributes>
    <name>opentype</name>
    <default>_blank</default>
    <intro>打开方式</intro>
  </attributes>
</root>