<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>SELECT TOP 1 PE_CommonModel.*,PE_U_Soft.*  FROM PE_CommonModel INNER JOIN PE_U_Soft ON PE_CommonModel.ItemID = PE_U_Soft.ID  WHERE  (PE_CommonModel.GeneralID = @itemid) AND PE_CommonModel.Status=99</LabelSqlString>
  <LabelTemplate>
  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:output method="xml" />
<xsl:template match="/">
<root>
<GeneralID>
<xsl:value-of select="/NewDataSet/Table/GeneralID"/>
</GeneralID>
<NodeID>
<xsl:value-of select="/NewDataSet/Table/NodeID"/>
</NodeID>
<Title>
<xsl:value-of select="pe:EncodeText(/NewDataSet/Table/Title,'htmlencode')"/>
</Title>
<SoftSize>
<xsl:value-of select="pe:ConvertSoftSize(/NewDataSet/Table/SoftSize)"/>
</SoftSize>
<SoftSizeUnit>
<xsl:value-of select="pe:ConvertSizeToShow(/NewDataSet/Table/SoftSize)"/>
</SoftSizeUnit>
<Hits>
&lt;script language="JavaScript" type="text/JavaScript" src="<xsl:value-of select="pe:InstallDir()" />Common/GetHits.aspx?hitstype=hits&amp;id=<xsl:value-of select="/NewDataSet/Table/GeneralID"/>"&gt;&lt;/script&gt;
</Hits>
<DayDownLoadTimes>
&lt;script language="JavaScript" type="text/JavaScript" src="<xsl:value-of select="pe:InstallDir()" />Common/GetHits.aspx?hitstype=dayhits&amp;id=<xsl:value-of select="/NewDataSet/Table/GeneralID"/>"&gt;&lt;/script&gt;
</DayDownLoadTimes>
<WeekDownLoadTimes>
&lt;script language="JavaScript" type="text/JavaScript" src="<xsl:value-of select="pe:InstallDir()" />Common/GetHits.aspx?hitstype=weekhits&amp;id=<xsl:value-of select="/NewDataSet/Table/GeneralID"/>"&gt;&lt;/script&gt;
</WeekDownLoadTimes>
<MonthDownLoadTimes>
&lt;script language="JavaScript" type="text/JavaScript" src="<xsl:value-of select="pe:InstallDir()" />Common/GetHits.aspx?hitstype=monthhits&amp;id=<xsl:value-of select="/NewDataSet/Table/GeneralID"/>"&gt;&lt;/script&gt;
</MonthDownLoadTimes>
<BrowseTimes>
&lt;script language="JavaScript" type="text/JavaScript" src="<xsl:value-of select="pe:InstallDir()" />Common/GetBrowseTimes.aspx?id=<xsl:value-of select="/NewDataSet/Table/GeneralID"/>"&gt;&lt;/script&gt;
</BrowseTimes>
<SoftVersion>
<xsl:value-of select="/NewDataSet/Table/SoftVersion"/>
</SoftVersion>
<SoftLanguage>
<xsl:value-of select="/NewDataSet/Table/SoftLanguage"/>
</SoftLanguage>
<Stars>
<xsl:value-of select="/NewDataSet/Table/Stars"/>
</Stars>
<Author>
<xsl:value-of select="/NewDataSet/Table/Author"/>
</Author>
<KeyWord>
<xsl:value-of select="pe:EncodeText(pe:ReplaceText(/NewDataSet/Table/Keyword, '|',','),'htmlencode')"/>
</KeyWord>
<CopyFrom>
<xsl:value-of select="/NewDataSet/Table/CopyFrom"/>
</CopyFrom>
<SoftType>
<xsl:value-of select="/NewDataSet/Table/SoftType"/>
</SoftType>
<CopyrightType>
<xsl:value-of select="/NewDataSet/Table/CopyrightType"/>
</CopyrightType>
<DecompressPassword>
<xsl:value-of select="/NewDataSet/Table/DecompressPassword"/>
</DecompressPassword>
<OperatingSystem>
<xsl:value-of select="/NewDataSet/Table/OperatingSystem"/>
</OperatingSystem>
<UpdateTime>
<xsl:value-of select="pe:FormatDate(/NewDataSet/Table/UpdateTime,'yyyy年mm月dd日')"/>
</UpdateTime>
<RegUrl>
<xsl:value-of select="/NewDataSet/Table/RegUrl"/>
</RegUrl>
<DemoUrl>
<xsl:value-of select="/NewDataSet/Table/DemoUrl"/>
</DemoUrl>
<DefaultPicUrl >
<xsl:choose>
<xsl:when test="/NewDataSet/Table/DefaultPicUrl !=''">
<xsl:if test="pe:IsStartWithhttp(/NewDataSet/Table/DefaultPicUrl)='false'">
<xsl:value-of select="pe:UpLoadDir()"/>
</xsl:if>
<xsl:value-of select="/NewDataSet/Table/DefaultPicUrl"/>
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:UpLoadDir()"/>nopic.gif
</xsl:otherwise>
</xsl:choose>
</DefaultPicUrl >
<SoftIntroEncode>
<xsl:value-of select="pe:EncodeText(pe:RemoveHtml(/NewDataSet/Table/SoftIntro),'htmlencode')" />
</SoftIntroEncode>
<SoftIntro>
<xsl:value-of disable-output-escaping="yes" select="/NewDataSet/Table/SoftIntro" />
</SoftIntro>
<DownloadUrl>
<xsl:value-of select="/NewDataSet/Table/DownloadUrl"/>
</DownloadUrl>
</root>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>itemid</name>
    <default>3160</default>
    <intro>文章ID</intro>
  </attributes>
  <OutType>
  </OutType>
  <CacheTime>0</CacheTime>
</root>