<?xml version="1.0"?>
<root>
  <LabelType>内容右侧</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[{PE.Label id="CMS用户登录" /}      
      {PE.Label id="雅灰本月排行" /}
      
      <table class="r_main" cellspacing="0">
      <tr>
      <td class="r_main_title"> 特别推荐 </td>
      </tr>
      <tr>
      <td class="r_main_content">
      {PE.Label id="栏目热门推荐" shownum="10" days="30" fieldname="EliteLevel" fieldvalue="5" titlelen="24" /}	  </td>
      </tr>
      </table>
      <!-- 特别推荐结束 -->
      
      <table class="r_main" cellspacing="0">
      <tr>
      <td class="r_main_title"> 全站热门 </td>
      </tr>
      <tr>
      <td class="r_main_content">
      {PE.Label id="栏目热门推荐" shownum="10" days="30" fieldname="Hits" fieldvalue="10" titlelen="24" /}	  </td>
      </tr>
      </table>
      <!-- 热门软件结束 -->
      <!-- 网站调查结束 -->
      <table class="r_main edge_bot" cellspacing="0">
      <tr>
      <td class="r_main_title"> 软件统计 </td>
      </tr>
      <tr>
      <td class="r_main_content">
      <ul>
      </ul>
      </td>
      </tr>
      </table>
      <!-- 软件统计结束 -->]]></LabelTemplate>
</root>