<?xml version="1.0"?>
<root>
  <LabelType>内容右侧</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate>{PE.Label id="CMS用户登录" /}
{PE.Label id="雅灰本月排行" /}
{PE.Label id="雅灰用户列表" listnum="10" /}
{PE.Label id="雅灰网站统计" /}</LabelTemplate>
</root>