<?xml version="1.0"?>
<root>
  <LabelType>雅灰模板方案</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[        <!-- 配送范围开始 -->
        <div class="p_scope">
          <dl>
            <dt>配送范围</dt>
            <dd>
              <ul>
                <li><a href="#">北京 上海 广州</a></li>
                <li><a href="#">华北区 华东区 华南区</a></li>
                <li><a href="#">其他地区邮寄服务</a></li>
                <li><a href="#">海外UPS服务</a></li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>售后服务</dt>
            <dd>
              <ul>
                <li><a href="#">退换货原则</a></li>
                <li><a href="#">退换货处理</a></li>
                <li><a href="#">具体说明</a></li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>我的订单</dt>
            <dd>
              <ul>
                <li><a href="#">如何查询订单情况</a></li>
                <li><a href="#">怎样下订单</a></li>
                <li><a href="#">订单有效期限</a></li>
                <li><a href="#">配送费收取标准</a></li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>如何交款</dt>
            <dd>
              <ul>
                <li><a href="#">付款方式</a></li>
                <li><a href="#">汇款单招领</a></li>
                <li><a href="#">如何使用虚拟账户</a></li>
                <li><a href="#">预售商品订购方法</a></li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>需要帮助</dt>
            <dd>
              <ul>
                <li><a href="#">忘记了密码</a></li>
                <li><a href="#">常见问题</a></li>
                <li><a href="#">联系客服</a></li>
              </ul>
            </dd>
          </dl>
          <div class="clearbox"> </div>
        </div>
        <!-- 配送范围结束 -->]]></LabelTemplate>
</root>