<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅灰网站公告</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[<div id="announce_crosswise">
  {PE.Label id="公告列表" shownum="5" showtime="true" titlelen="20" showauthor="true" target="_blank" showcontent="false" contentlen="0" contenttype="html" /}
</div>]]></LabelTemplate>
  <OutType>txt</OutType>
</root>