<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>parentid</name>
    <default>1</default>
    <intro>父栏目ID</intro>
  </attributes>
  <UsePage>
  </UsePage>
  <LabelSqlString>SELECT Top 1 * FROM PE_Nodes WHERE NodeID = @parentid</LabelSqlString>
  <LabelSqlCount>select count(*) from PE_Nodes where ParentID = @parentid</LabelSqlCount>
  <LabelTemplate>
					<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<!-- 定义参数 -->
<xsl:param name="parentid"/>
<xsl:param name="titlelen"/>
<xsl:param name="showpropertytype"/>
<xsl:param name="showincludepic"/>
<xsl:param name="showauthor"/>
<xsl:param name="showdatetype"/>
<xsl:param name="showhits"/>
<xsl:param name="showhotsign"/>
<xsl:param name="shownewsign"/>
<xsl:param name="showtips"/>
<xsl:param name="showcommentlink"/>
<xsl:param name="opentype"/>
<xsl:param name="hits"/>
<xsl:param name="elitelevel"/>

<xsl:template match="/NewDataSet">
<!-- 子栏目列表样式开始 -->

	<div class="c_main_box edge_top">
		<div class="childclass_title">
			<span class="childclass_pic">
			</span>
			<xsl:value-of select="pe:GetNode($parentid,'name')"/>	  
		</div>
		<div class="childclass_content">
			<ul>
			<xsl:choose>
				<xsl:when test="count(Table) = 0">
				<li>本栏尚无内容!
				</li>
				</xsl:when>
				<xsl:otherwise>
				{PE.DataSource id="InfoList" datasource="显示公告栏目循环列表信息_分页"  page="true"  pagesize="10" urlpage="true" pagemain="true"  arraynodeid="<xsl:value-of select="Table/arrChildID"/>" parentid="<xsl:value-of select="$parentid"/>"  titlelen="<xsl:value-of select="$titlelen"/>"  hits="<xsl:value-of select="$hits"/>"  elitelevel="<xsl:value-of select="$elitelevel"/>"  xslt="true" /}
				  {PE.Repeat id="InfoList" loop="1000"}
						{PE.field id="InfoList" fieldname="IncludePic" /}
						[{PE.field id="InfoList" fieldname="NodePath" /}]
						{PE.field id="InfoList" fieldname="InfoPath" /}
						({PE.field id="InfoList" fieldname="Hits" /})
						{PE.field id="InfoList" fieldname="UpdateTime" /}<br />
				  {/PE.Repeat}
				</xsl:otherwise>
			</xsl:choose>
			</ul>
			<div class="clearbox">
			</div>
		</div>
		<div class="childclass_bot">
		</div>
	</div>

<!-- 子栏目列表样式结束 -->
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>每栏目显示文章数</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <attributes>
    <name>showdatetype</name>
    <default>mm-dd</default>
    <intro>日期显示方式</intro>
  </attributes>
  <attributes>
    <name>opentype</name>
    <default>_blank</default>
    <intro>打开方式</intro>
  </attributes>
  <attributes>
    <name>hits</name>
    <default>0</default>
    <intro>热门最小点击数</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐优先级</intro>
  </attributes>
</root>