<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅灰网站顶部静态标签</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[<!-- 顶部导航 -->
            <table id="top_head" cellspacing="0">
            <tr>
            <td class="time">{PE.SiteConfig.TimeNow /}</td>
            <td class="rss"> ·<a href="{PE.SiteConfig.applicationpath/}rss/rss.aspx">RSS</a> ·<a href="{PE.SiteConfig.applicationpath/}wap/wap.aspx">WAP</a> ·<a href="javascript:window.external.addFavorite('{PE.SiteConfig.SitePath /}','{PE.SiteConfig.SiteName /}');">加入收藏</a> ·<a onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('{PE.SiteConfig.SitePath /}');" href="#">设为首页</a></td>
            </tr>
            </table>
            <!-- 顶部 top_all 开始 -->
            <table id="top_all" cellspacing="0">
            <tr>
            <td><!-- logo和Banner -->
            <table id="head" cellspacing="0">
            <tr>
            <td><a href="#"><img src="{PE.SiteConfig.logo/}" alt="logo" width="215" height="82" /></a></td>
            <td class="right"><img src="{PE.SiteConfig.banner/}" alt="banner" /></td>
            </tr>
            </table>
            <!-- 根栏目列表 -->
            <table id="menu" cellspacing="0">
            <tr>
            <td> <a href="{PE.SiteConfig.applicationpath/}">网站首页</a>{PE.Label id="雅灰根栏目列表" num="40" colnum="15" showtips="false" titlelen="20" NodeId="@RequestInt_id" target="_self" splitchar="" /} </td>
            </tr>
            </table></td>
            </tr>
            </table>
            <!-- 顶部 top_all 结束 -->]]></LabelTemplate>
  <OutType>txt</OutType>
</root>