<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝内容评论PK标签</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[    <!-- PK评论列表开始 -->
    {PE.Label id="评论列表" gid="@RequestInt_id" listnum="10" page="true" pagesize="10" urlpage="true" span="div" class="" /}
    <div style="padding-right: 4px; text-align: right;"> {PE.Page id="JS_基本风格" datasource="评论列表" span="span"/} </div>
    <!-- PK评论列表结束 -->
    <div class="c_spacing"> </div>
    <!-- PK评论开始 -->
    <div class="article_PK">
      <dl>
        <dt>
          <div class="PK_mouseover" id="Positon1" onClick="SetPosition(1)">
            <dl>
              我支持
            </dl>
          </div>
          <div class="PK_title" id="Positon0" onClick="SetPosition(0)">
            <dl>
              我中立
            </dl>
          </div>
          <div class="PK_title" id="Positon-1" onClick="SetPosition(-1)">
            <dl>
              我反对
            </dl>
          </div>
          <div class="PK_statement">本评论只代表网友个人观点，不代表本站观点。</div>
        </dt>
        <dd id="indiv">
          {PE.Label id="发表评论用户信息" generalid="@RequestInt_id" span="" class="" /}
        </dd>
      </dl>
    </div>
    <div id="status"> </div>
	<script type="text/javascript">
	function setguest()
    {
        if($("guest").checked)
        {
            $("spanusername").style.display = 'none';
            $("spanemail").style.display = 'none';
            //$("open").style.display = 'none';

        }
        else
        {
            $("spanusername").style.display = '';
            $("spanemail").style.display = '';
            //$("open").style.display = '';
        }
    }
	
	function ChangeStar(index, isfixed){
         var colStars = document.getElementById("divStars").getElementsByTagName("input");
         var i = 0;
         var k = isfixed? parseInt(document.getElementById("score").value) : index;

         for(i=0; i<colStars.length; i++){
                 colStars[i].src = (i<k? "{PE.SiteConfig.applicationpath/}Images/fstar.gif" : "{PE.SiteConfig.applicationpath/}Images/estar.gif");
         }
	}

	function StarClick(index)
	{
			 document.getElementById("score").value=index;
	}

	function StarMouseOver(index){
			 ChangeStar(index,false);
	}

	function StarMouseOut(){
			 ChangeStar(0,true);
	}
	   </script>
    <!-- PK评论结束 -->
]]></LabelTemplate>
  <OutType>txt</OutType>
</root>