<root>
  <LabelType>雅灰模板方案</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
    <LabelIntro>雅灰网站底部静态标签</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[<!-- 底部 bottom_all 开始 -->
<table id="bottom_all">
  <!-- 底部广告 -->
  <tr>
    <td><table class="b_ad" cellspacing="0">
  <tr>
    <td><img src="{PE.SiteConfig.ApplicationPath /}Skin/Default/images/banner2.gif" border="0" alt="banner" /></td>
  </tr>
</table>
{PE.Label id="雅灰友情链接" /} 
<table id="foot" cellspacing="0">
        <tr>
          <td id="menu_link">
<a href="mailto:{PE.SiteConfig.WebmasterEmail /}">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{PE.SiteConfig.ApplicationPath/}category_7/index.aspx">网站留言</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{PE.SiteConfig.ApplicationPath /}category_6/index.aspx">友情链接</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{PE.SiteConfig.ApplicationPath /}Category_8/index.aspx">版权声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{PE.SiteConfig.ApplicationPath /}{PE.SiteConfig.ManageDir /}/Index.aspx" target="_blank">管理登录</a>
</td>
        </tr>
        <tr>
        <td id="copyright">{PE.SiteConfig.CopyRight /}</td>
        </tr>
      </table></td>
  </tr>
</table>
<!-- 底部 bottom_all 结束 -->
   ]]></LabelTemplate>
  <OutType>txt</OutType>
</root>