<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅灰首页右侧下部静态标签</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[{PE.Label id="雅灰本月排行" /}
            <table class="r_main" cellspacing="0">
            <tr>
            <td class="r_main_title"> 本站专题 </td>
            </tr>
            <tr>
            <td class="r_main_content"><ul>
            {PE.Label id="专题类别列表" shounum="10" span="" class="" /}
            </ul></td>
            </tr>
            </table>
            <!-- 本站专题结束 -->
            {PE.Label id="雅灰用户列表" listnum="10" /}
            <!-- 用户列表结束 -->
            {PE.Label id="雅灰网站统计" /}]]></LabelTemplate>
  <OutType>txt</OutType>
</root>