<root>
  <LabelType>雅灰模板方案</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝网站调查静态标签</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate>
					<![CDATA[
            <table class="r_main" cellspacing="0">
              <tr>
                <td class="r_main_title"> 网站调查 </td>
              </tr>
              <tr>
                <td class="r_main_content">
                  <script type="text/javascript" src='{PE.SiteConfig.applicationpath/}Analytics/CounterLink.aspx?Style=all'></script>
                </td>
              </tr>
            </table>
      ]]></LabelTemplate>
  <OutType>txt</OutType>
</root>