<root>
  <LabelType>雅灰模板方案</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝网站统计静态标签</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[
            <table class="r_main edge_bot" cellspacing="0">
              <tr>
                <td class="r_main_title"> 网站统计 </td>
              </tr>
              <tr>
                <td class="r_main_content">
            <ul>
<script src='{PE.SiteConfig.ApplicationPath /}Analytics/CounterLink.aspx?Style=all'></script>
<a href='{PE.SiteConfig.ApplicationPath /}Analytics/ShowOnline.aspx' target='_blank'>查阅网站在线详情 >></a>
            </ul>
                </td>
              </tr>
            </table>
      ]]></LabelTemplate>
  <OutType>txt</OutType>
</root>