<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝网站公告垂直</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[<div id="announce_vertical">
                  {PE.Label id="公告列表" shownum="1" showtime="true" titlelen="20" showauthor="true" target="_blank" showcontent="true" contentlen="200" contenttype="html" /}
<ul><li class="announce_author"><a href="{PE.SiteConfig.ApplicationPath/}Category_5/index_1.aspx">更多...</a></li></ul>
                </div>]]></LabelTemplate>
  <OutType>txt</OutType>
</root>