<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="UTF-8">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="{PE.Label id="网站信息配置中的关键字" /}" name="Keywords" />
<meta content="{PE.Label id="网站信息配置中网站描述" /}" name="Description"/>
<title>在线支付第三步-{PE.SiteConfig.sitename /}</title>
<link href="{PE.SiteConfig.ApplicationPath /}Skin/Gray/default.css" rel="stylesheet" type="text/css" />
<link href="{PE.SiteConfig.ApplicationPath /}Skin/Gray/product.css" rel="stylesheet" type="text/css" />
<script src="{PE.SiteConfig.ApplicationPath /}js/common.js" type="text/javascript" language="javascript"></script>
<script src="{PE.SiteConfig.ApplicationPath /}js/slider.js" type="text/javascript" language="javascript"></script>
</head>
<body>
{PE.label id="雅灰网站顶部" /}
<!-- 中部网站导航 -->
<table class="center_all" cellspacing="0">
  <tr>
    <td>
      <table id="r_navigation" cellspacing="0">
        <tr>
          <td class="r_n_pic"></td>
          <td class="logo_nav">您现在的位置：{PE.SiteConfig.sitename/} >> 在线支付</td>
          <td id="top_link">
            <ul>
              <li>
                <marquee onmouseover="this.stop()" onmouseout="this.start()" scrollamount="1" scrolldelay="4" align="left">
                {PE.Label id="雅灰网站公告横向" /}
                </marquee>
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="center_all" cellspacing="0">
  <tr>
    <td>
      <table class="main" cellspacing="0">
        <tr>
          <td class="p_main_left">
            {PE.Control.form1/}
          </td>
          <td width="5"></td>
          <td class="main_right"> {PE.Label id="雅灰商店右侧" /} </td>
        </tr>
      </table>
      <!-- main 结束 -->
    </td>
  </tr>
</table>
<!-- center_all 结束 -->
{PE.Label id="雅灰网站底部" /}
</body>
</html>
