<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="UTF-8">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>快速登录注册页-{PE.SiteConfig.sitename /}</title>
<link href="{PE.SiteConfig.ApplicationPath /}Skin/Gray/default.css" rel="stylesheet" type="text/css" />
<link href="{PE.SiteConfig.ApplicationPath/}Skin/Gray/product.css" rel="stylesheet" type="text/css" />
<link href="{PE.SiteConfig.ApplicationPath/}Skin/Gray/user.css" rel="stylesheet" type="text/css" />
<script src="{PE.SiteConfig.ApplicationPath /}js/common.js" type="text/javascript" language="javascript"></script>
<script src="{PE.SiteConfig.ApplicationPath /}js/slider.js" type="text/javascript" language="javascript"></script>
</head>
<body>
{PE.label id="雅灰网站顶部" /}
<!-- 中部网站导航 -->
<table class="center_all" cellspacing="0">
    <tr>
        <td><table id="r_navigation" cellspacing="0">
                <tr>
                    <td class="r_n_pic"></td>
                    <td class="logo_nav">您现在的位置：{PE.SiteConfig.sitename/} >> 快速登录注册</td>
                    <td id="top_link"><ul>
                            <li>
                                <marquee onmouseover="this.stop()" onmouseout="this.start()" scrollamount="1" scrolldelay="4" align="left">
                                {PE.Label id="雅灰网站公告横向" /}
                                </marquee>
                            </li>
                        </ul></td>
                </tr>
            </table></td>
    </tr>
</table>

<table class="center_all" cellspacing="0">
    <tr>
        <td>
      <table class="main" cellspacing="0">
        <tr>
        <td>
            <table class="r_list" cellspacing="0">
                    <tr>
                      <td>
                        <table class="rlist_tit">
                          <tr>
                            <td><span class="showicon">快速登录注册</span></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="c_content">
                         <div class="smart_login">
                            {PE.Control.form1/}
                            <div class="clearbox"></div>
                         </div>

                      </td>
                    </tr>
                  </table></td></tr></table>
                </td>
            </tr>
        </table>

<!-- center_all 结束 -->
{PE.Label id="雅灰网站底部" /}
</body>
</html>

