<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="UTF-8">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="{PE.Label id="网站信息配置中的关键字" /}" name="Keywords" />
<meta content="{PE.Label id="网站信息配置中网站描述" /}" name="Description"/>
<title>{PE.Control.PageTitle/}-会员中心</title>
<link href="{PE.SiteConfig.ApplicationPath /}skin/Gray/default.css" rel="stylesheet" type="text/css" />
<link href="{PE.SiteConfig.ApplicationPath /}skin/Gray/user.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.ApplicationPath /}js/common.js"></script>
<script type="text/javascript" src="{PE.SiteConfig.applicationpath/}JS/jquery.pack.js"></script>
<script language="javascript" type="text/javascript">

//** iframe自动适应页面 **//

 //输入你希望根据页面高度自动调整高度的iframe的名称的列表
 //用逗号把每个iframe的ID分隔. 例如: ["myframe1", "myframe2"]，可以只有一个窗体，则不用逗号。

 //定义iframe的ID
 //alert("begin");
 var iframeids=["contentright"];

 //如果用户的浏览器不支持iframe是否将iframe隐藏 yes 表示隐藏，no表示不隐藏
 var iframehide="yes";

 function dyniframesize() 
 {

  for (i=0; i<iframeids.length; i++)
  {
   if (document.getElementById)
   {
    var dyniframe = document.getElementById(iframeids[i]);
    if (dyniframe && !window.opera)
    {
     dyniframe.style.display="block";
     if (dyniframe.contentDocument && dyniframe.contentDocument.body.offsetHeight) //如果用户的浏览器是NetScape
     {
        if (dyniframe.contentDocument.body.offsetHeight <= 450){
            dyniframe.style.height = 450 + "px"; 
        }
        else{
            dyniframe.style.height = (dyniframe.contentDocument.body.offsetHeight + 5) + "px"; 
        }
     }
     else if (dyniframe.Document && dyniframe.Document.body) //如果用户的浏览器是IE
     {
        if(dyniframe.Document.body.scrollHeight)
        {
            if (dyniframe.Document.body.scrollHeight <= 450){
                dyniframe.style.height = 450;
            }
            else{
                dyniframe.style.height = dyniframe.Document.body.scrollHeight + 5;
            }
        }
      }
    }
   }
   //根据设定的参数来处理不支持iframe的浏览器的显示问题
   if ((document.all || document.getElementById) && iframehide=="no")
   {
    var tempobj=document.all? document.all[iframeids[i]] : document.getElementById(iframeids[i]);
    tempobj.style.display="block";
   }
  }
 }

function redirecturl(url, tarid)
{
    location=url.replace(/{\$pageid\/}/g,tarid);
}
    </script>
</head>
<body>
{PE.label id="雅灰网站顶部" /}
<table class="center_all" cellspacing="0">
  <tr>
    <td>
      <table class="user_cell_border margin_bot_5" cellspacing="0">
        <tr>
          <td>{PE.Control.UserCenterNavigation/}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- 会员中心导航结束 -->
<table class="center_all" cellspacing="0">
  <tr>
    <td>
      <table id="r_navigation" cellspacing="0">
        <tr>
          <td class="r_n_pic"></td>
          <td class="logo_nav">您现在的位置：{PE.Control.YourPosition/}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- 中部网站导航结束 -->
<table class="center_all" cellspacing="0">
    <tr>
    	<td>
        	<table class="main margin_bot_5" cellspacing="0">
            	<tr>
                    <td class="member_left">
                        {PE.Control.LitRight/}
                    </td>
                    <td class="width_5"></td>
                    <td> 
                        {PE.Control.UserCenterNavigation/}
                    </td>
        		</tr>
            </table>
        </td>
    </tr>
</table>
<!-- center_all 结束 -->
{PE.Label id="雅灰会员中心底部信息" /}
<script type="text/javascript">

 if (window.addEventListener)
 window.addEventListener("load", dyniframesize, false);
 else if (window.attachEvent)
 window.attachEvent("onload", dyniframesize);
    </script>
</body>
</html>