{PE.DataSource id="cone" datasource="文章_内容页" itemid="@RequestInt_id" xslt="true" /}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="UTF-8">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="{PE.Field id="cone" fieldname="Title" /}" name="Description" />
<meta content="{PE.Field id="cone" fieldname="KeyWord" /}" name="Keywords" />
<title>{PE.Field id="cone" fieldname="Title" /}-{PE.SiteConfig.sitename /}</title>
<link href="{PE.SiteConfig.ApplicationPath /}Skin/Gray/default.css" rel="stylesheet" type="text/css" />
<link href="{PE.SiteConfig.ApplicationPath /}Skin/Gray/article.css" rel="stylesheet" type="text/css" />
<link href="{PE.SiteConfig.ApplicationPath /}Skin/Gray/commentary.css" rel="stylesheet" type="text/css" />
<link href="{PE.SiteConfig.ApplicationPath /}Skin/Gray/user.css" rel="stylesheet"type="text/css" />
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.ApplicationPath /}JS/Common.js"></script>
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.ApplicationPath/}JS/jsPopup.js"></script>
<script language="javascript" type="text/javascript">
var base64DecodeChars = new Array(
-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 62, -1, -1, -1, 63,
52, 53, 54, 55, 56, 57, 58, 59, 60, 61, -1, -1, -1, -1, -1, -1,
-1,　0,　1,　2,　3,  4,　5,　6,　7,　8,　9, 10, 11, 12, 13, 14,
15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, -1, -1, -1, -1, -1,
-1, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, -1, -1, -1, -1, -1);

function base64decode(str) {
　　var c1, c2, c3, c4;
　　var i, len, out;
　　len = str.length;
　　i = 0;
　　out = "";
　　while(i < len) {
 /* c1 */
 do {
　　 c1 = base64DecodeChars[str.charCodeAt(i++) & 0xff];
 } while(i < len && c1 == -1);
 if(c1 == -1)
　　 break;
 /* c2 */
 do {
　　 c2 = base64DecodeChars[str.charCodeAt(i++) & 0xff];
 } while(i < len && c2 == -1);
 if(c2 == -1)
　　 break;
 out += String.fromCharCode((c1 << 2) | ((c2 & 0x30) >> 4));
 /* c3 */
 do {
　　 c3 = str.charCodeAt(i++) & 0xff;
　　 if(c3 == 61)
　return out;
　　 c3 = base64DecodeChars[c3];
 } while(i < len && c3 == -1);
 if(c3 == -1)
　　 break;
 out += String.fromCharCode(((c2 & 0XF) << 4) | ((c3 & 0x3C) >> 2));
 /* c4 */
 do {
　　 c4 = str.charCodeAt(i++) & 0xff;
　　 if(c4 == 61)
　return out;
　　 c4 = base64DecodeChars[c4];
 } while(i < len && c4 == -1);
 if(c4 == -1)
　　 break;
 out += String.fromCharCode(((c3 & 0x03) << 6) | c4);
　　}
　　return out;
}
function utf8to16(str) {
　　var out, i, len, c;
　　var char2, char3;
　　out = "";
　　len = str.length;
　　i = 0;
　　while(i < len) {
 c = str.charCodeAt(i++);
 switch(c >> 4)
 {
　 case 0: case 1: case 2: case 3: case 4: case 5: case 6: case 7:
　　 // 0xxxxxxx
　　 out += str.charAt(i-1);
　　 break;
　 case 12: case 13:
　　 // 110x xxxx　 10xx xxxx
　　 char2 = str.charCodeAt(i++);
　　 out += String.fromCharCode(((c & 0x1F) << 6) | (char2 & 0x3F));
　　 break;
　 case 14:
　　 // 1110 xxxx　10xx xxxx　10xx xxxx
　　 char2 = str.charCodeAt(i++);
　　 char3 = str.charCodeAt(i++);
　　 out += String.fromCharCode(((c & 0x0F) << 12) |
　　　　((char2 & 0x3F) << 6) |
　　　　((char3 & 0x3F) << 0));
　　 break;
 }
　　}
　　return out;
}
 
function decode() {
　　var f = document.getElementById("content");
　　f.innerHTML = utf8to16(base64decode(f.innerHTML));
}

function redirecturl(url, tarid)
{
    location=url.replace(/{\$pageid\/}/g,tarid);
}

//评论相关代码
function commentinit()
{
    var x = new AjaxRequest('XML','commentform');
    x.labelname = "内容评论PK标签";
    x.para = ['generalid=@RequestInt_id'];
    x.currentpage = 1;
    x.post('updatelabel', '{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) {
        var xml = x.createXmlDom(s);
        $("commentform").innerHTML = xml.getElementsByTagName("body")[0].firstChild.data;
        changepage(1,'评论列表','JS_基本风格');
        getcurrentuserinfo()
    });
}

function SetPosition(st)
{
     for (i=-1;i<2;i++){
          if(i == st){
              $("Positon" + i).className="PK_mouseover";
          }
          else{
              $("Positon" + i).className="PK_title";
          }
     }
     $("position").value = st;
}

function addcomment()
{
    if(!$("guest").checked)
    {
        if($("iusername").value == '')
        {
            alert("请输入用户名");
            $("iusername").focus();
            return false;           
        }
        else
        {
            $("username").value = $("iusername").value;
        }
    }
    if($("commenttitle").value == '')
    {
        alert("请输入标题");
        $("commenttitle").focus();
        return false; 
    }
    if($("content").value == '')
    {
        alert("请输入评论内容");
        $("content").focus();
        return false;                
    }
    var x = new AjaxRequest('XML','status');
    x.para = ['username', 'commenttitle', 'content', 'email', 'face', 'gid', 'nid', 'tid', 'private', 'position', 'score'];
    x.post('addcomment', '{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) {
        var xml = x.createXmlDom(s);
        var  status = xml.getElementsByTagName("status")[0].firstChild.data;
        document.getElementById("status").style.display = "none";
        switch (status)
        {
            case "ok":
                changepage(1,'评论列表','JS_基本风格');
                break;
            case "check":
                alert("发表评论成功，请等待管理员审核。");  
                break;
            case "err":
                alert("发表评论失败！");  
                break;
            case "nopurview":
                alert("此栏目已禁止发表评论！");  
                break;
            case "noTourists":
                alert("此栏目已禁止游客发表评论！");  
                break;                    
            default:
                alert("发表评论失败！"); 
                break;
        }
        $("content").value = '';
    });
}

function addpkzone(commentid,position,content)
{
    var x = new AjaxRequest('XML','status');
    x.para = ['commentid='+ commentid, 'position=' + position, 'content=' + content];
    x.post('addpkzone', '{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) {
        var xml = x.createXmlDom(s);
        var  status = xml.getElementsByTagName("status")[0].firstChild.data;
        document.getElementById("status").style.display = "none";
        switch (status)
        {
            case "ok":
                changepage(1,'评论列表','JS_基本风格');
                break;                  
            default:
                alert("辩论失败！"); 
                break;
        }
    });
}

function changepage(pagenum,sourcename,spanname)
{
    var x = new AjaxRequest('XML','pe100_' + sourcename);
    x.labelname = sourcename;
    x.currentpage = pagenum; 
	x.para = ['gid=@RequestInt_id', 'listnum=10', 'page=true', 'pagesize=10'];
	x.post('updatelabel', '{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) {
        var xml = x.createXmlDom(s);
        var plstr = "";
        for (var i=0; i<xml.getElementsByTagName("body")[0].childNodes.length; i++)     
        {
            plstr += xml.getElementsByTagName("body")[0].childNodes[i].nodeValue;
        }
        $("pe100_" + sourcename).innerHTML = plstr;
        updatepage(spanname, sourcename, xml);
    });
}

function updatepage(spanname, sourcename, xml)
{
    if(parseInt(xml.getElementsByTagName("total")[0].firstChild.data) > 0)
    {
        var x = new AjaxRequest('XML','pe100_page_' + sourcename);
        x.labelname = spanname;
        x.sourcename = sourcename;
        x.total = xml.getElementsByTagName("total")[0].firstChild.data;
        x.currentpage = xml.getElementsByTagName("currentpage")[0].firstChild.data;
        x.pagesize = xml.getElementsByTagName("pagesize")[0].firstChild.data;
	    x.post('updatepage', '{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) {
            var xml = x.createXmlDom(s);
            if($("pe100_page_" + sourcename) != null)
            {
                var plstr = "";
                for (var i=0; i<xml.getElementsByTagName("body")[0].childNodes.length; i++)     
                {
                    plstr += xml.getElementsByTagName("body")[0].childNodes[i].nodeValue;
                }
                $("pe100_page_" + sourcename).innerHTML = plstr;
            }
	});
    }
}

function setprivate()
{
    if($("open").checked)
    {
        $("private").value = 0;
    }
    else
    {
        $("private").value = 1;
    }
}
 
function getcurrentuserinfo()
{ 
    try{
        var x = new AjaxRequest('XML','');
	x.post('logincheck','{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) {
            var xml = x.createXmlDom(s);
            if(xml.getElementsByTagName("status")[0].firstChild.data == "ok")
            {
                if($("iusername")!=null)
                {
                    $("iusername").value = xml.getElementsByTagName("username")[0].firstChild.data;
                    $("email").value = xml.getElementsByTagName("email")[0].firstChild.data;
                }
            }
        });
      }
      catch(e){
      };
}

function setguest()
{
    if($("guest").checked)
    {
        $("spanusername").style.display = 'none';
        $("spanemail").style.display = 'none';
    }
    else
    {
        $("spanusername").style.display = '';
        $("spanemail").style.display = '';
    }
}

function ChangeStar(index, isfixed){
     var colStars = document.getElementById("divStars").getElementsByTagName("input");
     var i = 0;
     var k = isfixed? parseInt(document.getElementById("score").value) : index;

     for(i=0; i<colStars.length; i++){
             colStars[i].src = (i<k? "{PE.SiteConfig.applicationpath/}Images/fstar.gif" : "{PE.SiteConfig.applicationpath/}Images/estar.gif");
     }
}

function StarClick(index)
{
    document.getElementById("score").value=index;
}

function StarMouseOver(index){
    ChangeStar(index,false);
}

function StarMouseOut(){
    ChangeStar(0,true);
}
</script>
</head>
<body onload="commentinit()">
{PE.label id="雅灰网站顶部" /}
<table class="center_all" cellspacing="0">
    <tr>
        <td>
            <table class="main" cellspacing="0">
                <tr>
                    <td class="main_left">
                        <table cellspacing="0">
                            <tr>
                                <td><img src="{PE.SiteConfig.ApplicationPath /}Skin/Gray/images/banner.gif" style="border:0;height:82px;width:765px;" alt="banner" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <table id="l_nav" cellspacing="0">
                                        <tr>
                                            <td class="r_n_pic"></td>
                                            <td class="logo_nav">您现在的位置：<a href="{PE.SiteConfig.sitepath/}">{PE.SiteConfig.sitename /}</a>{PE.Label id="内容位置导航" itemid="@RequestInt_id" /} </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="article" cellspacing="0">
                                        <tr>
                                            <td class="article_tit">{PE.Field id="cone" fieldname="Title" /}</td>
                                        </tr>
                                        <tr>
                                            <td class="info"> <span>作者：<a href="{PE.SiteConfig.ApplicationPath/}Common/ShowAuthor.aspx?authorname={PE.Field id="cone" fieldname="Author" /}">{PE.Field id="cone" fieldname="Author" /}</a></span> <span>来源：<a href="{PE.SiteConfig.ApplicationPath/}Common/ShowCopyFrom.aspx?copyfrom={PE.Field id="cone" fieldname="CopyFrom" /}">{PE.Field id="cone" fieldname="CopyFrom" /}</a></span> <span>发布时间：{PE.Field id="cone" fieldname="UpdateTime" /}</span> <span>点击数：{PE.Field id="cone" fieldname="Hits" /}</span> {PE.Label id="转入后台编辑" itemid="@RequestInt_id" /} </td>
                                        </tr>
                                        <tr>
                                            <td class="article_con" valign="top" id="fontzoom">
                                            	<div class="overflow_hidden">{PE.Field id="cone" fieldname="Content" htmldecode="true" charge="true"  showerr="true" /}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td class="info"><span class="font_right">
                                            【字体：<a href="javascript:fontZoomA();">小</a> <a href="javascript:fontZoomB();">大</a>】　【<a href="User/Contents/Favorite.aspx?Action=add&Id={PE.Field id="cone" fieldname="GeneralID" /}">收藏</a>】{PE.Label id="转入后台编辑" ItemId="@RequestInt_id" /}
                                            </span></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                            	<td>
                                 <span id="commentform"></span>
                                </td>
                            </tr>
                        </table>
                        <!-- main_left 左部结束 -->
                    </td>
                    <td class="width_5"></td>
                    <td class="main_right">
			            {PE.Label id="雅灰内容右侧" /}
                    </td>
                </tr>
            </table>
            <!-- main 结束 -->
        </td>
    </tr>
</table>
{PE.Label id=" 雅灰网站底部" /}
<!-- 评论变量区 -->
<input id="username" type="hidden" value="游客" />
<input id="position" type="hidden" value="1" />
<input id="private" type="hidden" value="0" />
<input id="score" type="hidden" value="3" />
<input id="face" type="hidden" value="Images\Comment\01.gif" />
<input id="gid" type="hidden" value="@RequestInt_id" />
<input id="nid" type="hidden" value="{PE.Field id="cone" fieldname="NodeID" /}" />
<input id="tid" type="hidden" value="1" />
<!-- 评论变量区 -->
</body>
</html>
