{PE.DataSource id="cone" datasource="商品_内容页" itemid="@RequestInt_id" xslt="true" /}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="UTF-8">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Description" content="{PE.Field id="cone" fieldname="ProductIntro" /}" />
<meta content="{PE.Field id="cone" fieldname="KeyWord" /}" name="Keywords" />
<title>{PE.Field id="cone" fieldname="Title" /}-{PE.SiteConfig.sitename /}</title>
<link href="{PE.SiteConfig.ApplicationPath /}Skin/Gray/default.css" rel="stylesheet" type="text/css" />
<link href="{PE.SiteConfig.ApplicationPath /}Skin/Gray/product.css" rel="stylesheet" type="text/css" />
<link href="{PE.SiteConfig.ApplicationPath /}Skin/Gray/commentary.css" rel="stylesheet" type="text/css" />
<link href="{PE.SiteConfig.ApplicationPath /}Skin/Gray/user.css" rel="stylesheet"type="text/css" />
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.ApplicationPath/}JS/Common.js"></script>
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.ApplicationPath/}JS/jsPopup.js"></script>
</head>
<body onload="commentinit()">
{PE.label id="雅灰网站顶部" /}
<!-- 中部网站导航 -->
<table class="center_all" cellspacing="0">
    <tr>
        <td><table id="r_navigation" cellspacing="0">
                <tr>
                    <td class="r_n_pic"></td>
                    <td class="logo_nav">您现在的位置：<a href="{PE.SiteConfig.sitepath/}">{PE.SiteConfig.sitename /}</a>{PE.Label id="内容位置导航" itemid="@RequestInt_id" /}</td>
                    <td id="top_link"><ul>
                            <li>
                                <marquee onmouseover="this.stop()" onmouseout="this.start()" scrollamount="1" scrolldelay="4" align="left">
                                {PE.Label id="雅灰网站公告横向" /}
                                </marquee>
                            </li>
                        </ul></td>
                </tr>
            </table></td>
    </tr>
</table>
<table class="center_all" cellspacing="0">
    <tr>
        <td><table class="main" cellspacing="0">
                <tr>
                    <td class="main_left"><table class="width_100" cellspacing="0">
                            <tr>
                                <td class="width_l"><table class="c_shop" cellspacing="0">
                                        <tr>
                                            <td><table class="cshop_tit" cellspacing="0">
                                                    <tr>
                                                        <td><span class="more"><a href="{PE.SiteConfig.applicationpath/}Category_4/index_1.aspx">更多...</a></span><a href="{PE.SiteConfig.applicationpath/}Category_4/index_1.aspx">相关商品</a></td>
                                                    </tr>
                                                </table></td>
                                        </tr>
                                        <tr>
                                            <td class="c_content"> {PE.Label id="相关商品" shownum="12" titlelen="20" showupdatetime="false" showpic="false" shownodename="false" target="_blank" node_target="_blank" span_classname="new" generalid="@RequestInt_id" /} </td>
                                        </tr>
                                    </table>
                                    <!-- 左边栏目结束 -->
                                </td>
                                <td class="width_5"></td>
                                <td><div id="p_info">
                                        <div class="p_info_title"> <span>
                                            <h1> {PE.Field id="cone" fieldname="Title" /} </h1>
                                            </span> </div>
                                        <div class="p_info_content">
                                            <div class="p_info_content_r">
                                                <div class="p_font_PicUrl"> {PE.Label id="商品图片链接处理" ProductThumb="{PE.Field id="cone" fieldname="ProductThumb" /}" ProductPic="{PE.Field id="cone" fieldname="ProductPic" /}"/} </div>
                                                <div class="p_font_collection"> 　　<a href="#" onclick="GotoShoppingCart()">购买</a>　　<a href="{PE.SiteConfig.applicationpath/}User/Contents/Favorite.aspx?Action=Add&Id=@RequestInt_id" target="_blank">收藏</a>　　<a href="{PE.SiteConfig.applicationpath/}User/Message/Message.aspx?Action=Commend&MessageID=@RequestInt_id"  target="_blank">推荐</a> </div>
                                            </div>
                                            <div class="p_info_content_l">
                                                <ul id="PropertyContainer">
                                                    <li>市场价：<span class="p_font_weight">￥{PE.Field id="cone" fieldname="Price_Market" /} </span> </li>
                                                    <li>本店价：<span class="p_font_weight">￥<span class="p_font_red">{PE.Field id="cone" fieldname="Price" /} </span> </span> </li>
                                                    <li>会员价：<span class="p_font_weight">{PE.Field id="cone" fieldname="Price_Member" /}</span></li>
                                                    <!--
		<li>SVIP价：<span class="p_font_weight">￥<span class="p_font_red">
		<xsl:value-of disable-output-escaping="yes" select="/NewDataSet/Table/Price"/>
		</span>元 折扣：<span class="p_font_red">
		<xsl:value-of disable-output-escaping="yes" select="/NewDataSet/Table/Discount"/>
		</span>折 节省：<span class="p_font_red">
		7.10
		</span>元</span>
		</li>
		-->
                                                    <li>厂商：<span class="p_font_blue"> <a href="{PE.SiteConfig.applicationpath/}Shop/ShowProducer.aspx?producername={PE.Field id="cone" fieldname="UrlProducerName" /}">{PE.Field id="cone" fieldname="ProducerName" /}</a> </span> </li>
                                                    <li>品牌：<span class="p_font_weight"> <a href="{PE.SiteConfig.applicationpath/}Shop/ShowTrademark.aspx?trademarkname={PE.Field id="cone" fieldname="UrlTrademarkName" /}">{PE.Field id="cone" fieldname="TrademarkName" /}</a> </span> </li>
                                                    <!--
		<li>购物积分:<xsl:value-of select="/NewDataSet/Table/PresentExp"/>分</li>
		-->
                                                    <li>信誉评级：<span class="p_font_green"> {PE.Field id="cone" fieldname="Stars" /} </span> </li>
                                                    <li>购买数量：<span class="p_font_weight"><input id="txtNum" type="text" style="width:50px;" maxlength="6" value="{PE.Field id="cone" fieldname="Minimum" /}"/></span></ul>
                                                </ul>
                                                <input id="hdnProperty" type="hidden" value="{PE.Field id="cone" fieldname="Properties" /}"/>
                                                <div style="display:none"> {PE.Field id="cone" fieldname="Hits" /}</div>
                                            </div>
                                        </div>
                                        <div class="clearbox"> </div>
                                    </div></td>
                            </tr>
                        </table>
                        <table class="width_100 p_Intro" cellspacing="0">
                            <tr>
                                <td><dl>
                                        <dt>
                                            <div class="Shop_mouseover" id="ShopTabTitle0" onmouseover="ShowShopTabs(0)">
                                                <dl>
                                                    商品参数
                                                </dl>
                                            </div>
                                            <div class="Shop_title" id="ShopTabTitle1" onmouseover="ShowShopTabs(1)">
                                                <dl>
                                                    商品介绍
                                                </dl>
                                            </div>
                                            <div class="Shop_title" id="ShopTabTitle2" onmouseover="ShowShopTabs(2)">
                                                <dl>
                                                    其它商品
                                                </dl>
                                            </div>
                                            <div class="Shop_statement"> <a href="{PE.SiteConfig.applicationpath/}User/Message/Message.aspx?Action=Complain&MessageID=@RequestInt_id" target="_blank">举报本款报价过高</a> </div>
                                        </dt>
                                        <dd id="ShopTab0"> {PE.Field id="cone" fieldname="FieldTable" /} </dd>
                                        <dd id="ShopTab1" style="display: none;">
                                            <div class="c_content_overflow"> {PE.Field id="cone" fieldname="ProductExplain" /} </div>
                                        </dd>
                                        <dd id="ShopTab2" style="display: none;"> {PE.Label id="相关商品图片列表" itemid="@RequestInt_id" photonum="10" /} </dd>
                                    </dl></td>
                            </tr>
                        </table>
                        <table class="r_list margin_top_5 edge_bot" cellspacing="0">
                            <tr>
                                <td><table class="rlist_tit">
                                        <tr>
                                            <td><a>相关介绍</a></td>
                                        </tr>
                                    </table></td>
                            </tr>
                            <tr>
                                <td class="c_content"><div class="p_author_ad"> <a href="http://www.powereasy.net/Services/Subscriptions/" target="_blank"> <img src="{PE.SiteConfig.applicationpath/}Skin/Default/images/banner3.gif" alt="动易光盘订阅服务－动易网络" /> </a> <br />
                                        <a href="http://www.idc800.net/" target="_blank"> <img src="{PE.SiteConfig.applicationpath/}Skin/Default/images/banner4.gif" alt="动易主机服务－动易网络" /> </a> </div>
                                    {PE.Label id="厂商简介" ProducerName="{PE.Field id="cone" fieldname="ProducerName" /}" /}
                                    <div class="clearbox2"></div>
                                    <div class="c_spacing"></div>
                                    {PE.Label id="品牌简介" trademarkname="{PE.Field id="cone" fieldname="TrademarkName" /}" /}
                                    <div class="clearbox"> </div></td>
                            </tr>
                        </table>
		<!-- 内容结束 -->      
        <!-- 评论开始 -->
   <span id="commentform"></span>
        <!-- 评论结束 -->
                        
                         </td>
                    <td width="5"></td>
                    <td class="main_right" valign="top"> {PE.Label id="雅灰商店右侧" /} </td>
                </tr>
            </table>
            <!-- main 结束 -->
        </td>
    </tr>
</table>
<!-- center_all 结束 -->
{PE.Label id="雅灰网站底部" /}
<!-- 评论变量区 -->
<input id="username" type="hidden" value="游客" />
<input id="position" type="hidden" value="1" />
<input id="private" type="hidden" value="0" />
<input id="score" type="hidden" value="3" />
<input id="face" type="hidden" value="Images\Comment\01.gif" />
<input id="gid" type="hidden" value="@RequestInt_id" />
<input id="nid" type="hidden" value="{PE.Field id="cone" fieldname="NodeID" /}" />
<input id="tid" type="hidden" value="1" />
<!-- 评论变量区 -->
<script language="javascript" type="text/javascript">
function ShowShopTabs(ID){
    for (i=0;i<3;i++){
         if(i == ID){
             $("ShopTabTitle" + i).className="Shop_mouseover";
             $("ShopTab" + i).style.display="";
         }
         else{
             $("ShopTabTitle" + i).className="Shop_title";
             $("ShopTab" + i).style.display="none";
         }
    }
}
 
function CreateOptionsByProperty()
{
    var pp = $("hdnProperty").value;
    if(pp !='')
    {
        var ul = $("PropertyContainer");
        var arrProperties = pp.split('\n');
        for(var i in arrProperties)
        {
            var li = document.createElement("li"); 
            if(arrProperties[i]!='')
            {
                var arrKeyValues = arrProperties[i].split('$$$');
                li.appendChild(document.createTextNode(arrKeyValues[0]+"："));
                if(arrKeyValues[1]!=null)
                {
                    var values = arrKeyValues[1].split('|');
                    var select = document.createElement("select");
                    select.setAttribute("id","select"+i.toString());
                    for(var v in values)
                    {
                        var o = document.createElement("option");
                        o.setAttribute("value",values[v]);
                        o.innerHTML=values[v];
                        select.appendChild(o);
                    }
                    li.appendChild(select);
                    ul.insertBefore(li,ul.lastChild);
                }
            }
        }                
    }
}

CreateOptionsByProperty()
 
function GetProperties()
{
    var pp = $("hdnProperty");
    var s='';
    if(pp.value!='')
    {
        var arrProperties = pp.value.split('\n');
        for(var i in arrProperties)
        {
            if(arrProperties[i]!='')
            {
                var sel = $("select"+i.toString());
                s += sel.options[sel.selectedIndex].value.replace(/(\s*$)/g, "") +"|";
            }
        }
    }
    return s.replace(/(\|*$)/g, "")
}

function GotoShoppingCart()
{
   var url="{PE.SiteConfig.applicationpath/}Shop/ShoppingCart.aspx?Action=AddToCart&ID={PE.Field id="cone" fieldname="GeneralID" /}";
   var property = GetProperties();
   if(property!='')
   {
      url+="&Property="+ property;     
   }
    window.location.href=encodeURI(url);
}

function redirecturl(url, tarid)
{
    location=url.replace(/{\$pageid\/}/g,tarid);
}

//评论相关代码
function commentinit()
{
    var x = new AjaxRequest('XML','commentform');
    x.labelname = "内容评论PK标签";
    x.para = ['generalid=@RequestInt_id'];
    x.currentpage = 1;
    x.post('updatelabel', '{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) {
        var xml = x.createXmlDom(s);
        $("commentform").innerHTML = xml.getElementsByTagName("body")[0].firstChild.data;
        changepage(1,'评论列表','JS_基本风格');
        getcurrentuserinfo()
    });
}

function SetPosition(st)
{
     for (i=-1;i<2;i++){
          if(i == st){
              $("Positon" + i).className="PK_mouseover";
          }
          else{
              $("Positon" + i).className="PK_title";
          }
     }
     $("position").value = st;
}

function addcomment()
{
    if(!$("guest").checked)
    {
        var strEmail = $("email").value;
	    var regEmail = /^([a-zA-Z0-9]+[_|\-|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\-|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
	    var matchArray = strEmail.match(regEmail);
    		
	    if(matchArray == null)
	    {
            alert("请输入正确的Email格式！");
            $("email").focus();
            return false; 
	    }
	    
        if($("iusername").value == '')
        {
            alert("请输入用户名");
            $("iusername").focus();
            return false;           
        }
        else
        {
            $("username").value = $("iusername").value;
        }
    }
//    if($("commenttitle").value == '')
//    {
//        alert("请输入标题");
//        $("commenttitle").focus();
//        return false; 
//    }
    if($("content").value == '')
    {
        alert("请输入评论内容");
        $("content").focus();
        return false;                
    }
    var x = new AjaxRequest('XML','status');
    x.para = ['username', 'commenttitle', 'content', 'email', 'face', 'gid', 'nid', 'tid', 'private', 'position', 'score'];
    x.post('addcomment', '{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) {
        var xml = x.createXmlDom(s);
        var  status = xml.getElementsByTagName("status")[0].firstChild.data;
        document.getElementById("status").style.display = "none";
        switch (status)
        {
            case "ok":
                changepage(1,'评论列表','JS_基本风格');
                break;
            case "check":
                alert("发表评论成功，请等待管理员审核。");  
                break;
            case "err":
                alert("发表评论失败！");  
                break;
            case "nopurview":
                alert("此栏目已禁止发表评论！");  
                break;
            case "noTourists":
                alert("此栏目已禁止游客发表评论！");  
                break;                    
            default:
                alert("发表评论失败！"); 
                break;
        }
        $("content").value = '';
    });
}

function addpkzone(commentid,position,content)
{
    var x = new AjaxRequest('XML','status');
    x.para = ['commentid='+ commentid, 'position=' + position, 'content=' + content];
    x.post('addpkzone', '{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) {
        var xml = x.createXmlDom(s);
        var  status = xml.getElementsByTagName("status")[0].firstChild.data;
        document.getElementById("status").style.display = "none";
        switch (status)
        {
            case "ok":
                changepage(1,'评论列表','JS_基本风格');
                break;                  
            default:
                alert("辩论失败！"); 
                break;
        }
    });
}

function changepage(pagenum,sourcename,spanname)
{
    var x = new AjaxRequest('XML','pe100_' + sourcename);
    x.labelname = sourcename;
    x.currentpage = pagenum; 
	x.para = ['gid=@RequestInt_id', 'listnum=10', 'page=true', 'pagesize=10'];
	x.post('updatelabel', '{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) {
        var xml = x.createXmlDom(s);
        var plstr = "";
        for (var i=0; i<xml.getElementsByTagName("body")[0].childNodes.length; i++)     
        {
            plstr += xml.getElementsByTagName("body")[0].childNodes[i].nodeValue;
        }
        $("pe100_" + sourcename).innerHTML = plstr;
        updatepage(spanname, sourcename, xml);
    });
}

function updatepage(spanname, sourcename, xml)
{
    if(parseInt(xml.getElementsByTagName("total")[0].firstChild.data) > 0)
    {
        var x = new AjaxRequest('XML','pe100_page_' + sourcename);
        x.labelname = spanname;
        x.sourcename = sourcename;
        x.total = xml.getElementsByTagName("total")[0].firstChild.data;
        x.currentpage = xml.getElementsByTagName("currentpage")[0].firstChild.data;
        x.pagesize = xml.getElementsByTagName("pagesize")[0].firstChild.data;
	    x.post('updatepage', '{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) {
            var xml = x.createXmlDom(s);
            if($("pe100_page_" + sourcename) != null)
            {
                var plstr = "";
                for (var i=0; i<xml.getElementsByTagName("body")[0].childNodes.length; i++)     
                {
                    plstr += xml.getElementsByTagName("body")[0].childNodes[i].nodeValue;
                }
                $("pe100_page_" + sourcename).innerHTML = plstr;
            }
	});
    }
}

function setprivate()
{
    if($("open").checked)
    {
        $("private").value = 0;
    }
    else
    {
        $("private").value = 1;
    }
}
 
function getcurrentuserinfo()
{ 
    try{
        var x = new AjaxRequest('XML','');
	x.post('logincheck','{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) {
            var xml = x.createXmlDom(s);
            if(xml.getElementsByTagName("status")[0].firstChild.data == "ok")
            {
                if($("iusername")!=null)
                {
                    $("iusername").value = xml.getElementsByTagName("username")[0].firstChild.data;
                    $("email").value = xml.getElementsByTagName("email")[0].firstChild.data;
                }
            }
        });
      }
      catch(e){
      };
}

function setguest()
{
    if($("guest").checked)
    {
        $("spanusername").style.display = 'none';
        $("spanemail").style.display = 'none';
    }
    else
    {
        $("spanusername").style.display = '';
        $("spanemail").style.display = '';
    }
}

function ChangeStar(index, isfixed){
     var colStars = document.getElementById("divStars").getElementsByTagName("input");
     var i = 0;
     var k = isfixed? parseInt(document.getElementById("score").value) : index;

     for(i=0; i<colStars.length; i++){
             colStars[i].src = (i<k? "{PE.SiteConfig.applicationpath/}Images/fstar.gif" : "{PE.SiteConfig.applicationpath/}Images/estar.gif");
     }
}

function StarClick(index)
{
    document.getElementById("score").value=index;
}

function StarMouseOver(index){
    ChangeStar(index,false);
}

function StarMouseOut(){
    ChangeStar(0,true);
}
</script>

</body>
</html>
