{PE.DataSource id="core" datasource="得到友情链接地址" xslt="true" itemid="@RequestInt_id" span="" class="" /}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="UTF-8">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="{PE.Label id="网站信息配置中的关键字" /}" name="Keywords" />
<meta content="{PE.Label id="网站信息配置中网站描述" /}" name="Description"/>
<title>{PE.SiteConfig.sitename /}</title>
<link href="{PE.SiteConfig.ApplicationPath/}Skin/Gray/default.css" rel="stylesheet" type="text/css" />
<link href="{PE.SiteConfig.ApplicationPath/}Skin/Gray/article.css" rel="stylesheet" type="text/css" />
</head>
<body>
<iframe src="{PE.SiteConfig.ApplicationPath/}Common/GetHits.aspx?id={PE.Field id="core" fieldname="ItemId" /}"></iframe>
<script language ="javascript" type="text/javascript">
    window.location ="{PE.Field id="core" fieldname="SiteUrl" /}";
</script>
</body>
</html>
