<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>用户登录</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[      <div class="user_box">
        <dl>
          <dt>用户信息中心</dt>
          <dd>
{PE.Label id="AjaxCMS用户登录" /}
          </dd>
        </dl>
      </div>]]></LabelTemplate>
  <OutType>txt</OutType>
</root>