<root>
  <LabelType>RSS标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shownum</name>
    <default>11</default>
    <intro>输出数量</intro>
  </attributes>
  <LabelSqlString>SELECT TOP @shownum PE_CommonModel.* FROM PE_CommonModel Where Status=99 ORDER BY UpdateTime DESC </LabelSqlString>
  <LabelTemplate>
  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="xml" />
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="pe:RssEnable() = 'False'">
<item>
<title>
本站尚未开放RSS功能！
</title>
<link>
<xsl:value-of select="pe:SitePath()" />
</link>
<description>
本站尚未开放RSS功能！
</description>
<author>
<xsl:value-of select="pe:Webmaster()" />
</author>
<category>
<xsl:value-of select="pe:SiteName()" />
</category>
<pubDate>
<xsl:value-of select="pe:TimeNow()"/>
</pubDate>
</item>
</xsl:when>
<xsl:otherwise>
<xsl:for-each select="Table">
<item>
<title>
<xsl:value-of select="Title"/>
</title>
<link>
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
</link>
<description>
<xsl:value-of select="Title"/>
</description>
<author>
<xsl:value-of select="Inputer"/>
</author>
<category>
<xsl:value-of select="pe:GetNode(NodeID,'name')" />
</category>
<pubDate>
<xsl:value-of select="UpdateTime"/>
</pubDate>
</item>
</xsl:for-each>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <OutType>sin</OutType>
  <CacheTime>120</CacheTime>
</root>