<?xml version="1.0"?>
<root>
  <LabelType>其它标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>itemid</name>
    <default>0</default>
    <intro>信息ID</intro>
  </attributes>
  <LabelSqlString><![CDATA[SELECT TOP 1 GeneralID,NodeId,InputTime,Title,PinyinTitle FROM PE_CommonModel WHERE GeneralID < @itemid AND NodeID=@nodeid AND Status=99 ORDER BY GeneralID DESC]]></LabelSqlString>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="showunitname"/>
<xsl:param name="titlelen"/>
<xsl:template match="/">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
上一<xsl:value-of select="$showunitname"/>：没有了
</xsl:when>
<xsl:otherwise>
<a> <xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(/NewDataSet/Table/NodeId,/NewDataSet/Table/GeneralID,/NewDataSet/Table/InputTime,/NewDataSet/Table/PinyinTitle)"/>
</xsl:attribute> <xsl:attribute name="title">
<xsl:value-of select="/NewDataSet/Table/Title"/>
</xsl:attribute>
上一<xsl:value-of select="$showunitname"/>：<xsl:value-of disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(/NewDataSet/Table/Title),$titlelen,'')"/>
</a>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>showunitname</name>
    <default>篇</default>
    <intro>单位名</intro>
  </attributes>
  <attributes>
    <name>nodeid</name>
    <default>0</default>
    <intro>节点ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>30</default>
    <intro>标题最多字符数</intro>
  </attributes>
</root>