<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>SELECT Top @pagesize PE_SpecialCategory.* FROM PE_SpecialCategory WHERE SpecialCategoryID NOT IN (SELECT TOP @startrow SpecialCategoryID FROM PE_SpecialCategory order by OrderID) order by OrderID</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:param name="titlelen"/>
<xsl:output method="xml" />
<xsl:template match="/">
<NewDataSet>
<xsl:for-each select="NewDataSet/Table">
<Table>
<SpecialCategoryID>
<xsl:value-of select="SpecialCategoryID"/>
</SpecialCategoryID>
<SpecialCategoryName>
<xsl:value-of select="SpecialCategoryName"/>
</SpecialCategoryName>
<SpecialCategoryLink>
<xsl:value-of select="pe:GetSpecialCategoryPath(SpecialCategoryID)"/>
</SpecialCategoryLink>
<OpenType>
<xsl:choose>
<xsl:when test="OpenType=0">
_self
</xsl:when>
<xsl:otherwise>
_blank
</xsl:otherwise>
</xsl:choose>
</OpenType>
</Table>
</xsl:for-each>
</NewDataSet>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <UsePage>True</UsePage>
  <LabelSqlCount>select count(*) from PE_SpecialCategory</LabelSqlCount>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
</root>