<?xml version="1.0"?>
<root>
  <LabelType>其它标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate>
							 <![CDATA[<!-- 搜索 -->
                    <div class="main_search">
                         专题搜索：<select name='specialid' size='1'>{PE.Label id="专题分类下拉列表选项" span="" class="" /}</select><select name='fieldoption' size='1'><option value='title' selected>标题</option><option value='inputer'>录 入 者</option><option value='keyword'>关键字</option></select><input id="Keyword" onfocus="this.value='';" maxLength="100" size="30" value="填写您想搜索的关键词" name="Keyword" />
                         <input name="searchtype" type="hidden" id="searchtype" value="3" />
                         <input id="Submit" style="border: 0px;width: 65px;height: 21px;" type="image" src="{PE.SiteConfig.applicationpath/}Skin/Default/Images/search_b.gif" name="Submit" onclick="OnSearchCheckAndSubmit();" />
					   <script language="javascript" type="text/javascript">
                       function OnSearchCheckAndSubmit()
                       {
                            var keyword=document.getElementById("Keyword").value;
							var fieldoptionSel=document.getElementById("fieldoption");
							var fieldoption=fieldoptionSel.options[fieldoptionSel.options.selectedIndex].value;
							var specialSel=document.getElementById("specialid");
							var specialId=specialSel.options[specialSel.options.selectedIndex].value;
                            if(keyword==''||keyword==null)
                            {
                                alert("请填写您想搜索的关键词");
                                return ;
                            }else{
                           
                                   window.location="{PE.SiteConfig.applicationpath/}search.aspx?searchtype=3&Keyword="+escape(keyword)+"&fieldoption="+fieldoption+"&specialid="+escape(specialId);
                            }
                       }
                       </script>
                     </div>]]></LabelTemplate>
</root>
