<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>SELECT Top @pagesize T.SpecialID,T.SpecialName FROM PE_Specials T WHERE T.SpecialID NOT IN (SELECT Top @startrow IT.SpecialID FROM PE_Specials IT WHERE IT.SpecialCategoryID=@specialcategoryid) AND T.SpecialCategoryID=@specialcategoryid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:output method="xml" />
<xsl:template match="/">
<NewDataSet>
<xsl:for-each select="NewDataSet/Table">
<Table>
<SpecialID>
<xsl:value-of select="SpecialID"/>
</SpecialID>
<SpecialName>
<xsl:value-of select="SpecialName"/>
</SpecialName>
<SpecialPath>
&lt;a href="<xsl:value-of select="pe:GetSpecialPath(SpecialID)"/>"&gt;<xsl:value-of select="SpecialName"/>&lt;/a&gt;
</SpecialPath>
<SpecialLink>
<xsl:value-of select="pe:GetSpecialPath(SpecialID)"/>
</SpecialLink>
</Table>
</xsl:for-each>
</NewDataSet>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <OutType>
  </OutType>
  <CacheTime>0</CacheTime>
  <UsePage>True</UsePage>
  <LabelSqlCount>SELECT count(IT.SpecialID) FROM PE_Specials IT WHERE IT.SpecialCategoryID=@specialcategoryid</LabelSqlCount>
  <attributes>
    <name>specialcategoryid</name>
    <default>1</default>
    <intro>专题类别ID</intro>
  </attributes>
</root>