<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>SELECT SpecialCategoryID,SpecialCategoryName FROM PE_SpecialCategory ORDER BY OrderID ASC</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(Table)=0">
<xsl:text disable-output-escaping="yes">&lt;</xsl:text>option value="0|0"<xsl:text disable-output-escaping="yes">&gt;</xsl:text>没有专题类别<xsl:text disable-output-escaping="yes">&lt;</xsl:text>/option<xsl:text disable-output-escaping="yes">&gt;</xsl:text>
</xsl:when>
<xsl:otherwise>
<xsl:for-each select="Table">
<xsl:text disable-output-escaping="yes">&lt;</xsl:text>option value="<xsl:value-of select="SpecialCategoryID"/>|0"<xsl:text disable-output-escaping="yes">&gt;</xsl:text>
<xsl:value-of select="SpecialCategoryName"/>
<xsl:text disable-output-escaping="yes">&lt;</xsl:text>/option<xsl:text disable-output-escaping="yes">&gt;</xsl:text>
{PE.Label id="专题下拉列表选项" specialcategoryid="<xsl:value-of select="SpecialCategoryID"/>"/}
</xsl:for-each>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>