<root>
	<LabelType>静态标签</LabelType>
	<LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
	<LabelIntro>雅蓝会员中心底部静态标签，包含联系方式等信息</LabelIntro>
	<LabelDataType>static</LabelDataType>
	<LabelTemplate>
		<![CDATA[
		<div id="bottom_all">
		  <div id="foot">
			<div id="menu_link"> <a href="mailto:{PE.SiteConfig.WebmasterEmail /}">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{PE.SiteConfig.ApplicationPath/}category_7/index.aspx">网站留言</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{PE.SiteConfig.ApplicationPath /}category_6/index.aspx">友情链接</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{PE.SiteConfig.ApplicationPath /}Category_8/index.aspx">版权声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{PE.SiteConfig.ApplicationPath /}{PE.SiteConfig.ManageDir /}/Index.aspx" target="_blank">管理登录</a></div>
			<div id="copyright"> {PE.SiteConfig.CopyRight /}</div>
		  </div>
		</div>
		]]>
	</LabelTemplate>
	<OutType>txt</OutType>
</root>