<?xml version="1.0"?>
<root>
  <LabelType>数据源标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>
  </OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>authorname</name>
    <default>
    </default>
    <intro>作者名</intro>
  </attributes>
  <LabelSqlString><![CDATA[SELECT * FROM PE_Author WHERE Name='@authorname'AND Passed=1]]></LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="xml" />
<xsl:param name="authorname"/>
<xsl:param name="photowidth"/>
<xsl:param name="photoheight"/>
<xsl:template match="/NewDataSet/Table">
<Root>
<AuthorType>
<xsl:value-of select="Type"/>
</AuthorType>
<AuthorName>
<xsl:value-of select="Name"/>
</AuthorName>
<AuthorPhoto>
<xsl:choose>
<xsl:when test="Photo!=''">
<xsl:value-of select="Photo"/>
</xsl:when>
<xsl:otherwise>
nopic.gif
</xsl:otherwise>
</xsl:choose>
</AuthorPhoto>
<AuthorIntro>
<xsl:value-of disable-output-escaping="yes" select="Intro"/>
</AuthorIntro>
<AuthorAddress>
<xsl:value-of select="Address"/>
</AuthorAddress>
<AuthorTel>
<xsl:value-of select="Tel"/>
</AuthorTel>
<AuthorFax>
<xsl:value-of select="Fax"/>
</AuthorFax>
<AuthorMail>
<xsl:value-of select="Mail"/>
</AuthorMail>
<AuthorEmail>
<xsl:value-of select="Email"/>
</AuthorEmail>
<AuthorZipCode>
<xsl:value-of select="ZipCode"/>
</AuthorZipCode>
<AuthorHomePage>
<xsl:value-of select="HomePage"/>
</AuthorHomePage>
<AuthorImeeting>
<xsl:value-of select="Im"/>
</AuthorImeeting>
<AuthorSex>
<xsl:choose>
<xsl:when test="Sex=1">
男
</xsl:when>
<xsl:otherwise>
女
</xsl:otherwise>
</xsl:choose>
</AuthorSex>
<AuthorBirthDay>
<xsl:value-of select="pe:FormatDate(BirthDay,'yyyy-mm-dd')"/>
</AuthorBirthDay>
<AuthorCompany>
<xsl:value-of select="Company"/>
</AuthorCompany>
<AuthorDepartment>
<xsl:value-of select="Department"/>
</AuthorDepartment>
</Root>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>