<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>通用列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/PE_Author.gif</LabelImage>
  <LabelIntro>公告列表</LabelIntro>
  <LabelTemplate>
  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:output method="html" />
<xsl:param name="showtime" />
<xsl:param name="titlelen" />
<xsl:param name="showauthor" />
<xsl:param name="target" />
<xsl:param name="showcontent" />
<xsl:param name="contentlen" />
<xsl:param name="contenttype" />
<xsl:template match="/NewDataSet/Table">
<!-- 输出公告开始 -->
<ul>
<a>
<xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
</xsl:attribute>
<xsl:if test="$target!=''">
<xsl:attribute name="target">
<xsl:value-of select="$target" />
</xsl:attribute>
</xsl:if>
<li class="announce_title">
<xsl:value-of disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(Title),$titlelen,'…')" />
</li>
<xsl:if test="$showcontent = 'true'">
<li class="announce_text">
<xsl:choose>
<xsl:when test="$contenttype='nohtml'">
<xsl:value-of disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(Content),$contentlen,'…')" />
</xsl:when>
<xsl:when test="$contenttype='source'">
<xsl:value-of disable-output-escaping="yes" select="pe:CutText(Content,$contentlen,'…')" />
</xsl:when>
<xsl:otherwise>
<xsl:value-of disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(Content),$contentlen,'…')" />
</xsl:otherwise>
</xsl:choose>
</li>
</xsl:if>
<xsl:if test="$showauthor = 'true'">
<li class="announce_author">
<xsl:value-of select="Author"/>
</li>
</xsl:if>
<xsl:if test="$showtime = 'true'">
<li class="announce_author">
[<xsl:value-of select="pe:FormatDate(DateAndTime, 'yy年mm月dd日')" />]
</li>
</xsl:if>
</a>
</ul>
<!-- 输出公告结束 -->
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>列表数量</intro>
  </attributes>
  <attributes>
    <name>showtime</name>
    <default>true</default>
    <intro>显示时间</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>40</default>
    <intro>标题长度</intro>
  </attributes>
  <attributes>
    <name>showauthor</name>
    <default>true</default>
    <intro>显示发布者</intro>
  </attributes>
  <attributes>
    <name>target</name>
    <default>_blank</default>
    <intro>打开窗口方式</intro>
  </attributes>
  <LabelSqlString><![CDATA[SELECT TOP @shownum PE_U_Announce.ID,PE_U_Announce.Content,PE_U_Announce.Author,PE_U_Announce.DateAndTime,PE_U_Announce.IsSelected,PE_U_Announce.OutTime,PE_U_Announce.ShowType,PE_CommonModel.GeneralID,PE_CommonModel.NodeID,PE_CommonModel.InputTime,PE_CommonModel.ItemId,PE_CommonModel.TableName,PE_CommonModel.Title,PE_CommonModel.Hits,PE_CommonModel.Status,PE_CommonModel.EliteLevel,PE_CommonModel.Priority,PE_CommonModel.PinyinTitle  FROM PE_U_Announce RIGHT JOIN PE_CommonModel ON PE_U_Announce.ID = PE_CommonModel.ItemID Where PE_CommonModel.TableName = 'PE_U_Announce' and PE_CommonModel.Status = 99 and PE_U_Announce.IsSelected = 1 AND DATEADD(d, PE_U_Announce.OutTime, PE_U_Announce.DateAndTime) >=getdate() OR (PE_CommonModel.TableName = 'PE_U_Announce') AND (PE_CommonModel.Status = 99) AND (PE_U_Announce.IsSelected = 1) AND (PE_U_Announce.OutTime = 0) ORDER BY PE_U_Announce.DateAndTime DESC]]></LabelSqlString>
  <attributes>
    <name>showcontent</name>
    <default>false</default>
    <intro>显示内容</intro>
  </attributes>
  <attributes>
    <name>contentlen</name>
    <default>40</default>
    <intro>内容字数</intro>
  </attributes>
  <attributes>
    <name>contenttype</name>
    <default>html|||nohtml|||source</default>
    <intro>内容显示时是否启用HTML支持</intro>
  </attributes>
  <OutType>sin</OutType>
  <CacheTime>12</CacheTime>
</root>