<?xml version="1.0" encoding="utf-8"?>
<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝内容评论PK标签</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[    <!-- PK评论列表开始 -->
    <div id="pe100_评论列表"></div>
    <div style="padding-right: 4px; float: right;"> <span id="pe100_page_评论列表"></span> </div>
    <!-- PK评论列表结束 -->
    <div class="c_spacing"> </div>
    <!-- PK评论开始 -->
    <div class="article_PK">
      <dl>
        <dt>
          <div class="PK_mouseover" id="Positon1" onClick="SetPosition(1)">
            <dl>
              我支持
            </dl>
          </div>
          <div class="PK_title" id="Positon0" onClick="SetPosition(0)">
            <dl>
              我中立
            </dl>
          </div>
          <div class="PK_title" id="Positon-1" onClick="SetPosition(-1)">
            <dl>
              我反对
            </dl>
          </div>
          <div class="PK_statement">本评论只代表网友个人观点，不代表本站观点。</div>
        </dt>
        <dd id="indiv">
          {PE.Label id="发表评论用户信息" generalid="<xsl:value-of select="$generalid"/>" span="" class="" /}
        </dd>
      </dl>
    </div>
    <div id="status"> </div>
    <!-- PK评论结束 -->
]]></LabelTemplate>
  <OutType>txt</OutType>
  <attributes>
    <name>generalid</name>
    <default>0</default>
    <intro>信息ID</intro>
  </attributes>
</root>