<?xml version="1.0"?>
<root>
  <LabelType>其它标签</LabelType>
  <LabelIntro>内容签收</LabelIntro>
  <OutType>txt</OutType>
  <LabelDataType>static</LabelDataType>
  <attributes>
    <name>ItemId</name>
    <default>0</default>
    <intro>内容ID</intro>
  </attributes>
  <LabelTemplate>
          <![CDATA[<span id="content_signin"></span>
<span id="content_SigninAjaxStatus"></span>
<script type="text/javascript">
    function GetContentSigninStatus(id)
    {
        var x = new AjaxRequest('XML','content_SigninAjaxStatus');
        x.para = ['itemid='+id];
        x.post('GetContentSigninStatus', '{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) 
        {
            var xml = x.createXmlDom(s);
            var  status = xml.getElementsByTagName("status")[0].firstChild.data;
            document.getElementById("content_SigninAjaxStatus").style.display = "none";
            
            switch (status)
            {
                case "NoSignin":
                    break;
                case "NoLogin":
                    break;
                case "AutoSignin":
                    var time = xml.getElementsByTagName("time")[0].firstChild.data;
                    AutoSigninContent(id,time);
                    break;
                case "NormalSignin":
                    $("content_signin").innerHTML = "【<a href='#' onclick=\"SigninContent('"+id+"')\" >点击签收</a>】";
                    break;
                case "Signined":
                    $("content_signin").innerHTML = "【已签收】";
                    break;
            }
        });
    }
    
    function AutoSigninContent(id,time)
    {
        var secs = time;
        var wait = secs * 1000;
        $("content_signin").innerHTML = "【自动签收[" + secs +"]秒】";
        for(i = 1; i <= secs; i++)
        {
            window.setTimeout("UpdateAutoSigninTime(" + i + "," + secs + ")", i * 1000);
        }
        window.setTimeout("SigninContent("+id+")", wait);
    }
    
    function UpdateAutoSigninTime(num,wait)
    {
        printnr = wait  - num;
        $("content_signin").innerHTML = "【自动签收[" + printnr +"]秒】";
    }
    
    function SigninContent(id)
    {
        var x = new AjaxRequest('XML','content_SigninAjaxStatus');
        x.para = ['itemid='+id];
        x.post('SigninContent', '{PE.SiteConfig.applicationpath/}ajax.aspx', function(s) 
        {
            var xml = x.createXmlDom(s);
            var  status = xml.getElementsByTagName("status")[0].firstChild.data;
            document.getElementById("content_SigninAjaxStatus").style.display = "none";
            
            switch (status)
            {
            case "Signined":
             $("content_signin").innerHTML = "【已签收】";
             break;
            case "NotSignined":
             $("content_signin").innerHTML = "【签收失败】";
             break;
            }
        }
        );
    }
    GetContentSigninStatus(<xsl:value-of select="$ItemId"/>);
</script>]]></LabelTemplate>
</root>