<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>
  </OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>specialcategoryid</name>
    <default>1</default>
    <intro>专题类别ID</intro>
  </attributes>
  <LabelSqlString>SELECT SpecialID,SpecialName,OpenType FROM PE_Specials WHERE SpecialCategoryID=@specialcategoryid ORDER BY OrderID ASC</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/">
<xsl:for-each select="/NewDataSet/Table">
<li>
<xsl:choose>
<xsl:when test="position()=last()">
<img src="{pe:InstallDir()}images/tree_line2.gif" />
</xsl:when>
<xsl:otherwise>
<img src="{pe:InstallDir()}images/tree_line1.gif" />
</xsl:otherwise>
</xsl:choose>
<img src="{pe:InstallDir()}images/tree_folder3.gif" />
<a>
<xsl:attribute name="href">
<xsl:value-of select="pe:GetSpecialPath(SpecialID)"/>
</xsl:attribute>
<xsl:attribute name="target">
<xsl:choose>
<xsl:when test="OpenType=0">
_self
</xsl:when>
<xsl:otherwise>
_blank
</xsl:otherwise>
</xsl:choose>
</xsl:attribute>
<xsl:value-of select="SpecialName"/>
</a>
</li>
</xsl:for-each>

</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>