<root>
  <LabelType>通用列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicProduct.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>ProducerName</name>
    <default>出版</default>
    <intro>参数说明</intro>
  </attributes>
  <LabelSqlString><![CDATA[select ProducerName,ProducerPhoto,Fax,Email,HomePage,ProducerIntro,Address from PE_producer where ProducerName='@ProducerName']]></LabelSqlString>
  <LabelTemplate>
  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/">

<xsl:if test="count(/NewDataSet/Table)>0">

<div class="p_author_l">
<xsl:element name="img">
<xsl:attribute name="height">
172px
</xsl:attribute>
<xsl:attribute name="width">
150px
</xsl:attribute>
<xsl:attribute name="src">

<xsl:choose>
<xsl:when test="/NewDataSet/Table/ProducerPhoto=''">
<xsl:value-of select="pe:UpLoadDir()"/>nopic.gif
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:ConvertAbsolutePath(/NewDataSet/Table/ProducerPhoto)"/>
</xsl:otherwise>
</xsl:choose>

</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
<xsl:attribute name="alt">
<xsl:value-of select="/NewDataSet/Table/ProducerName"/>
</xsl:attribute>
</xsl:element>
</div>

<div class="p_author_c">
<xsl:choose>
<xsl:when test="/NewDataSet/Table/ProducerIntro=''">
没有相关的厂商简介！
</xsl:when>
<xsl:otherwise>
<xsl:value-of disable-output-escaping="yes" select="/NewDataSet/Table/ProducerIntro"/>
</xsl:otherwise>
</xsl:choose>

</div>
</xsl:if>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>