<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>
  </OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>ShowDate</name>
    <default>false</default>
    <intro>显示发表时间</intro>
  </attributes>
  <attributes>
    <name>ShowLink</name>
    <default>false</default>
    <intro>显示商品详细信息链接</intro>
  </attributes>
  <attributes>
    <name>IntroLength</name>
    <default>20</default>
    <intro>商品简介显示字数</intro>
  </attributes>
  <attributes>
    <name>OrderType</name>
    <default>order by M.UpdateTime desc</default>
    <intro>排列方式</intro>
  </attributes>
  <attributes>
    <name>Filter</name>
    <default>
    </default>
    <intro>查询条件</intro>
  </attributes>
  <attributes>
    <name>InnerOrderType</name>
    <default>order by MM.UpdateTime desc</default>
    <intro>排列方式</intro>
  </attributes>
  <attributes>
    <name>InnerFilter</name>
    <default>
    </default>
    <intro>查询条件</intro>
  </attributes>
  <LabelSqlString><![CDATA[select top @pagesize M.GeneralID,M.NodeID,M.InputTime,M.Title,P.ProductID,P.ProductName,P.ProductIntro,P.Keyword,P.ProductThumb,P.Price_Market,P.Price,P.Price_Member from PE_CommonProduct P inner join PE_CommonModel M on P.ProductID = M.GeneralID where M.GeneralID NOT IN(SELECT TOP @startrow MM.GeneralID from PE_CommonProduct PP inner join PE_CommonModel MM on PP.ProductID = MM.GeneralID WHERE EnableSale=1 and MM.Status=99 and PP.Stocks>0 @InnerFilter and MM.LinkType = 0 @InnerOrderType) AND EnableSale=1 and M.Status=99 and P.Stocks>0 @Filter and M.LinkType = 0 @OrderType ]]></LabelSqlString>
  <LabelTemplate>
  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="xml" />
<xsl:param name="ShowDate"/>
<xsl:param name="ShowLink"/>
<xsl:param name="IntroLength"/>
<xsl:param name="OrderType"/>
<xsl:param name="Filter"/>
<xsl:param name="ProducerName"/>
<xsl:template match="/NewDataSet">
<table width="100%">
<tr>
<td>
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
<xsl:value-of select="$ProducerName"/>没有发布商品
</xsl:when>
<xsl:otherwise>
<xsl:for-each select="Table">
<xsl:if test="$ShowDate='true'">
<p>
<xsl:value-of select="pe:FormatDate(UpdateTime,'yyyy-mm-dd')"/>
</p>
</xsl:if>
<h4>
<xsl:value-of select="ProductName"/>
</h4> 
<xsl:choose>
<xsl:when test="ProductIntro=''">
<p>
<xsl:value-of select="Keyword"/>
</p>
</xsl:when>
<xsl:otherwise>
<xsl:value-of disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(ProductIntro),$IntroLength,'...')"/>
</xsl:otherwise>
</xsl:choose>
<xsl:choose>
<xsl:when test="$ShowLink='true'">
<div align='right'>
<a> <xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
</xsl:attribute>
点击这里浏览具体内容&gt;&gt;&gt;
</a>
</div>
<br />
</xsl:when>
</xsl:choose>
</xsl:for-each>
</xsl:otherwise>
</xsl:choose>
</td>
</tr>
</table>	
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <UsePage>True</UsePage>
  <LabelSqlCount><![CDATA[select count(P.ProductID)  from PE_CommonProduct P inner join PE_CommonModel M on P.ProductID = M.GeneralID where EnableSale=1 and M.Status=99 and P.Stocks>0 @Filter and M.LinkType = 0 ]]></LabelSqlCount>
</root>