<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shownum</name>
    <default>20</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>linktype</name>
    <default>1</default>
    <intro>链接方式</intro>
  </attributes>
  <attributes>
    <name>nodeid</name>
    <default>0</default>
    <intro>栏目ID</intro>
  </attributes>
  <attributes>
    <name>specialid</name>
    <default>0</default>
    <intro>专题ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>显示站点名最多字符个数</intro>
  </attributes>
  <attributes>
    <name>contentintrolen</name>
    <default>50</default>
    <intro>站点简介最多字符个数</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐优先级</intro>
  </attributes>
  <attributes>
    <name>target</name>
    <default>_blank</default>
    <intro>打开方式</intro>
  </attributes>
  <attributes>
    <name>showtype</name>
    <default>2</default>
    <intro>显示方式</intro>
  </attributes>
  <LabelSqlString>SELECT TOP 1 * FROM PE_U_FriendSite</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="strsql" />
<xsl:param name="shownum" />
<xsl:param name="linktype" />
<xsl:param name="nodeid" />
<xsl:param name="specialid" />
<xsl:param name="titlelen" />
<xsl:param name="contentintrolen" />
<xsl:param name="elitelevel" />
<xsl:param name="target" />
<xsl:param name="showtype" />

<xsl:template match="/NewDataSet/Table">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
<ul>
<li>还没有友情链接站点!</li>
</ul>
</xsl:when>
<xsl:otherwise>
{PE.Label id="友情链接列表_排序方式" shownum="10" linktype="1" nodeid="0" specialid="0" titlelen="20" contentintrolen="50" elitelevel="0" showtype="2" usepage="true" target="_blank" ordertype="2" span="" class="" /}

</xsl:otherwise>
</xsl:choose>		
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>