<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shownum</name>
    <default>20</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>linktype</name>
    <default>1</default>
    <intro>链接方式</intro>
  </attributes>
  <attributes>
    <name>nodeid</name>
    <default>0</default>
    <intro>栏目ID</intro>
  </attributes>
  <attributes>
    <name>specialid</name>
    <default>0</default>
    <intro>专题ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>显示站点名最多字符个数</intro>
  </attributes>
  <attributes>
    <name>contentintrolen</name>
    <default>50</default>
    <intro>站点简介最多字符个数</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐优先级</intro>
  </attributes>
  <attributes>
    <name>target</name>
    <default>_blank</default>
    <intro>打开方式</intro>
  </attributes>
  <attributes>
    <name>showtype</name>
    <default>2</default>
    <intro>显示方式</intro>
  </attributes>
  <LabelSqlString>SELECT TOP 1 * FROM PE_U_FriendSite</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="strsql" />
<xsl:param name="shownum" />
<xsl:param name="linktype" />
<xsl:param name="nodeid" />
<xsl:param name="specialid" />
<xsl:param name="titlelen" />
<xsl:param name="contentintrolen" />
<xsl:param name="elitelevel" />
<xsl:param name="target" />
<xsl:param name="showtype" />
<xsl:param name="ordertype" />

<xsl:template match="/NewDataSet/Table">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
<ul>
<li>还没有友情链接站点!</li>
</ul>
</xsl:when>
<xsl:otherwise>
{PE.Label id="友情链接列表_排序方式" shownum="<xsl:value-of select="$shownum" />" linktype="文字类型" nodeid="<xsl:value-of select="$nodeid" />" specialid="<xsl:value-of select="$specialid" />" titlelen="<xsl:value-of select="$titlelen" />" contentintrolen="<xsl:value-of disable-output-escaping="yes" select="$contentintrolen" />" elitelevel="<xsl:value-of select="$elitelevel" />" showtype="<xsl:value-of select="$showtype" />" usepage="true" target="<xsl:value-of select="$target" />" ordertype="<xsl:value-of select="$ordertype" />" span="" class="" /}

</xsl:otherwise>
</xsl:choose>		
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>ordertype</name>
    <default>3</default>
    <intro>排序方式</intro>
  </attributes>
</root>