<root>
  <LabelType>系统标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>generalid</name>
    <default>13</default>
    <intro>参数说明</intro>
  </attributes>
  <LabelSqlString>select rootId from pe_nodes where nodeid=(select nodeid from pe_commonModel where generalid=@generalid)</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet/Table">
<xsl:value-of select="rootId"/>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>