<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <UsePage>True</UsePage>
  <LabelSqlString>SELECT TOP @pagesize * FROM PE_Trademark WHERE TrademarkID NOT IN(SELECT TOP @startrow TrademarkID FROM PE_Trademark Where Passed=1 ORDER BY TrademarkID Desc) and Passed=1 ORDER BY TrademarkID Desc</LabelSqlString>
  <LabelSqlCount>select count(TrademarkID) from PE_Trademark Where Passed=1</LabelSqlCount>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
<li>
没有品牌数据
</li>
</xsl:when>
<xsl:otherwise>
<table>
<tr>
  <td>名称</td>
  <td>品牌简介</td>
</tr>
<xsl:for-each select="Table">
        <tr>
	  <td>
              <a>
<xsl:attribute name="href">
{PE.SiteConfig.applicationpath/}Shop/ShowTrademark.aspx?trademarkname=<xsl:value-of select="TrademarkName"/>
</xsl:attribute>
<xsl:value-of select="TrademarkName"/>
</a>          
	  </td>
	  <td>
          <xsl:value-of disable-output-escaping="yes" select="TrademarkIntro"/>
	  </td>
        </tr>
</xsl:for-each>
</table>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]>
  </LabelTemplate>
</root>