<root>
  <LabelType>数据源标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>
  </OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>TrademarkName</name>
    <default>
    </default>
    <intro>品牌名称</intro>
  </attributes>
  <LabelSqlString><![CDATA[SELECT TOP 10 PE_Trademark.* FROM PE_Trademark where TrademarkName = '@TrademarkName' and Passed=1]]></LabelSqlString>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet/Table">
<Root>
<ShowTrademarkID>
<xsl:value-of select="TrademarkID"/>
</ShowTrademarkID>
<ShowName>
<xsl:value-of select="TrademarkName"/>
</ShowName>
<ShowPhoto>
<xsl:value-of select="TrademarkPhoto"/>
</ShowPhoto>
<ShowProducerID>
<xsl:value-of select="ProducerID"/>
</ShowProducerID>
<ShowIntro>
<xsl:value-of disable-output-escaping="yes" select="TrademarkIntro"/>
</ShowIntro>
<ShowType>
<xsl:choose>
<xsl:when test="TrademarkType=1">
大陆品牌
</xsl:when>
<xsl:when test="TrademarkType=2">
港台品牌
</xsl:when>
<xsl:when test="TrademarkType=3">
日韩品牌
</xsl:when>
<xsl:when test="TrademarkType=4">
欧美品牌
</xsl:when>
<xsl:when test="TrademarkType=1">
大陆品牌
</xsl:when>
<xsl:otherwise>
其他品牌
</xsl:otherwise>
</xsl:choose>
</ShowType>
</Root>
</xsl:template>
</xsl:transform>]]>
  </LabelTemplate>
</root>