<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>parentid</name>
    <default>2</default>
    <intro>父栏目ID</intro>
  </attributes>
  <UsePage>True</UsePage>
  <LabelSqlString>SELECT Top @pagesize PE_Nodes.* FROM PE_Nodes WHERE NodeID NOT IN (SELECT TOP @startrow NodeID FROM PE_Nodes where ParentID = @parentid order by OrderID ) and (ParentID = @parentid) order by OrderID </LabelSqlString>
  <LabelSqlCount>select count(*) from PE_Nodes where ParentID = @parentid</LabelSqlCount>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<!-- 定义参数 -->
<xsl:param name="parentid" />
<xsl:param name="shownum"/>
<xsl:param name="titlelen"/>

<xsl:template match="/NewDataSet">
<xsl:choose>
<!-- 一指定栏目没有子栏目 -->
<xsl:when test="count(Table) = 0">
{PE.Label id="显示商品子栏目一列式列表循环"  parentid="<xsl:value-of select="$parentid" />" arraynodeid="<xsl:value-of select="$parentid" />" shownum="<xsl:value-of select="$shownum" />" titlelen="<xsl:value-of select="$titlelen" />" /}

</xsl:when>
<!-- 子栏目列表样式开始 -->
<xsl:otherwise>
<xsl:for-each select="Table">
 {PE.Label id="显示商品子栏目一列式列表循环" arraynodeid="<xsl:value-of select="arrChildID"/>" parentid="<xsl:value-of select="NodeID" />" shownum="<xsl:value-of select="$shownum" />" titlelen="<xsl:value-of select="$titlelen" />" /}
</xsl:for-each>
</xsl:otherwise>
<!-- 子栏目列表样式结束 -->
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>每栏目显示文章数</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
</root>