<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>
	  SELECT TOP 1 C.GeneralID,C.NodeID,C.ModelID,C.Title,C.UpdateTime,C.CreateTime,P.ProducerName,P.TrademarkName
	  ,P.ProductIntro,P.ProductExplain,P.Stars,P.ProductID,P.TableName,P.ProductType, P.Price
	  ,P.Price_Market,P.Price_Member,P.Price_Agent,P.PresentPoint,P.PresentExp,P.PresentMoney
	  ,P.LimitNum,P.Stocks,P.ProductThumb,P.ProductPic,P.Properties,P.Minimum 
	  FROM PE_CommonModel C INNER JOIN PE_CommonProduct P ON C.ItemID = P.ProductID
	  WHERE (C.GeneralID =@itemid )
  </LabelSqlString>
  <LabelTemplate>
  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:output method="xml" />
<xsl:template match="/">
<root>
<NodeID>
<xsl:value-of select="/NewDataSet/Table/NodeID"/>
</NodeID>
<GeneralID>
<xsl:value-of select="/NewDataSet/Table/GeneralID"/>
</GeneralID>
<ProductThumb>
<xsl:if test="/NewDataSet/Table/ProductThumb !=''">
<xsl:value-of select="pe:ConvertAbsolutePath(/NewDataSet/Table/ProductThumb)"/>
</xsl:if>
</ProductThumb>
<ProductPic>
<xsl:if test="/NewDataSet/Table/ProductPic !=''">
<xsl:value-of select="pe:ConvertAbsolutePath(/NewDataSet/Table/ProductPic)"/>
</xsl:if>
</ProductPic>
<Title>
<xsl:value-of select="/NewDataSet/Table/Title"/>
</Title>
<ProductID>
<xsl:value-of select="/NewDataSet/Table/ProductID"/>
</ProductID>
<!--
<EncodeTableName>
<xsl:value-of select="/NewDataSet/Table/TableName,'enbase64')"/>
</EncodeTableName>
-->
<TableName>
<xsl:value-of select="/NewDataSet/Table/TableName"/>
</TableName>
<Price_Market>
<xsl:value-of select="format-number(/NewDataSet/Table/Price_Market,'0.00')"/>
</Price_Market>
<Price>
<xsl:value-of select="format-number(/NewDataSet/Table/Price,'0.00')"/>
</Price>
<Price_Member>
<xsl:choose>
<xsl:when test="/NewDataSet/Table/Price_Member &gt; 0" >￥<xsl:value-of select="format-number(/NewDataSet/Table/Price_Member,'0.00')"/>
</xsl:when>
<xsl:when test="/NewDataSet/Table/Price_Member = 0 ">按会员组优惠方案
</xsl:when>
<xsl:otherwise>按会员组优惠价
</xsl:otherwise>
</xsl:choose>
</Price_Member>
<ProducerName>
<xsl:value-of   select="/NewDataSet/Table/ProducerName"/>
</ProducerName>
<TrademarkName>
<xsl:value-of select="/NewDataSet/Table/TrademarkName"/>
</TrademarkName>
<UrlProducerName>
<xsl:value-of select="pe:UrlEncode(/NewDataSet/Table/ProducerName)"/>
</UrlProducerName>
<UrlTrademarkName>
<xsl:value-of select="pe:UrlEncode(/NewDataSet/Table/TrademarkName)"/>
</UrlTrademarkName>
<Stars>
<xsl:if test="/NewDataSet/Table/Stars !=''">
<xsl:value-of select="pe:Convert2Char(/NewDataSet/Table/Stars,'★')"/>
</xsl:if>
</Stars>
<ProductExplain>
<xsl:choose>
<xsl:when test="/NewDataSet/Table/ProductExplain !=''">
<xsl:value-of disable-output-escaping="yes" select="/NewDataSet/Table/ProductExplain"/>
</xsl:when>
<xsl:otherwise>
<xsl:value-of disable-output-escaping="yes" select="/NewDataSet/Table/ProductIntro"/>
</xsl:otherwise>
</xsl:choose>
</ProductExplain>
<ProductIntro>
<xsl:value-of disable-output-escaping="yes" select="/NewDataSet/Table/ProductIntro"/>
</ProductIntro>
<Properties>
<xsl:value-of select="/NewDataSet/Table/Properties"/>
</Properties>
<FieldTable>
<xsl:value-of  select="pe:GetFieldList(/NewDataSet/Table/ModelID,/NewDataSet/Table/GeneralID,'','','')"/>
</FieldTable>
<Hits>
&lt;script language="JavaScript" type="text/JavaScript" src="<xsl:value-of select="pe:InstallDir()" />Common/GetHits.aspx?id=<xsl:value-of select="/NewDataSet/Table/GeneralID"/>"&gt;&lt;/script&gt;
</Hits>
<DayHits>
<xsl:value-of select="/NewDataSet/Table/DayHits"/>
</DayHits>
<WeekHits>
<xsl:value-of select="/NewDataSet/Table/WeekHits"/>
</WeekHits>
<MonthHits>
<xsl:value-of select="/NewDataSet/Table/MonthHits"/>
</MonthHits>
<Minimum>
<xsl:choose>
<xsl:when test="/NewDataSet/Table/Minimum !=0">
<xsl:value-of select="/NewDataSet/Table/Minimum"/>
</xsl:when>
<xsl:otherwise>
1
</xsl:otherwise>
</xsl:choose>
</Minimum>
</root>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>itemid</name>
    <default>4</default>
    <intro>商品ID</intro>
  </attributes>
  <OutType>
  </OutType>
  <CacheTime>0</CacheTime>
</root>