<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>parentid</name>
    <default>2</default>
    <intro>父栏目ID</intro>
  </attributes>
  <UsePage>
  </UsePage>
  <LabelSqlString>SELECT Top 1 * FROM PE_Nodes WHERE NodeID = @parentid</LabelSqlString>
  <LabelSqlCount>select count(*) from PE_Nodes where ParentID = @parentid</LabelSqlCount>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<!-- 定义参数 -->
<xsl:param name="parentid"/>
<xsl:param name="titlelen"/>
<xsl:param name="hits"/>
<xsl:param name="elitelevel"/>
<xsl:param name="type" />
<xsl:param name="shownum" />
<xsl:param name="opentype" />
<xsl:template match="/NewDataSet">

<!-- 子栏目一列式列表循环开始 -->
<div class="childclasslist_box">
	<div class="c_main_box">
        <div class="class_title">
		<span class="childclass_pic">
		</span>
         <xsl:choose>
            <xsl:when test="$type=1">最新商品</xsl:when>
            <xsl:when test="$type=2">推荐商品</xsl:when>
            <xsl:when test="$type=3">热卖商品</xsl:when>
            <xsl:when test="$type=4">精品商品</xsl:when>
            <xsl:when test="$type=5">固顶商品</xsl:when>
            <xsl:otherwise>
<xsl:value-of select="pe:GetNode($parentid,'name')"/>
</xsl:otherwise>        
         </xsl:choose>         
        </div>
        <div class="class_content">
			<!-- 显示内容循环 -->
			<div class="p_childclass_list">
				<ul>
					<xsl:choose>
						 <xsl:when test="count(Table) = 0">
						 <li>本栏尚无内容!
						 </li>
						 </xsl:when>
						 <xsl:otherwise>
							{PE.DataSource id="InfoList" datasource="显示商品栏目循环列表信息_分页"  page="true"  pagesize="<xsl:value-of select="$shownum"/>" pagemain="true" urlpage="true" arraynodeid="<xsl:value-of select="Table/arrChildID"/>" parentid="<xsl:value-of select="$parentid"/>"  titlelen="<xsl:value-of select="$titlelen"/>"  hits="<xsl:value-of select="$hits"/>"  elitelevel="<xsl:value-of select="$elitelevel"/>" opentype="<xsl:value-of select="$opentype"/>" xslt="true" 
          <xsl:choose>
            <xsl:when test="$type=1">isnew="convert(int,isnew) desc,"</xsl:when>
            <xsl:when test="$type=2">status="and elitelevel &gt;=100"</xsl:when>
            <xsl:when test="$type=3">status="and ishot=1"</xsl:when>
            <xsl:when test="$type=4">status="and isbest=1"</xsl:when>
            <xsl:when test="$type=5">status="and priority &gt;=100"</xsl:when>
         </xsl:choose>       
                     /}					
							{PE.Repeat id="InfoList" loop="1000"}
								 <li>
									 <div class="p_list_pic">
									 {PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="ProductThumb" /}
									 </div>
									 <div class="p_list_name">
									 {PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="InfoPath" /}
									 </div>
									 <div class="p_list_price">
									 市场价：￥{PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="MarketPrice" /}
									</div>
									<div class="p_list_price">
									零售价：￥{PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="Price" /}
									</div>
									<div class="p_list_botton">
									{PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="BuyProduct" /}
									{PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="DetailInfo" /}
									</div>
								</li>
							{/PE.Repeat}
						  </xsl:otherwise>
					</xsl:choose>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- 子栏目一列式列表循环结束 -->
</xsl:template>
</xsl:transform>
]]></LabelTemplate>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>每栏目显示文章数</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <attributes>
    <name>hits</name>
    <default>0</default>
    <intro>最小热门点击数</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐优先级</intro>
  </attributes>
  <attributes>
    <name>type</name>
    <default>
    </default>
    <intro>要显示的商品种类</intro>
  </attributes>
  <attributes>
    <name>opentype</name>
    <default>_blank</default>
    <intro>打开方式</intro>
  </attributes>
  <EnabelAjax>False</EnabelAjax>
</root>