<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝商品搜索</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[<!-- 搜索 -->
                    <div class="main_search">
                         <table>
                         <tr><td>商品栏目：</td><td><select name='nodeid' size='1'>{PE.Label id="栏目分类下拉列表选项" nodeid="4" span="" class="" /}</select></td></tr>
                         <tr><td>商品名称：</td><td><input id="title" maxLength="100" size="30" name="title" /></td></tr>
                         <tr><td>商品简介：</td><td><input id="productintro" maxLength="100" size="30" name="productintro" /></td></tr>
                         <tr><td>商品详细介绍：</td><td><input id="productexplain" maxLength="100" size="30" name="productexplain" /></td></tr>
                         <tr><td>商品生产商：</td><td><input id="producername" maxLength="100" size="30" name="producername" /></td></tr>
                         <tr><td>商品品牌/商标：</td><td><input id="trademarkname" maxLength="100" size="30" name="trademarkname" /></td></tr>
                         <tr><td>商品价格（元）：</td><td><input id="lowprice" maxLength="100" size="30" name="lowprice" /> 到 <input id="highprice" maxLength="100" size="30" name="highprice" /></td></tr>
                         <tr><td>更新时间：</td><td><input id="begindate" maxLength="100" size="30" name="begindate" /> 到 <input id="enddate" maxLength="100" size="30" name="enddate" /></td></tr>
                         </table>
                         <div class="main_search_sub"><input id="Submit" style="border: 0px;width: 65px;height: 21px;" type="image" src="Skin/Default/Images/search_b.gif" name="Submit" onclick="OnSearchCheckAndSubmit();" /></div>

					   <script language="javascript" type="text/javascript">
                       function OnSearchCheckAndSubmit()
                       {
                            
                            var nodeSel=document.getElementById("NodeId");
                            var nodeId=nodeSel.options[nodeSel.options.selectedIndex].value;

							var title=document.getElementById("title").value;  
							var productintro=document.getElementById("productintro").value;                          
							var productexplain=document.getElementById("productexplain").value;                          
							var producername=document.getElementById("producername").value;                          
							var trademarkname=document.getElementById("trademarkname").value;                          
							var lowprice=document.getElementById("lowprice").value;
							var highprice=document.getElementById("highprice").value;
							var begindate=document.getElementById("begindate").value;
							var enddate=document.getElementById("enddate").value;

							if(CheckFloat(lowprice) && CheckFloat(highprice) && CheckDateTime(begindate) &&CheckDateTime(enddate))
							{
								window.location="{PE.SiteConfig.applicationpath/}search.aspx?searchtype=2&showtype=1&ModelId=5&nodeId="+nodeId+"&title="+escape(title)+"&productintro="+escape(productintro)+"&productexplain="+escape(productexplain)+"&producername="+escape(producername)+"&trademarkname="+escape(trademarkname)+"&lowprice="+lowprice+"&highprice="+highprice+"&begindate="+escape(begindate)+"&enddate="+escape(enddate);
							}
                       }
					   function CheckDateTime(str)
					   {
							if(str!="")
							{
								var reg = /^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2})$/; 
								var r = str.match(reg); 
								if(r==null)
								{
									alert("请输入正确的日期格式！如：1900-01-01");
									return false; 
								}
								else
								{
									return true;
								}
							}
							return true;
						} 
						function CheckFloat(str)
						{
							if(str !="")
							{
								var reg = /^\d+(\.\d+)?$/;

								var r = str.match(reg); 
								if(r==null)
								{
									alert("请输入数字型值!");
									return false; 
								}
								else
								{
									return true;
								}
							}
							return true;
						}
                       </script>
                     </div>]]></LabelTemplate>
  <OutType>txt</OutType>
</root>