<?xml version="1.0"?>
<root>
  <LabelType>数据源标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>nodeid</name>
    <default>4</default>
    <intro>节点ID</intro>
  </attributes>
  <LabelSqlString>select p.ProductID,P.ProductName,P.Price from PE_commonModel M inner join PE_CommonProduct P on m.itemId=p.productid
where M.NodeID=@nodeid and m.status=99 and P.enableSale=1</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:param name="parentid"/>
<xsl:output method="xml" />
<xsl:template match="/">
<NewDataSet>
<xsl:for-each select="NewDataSet/Table">
<Table>

<ProductID>
<xsl:value-of select="ProductID"/>
</ProductID>
<ProductName>
<xsl:value-of select="ProductName"/>
</ProductName>
<Price>
<xsl:value-of select="format-number(Price,'0.00')"/>
</Price>

</Table>
</xsl:for-each>
</NewDataSet>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>