<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>通用列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/PE_Blog.gif</LabelImage>
  <LabelIntro>商品列表</LabelIntro>
  <LabelSqlString>SELECT TOP 10 ProductID,TableName,ProductName,ProductType,OrderNum  FROM PE_CommonProduct </LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/">

<ul>
<xsl:for-each select="/NewDataSet/Table">
<li>
<a>
<xsl:attribute name="href">{PE.SiteConfig.applicationpath/}Shop/ShoppingCart.aspx?Action=AddToCart&amp;ProductID=<xsl:value-of select="ProductID" />&amp;TableName=<xsl:value-of select="TableName" />
</xsl:attribute>
<xsl:value-of select="ProductName" />
</a>
</li>
</xsl:for-each>
</ul>

</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
</root>