<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>parentid</name>
    <default>2</default>
    <intro>父栏目ID</intro>
  </attributes>
  <UsePage>True</UsePage>
  <LabelSqlString>SELECT Top @pagesize PE_Nodes.* FROM PE_Nodes WHERE NodeID NOT IN (SELECT TOP @startrow NodeID FROM PE_Nodes where ParentID = @parentid AND ShowOnList_Parent=1 order by OrderID) and (ParentID = @parentid) AND ShowOnList_Parent=1 order by OrderID</LabelSqlString>
  <LabelSqlCount>select count(*) from PE_Nodes where ParentID = @parentid AND ShowOnList_Parent=1</LabelSqlCount>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<!-- 定义参数 -->
<xsl:param name="parentid"/>
<xsl:param name="titlelen"/>
<xsl:param name="shownum"/>
<xsl:param name="hits"/>
<xsl:param name="elitelevel"/>
<xsl:param name="opentype" />
<xsl:template match="/NewDataSet">
<!-- 一列式栏目上下循环样式开始 -->
<xsl:for-each select="Table">
<div class="c_spacing">
</div>
<div class="c_main_box">
	<div class="class_title">
		<div class="more">
			<a>
			<xsl:attribute name="href">
			<xsl:value-of select="pe:GetNodePath('true',NodeID)"/>
			</xsl:attribute> 
			[更多]
			</a>
		</div>      
		<a> 
		<xsl:attribute name="href">
		<xsl:value-of select="pe:GetNodePath('true',NodeID)"/>
		</xsl:attribute>
		<xsl:value-of select="pe:GetNode(NodeID,'name')"/>
		</a>
	</div> 
	<div class="class_content">
		<div class="p_class_list">
			<ul>
				{PE.DataSource id="InfoList<xsl:value-of select="NodeID"/>" datasource="显示图片栏目循环列表信息" arraynodeid="<xsl:value-of select="arrChildID"/>" parentid="<xsl:value-of select="$parentid"/>" shownum="<xsl:value-of select="$shownum"/>" hits="<xsl:value-of select="$hits"/>" elitelevel="<xsl:value-of select="$elitelevel"/>" opentype="<xsl:value-of select="$opentype"/>" xslt="true" /}
				{PE.Repeat id="InfoList<xsl:value-of select="NodeID"/>" loop="10"}
				<li>
					{PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="DefaultPicUrl" /}
					<br />
					{PE.field id="InfoList<xsl:value-of select="NodeID"/>" fieldname="InfoPath" /}
				</li>
				{/PE.Repeat}
			 </ul>
		</div>
	<div class="clearbox">
	</div>
	</div>
</div>
</xsl:for-each>

<!-- 一列式栏目上下循环样式结束 -->
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>每栏目显示内容数</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <attributes>
    <name>hits</name>
    <default>0</default>
    <intro>最小热门点击数</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐优先级</intro>
  </attributes>
  <attributes>
    <name>opentype</name>
    <default>_blank</default>
    <intro>打开方式</intro>
  </attributes>
  <EnabelAjax>False</EnabelAjax>
</root>