<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>nodeid</name>
    <default>0</default>
    <intro>节点ID</intro>
  </attributes>
  <LabelSqlString>select NodeID,NodeName,Child,NextID,Depth from PE_Nodes where ParentID=@nodeid</LabelSqlString>
  <LabelTemplate>
  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="depth"/>
<xsl:template match="/">
<xsl:for-each select="/NewDataSet/Table">
<xsl:text disable-output-escaping="yes">&lt;option value=</xsl:text>
<xsl:value-of select="NodeID"/>
<xsl:text disable-output-escaping="yes">&gt;</xsl:text>
<xsl:value-of  disable-output-escaping="yes" select="pe:Convert2Char(Depth,'&amp;nbsp;&amp;nbsp;')"/>
<xsl:value-of select="NodeName"/>
<xsl:text disable-output-escaping="yes">&lt;/option&gt;</xsl:text>
<xsl:if test="Child&gt;0 and Depth&lt;$depth">
{PE.Label id="子栏目分类下拉列表选项" nodeid="<xsl:value-of select="NodeID"/>" depth="<xsl:value-of select="$depth"/>"/}
</xsl:if>

</xsl:for-each>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>depth</name>
    <default>5</default>
    <intro>节点深度</intro>
  </attributes>
</root>