<?xml version="1.0"?>
<root>
  <LabelType>数据源标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>
    <![CDATA[SELECT   *
FROM   PE_CommonModel INNER JOIN PE_U_Announce ON PE_CommonModel.GeneralID = PE_U_Announce.ID
WHERE     ((PE_U_Announce.ShowType = '弹出') OR (PE_U_Announce.ShowType='全部')) AND (PE_U_Announce.IsSelected = 1) AND ((DATEDIFF(d,  PE_U_Announce.DateAndTime,GETDATE()) <= PE_U_Announce.OutTime)  OR PE_U_Announce.OutTime=0) AND (PE_CommonModel.status=99)]]>
  </LabelSqlString>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet/Table">
<xsl:if test="count(/NewDataSet/Table)>0">
<script language='JavaScript'>
window.open ("<xsl:value-of select="pe:InstallDir()" />Category_5/index.aspx", "newwindow", "height=440, width=400, toolbar=no, menubar=no, scrollbars=auto, resizable=no, location=no, status=no")
</script>
</xsl:if>	
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>