<root>
 <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage></LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>SELECT TOP 1 PE_U_RedirectLink.ID,PE_U_RedirectLink.RedirectLink FROM PE_U_RedirectLink WHERE ID=@itemid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:output method="xml" />
<xsl:template match="/">
<root>
<SiteUrl>
<xsl:value-of select="/NewDataSet/Table/RedirectLink"/>
</SiteUrl>
<ItemId>
<xsl:value-of select="/NewDataSet/Table/ID"/>
</ItemId>
</root>		
</xsl:template>
</xsl:transform>]]></LabelTemplate>
<attributes>
    <name>itemid</name>
    <default>内容ID</default>
    <intro></intro>
  </attributes>
  <OutType>
  </OutType>
  <CacheTime>0</CacheTime>
</root>
