<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝软件搜索</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[  <!-- 搜索 -->
                    <div class="main_search">

					 文章栏目：<select name='nodeid' size='1'>{PE.Label id="栏目分类下拉列表选项" nodeid="1" span="" class="" /}</select>
					 <br />文章标题：<input id="title" maxLength="100" size="30" name="title" />
					 <br />文章内容：<input id="content" maxLength="100" size="30" name="content" />
					 <br />文章简介：<input id="intro" maxLength="100" size="30" name="intro" />
					 <br />文章作者：<input id="author" maxLength="100" size="30" name="author" />
					 <br />录 入 者：<input id="inputer" maxLength="100" size="30" name="inputer" />
					 <br />文章来源：<input id="source" maxLength="100" size="30" name="source" />
					 <br />关 键 字：<input id="keyword" maxLength="100" size="30" name="keyword" />
					 <br />阅读点数：<input id="lowinfopoint" maxLength="100" size="30" name="lowinfopoint" /> 到 <input id="highinfopoint" maxLength="100" size="30" name="highinfopoint" />
					 <br />更新时间：<input id="begindate" maxLength="100" size="30" name="begindate" /> 到 <input id="enddate" maxLength="100" size="30" name="enddate" />
					 <div class="main_search_sub"><input id="Submit" style="border: 0px;width: 65px;height: 21px;" type="image" src="{PE.SiteConfig.applicationpath/}Skin/Default/Images/search_b.gif" name="Submit" onclick="OnSearchCheckAndSubmit();" /></div>


				   <script language="javascript" type="text/javascript">
					   function OnSearchCheckAndSubmit()
					   {
							
							var nodeSel=document.getElementById("NodeId");
							var nodeId=nodeSel.options[nodeSel.options.selectedIndex].value;

							var title=document.getElementById("title").value;  
							var content=document.getElementById("content").value;                          
							var intro=document.getElementById("intro").value;                          
							var author=document.getElementById("author").value;                          
							var inputer=document.getElementById("inputer").value;                          
							var source=document.getElementById("source").value;                          
							var keyword=document.getElementById("Keyword").value;                          
							var lowinfopoint=document.getElementById("lowinfopoint").value;
							var highinfopoint=document.getElementById("highinfopoint").value;
							var begindate=document.getElementById("begindate").value;
							var enddate=document.getElementById("enddate").value;


							if(CheckFloat(lowinfopoint) && CheckFloat(highinfopoint) && CheckDateTime(begindate) &&CheckDateTime(enddate))
							{
								window.location="{PE.SiteConfig.applicationpath/}search.aspx?searchtype=2&showtype=1&ModelId=1&nodeId="+nodeId+"&title="+escape(title)+"&content="+escape(content)+"&intro="+escape(intro)+"&author="+escape(author)+"&inputer="+escape(inputer)+"&source="+escape(source)+"&keyword="+escape(keyword)+"&lowinfopoint="+lowinfopoint+"&highinfopoint="+highinfopoint+"&begindate="+escape(begindate)+"&enddate="+escape(enddate);
							}
					   }
					   function CheckDateTime(str)
					   {
							if(str!="")
							{
								var reg = /^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2})$/; 
								var r = str.match(reg); 
								if(r==null)
								{
									alert("请输入正确的日期格式！如：1900-01-01");
									return false; 
								}
								else
								{
									return true;
								}
							}
							return true;
						} 
						function CheckFloat(str)
						{
							if(str !="")
							{
								var reg = /^\d+(\.\d+)?$/;

								var r = str.match(reg); 
								if(r==null)
								{
									alert("请输入数字型值!");
									return false; 
								}
								else
								{
									return true;
								}
							}
							return true;
						}

                       </script>
                     </div>
]]></LabelTemplate>
  <OutType>txt</OutType>
</root>