<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>SELECT TOP 1 PE_CommonModel.*,PE_U_Article.*  FROM PE_CommonModel INNER JOIN PE_U_Article ON PE_CommonModel.ItemID = PE_U_Article.ID  WHERE  (PE_CommonModel.GeneralID = @itemid) AND PE_CommonModel.Status=99</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:output method="xml" />
<xsl:param name="itemid"/>
<xsl:template match="/">
<root>
<GeneralID>
<xsl:value-of select="/NewDataSet/Table/GeneralID"/>
</GeneralID>
<NodeID>
<xsl:value-of select="/NewDataSet/Table/NodeID"/>
</NodeID>
<Title>
<xsl:value-of select="pe:EncodeText( /NewDataSet/Table/Title ,'htmlencode')"/>
</Title>
<TitleIntact>
<xsl:choose>
<xsl:when test="/NewDataSet/Table/TitleIntact !=''">
<xsl:value-of select="pe:EncodeText(/NewDataSet/Table/TitleIntact,'htmlencode')"/>
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:EncodeText(/NewDataSet/Table/Title,'htmlencode')"/>
</xsl:otherwise>
</xsl:choose>
</TitleIntact>
<Subheading>
<xsl:value-of select="/NewDataSet/Table/Subheading"/>
</Subheading>
<Content>
<xsl:choose>
<xsl:when test="/NewDataSet/Table/PaginationType = '手动分页'">
{PE.ContentPage id="contentpage" mode="manual" pagesize="<xsl:value-of select="/NewDataSet/Table/MaxCharPerPage" />" urlpage="true"}
</xsl:when>
<xsl:when test="/NewDataSet/Table/PaginationType = '自动分页'">
{PE.ContentPage id="contentpage" mode="auto" pagesize="<xsl:value-of select="/NewDataSet/Table/MaxCharPerPage" />" urlpage="true"}
</xsl:when>
<xsl:otherwise>
{PE.ContentPage id="contentpage" mode="none"}
</xsl:otherwise>
</xsl:choose>
<xsl:value-of disable-output-escaping="yes" select="pe:FiltText(pe:FiltInsideLink(/NewDataSet/Table/Content))" />
{/PE.ContentPage}
</Content>
<Vote>
<xsl:value-of select="pe:GetVoteForm(/NewDataSet/Table/GeneralID)"/>
</Vote>
<LinkAuthor>
<xsl:value-of select="pe:EncodeText(/NewDataSet/Table/Author,'urlencode')"/>
</LinkAuthor>
<Author>
<xsl:value-of select="/NewDataSet/Table/Author"/>
</Author>
<Intro>
<xsl:value-of select="pe:EncodeText(/NewDataSet/Table/Intro,'htmlencode')"/>
</Intro>
<KeyWord>
<xsl:value-of select="pe:EncodeText(pe:ReplaceText(/NewDataSet/Table/Keyword,'|',','),'htmlencode')"/>
</KeyWord>
<LinkCopyFrom>
<xsl:value-of select="pe:EncodeText(/NewDataSet/Table/CopyFrom,'urlencode')"/>
</LinkCopyFrom>
<CopyFrom>
<xsl:value-of select="/NewDataSet/Table/CopyFrom"/>
</CopyFrom>
<UpdateTime>
<xsl:value-of select="pe:FormatDate(/NewDataSet/Table/UpdateTime,'yyyy年mm月dd日')"/>
</UpdateTime>
<TitleFontColor>
color:<xsl:value-of select="/NewDataSet/Table/TitleFontColor"/>
</TitleFontColor>
<TitleFontType>
{PE.Label id="转换标题字型" itemid="<xsl:value-of select="$itemid" />" titlefonttype="<xsl:value-of select="/NewDataSet/Table/TitleFontType"/>" /}
</TitleFontType>
<ArticleProtect>
<xsl:value-of select="pe:GetNodeEnableProtect(/NewDataSet/Table/NodeID)" />
</ArticleProtect>
<Hits>
&lt;script language="JavaScript" type="text/JavaScript" src="<xsl:value-of select="pe:InstallDir()" />Common/GetHits.aspx?id=<xsl:value-of select="/NewDataSet/Table/GeneralID"/>"&gt;&lt;/script&gt;
</Hits>
<DayHits>
<xsl:value-of select="/NewDataSet/Table/DayHits"/>
</DayHits>
<WeekHits>
<xsl:value-of select="/NewDataSet/Table/WeekHits"/>
</WeekHits>
<MonthHits>
<xsl:value-of select="/NewDataSet/Table/MonthHits"/>
</MonthHits>
<VoteForm>
<xsl:value-of select="pe:GetVoteForm(/NewDataSet/Table/GeneralID)"/>
</VoteForm>
</root>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>itemid</name>
    <default>1</default>
    <intro>文章ID</intro>
  </attributes>
  <OutType>
  </OutType>
  <CacheTime>0</CacheTime>
</root>