<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString><![CDATA[SELECT TOP @shownum C.*,P.* FROM PE_CommonModel C INNER JOIN @tablename P ON C.ItemID=P.ID WHERE C.NodeID in (@arraynodeid) AND C.TableName='@tablename' AND C.Status=99 AND C.EliteLevel>=@elitelevel AND C.Hits>=@hits order by C.UpdateTime DESC
]]></LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:param name="titlelen" />
<xsl:param name="opentype" />
<xsl:output method="xml" />
<xsl:template match="/">
<NewDataSet>
<xsl:for-each select="NewDataSet/Table">
<Table>
<GeneralID>
<xsl:value-of select="GeneralID"/>
</GeneralID>
<NodeID>
<xsl:value-of select="NodeID"/>
</NodeID>
<ModelId>
<xsl:value-of select="ModelId"/>
</ModelId>
<ItemId>
<xsl:value-of select="ItemId"/>
</ItemId>
<TableName>
<xsl:value-of select="TableName"/>
</TableName>
<Inputer>
<xsl:value-of select="Inputer"/>
</Inputer>
<Hits>
<xsl:value-of select="Hits"/>
</Hits>
<DayHits>
<xsl:value-of select="DayHits"/>
</DayHits>
<WeekHits>
<xsl:value-of select="WeekHits"/>
</WeekHits>
<MonthHits>
<xsl:value-of select="MonthHits"/>
</MonthHits>
<UpdateTime>
<xsl:value-of select="pe:FormatDate(UpdateTime,'yyyy-mm-dd')"/>
</UpdateTime>
<CommentAudited>
<xsl:value-of select="CommentAudited"/>
</CommentAudited>
<Title>
<xsl:value-of disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(Title),$titlelen,'...')" />
</Title>
<SoftVersion>
<xsl:value-of select="SoftVersion"/>
</SoftVersion>
<Author>
<xsl:value-of select="Author"/>
</Author>
<CopyFrom>
<xsl:value-of select="CopyFrom"/>
</CopyFrom>
<Keyword>
<xsl:value-of select="Keyword"/>
</Keyword>
<DefaultPicUrl>
&lt;a href="<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>"&gt;
&lt;img src="<xsl:choose>
<xsl:when test="DefaultPicUrl !=''">
<xsl:if test="pe:IsStartWithhttp(DefaultPicUrl)='false'">
<xsl:value-of select="pe:UpLoadDir()"/>
</xsl:if>
<xsl:value-of select="DefaultPicUrl"/>
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:UpLoadDir()"/>nopic.gif
</xsl:otherwise>
</xsl:choose>
" alt="<xsl:value-of select="Title" />" border="0" /&gt;
&lt;/a&gt;
</DefaultPicUrl>
<PhotoUrl>
<xsl:choose>
<xsl:when test="PhotoUrl !=''">
<xsl:if test="pe:IsStartWithhttp(PhotoUrl)='false'">
<xsl:value-of select="pe:UpLoadDir()"/>
</xsl:if>
<xsl:value-of select="PhotoUrl"/>
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:UpLoadDir()"/>nopic.gif
</xsl:otherwise>
</xsl:choose>
</PhotoUrl>
<PhotoIntro>
<xsl:value-of disable-output-escaping="yes" select="PhotoIntro"/>
</PhotoIntro>
<Stars>
<xsl:value-of select="Stars"/>
</Stars>
<LastHitTime>
<xsl:value-of select="LastHitTime"/>
</LastHitTime>
<InfoPath>
&lt;a href="<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>" target="<xsl:value-of select="$opentype"/>"&gt;
<xsl:value-of disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(Title),$titlelen,'...')" />
&lt;/a&gt;
</InfoPath>
<NodePath>
&lt;a href="<xsl:value-of select="pe:GetNodePath('true',NodeID)"/>"&gt;
<xsl:value-of select="pe:GetNode(NodeID,'name')" />
&lt;/a&gt;
</NodePath>
</Table>
</xsl:for-each>
</NewDataSet>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <OutType>
  </OutType>
  <CacheTime>0</CacheTime>
  <UsePage>
  </UsePage>
  <LabelSqlCount>select count(*) from PE_Nodes where ParentID = @parentid</LabelSqlCount>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>arraynodeid</name>
    <default>2</default>
    <intro>子栏目ID</intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>2</default>
    <intro>父栏目ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题字符数</intro>
  </attributes>
  <attributes>
    <name>tablename</name>
    <default>PE_U_Photo</default>
    <intro>所属表名</intro>
  </attributes>
  <attributes>
    <name>hits</name>
    <default>0</default>
    <intro>热门最小点击数</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐级别</intro>
  </attributes>
  <attributes>
    <name>opentype</name>
    <default>_blank</default>
    <intro>打开方式</intro>
  </attributes>
</root>