<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>@strsql</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:param name="strsql"/>
<xsl:param name="parentid"/>
<xsl:param name="arraynodeid"/>
<xsl:param name="shownum"/>
<xsl:param name="elitelevel"/>
<xsl:output method="html" />
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
<ul>
<li>
还没有图片！
</li>
</ul>
</xsl:when>
<xsl:otherwise>
<xsl:for-each select="Table">
 
</xsl:for-each>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>strsql</name>
    <default>SELECT TOP @shownum C.*,T.* FROM PE_CommonModel C INNER JOIN PE_U_Cases T ON C.ItemID=T.ID WHERE C.Status=99 AND T.DefaultPicUrl!='' AND EliteLevel=@elitelevel ORDER BY C.UpdateTime DESC</default>
    <intro>查询条件</intro>
  </attributes>
  <attributes>
    <name>arrnodeid</name>
    <default>1</default>
    <intro>栏目ID数组</intro>
  </attributes>
  <attributes>
    <name>shownum</name>
    <default>5</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐级别</intro>
  </attributes>
</root>