<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>itemid</name>
    <default>0</default>
    <intro>信息ID</intro>
  </attributes>
  <LabelSqlString>SELECT TOP @shownum * FROM PE_Comment  WHERE GeneralID=@itemid ORDER BY UpdateDateTime DESC</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet/Table">
	<div class="Reply" width="95%">
            <dl>
              <dt class="ReplyAdminTd" > <span class="ReplyAdmin">最近回复</span>：<xsl:value-of select="CommentTitle"/></dt>
              <dd>
<xsl:value-of disable-output-escaping="yes" select="Content"/>
              </dd>
              <dd class="ReplyTime">
回复人：
<xsl:choose>
<xsl:when test="UserName='游客'">
[游客]
</xsl:when>
<xsl:otherwise>
[用户]
</xsl:otherwise>
</xsl:choose>
<xsl:value-of select="ReplyUserName"/>
<xsl:text disable-output-escaping="yes">&amp;nbsp;&amp;nbsp;</xsl:text>
回复时间：<xsl:value-of select="pe:FormatDate(UpdateDateTime,'yy-mm-dd')"/>
              </dd>
            </dl>
          </div>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>shownum</name>
    <default>1</default>
    <intro>显示个数</intro>
  </attributes>
</root>