<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>    SELECT TOP @pagesize C.*,P.* FROM PE_CommonModel C INNER JOIN PE_CommonProduct P ON C.ItemID=P.ProductID
    WHERE C.GeneralId NOT IN (
    SELECT TOP @startrow IC.GeneralId  FROM PE_CommonModel IC INNER JOIN PE_CommonProduct IT ON IC.ItemID=IT.ProductID
    WHERE IC.NodeId in (@arraynodeid) AND IC.Status=99 AND IT.EnableSale=1 @producttype @status  order by @isnew IC.UpdateTime DESC
    ) AND C.NodeId in (@arraynodeid) AND C.Status=99 AND P.EnableSale=1 @producttype @status order by @isnew C.UpdateTime DESC
  </LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:param name="titlelen" />
<xsl:param name="opentype" />
<xsl:output method="xml" />
<xsl:template match="/">
<NewDataSet>
<xsl:for-each select="NewDataSet/Table">
<Table>
<GeneralID>
<xsl:value-of select="GeneralID"/>
</GeneralID>
<NodeID>
<xsl:value-of select="NodeID"/>
</NodeID>
<ModelId>
<xsl:value-of select="ModelId"/>
</ModelId>
<ItemId>
<xsl:value-of select="ItemId"/>
</ItemId>
<TableName>
<xsl:value-of select="TableName"/>
</TableName>
<Inputer>
<xsl:value-of select="Inputer"/>
</Inputer>
<Hits>
<xsl:value-of select="Hits"/>
</Hits>
<DayHits>
<xsl:value-of select="DayHits"/>
</DayHits>
<WeekHits>
<xsl:value-of select="WeekHits"/>
</WeekHits>
<MonthHits>
<xsl:value-of select="MonthHits"/>
</MonthHits>
<UpdateTime>
<xsl:value-of select="UpdateTime"/>
</UpdateTime>
<CommentAudited>
<xsl:value-of select="CommentAudited"/>
</CommentAudited>
<ProductName>
<xsl:value-of disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(ProductName),$titlelen,'...')"/>
</ProductName>
<ProductNum>
<xsl:value-of select="ProductNum"/>
</ProductNum>
<ProductType>
<xsl:value-of select="ProductType"/>
</ProductType>
<ServiceTermUnit>
<xsl:value-of select="ServiceTermUnit"/>
</ServiceTermUnit>
<ServiceTerm>
<xsl:value-of select="ServiceTerm"/>
</ServiceTerm>
<ProductThumb>
&lt;a href="<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>"&gt;
&lt;img src="
<xsl:choose>
<xsl:when test="string-length(ProductThumb)=0">
<xsl:value-of select="pe:UpLoadDir()"/>nopic.gif
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:ConvertAbsolutePath(ProductThumb)"/>
</xsl:otherwise>
</xsl:choose>
" alt="<xsl:value-of select="ProductName" />" border="0" /&gt;
&lt;/a&gt;
</ProductThumb>
<ProductPic>
<xsl:value-of select="pe:ConvertAbsolutePath(ProductPic)"/>
</ProductPic>
<Price>
<xsl:value-of select="format-number(Price,'0.00')"/>
</Price>
<MarketPrice>
<xsl:value-of select="format-number(Price_Market,'0.00')"/>
</MarketPrice>
<MemberPrice>
<xsl:value-of select="format-number(Price_Member,'0.00')"/>
</MemberPrice>
<AgentPrice>
<xsl:value-of select="format-number(Price_Agent,'0.00')"/>
</AgentPrice>
<InfoPath>
&lt;a href="<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>" target="<xsl:value-of select="$opentype"/>"&gt;
<xsl:value-of disable-output-escaping="yes" select="pe:CutText(pe:RemoveHtml(ProductName),$titlelen,'...')" />
&lt;/a&gt;
</InfoPath>
<NodePath>
&lt;a href="<xsl:value-of select="pe:GetNodePath('true',NodeID)"/>"&gt;
<xsl:value-of select="pe:GetNode(NodeID,'name')" />
&lt;/a&gt;
</NodePath>
<BuyProduct>
&lt;a href="{PE.SiteConfig.ApplicationPath /}Shop/ShoppingCart.aspx?Action=AddToCart&amp;ID=<xsl:value-of select="GeneralID" />"&gt;
&lt;img src="{PE.SiteConfig.ApplicationPath /}Skin/Default/images/ProductBuy.gif" alt="购买<xsl:value-of select="pe:CutText(ProductName,$titlelen,'...')" />" border="0" /&gt;
&lt;/a&gt;
</BuyProduct>
<DetailInfo>
&lt;a href="<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>"&gt;
&lt;img src="{PE.SiteConfig.ApplicationPath /}Skin/Default/images/ProductContent.gif" alt="查阅<xsl:value-of select="pe:CutText(ProductName,$titlelen,'...')" />详情" border="0" /&gt;
&lt;/a&gt;
</DetailInfo>
</Table>
</xsl:for-each>
</NewDataSet>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <UsePage>True</UsePage>
  <LabelSqlCount>SELECT count(IC.GeneralID) FROM PE_CommonModel IC INNER JOIN PE_CommonProduct IT ON IC.ItemID=IT.ProductID WHERE IC.NodeID in (@arraynodeid) AND IC.Status=99 AND IT.EnableSale=1 @producttype @status</LabelSqlCount>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>arraynodeid</name>
    <default>36</default>
    <intro>子栏目ID</intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>4</default>
    <intro>父栏目ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题字符数</intro>
  </attributes>
  <attributes>
    <name>producttype</name>
    <default>and producttype!=4</default>
    <intro>商品类型</intro>
  </attributes>
  <attributes>
    <name>status</name>
    <default>
    </default>
    <intro>商品状态</intro>
  </attributes>
  <attributes>
    <name>isnew</name>
    <default>
    </default>
    <intro>新品排序</intro>
  </attributes>
</root>