<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>strsql</name>
    <default>SELECT C.*,T.* FROM PE_CommonModel C INNER JOIN PE_U_FriendSite T ON C.ItemID=T.ID WHERE C.Status=99 AND C.EliteLevel&gt;=@elitelevel AND C.TableName='PE_U_FriendSite' ORDER BY T.ID DESC</default>
    <intro>查询语句</intro>
  </attributes>
  <attributes>
    <name>shownum</name>
    <default>20</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>linktype</name>
    <default>1</default>
    <intro>链接方式</intro>
  </attributes>
  <attributes>
    <name>nodeid</name>
    <default>0</default>
    <intro>栏目ID</intro>
  </attributes>
  <attributes>
    <name>specialid</name>
    <default>0</default>
    <intro>专题ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>显示站点名最多字符个数</intro>
  </attributes>
  <attributes>
    <name>contentintrolen</name>
    <default>50</default>
    <intro>站点简介最多字符个数</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐优先级</intro>
  </attributes>
  <attributes>
    <name>target</name>
    <default>_blank</default>
    <intro>打开方式</intro>
  </attributes>
  <attributes>
    <name>showtype</name>
    <default>2</default>
    <intro>显示方式</intro>
  </attributes>
  <LabelSqlString>@strsql</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="strsql" />
<xsl:param name="shownum" />
<xsl:param name="linktype" />
<xsl:param name="nodeid" />
<xsl:param name="specialid" />
<xsl:param name="titlelen" />
<xsl:param name="contentintrolen" />
<xsl:param name="elitelevel" />
<xsl:param name="target" />
<xsl:param name="showtype" />

<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
<ul>
<li>还没有友情链接站点!</li>
</ul>
</xsl:when>
<xsl:otherwise>
<ul>
<xsl:for-each select="Table">
<li>
<a> <xsl:attribute name="href">
<xsl:value-of select="SiteUrl" />
</xsl:attribute>
<xsl:attribute name="target">
<xsl:choose>
<xsl:when test="pe:GetNodeFieldName(NodeID,'OpenType')=0">
_self
</xsl:when>
<xsl:otherwise>
_blank
</xsl:otherwise>
</xsl:choose>
</xsl:attribute>
<xsl:element name="img">
<xsl:attribute name="src">
<xsl:choose>
<xsl:when test="LogoUrl !=''">
<xsl:if test="pe:IsStartWithhttp(LogoUrl)='false'">
<xsl:value-of select="pe:UpLoadDir()"/>
</xsl:if>
<xsl:value-of select="LogoUrl"/>
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:UpLoadDir()"/>nopic.gif
</xsl:otherwise>
</xsl:choose>
</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
<xsl:attribute name="alt">
<xsl:value-of select="pe:CutText(Title,$titlelen,'...')" />
</xsl:attribute>
</xsl:element>
</a>
</li>
</xsl:for-each>
</ul>
</xsl:otherwise>
</xsl:choose>		
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>