<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>SELECT TOP @shownum C.*,S.* FROM PE_CommonModel C INNER JOIN PE_U_Soft S ON C.ItemID=S.ID WHERE C.NodeID in (@arraynodeid) AND C.TableName='PE_U_Soft' AND C.Status=99 order by C.UpdateTime
</LabelSqlString>
  <LabelTemplate>
					<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<!-- 定义参数 -->
<xsl:param name="parentid"/>
<xsl:param name="titlelen"/>

<xsl:template match="/NewDataSet">
<!-- 子栏目列表样式开始 -->
<div class="childclasslist_box">
	<div class="c_main_box">
	<div class="class_title">
	<span class="childclass_pic">
	</span>
	<xsl:value-of select="pe:GetNode($parentid,'name')"/>
	</div>

	<xsl:choose>
		<xsl:when test="count(Table) = 0">
		<li>本栏尚无内容!
		</li>
		</xsl:when>
		<xsl:otherwise>
		<xsl:for-each select="Table">

			<div class="childclasslist_title">
			<div class="childclasslist_time">
			更新时间：<xsl:value-of select="/NewDataSet/Table/UpdateTime"/>
			</div>
				<a> 
				<xsl:attribute name="href">
				<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
				</xsl:attribute>
				<xsl:value-of select="Title"/> 
				</a>
			</div>


			<div class="childclasslist_text">
			<div class="c_content_overflow">
			[简介]<xsl:value-of disable-output-escaping="yes"  select="SoftIntro" />
			</div>
			</div>
			<div class="childclasslist_type">
			大小：<span class="s_font_weight">
			<xsl:value-of select="SoftSize"/>
			</span>　
			<span class="s_font_weight">|</span>　
			平台：<span class="s_font_weight">
			<xsl:value-of select="OperatingSystem"/>
			</span>　
			<span class="s_font_weight">|</span>　
			授权：<span class="s_font_red">
			<xsl:value-of select="CopyrightType"/>
			</span>　
			<span class="s_font_weight">|</span>　
			软件评级：<span class="s_font_green">
			<xsl:value-of select="Stars"/>
			</span>
			<br />
			版本：<span class="s_font_weight">
			<xsl:value-of select="SoftVersion"/>
			</span>　
			<span class="s_font_weight">|</span>　
			语言：<span class="s_font_weight">
			<xsl:value-of select="SoftLanguage"/>
			</span>　
			<span class="s_font_weight">|</span>　
			人气：<span class="s_font_red">
			<xsl:value-of select="Hits"/>
			</span>　
			<span class="s_font_weight">|</span>　
			软件类别：<span class="s_font_green">
			<xsl:value-of select="SoftType"/>
			</span> 
			</div>
		</xsl:for-each>
		</xsl:otherwise>
	</xsl:choose>
	</div>
</div>
<!-- 子栏目列表样式结束 -->
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>arraynodeid</name>
    <default>1</default>
    <intro>栏目ID</intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>0</default>
    <intro>父栏目ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
</root>