<root>
  <LabelType>系统标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>@strsql</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<!-- 参数 -->
<xsl:param name="titlelen"/>
<xsl:param name="imgwidth"/>
<xsl:param name="imgheight"/>
<xsl:param name="timeout"/>
<xsl:param name="effectid"/>
<xsl:template match="/">
<xsl:value-of disable-output-escaping="yes" select="pe:JSSlidePic()"/>
<xsl:value-of select="pe:GetRanNum()"/>

<xsl:for-each select="/NewDataSet/Table">

<xsl:value-of disable-output-escaping="yes" select="pe:GetSlidePic($imgwidth,$imgheight,$titlelen,$timeout,$effectid,position(),last(),pe:ConvertAbsolutePath(DefaultPicUrl),pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle),pe:CutText(pe:RemoveHtml(Title),$titlelen,'...'))
"/>

</xsl:for-each>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>strsql</name>
    <default>SELECT C.*,T.* FROM PE_CommonModel C INNER JOIN PE_U_Article T ON C.ItemID=T.ID WHERE C.Status=99 AND C.TableName='PE_U_Article' ORDER BY C.UpdateTime DESC</default>
    <intro>查询语句</intro>
  </attributes>
  <attributes>
    <name>strhits</name>
    <default>
    </default>
    <intro>热门查询条件</intro>
  </attributes>
  <attributes>
    <name>strelitelevel</name>
    <default>
    </default>
    <intro>推荐级查询条件</intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>1</default>
    <intro>父栏目ID</intro>
  </attributes>
  <attributes>
    <name>arrnodeid</name>
    <default>0</default>
    <intro>指定栏目ID</intro>
  </attributes>
  <attributes>
    <name>includechild</name>
    <default>false</default>
    <intro>是否包含子栏目</intro>
  </attributes>
  <attributes>
    <name>specialid</name>
    <default>0</default>
    <intro>专题ID</intro>
  </attributes>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>文章数</intro>
  </attributes>
  <attributes>
    <name>ishot</name>
    <default>false</default>
    <intro>是否是热门文章</intro>
  </attributes>
  <attributes>
    <name>iselite</name>
    <default>false</default>
    <intro>是否是推荐文章</intro>
  </attributes>
  <attributes>
    <name>datenum</name>
    <default>0</default>
    <intro>日期范围</intro>
  </attributes>
  <attributes>
    <name>ordertype</name>
    <default>1</default>
    <intro>排序方式</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <attributes>
    <name>hits</name>
    <default>0</default>
    <intro>热门最小点击数</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐优先级</intro>
  </attributes>
  <attributes>
    <name>tablename</name>
    <default>PE_U_Soft</default>
    <intro>所属于表名</intro>
  </attributes>
  <attributes>
    <name>imgwidth</name>
    <default>150</default>
    <intro>图片宽度</intro>
  </attributes>
  <attributes>
    <name>imgheight</name>
    <default>150</default>
    <intro>图片高度</intro>
  </attributes>
  <attributes>
    <name>timeout</name>
    <default>5000</default>
    <intro>超时时间</intro>
  </attributes>
  <attributes>
    <name>effectid</name>
    <default>23</default>
    <intro>显示幻灯效果</intro>
  </attributes>
</root>