<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>static</LabelDataType>
  <attributes>
    <name>ShowDate</name>
    <default>false</default>
    <intro>显示发表时间</intro>
  </attributes>
  <attributes>
    <name>ShowLink</name>
    <default>false</default>
    <intro>显示商品详情链接</intro>
  </attributes>
  <attributes>
    <name>IntroLength</name>
    <default>20</default>
    <intro>商品简介显示字数</intro>
  </attributes>
  <attributes>
    <name>OrderType</name>
    <default>0</default>
    <intro>排列方式</intro>
  </attributes>
  <attributes>
    <name>ProducerName</name>
    <default>
    </default>
    <intro>厂商名称</intro>
  </attributes>
  <attributes>
    <name>pagesize</name>
    <default>
    </default>
    <intro>每页数</intro>
  </attributes>
  <attributes>
    <name>page</name>
    <default>
    </default>
    <intro>是否分页</intro>
  </attributes>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="xml" />
<xsl:param name="ShowDate"/>
<xsl:param name="ShowLink"/>
<xsl:param name="IntroLength"/>
<xsl:param name="OrderType"/>
<xsl:param name="ProducerName"/>
<xsl:param name="page"/>
<xsl:param name="pagesize"/>
<xsl:template match="/">
<xsl:choose>
<xsl:when test="$OrderType=0">
{PE.Label id="厂商商品表格式列表" ShowDate="<xsl:value-of select="$ShowDate"/>" ShowLink="<xsl:value-of select="$ShowLink"/>" page="<xsl:value-of select="$page"/>" pagesize="<xsl:value-of select="$pagesize"/>" urlpage="<xsl:value-of select="$page"/>" IntroLength="<xsl:value-of disable-output-escaping="yes" select="$IntroLength"/>" Filter="and P.ProducerName like '<xsl:value-of select="$ProducerName"/>'" InnerFilter="and PP.ProducerName like '<xsl:value-of select="$ProducerName"/>'" OrderType="order by M.UpdateTime asc" InnerOrderType="rder by MM.UpdateTime asc" span="" class="" /}
</xsl:when>
<xsl:when test="$OrderType=2">
{PE.Label id="厂商商品表格式列表" ShowDate="<xsl:value-of select="$ShowDate"/>" ShowLink="<xsl:value-of select="$ShowLink"/>" page="<xsl:value-of select="$page"/>" pagesize="<xsl:value-of select="$pagesize"/>" urlpage="<xsl:value-of select="$page"/>" IntroLength="<xsl:value-of disable-output-escaping="yes" select="$IntroLength"/>" Filter="and P.ProducerName like '<xsl:value-of select="$ProducerName"/>'" InnerFilter="and PP.ProducerName like '<xsl:value-of select="$ProducerName"/>'" OrderType="order by M.Hits desc" InnerOrderType="order by MM.Hits desc" span="" class="" /}
</xsl:when>
<xsl:otherwise>
{PE.Label id="厂商商品表格式列表" ShowDate="<xsl:value-of select="$ShowDate"/>" ShowLink="<xsl:value-of select="$ShowLink"/>" page="<xsl:value-of select="$page"/>" pagesize="<xsl:value-of select="$pagesize"/>" urlpage="<xsl:value-of select="$page"/>" IntroLength="<xsl:value-of disable-output-escaping="yes" select="$IntroLength"/>" Filter="and P.ProducerName like '<xsl:value-of select="$ProducerName"/>'" InnerFilter="and PP.ProducerName like '<xsl:value-of select="$ProducerName"/>'" OrderType="order by M.UpdateTime desc" InnerOrderType="order by MM.UpdateTime desc" span="" class="" /}
</xsl:otherwise>
</xsl:choose>

</xsl:template>
</xsl:transform>]]>
  </LabelTemplate>
</root>