<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>authorname</name>
    <default>
    </default>
    <intro>作者名</intro>
  </attributes>
  <attributes>
    <name>itype</name>
    <default>1</default>
    <intro>显示方式。1为图片+内容简介；2为图片</intro>
  </attributes>
  <attributes>
    <name>idate</name>
    <default>true</default>
    <intro>是否显示发表时间，True为显示，False为不显示</intro>
  </attributes>
  <attributes>
    <name>ilink</name>
    <default>true</default>
    <intro>是否显示文章超链接，True为显示，False为不显示</intro>
  </attributes>
  <attributes>
    <name>inum</name>
    <default>20</default>
    <intro>标题长度</intro>
  </attributes>
  <attributes>
    <name>iorder</name>
    <default>0</default>
    <intro>排序方式，0为按发表时间正序排列，1为倒序排列，2为按点击次数排序</intro>
  </attributes>
  <attributes>
    <name>icol</name>
    <default>1</default>
    <intro>每行显示列数</intro>
  </attributes>
  <attributes>
    <name>tablename</name>
    <default>PE_U_Article</default>
    <intro>所属表名</intro>
  </attributes>
  <LabelSqlString><![CDATA[SELECT TOP @pagesize C.*,T.* FROM PE_CommonModel C INNER JOIN @tablename T ON C.ItemID=T.ID WHERE C.GeneralID NOT IN(SELECT TOP @startrow IC.GeneralID FROM PE_CommonModel IC INNER JOIN @tablename IT ON IC.ItemID=IT.ID WHERE IC.Status=99 AND IC.TableName='@tablename' AND IT.Author='@authorname' @innerstrupdatetime @innerstrordertype) AND C.Status=99 AND C.TableName='@tablename' AND T.Author='@authorname' @strupdatetime @strordertype]]></LabelSqlString>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="itype"/>
<xsl:param name="idate"/>
<xsl:param name="ilink"/>
<xsl:param name="inum"/>
<xsl:param name="iorder"/>
<xsl:param name="icol"/>
<xsl:param name="tablename"/>
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
<li>
还没有作品!
</li>
</xsl:when>
<xsl:otherwise>

<xsl:choose>
<xsl:when test="$icol&gt;1">
<table>
<tr>
<xsl:for-each select="/NewDataSet/Table">
<td>
<xsl:choose>
<xsl:when test="$itype=1">
<xsl:element name="img">
<xsl:attribute name="src">
<xsl:choose>
<xsl:when test="DefaultPicUrl!=''">
<xsl:value-of select="pe:ConvertAbsolutePath(DefaultPicUrl)"/>
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:UpLoadDir()"/>nopic.gif
</xsl:otherwise>
</xsl:choose>
</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
<xsl:attribute name="width">120</xsl:attribute>
<xsl:attribute name="height">90</xsl:attribute>
<xsl:attribute name="alt">
<xsl:value-of select="Title"/>
</xsl:attribute>
</xsl:element>
</xsl:when>
<xsl:when test="$itype=2">
<xsl:element name="img">
<xsl:attribute name="src">
<xsl:value-of select="pe:ConvertAbsolutePath(DefaultPicUrl)"/>
</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
<xsl:attribute name="width">120</xsl:attribute>
<xsl:attribute name="height">90</xsl:attribute>
<xsl:attribute name="alt">
<xsl:value-of select="Title"/>
</xsl:attribute>
</xsl:element>
<br />
<xsl:choose>
<xsl:when test="$tablename='PE_U_Article'">
<xsl:value-of disable-output-escaping="yes" select="Intro"/>
</xsl:when>
<xsl:when test="$tablename='PE_U_Soft'">
<xsl:value-of disable-output-escaping="yes" select="SoftIntro"/>
</xsl:when>
<xsl:when test="$tablename='PE_U_Photo'">
<xsl:value-of disable-output-escaping="yes" select="PhotoIntro"/>
</xsl:when>
<xsl:otherwise>
<xsl:value-of disable-output-escaping="yes" select="Intro"/>
</xsl:otherwise>
</xsl:choose>
</xsl:when>
</xsl:choose>

<br />
<xsl:choose>
<xsl:when test="$ilink='true'">
<a> <xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
</xsl:attribute>
<xsl:value-of select="pe:CutText(Title,$inum,'...')"/>
</a>
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:CutText(Title,$inum,'...')"/>
</xsl:otherwise>
</xsl:choose>
<xsl:if test="$idate='true'">
[<xsl:value-of select="pe:FormatDate(UpdateTime,'yyyy-mm-dd')"/>]
</xsl:if>
</td>
<xsl:if test="position()&gt;1">
<xsl:if test="position()&lt;last()">
<xsl:if test="position()mod$icol=0">
<xsl:text disable-output-escaping="yes">&lt;/tr&gt;&lt;tr&gt;</xsl:text>
</xsl:if>
</xsl:if>
</xsl:if>
</xsl:for-each>
</tr>
</table>
</xsl:when>
<xsl:otherwise>
<table>
<xsl:for-each select="/NewDataSet/Table">
<tr>
<td>
<xsl:choose>
<xsl:when test="$itype=1">
<xsl:element name="img">
<xsl:attribute name="src">
<xsl:value-of select="pe:ConvertAbsolutePath(DefaultPicUrl)"/>
</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
<xsl:attribute name="width">120</xsl:attribute>
<xsl:attribute name="height">90</xsl:attribute>
<xsl:attribute name="alt">
<xsl:value-of select="Title"/>
</xsl:attribute>
</xsl:element>
</xsl:when>
<xsl:when test="$itype=2">
<xsl:element name="img">
<xsl:attribute name="src">
<xsl:value-of select="pe:ConvertAbsolutePath(DefaultPicUrl)"/>
</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
<xsl:attribute name="width">120</xsl:attribute>
<xsl:attribute name="height">90</xsl:attribute>
<xsl:attribute name="alt">
<xsl:value-of select="Title"/>
</xsl:attribute>
</xsl:element>
<br />
<xsl:choose>
<xsl:when test="$tablename='PE_U_Article'">
<xsl:value-of disable-output-escaping="yes" select="Intro"/>
</xsl:when>
<xsl:when test="$tablename='PE_U_Soft'">
<xsl:value-of disable-output-escaping="yes" select="SoftIntro"/>
</xsl:when>
<xsl:when test="$tablename='PE_U_Photo'">
<xsl:value-of disable-output-escaping="yes" select="PhotoIntro"/>
</xsl:when>
<xsl:otherwise>
<xsl:value-of disable-output-escaping="yes" select="Intro"/>
</xsl:otherwise>
</xsl:choose>
</xsl:when>
</xsl:choose>
<br />
<xsl:choose>
<xsl:when test="$ilink='true'">
<a> <xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
</xsl:attribute>
<xsl:value-of select="pe:CutText(Title,$inum,'...')"/>
</a>
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:CutText(Title,$inum,'...')"/>
</xsl:otherwise>
</xsl:choose>
<xsl:if test="$idate='true'">
[<xsl:value-of select="pe:FormatDate(UpdateTime,'yyyy-mm-dd')"/>]
</xsl:if>
</td>
</tr>
</xsl:for-each>
</table>
</xsl:otherwise>
</xsl:choose>

</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>strordertype</name>
    <default> ORDER BY C.GeneralID DESC</default>
    <intro>排序方式</intro>
  </attributes>
  <UsePage>True</UsePage>
  <LabelSqlCount><![CDATA[SELECT COUNT(C.GeneralID) FROM PE_CommonModel C INNER JOIN @tablename T ON C.ItemID=T.ID WHERE C.Status=99 AND C.TableName='@tablename' AND T.Author='@authorname' @strupdatetime]]></LabelSqlCount>
  <attributes>
    <name>innerstrordertype</name>
    <default> ORDER BY IC.GeneralID</default>
    <intro>排序方式</intro>
  </attributes>
  <attributes>
    <name>strupdatetime</name>
    <default>
    </default>
    <intro>时间查询条件</intro>
  </attributes>
  <attributes>
    <name>innerstrupdatetime</name>
    <default>
    </default>
    <intro>时间查询条件</intro>
  </attributes>
  <attributes>
    <name>updatetime</name>
    <default>
    </default>
    <intro>更新时间</intro>
  </attributes>
</root>