<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>@strsql</LabelSqlString>
  <UsePage>True</UsePage>
  <LabelSqlCount>@sqlcount</LabelSqlCount>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="titlelen"/>
<xsl:param name="keyword"/>
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(Table)=0">
<ul>
<li>
没有相关搜索结果!
</li>
</ul>
</xsl:when>
<xsl:otherwise>
<xsl:for-each select="Table">
<a> <xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
</xsl:attribute>
<xsl:value-of disable-output-escaping="yes" select="pe:ShowHeightLineText(pe:CutText(Title,$titlelen,'...'),$keyword,'#ff0000')"/>
</a>
<xsl:text disable-output-escaping="yes">&amp;nbsp;&amp;nbsp;</xsl:text>
<xsl:value-of select="pe:FormatDate(UpdateTime,'yyyy-mm-dd')"/>
<br />
</xsl:for-each>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>strsql</name>
    <default>select top @pagesize C.* from PE_CommonModel C where C.GeneralID not in(select top @startrow IC.GeneralID from PE_CommonModel IC where IC.Status=99 order by IC.UpdateTime desc) and C.Status=99 order by C.UpdateTime desc</default>
    <intro>查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlcount</name>
    <default>select count(GeneralID) from PE_CommonModel where Status=99</default>
    <intro>查询条件</intro>
  </attributes>
  <attributes>
    <name>arrGeneralID</name>
    <default>0</default>
    <intro>关键字对应的内容ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多显示字符数</intro>
  </attributes>
  <attributes>
    <name>keyword</name>
    <default>
    </default>
    <intro>搜索关键字</intro>
  </attributes>
</root>