<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString><![CDATA[SELECT TOP @shownum GeneralID,NodeID,InputTime,Title,PinyinTitle,UpdateTime,DefaultPicUrl FROM PE_CommonModel WHERE Status=99 AND DefaultPicUrl<>'' @strsql ORDER BY UpdateTime DESC ]]></LabelSqlString>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="shownum" />
<xsl:param name="titlelen" />
<xsl:param name="border" />
<xsl:param name="tablename" />
<xsl:template match="/">
<xsl:if test="count(/NewDataSet/Table)=0" >
<ul>
<li>没有带图片的信息!</li>
</ul>
</xsl:if>
<ul>
<xsl:for-each select="/NewDataSet/Table">
<li>

<!-- 图片及链接开始 -->
<div class="pe_u_thumb">
<a>
<xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
</xsl:attribute>
<xsl:element name="img">
<xsl:attribute name="src">

<!-- 判断模型属性输出图片 -->
<xsl:value-of select="pe:ConvertAbsolutePath(DefaultPicUrl)" />

<!-- 图片属性 -->
</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
</xsl:element>
</a>
</div>
<!-- 图片及链接结束 -->

<!-- 标题文字及链接开始 -->
<div class="pe_u_thumb_title">
<a>
<xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
</xsl:attribute>
<xsl:value-of select="pe:CutText(Title,$titlelen,'...')" />
</a>
</div>
<!-- 标题文字及链接结束 -->

</li>
</xsl:for-each>
</ul>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>strsql</name>
    <default>
    </default>
    <intro>查询条件</intro>
  </attributes>
  <attributes>
    <name>arrnodeid</name>
    <default>0</default>
    <intro>栏目ID数组</intro>
  </attributes>
  <attributes>
    <name>shownum</name>
    <default>8</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>border</name>
    <default>0</default>
    <intro>图片边框</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>10</default>
    <intro>标题字符数</intro>
  </attributes>
</root>