<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>strsql</name>
    <default>SELECT Top @pagesize C.GeneralId,C.InputTime,C.NodeID,C.Inputer,C.Hits,C.UpdateTime,C.Title,C.PinyinTitle,I.SpecialID FROM PE_CommonModel C INNER JOIN PE_SpecialInfos I ON C.GeneralID=I.GeneralID WHERE C.GeneralID NOT IN (SELECT Top @startrow IC.GeneralID FROM PE_CommonModel IC INNER JOIN PE_SpecialInfos II ON IC.GeneralID=II.GeneralID WHERE IC.Status=99 ORDER BY IC.UpdateTime DESC) AND C.Status=99 ORDER BY C.UpdateTime DESC</default>
    <intro>查询条件</intro>
  </attributes>
  <attributes>
    <name>sqlcount</name>
    <default>select count(C.GeneralID) from PE_CommonModel C INNER JOIN PE_SpecialInfos I ON C.GeneralID=I.GeneralID  where C.Status=99</default>
    <intro>分页查询条件</intro>
  </attributes>
  <attributes>
    <name>specialcategoryid</name>
    <default>0</default>
    <intro>专题类别ID</intro>
  </attributes>
  <attributes>
    <name>specialid</name>
    <default>0</default>
    <intro>专题ID</intro>
  </attributes>
  <attributes>
    <name>fieldname</name>
    <default>
    </default>
    <intro>字段名</intro>
  </attributes>
  <attributes>
    <name>fieldvalue</name>
    <default>
    </default>
    <intro>字段值</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>30</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <attributes>
    <name>arrgeneralid</name>
    <default>0</default>
    <intro>关键字对应的内容ID</intro>
  </attributes>
  <UsePage>True</UsePage>
  <LabelSqlString>@strsql</LabelSqlString>
  <LabelSqlCount>@sqlcount</LabelSqlCount>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="titlelen"/>
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(Table)=0">
<ul>
<li>
没有找到任何专题信息！
</li>
</ul>
</xsl:when>
<xsl:otherwise>
<ul>
<xsl:for-each select="Table">
<li>
<a> <xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
</xsl:attribute> <xsl:attribute name="title">
<xsl:value-of select="Title"/>
</xsl:attribute>
<xsl:value-of select="pe:CutText(Title,$titlelen,'...')"/>
</a>
(<xsl:value-of select="pe:FormatDate(UpdateTime,'yyyy-mm-dd')"/>)
<br />
</li>
</xsl:for-each>
</ul>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>