<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shownum</name>
    <default>8</default>
    <intro>显示个数</intro>
  </attributes>
  <attributes>
    <name>border</name>
    <default>0</default>
    <intro>图片边框</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>10</default>
    <intro>标题字符数</intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>0</default>
    <intro>父栏目ID</intro>
  </attributes>
  <LabelSqlString>SELECT TOP 1 NodeID,arrChildID FROM PE_Nodes WHERE NodeID=@parentid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="shownum" />
<xsl:param name="titlelen" />
<xsl:param name="border" />
<xsl:param name="parentid" />
<xsl:param name="arrnodeid" />
<xsl:template match="/">
<xsl:choose>
<xsl:when test="$parentid=0">
<xsl:choose>
<xsl:when test="$arrnodeid=0">
{PE.Label id="显示普通图片列表标签" strsql="" shownum="<xsl:value-of select="$shownum" />" border="<xsl:value-of select="$border" />" titlelen="<xsl:value-of select="$titlelen" />" /}

</xsl:when>
<xsl:otherwise>
{PE.Label id="显示普通图片列表标签" strsql=" AND NodeID IN(@arrnodeid)" arrnodeid="<xsl:value-of select="$arrnodeid" />" shownum="<xsl:value-of select="$shownum" />" border="<xsl:value-of select="$border" />" titlelen="<xsl:value-of select="$titlelen" />" /}

</xsl:otherwise>
</xsl:choose>
</xsl:when>
<xsl:otherwise>
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
<ul>
<li>没有指定的栏目!</li>
</ul>
</xsl:when>
<xsl:otherwise>
{PE.Label id="显示普通图片列表标签" strsql=" AND NodeID IN(@arrnodeid)" arrnodeid="<xsl:value-of select="/NewDataSet/Table/arrChildID" />" shownum="<xsl:value-of select="$shownum" />" border="<xsl:value-of select="$border" />" titlelen="<xsl:value-of select="$titlelen" />" /}
</xsl:otherwise>
</xsl:choose>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>arrnodeid</name>
    <default>0</default>
    <intro>栏目ID数组</intro>
  </attributes>
</root>