<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>
	  <![CDATA[select top @productnumber P.ProductId,P.TableName,P.ProductName,P.ProductThumb,P.Price,P.Price_Market,C.GeneralID,C.NodeID,C.InputTime,C.Title,C.PinyinTitle
from Pe_CommonProduct P inner join Pe_CommonModel C on P.ProductId=C.GeneralID
where C.LinkType=0 and Stocks>0 
Order by P.Id DESC]]></LabelSqlString>
  <LabelTemplate>
													<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />

<xsl:template match="/">
		<xsl:choose>
			<xsl:when test="count(/NewDataSet/Table)=0">
				没有相关内容
			</xsl:when>
			<xsl:otherwise>
				<!--显示数据-->
				<ul>
					<xsl:for-each select="/NewDataSet/Table">
						<li>
							<div id="p_info">
								<div class="p_info_content">
									<div class="p_info_content_r">
										<div class="p_font_PicUrl">
											<a>
												<xsl:attribute name="href">
													<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
												</xsl:attribute>

												<xsl:element name="img">
													<xsl:attribute name="src">
														<xsl:choose>
															<xsl:when test="string-length(ProductThumb)=0">
																<xsl:value-of select="pe:InstallDir()"/>Images/nopic.gif
															</xsl:when>
															<xsl:otherwise>
																<xsl:value-of select="ProductThumb"/>
															</xsl:otherwise>
														</xsl:choose>
													</xsl:attribute>
												</xsl:element>
											</a>
										</div>
										<div class="p_font_collection">
											<a>
												<xsl:attribute name="href">
													<xsl:value-of select="pe:InstallDir()"/>Shop/ShoppingCart.aspx?Action=AddToCart&amp;ProductID=<xsl:value-of select="ProductId"/>&amp;TableName=<xsl:value-of select="pe:EncodeText(/NewDataSet/Table/TableName,'enbase64')" />
												</xsl:attribute>购买
											</a>
											<a>
												<xsl:attribute name="href">
													<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
												</xsl:attribute>详细
											</a>
										</div>
									</div>
									<div class="p_info_content_l">
										<ul>
											<li>
												商品：<xsl:value-of select="ProductName"/>
											</li>
											<li>
												市场价：<xsl:value-of select="format-number(Price_Market ,0.00)"/>
											</li>
											<li>
												本店价：<xsl:value-of select="format-number(Price,0.00)"/>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
					</xsl:for-each>
				</ul>
				<!--显示数据结束-->
			</xsl:otherwise>
		</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>productnumber</name>
    <default>2</default>
    <intro>要显示的数量</intro>
  </attributes>
</root>