<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>最多显示专题信息数</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多显示字符数</intro>
  </attributes>
  <LabelSqlString>select GeneralID,Title,PinyinTitle,NodeID,InputTime from PE_CommonModel where Status=99 and GeneralID in(select top @shownum GeneralID from PE_SpecialInfos order by SpecialInfoID desc)</LabelSqlString>
  <LabelTemplate>
	<![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="titlelen"/>
<xsl:template match="/NewDataSet">
<xsl:for-each select="Table">
<li>
<a> <xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
</xsl:attribute>
<xsl:value-of select="pe:CutText(Title,$titlelen,'...')"/>
 </a>
</li>
</xsl:for-each>
<li>
<a> <xsl:attribute name="href"><xsl:value-of select="pe:InstallDir()"/>Special.aspx</xsl:attribute>...更多 </a>
</li>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>