<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>authorname</name>
    <default>
    </default>
    <intro>作者名</intro>
  </attributes>
  <attributes>
    <name>itype</name>
    <default>1</default>
    <intro>显示方式。1为图片+内容简介；2为图片</intro>
  </attributes>
  <attributes>
    <name>idate</name>
    <default>true</default>
    <intro>是否显示发表时间，True为显示，False为不显示</intro>
  </attributes>
  <attributes>
    <name>ilink</name>
    <default>true</default>
    <intro>是否显示文章超链接，True为显示，False为不显示</intro>
  </attributes>
  <attributes>
    <name>inum</name>
    <default>20</default>
    <intro>标题长度</intro>
  </attributes>
  <attributes>
    <name>iorder</name>
    <default>0</default>
    <intro>排序方式，0为按发表时间正序排列，1为倒序排列，2为按点击次数排序</intro>
  </attributes>
  <attributes>
    <name>tablename</name>
    <default>PE_U_Soft</default>
    <intro>所属表名</intro>
  </attributes>
  <LabelSqlString><![CDATA[SELECT TOP 1 CopyFrom FROM PE_U_Soft WHERE CopyFrom='@authorname']]></LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="authorname"/>
<xsl:param name="itype"/>
<xsl:param name="idate"/>
<xsl:param name="ilink"/>
<xsl:param name="inum"/>
<xsl:param name="iorder"/>
<xsl:param name="tablename"/>
<xsl:param name="mypage"/>
<xsl:param name="mypagesize"/>
<xsl:param name="myurlpage"/>
<xsl:template match="/NewDataSet/Table">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
<li>
还没有作品!
</li>
</xsl:when>
<xsl:otherwise>
<xsl:choose>
<xsl:when test="$iorder=0">
{PE.Label id="显示来源作品列表_普通式" strordertype=" ORDER BY C.UpdateTime ASC" innerstrordertype=" ORDER BY IC.UpdateTime ASC" authorname="<xsl:value-of select="$authorname"/>" itype="<xsl:value-of select="$itype"/>" idate="<xsl:value-of select="$idate"/>" ilink="<xsl:value-of select="$ilink"/>" inum="<xsl:value-of select="$inum"/>" tablename="PE_U_Soft" page="<xsl:value-of select="$mypage"/>" pagesize="<xsl:value-of select="$mypagesize"/>" urlpage="<xsl:value-of select="$myurlpage"/>" /}
</xsl:when>
<xsl:when test="$iorder=1">
{PE.Label id="显示来源作品列表_普通式" strordertype=" ORDER BY C.UpdateTime DESC" innerstrordertype=" ORDER BY IC.UpdateTime DESC" authorname="<xsl:value-of select="$authorname"/>" itype="<xsl:value-of select="$itype"/>" idate="<xsl:value-of select="$idate"/>" ilink="<xsl:value-of select="$ilink"/>" inum="<xsl:value-of select="$inum"/>" tablename="PE_U_Soft" page="<xsl:value-of select="$mypage"/>" pagesize="<xsl:value-of select="$mypagesize"/>" urlpage="<xsl:value-of select="$myurlpage"/>" /}
</xsl:when>
<xsl:when test="$iorder=2">
{PE.Label id="显示来源作品列表_普通式" strordertype=" ORDER BY C.Hits DESC" innerstrordertype=" ORDER BY IC.Hits DESC" authorname="<xsl:value-of select="$authorname"/>" itype="<xsl:value-of select="$itype"/>" idate="<xsl:value-of select="$idate"/>" ilink="<xsl:value-of select="$ilink"/>" inum="<xsl:value-of select="$inum"/>" tablename="PE_U_Soft" page="<xsl:value-of select="$mypage"/>" pagesize="<xsl:value-of select="$mypagesize"/>" urlpage="<xsl:value-of select="$myurlpage"/>" /}
</xsl:when>
<xsl:otherwise>
{PE.Label id="显示来源作品列表_普通式" strordertype=" ORDER BY C.GeneralID DESC" innerstrordertype=" ORDER BY IC.GeneralID DESC" authorname="<xsl:value-of select="$authorname"/>" itype="<xsl:value-of select="$itype"/>" idate="<xsl:value-of select="$idate"/>" ilink="<xsl:value-of select="$ilink"/>" inum="<xsl:value-of select="$inum"/>" tablename="PE_U_Soft" page="<xsl:value-of select="$mypage"/>" pagesize="<xsl:value-of select="$mypagesize"/>" urlpage="<xsl:value-of select="$myurlpage"/>" /}
</xsl:otherwise>
</xsl:choose>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>mypage</name>
    <default>true</default>
    <intro>是否分页</intro>
  </attributes>
  <attributes>
    <name>mypagesize</name>
    <default>10</default>
    <intro>每页分页数</intro>
  </attributes>
  <attributes>
    <name>myurlpage</name>
    <default>true</default>
    <intro>是否url分页</intro>
  </attributes>
</root>