<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/PE_Path.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>select NodeID,NodeName,Child,Depth from PE_Nodes where ParentID=@nodeid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="nodeid"/>
<xsl:param name="depth"/>
<xsl:template match="/">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
<xsl:text disable-output-escaping="yes">&lt;option value=</xsl:text>
<xsl:value-of select="$nodeid"/>
<xsl:text disable-output-escaping="yes">&gt;</xsl:text>
<xsl:value-of select="pe:GetNode($nodeid,'name')"/>
<xsl:text disable-output-escaping="yes">&lt;/option&gt;</xsl:text>
</xsl:when>
<xsl:otherwise>
<xsl:text disable-output-escaping="yes">&lt;option value=</xsl:text>
<xsl:value-of select="$nodeid"/>
<xsl:text disable-output-escaping="yes">&gt;</xsl:text>
<xsl:value-of select="pe:GetNode($nodeid,'name')"/>
<xsl:text disable-output-escaping="yes">&lt;/option&gt;</xsl:text>
<xsl:for-each select="/NewDataSet/Table">
<xsl:text disable-output-escaping="yes">&lt;option value=</xsl:text>
<xsl:value-of select="NodeID"/>
<xsl:text disable-output-escaping="yes">&gt;</xsl:text>
<xsl:text disable-output-escaping="yes">&amp;nbsp;&amp;nbsp;</xsl:text>
<xsl:value-of select="NodeName"/>
<xsl:text disable-output-escaping="yes">&lt;/option&gt;</xsl:text>
<xsl:if test="Child&gt;0 and Depth&lt;$depth">
{PE.Label id="子栏目分类下拉列表选项" nodeid="<xsl:value-of select="NodeID"/>" depth="<xsl:value-of select="$depth"/>"/}
</xsl:if>
</xsl:for-each>
</xsl:otherwise>
</xsl:choose>

</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>nodeid</name>
    <default>1</default>
    <intro>节点ID</intro>
  </attributes>
  <attributes>
    <name>depth</name>
    <default>5</default>
    <intro>节点深度</intro>
  </attributes>
</root>