<root>
  <LabelType>通用列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>SELECT TOP @shownum PE_CommonModel.* FROM PE_CommonModel  WHERE  NodeID in (@arraynodeid) AND Status=99 order by UpdateTime</LabelSqlString>
  <LabelTemplate>
   <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(Table) = 0">
<li>尚无内容!</li>
</xsl:when>
<xsl:otherwise>
<xsl:for-each select="Table">
<li>
<a>
 <xsl:attribute name="href">
 <xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)"/>
 </xsl:attribute>
 <xsl:value-of select="Title"/>
</a>
</li>
</xsl:for-each>
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>arraynodeid</name>
    <default>1,2,3,4</default>
    <intro>栏目ID组</intro>
  </attributes>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>列表数量</intro>
  </attributes>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
</root>