<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>parentid</name>
    <default>4</default>
    <intro>参数说明</intro>
  </attributes>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>
    </intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>
    </intro>
  </attributes>
  <LabelSqlString>select arrchildid from PE_Nodes where NodeID=@parentid</LabelSqlString>
  <LabelTemplate>
  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="shownum"/>
<xsl:param name="parentid"/>
<xsl:param name="titlelen"/>

<xsl:template match="/NewDataSet/Table">
<xsl:choose>
<xsl:when test="count(/NewDataSet/Table)=0">
<li>
指定的栏目还没内容!
</li>
</xsl:when>
<xsl:otherwise>
<!--type="3"-->
{PE.Label id="显示分类商品一列式列表循环" parentid="<xsl:value-of select="$parentid" />" shownum="<xsl:value-of select="$shownum" />" title="热销商品" titlelen="<xsl:value-of select="$titlelen" />" arraynodeid="<xsl:value-of select="arrchildid"/>" status="and ishot=1"  /}
</xsl:otherwise>
</xsl:choose>		
</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>