<root>
  <LabelType>系统标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>parentpath</name>
    <default>0</default>
    <intro>栏目父路径</intro>
  </attributes>
  <LabelSqlString>SELECT NodeID,NodeName,ShowOnPath FROM PE_Nodes WHERE NodeID IN(@parentpath)  order by RootID, OrderID ASC</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/NewDataSet">

<xsl:for-each select="Table">
<xsl:if test="ShowOnPath='true'">
>>
<a> <xsl:attribute name="href">
<xsl:value-of select="pe:GetNodePath('false',NodeID)"/>
</xsl:attribute>
<xsl:value-of select="NodeName"/>
</a> 
</xsl:if>
</xsl:for-each> 

</xsl:template>
</xsl:transform>]]></LabelTemplate>
</root>