<root>
  <LabelType>通用列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>用户排名列表</LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>listnum</name>
    <default>10</default>
    <intro>列表数量</intro>
  </attributes>
  <LabelSqlString>SELECT TOP @listnum PE_Users.UserID,PE_Users.GroupID,PE_Users.UserType,PE_Users.UserName,PE_Users.Sex,PE_Users.RegTime,PE_Users.JoinTime,PE_Users.Status,PE_Users.UserFace,PE_Users.FaceWidth,PE_Users.FaceHeight,PE_Users.UserPoint,PE_Users.UserExp,PE_Users.ConsumeMoney,PE_Users.ConsumePoint,PE_Users.ConsumeExp,PE_Users.PostItems,PE_Users.PassedItems,PE_UserGroups.GroupID,PE_UserGroups.GroupName  FROM PE_Users INNER JOIN PE_UserGroups ON PE_Users.GroupID = PE_UserGroups.GroupID WHERE Status=0  ORDER BY PE_Users.PassedItems DESC, PE_Users.JoinTime DESC</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/">
<li>
<xsl:text disable-output-escaping="yes">
用户名 &amp;nbsp;&amp;nbsp;文章数
</xsl:text>
</li>
<xsl:for-each select="/NewDataSet/Table">
<li>
<xsl:value-of select="UserName"/> 
<xsl:text disable-output-escaping="yes">
&amp;nbsp;&amp;nbsp;
</xsl:text>
[<xsl:value-of select="PostItems"/>]
</li>
</xsl:for-each>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <CacheTime>0</CacheTime>
</root>