<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>SELECT NodeID,arrChildID FROM PE_Nodes WHERE NodeID=@parentid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="parentid"/>
<xsl:param name="titlelen"/>
<xsl:param name="elitelevel"/>
<xsl:param name="mypage"/>
<xsl:param name="mypagesize"/>
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(Table)=0">
没有找到指定的节点！
</xsl:when>
<xsl:otherwise>
{PE.DataSource id="InfoList" datasource="显示留言列表信息"  page="<xsl:value-of select="$mypage"/>"  pagesize="<xsl:value-of select="$mypagesize"/>" pagemain="true"  arraynodeid="<xsl:value-of select="Table/arrChildID"/>" parentid="<xsl:value-of select="$parentid"/>"  titlelen="<xsl:value-of select="$titlelen"/>"  elitelevel="<xsl:value-of select="$elitelevel"/>"  xslt="true" /}
{PE.Repeat id="InfoList" loop="0"}
<div class="c_spacing">
</div>
<div id="bbs_title">
  <dl>
主题:: 
<span id="ctl00_CphContent_LblTitle">
{PE.field id="InfoList" fieldname="Title" /}
</span>

[阅读数：<span style="color: red;">{PE.field id="InfoList" fieldname="Hits" /}</span>]

<span style="text-align: right;padding-left:5px;">

<xsl:text disable-output-escaping="yes">&lt;a href=&quot;</xsl:text>{PE.field id="InfoList" fieldname="ReplyPath" /}<xsl:text disable-output-escaping="yes">&quot;&gt;查看全部回复&lt;/a&gt;</xsl:text>
</span>
  </dl>

</div>

<div id="bbs_center">
  <div id="bbs_left">
  <xsl:text disable-output-escaping="yes">&lt;img src=&quot;</xsl:text>{PE.field id="InfoList" fieldname="GuestImages" /}<xsl:text disable-output-escaping="yes">&quot; alt=&quot;用户头像&quot; /&gt;</xsl:text>
  <br />【{PE.field id="InfoList" fieldname="GuestNameType" /}】
  <br />{PE.field id="InfoList" fieldname="GuestName" /}
  </div>
  <div id="bbs_right">
    <xsl:text disable-output-escaping="yes">&lt;img src=&quot;</xsl:text>{PE.field id="InfoList" fieldname="GuestFace" /}<xsl:text disable-output-escaping="yes">&quot; alt=&quot;留言心情&quot; /&gt;</xsl:text>
	<br />{PE.field id="InfoList" fieldname="GuestContent" /}

  </div>
</div>

<div id="bbs_bot">
  <div id="bbs_botleft">
  <xsl:text disable-output-escaping="yes">&lt;img src=&quot;</xsl:text>{PE.SiteConfig.ApplicationPath/}<xsl:text disable-output-escaping="yes">Images/Comment/ip.gif&quot; alt=&quot;</xsl:text>{PE.field id="InfoList" fieldname="UpdateTime1" /}<xsl:text disable-output-escaping="yes">&quot; border=&quot;0&quot; /&gt;</xsl:text>

  {PE.field id="InfoList" fieldname="UpdateTime" /}
  </div>
  <div id="bbs_botright">
    <div style="text-align: left;padding-left:5px;">
	{PE.field id="InfoList" fieldname="GuestHomepage" /} {PE.field id="InfoList" fieldname="GuestOicq" /} {PE.field id="InfoList" fieldname="GuestEmail" /} 
    </div>
  </div>
</div>
{/PE.Repeat}
</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>parentid</name>
    <default>7</default>
    <intro>栏目ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐优先级</intro>
  </attributes>
  <attributes>
    <name>mypage</name>
    <default>true</default>
    <intro>是否分页</intro>
  </attributes>
  <attributes>
    <name>mypagesize</name>
    <default>20</default>
    <intro>每页分页数</intro>
  </attributes>
</root>