<?xml version="1.0"?>
<root>
  <LabelType>列表标签</LabelType>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>SELECT NodeID,arrChildID FROM PE_Nodes WHERE NodeID=@parentid</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:param name="parentid"/>
<xsl:param name="titlelen"/>
<xsl:param name="elitelevel"/>
<xsl:param name="mypage"/>
<xsl:param name="mypagesize"/>
<xsl:template match="/NewDataSet">
<xsl:choose>
<xsl:when test="count(Table)=0">
没有找到指定的节点！
</xsl:when>
<xsl:otherwise>
{PE.DataSource id="InfoList" datasource="显示留言列表信息"  page="<xsl:value-of select="$mypage"/>"  pagesize="<xsl:value-of select="$mypagesize"/>" pagemain="true"  arraynodeid="<xsl:value-of select="Table/arrChildID"/>" parentid="<xsl:value-of select="$parentid"/>"  titlelen="<xsl:value-of select="$titlelen"/>"  elitelevel="<xsl:value-of select="$elitelevel"/>"  xslt="true" /}
            <table width="100%" class="Guest_border" border="0" cellspacing="1" cellpadding="0" align="center">
              <tr class="Guest_title">
                <td width="58%" colspan="3">
                  <div align="center">
                    <b>发言主题</b>
                  </div>
                </td>
                <td width="10%">
                  <div align="center">
                    <b>留言人</b>
                  </div>
                </td>
                <td width="5%">
                  <div align="center">
                    <b>回复</b>
                  </div>
                </td>
                <td width="5%">
                  <div align="center">
                    <b>阅读</b>
                  </div>
                </td>
                <td width="22%">
                  <div align="center">
                    <b>最后回复</b>
                  </div>
                </td>
              </tr>
          {PE.Repeat id="InfoList" loop="0"}
              <tr class="Guest_tdbg">
                <td width="5%" align="center">
<xsl:text disable-output-escaping="yes">&lt;img src=</xsl:text>{PE.field id="InfoList" fieldname="GuestFace" /}<xsl:text disable-output-escaping="yes">/&gt;</xsl:text>
</td>
                <td width="5%" align="center">
</td>
                <td width="48%" title="点击查看记录具体信息" align="left">{PE.field id="InfoList" fieldname="Title" /}<I>
<font color="gray">
</font>
</I>
</td>
                <td width="10%" align="center">{PE.field id="InfoList" fieldname="GuestName" /}</td>
                <td width="5%" align="center">{PE.field id="InfoList" fieldname="ReplyNum" /}</td>
                <td width="5%" align="center">{PE.field id="InfoList" fieldname="Hits" /}</td>
                <td width="22%" align="left">{PE.field id="InfoList" fieldname="LastReplyTime" /}<font class="Channel_font"> 
                  | </font>{PE.field id="InfoList" fieldname="LastReplyGuest" /}</td>
              </tr>
              <xsl:text disable-output-escaping="yes">&lt;tr id=&quot;FollowTr</xsl:text>{PE.field id="InfoList" fieldname="GeneralID" /}<xsl:text disable-output-escaping="yes">&quot; style=&quot;display:none;&quot;&gt;</xsl:text>
                <xsl:text disable-output-escaping="yes">&lt;td id=&quot;FollowTd</xsl:text>{PE.field id="InfoList" fieldname="GeneralID" /}<xsl:text disable-output-escaping="yes">&quot; colspan=&quot;7&quot;&gt;&lt;/td&gt;
              &lt;/tr&gt;</xsl:text>
          {/PE.Repeat}
            </table>



</xsl:otherwise>
</xsl:choose>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>parentid</name>
    <default>7</default>
    <intro>栏目ID</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐优先级</intro>
  </attributes>
  <attributes>
    <name>mypage</name>
    <default>true</default>
    <intro>是否分页</intro>
  </attributes>
  <attributes>
    <name>mypagesize</name>
    <default>20</default>
    <intro>每页分页数</intro>
  </attributes>
</root>