<root>
  <LabelType>图片列表</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicProduct.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>itemid</name>
    <default>3</default>
    <intro>参数说明</intro>
  </attributes>
  <LabelSqlString>
  <![CDATA[select top @photonum M.GeneralID,M.NodeID,M.InputTime,M.Title,M.PinyinTitle,P.ProductName,P.ProductThumb
from PE_CommonModel M inner join PE_CommonProduct P 
on M.GeneralID = P.ProductId 
where 
M.TableName=(select TableName from PE_CommonModel where GeneralID=@itemid)
and M.GeneralID<>@itemid and M.LinkType=0 and M.Status=99 and P.EnableSale=1 
Order by M.UpdateTime DESC]]></LabelSqlString>
  <LabelTemplate>
  <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<xsl:template match="/">

<xsl:if test="count(/NewDataSet/Table)=0" >
<ul>
<li>没有相关内容!</li>
</ul>
</xsl:if>

<div class="p_class_list">
<ul>
<xsl:for-each select="/NewDataSet/Table">
<li>
<!-- 图片及链接开-->
<div class="pe_u_thumb">
<a>
<xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
</xsl:attribute>

<xsl:element name="img">
<xsl:attribute name="src">
<xsl:choose>
<xsl:when test="string-length(ProductThumb)=0">
<xsl:value-of select="pe:UpLoadDir()" />nopic.gif
</xsl:when>
<xsl:otherwise>
<xsl:value-of select="pe:ConvertAbsolutePath(ProductThumb)"/>
</xsl:otherwise>
</xsl:choose>
</xsl:attribute>

<xsl:attribute name="border">0</xsl:attribute>
</xsl:element>
</a>
</div>
<!-- 图片及链接结-->
<!--标题文字及链接开-->
<div class="pe_u_thumb_title">
<a>
<xsl:attribute name="href">
<xsl:value-of disable-output-escaping="yes" select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
</xsl:attribute>
<xsl:value-of select="pe:CutText(ProductName,20,'...')" />
</a>
</div>

</li>
</xsl:for-each> 
</ul>
</div>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>photonum</name>
    <default>10</default>
    <intro>参数说明</intro>
  </attributes>
</root>