<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝网站底部静态标签，包含PE.Label id="雅蓝友情链接"和广告版位</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate>
    <![CDATA[<!-- 底部 -->
<div class="b_ad"> <a href="http://www.powereasy.net/" target="_blank"><img src="{PE.SiteConfig.ApplicationPath /}Skin/Default/images/banner2.gif" border="0" alt="动易2007 .NET版即将上市" /></a></div>
<!-- 友情链接 -->
<div id="center_all">
         <div class="c_padding">
            <div class="c_friendsite">
{PE.Label id="友情链接_图片_横向列表" /}
<div class="clearbox"></div>
            </div>
         </div>
    </div>

<div id="bottom_all">
  <div id="foot">
    <div id="menu_link"> <a href="mailto:{PE.SiteConfig.WebmasterEmail /}">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{PE.SiteConfig.ApplicationPath/}category_7/index.aspx">网站留言</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{PE.SiteConfig.ApplicationPath /}category_6/index.aspx">友情链接</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{PE.SiteConfig.ApplicationPath /}Category_8/index.aspx">版权声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{PE.SiteConfig.ApplicationPath /}{PE.SiteConfig.ManageDir /}/Index.aspx" target="_blank">管理登录</a></div>
    <div id="copyright"> {PE.SiteConfig.CopyRight /}</div>
  </div>
</div>]]></LabelTemplate>
  <OutType>txt</OutType>
</root>