<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝网站首页左侧</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[    <div id="main_left">
{PE.Label id="CMS用户登录" /}
      <div class="left_box">
        <dl>
          <dt>本周排行TOP20</dt>
          <dd>
            <ul>
{PE.Label id="多模型通用内容信息列表_普通式" parentid="1" arrnodeid="0" includechild="true" specialid="0" urltype="0" shownum="20" ishot="false" iselite="false" datenum="7" ordertype="1" titlelen="20" shownodename="true" showpropertytype="2" showincludepic="false" showauthor="false" showdatetype="0" showhits="false" showhotsign="false" shownewsign="false" showtips="false" showcommentlink="false" opentype="0" hits="0" elitelevel="0" span="" class="" /}
            </ul>
          </dd>
        </dl>
      </div>
      <div class="left_box">
        <dl>
          <dt>本月排行TOP20</dt>
          <dd>
            <ul>
{PE.Label id="多模型通用内容信息列表_普通式" parentid="1" arrnodeid="0" includechild="true" specialid="0" urltype="0" shownum="20" ishot="false" iselite="false" datenum="30" ordertype="1" titlelen="20" shownodename="true" showpropertytype="2" showincludepic="false" showauthor="false" showdatetype="0" showhits="false" showhotsign="false" shownewsign="false" showtips="false" showcommentlink="false" opentype="0" hits="0" elitelevel="0" span="" class="" /}
            </ul>
          </dd>
        </dl>
      </div>
 <div class="left_box">
        <dl>
          <dt>本站专题</dt>
          <dd>
            <ul>
{PE.Label id="专题类别列表" shounum="10" span="" class="" /}
            </ul>
          </dd>
        </dl>
      </div>

      <div class="left_box">
        <dl>
          <dt>用户列表</dt>
          <dd>
            <ul>
{PE.Label id="用户列表" listnum="10" /}
            </ul>
          </dd>
        </dl>
      </div>
{PE.Label id="网站统计" /}
    </div>
    <div class="clearbox"> </div>]]></LabelTemplate>
  <OutType>txt</OutType>
</root>