<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>SELECT * FROM PE_Nodes WHERE NodeID = @nodeid and NodeType=1 order by OrderID</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:param name="parentid"/>
<xsl:output method="xml" />
<xsl:template match="/">
<NewDataSet>
<Table>
<NodeID>
<xsl:value-of select="NodeID"/>
</NodeID>
<NodeName>
<xsl:value-of select="NodeName"/>
</NodeName>
<MoreLink>
&lt;a href="<xsl:value-of select="pe:GetNodePath('true',NodeID)"/>" target="_blank"&gt;[更多] &lt;/a&gt;
</MoreLink>
<NodeLink>
&lt;a href="<xsl:value-of select="pe:GetNodePath('true',NodeID)"/>" target="_blank"&gt;<xsl:value-of select="pe:GetNode(NodeID,'name')"/> &lt;/a&gt;
</NodeLink>
<ParentNodePath>
&lt;a href="<xsl:value-of select="pe:GetNodePath('true',$parentid)"/>"&gt;<xsl:value-of select="pe:GetNode($parentid,'name')"/>&lt;/a&gt;
</ParentNodePath>
</Table>
</NewDataSet>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <UsePage>
  </UsePage>
  <LabelSqlCount>select count(*) from PE_Nodes where ParentID = @parentid and NodeType=1</LabelSqlCount>
  <attributes>
    <name>nodeid</name>
    <default>1</default>
    <intro>栏目ID</intro>
  </attributes>
</root>