<root>
  <LabelType>通用列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>DIV格式的简单评论列表</LabelIntro>
  <LabelDataType>sql_sysquery</LabelDataType>
  <attributes>
    <name>gid</name>
    <default>1</default>
    <intro>内容ID</intro>
  </attributes>
  <attributes>
    <name>listnum</name>
    <default>10</default>
    <intro>显示数量</intro>
  </attributes>
  <LabelSqlString>SELECT Top @pagesize * FROM PE_Comment WHERE Commentid NOT IN (SELECT TOP @startrow Commentid FROM PE_Comment where GeneralID = @gid ORDER BY UpdateDateTime ASC) and (GeneralID = @gid) AND Status=1 ORDER BY UpdateDateTime ASC</LabelSqlString>
  <LabelTemplate><![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:param name="SystemCurrentPage" />
<xsl:param name="listnum" />
<xsl:output method="html" />
<xsl:template match="/">
<xsl:variable name="loginedusername" select="pe:LoginedUserName()"/>
<xsl:variable name="isadminlogined" select="pe:IsAdminLogined()"/>
<xsl:if test="count(/NewDataSet/Table)=0" >
<div class="c_spacing">
</div>
<div id="bbs_title">
<li>尚无评论!</li>
</div>
</xsl:if>
<xsl:for-each select="NewDataSet/Table">
<xsl:variable name="userimg" select="pe:GetUserFace(UserName)"/>
<div class="c_spacing">
</div>
<div id="bbs_title">
  <dl>
  <xsl:choose>
    <xsl:when test="Position = '1'">
［我支持］
    </xsl:when>
    <xsl:when test="Position = '-1'">
［我反对］
    </xsl:when>
    <xsl:otherwise>
［我中立］
    </xsl:otherwise>
  </xsl:choose>
    
：<span id="ctl00_CphContent_LblTitle">
<xsl:value-of select="pe:FiltText(CommentTitle)"/>
</span>
  </dl>
</div>

<div id="bbs_center">
  <div id="bbs_left">
  <xsl:choose>
    <xsl:when test="$userimg != 'err'">
<xsl:choose>
<xsl:when test="pe:IsStartWithhttp($userimg)='true'">
        <img src="{$userimg}" width="80" height="90" border="0" />
</xsl:when>
<xsl:otherwise>
<img src="{pe:InstallDir()}{$userimg}" width="80" height="90" border="0" />
</xsl:otherwise>
</xsl:choose>
    </xsl:when>
    <xsl:otherwise>
        <img src="{pe:InstallDir()}Images/Comment/01.gif" />
    </xsl:otherwise>
  </xsl:choose>
<br />
    <strong>
<xsl:value-of select="ReplyUserName"/>
<xsl:if test="UserName = '游客'">
<br />
［游客］
</xsl:if>
</strong>
<br />
    <div style="text-align: left;padding-left:30px;">
    
    
</div>
  </div>
  <div id="bbs_right">
    <div id="bbs_text">
      <dl>
        <dt class="bbs_center_line">
<xsl:if test="UserName != '游客'">
		 <a>
          <xsl:attribute name="href">
<xsl:value-of select="pe:InstallDir()"/>User/Message/Message.aspx?inceptUser=<xsl:value-of select="UserName" />
</xsl:attribute>
          <img alt="短信" src="{pe:InstallDir()}Images/Comment/message.gif" align="Absmiddle" style="border: 0px;" />   
         </a>

         <a>
          <xsl:attribute name="href">
<xsl:value-of select="pe:InstallDir()"/>User/Default.aspx
</xsl:attribute>
          <img alt="信息" src="{pe:InstallDir()}Images/Comment/profile.gif" align="Absmiddle" style="border: 0px;" />   
         </a>

</xsl:if>
         <a>
          <xsl:attribute name="href">mailto:<xsl:value-of select="Email"/>
</xsl:attribute>
          <img alt="邮箱" src="{pe:InstallDir()}Images/Comment/email.gif" align="Absmiddle" style="border: 0px;" />   
         </a>

           [ 支持人：{PE.Label id="评论辩论统计人数" CommentID="<xsl:value-of select="CommentID"/>" Position="1" /} 
           反对人：{PE.Label id="评论辩论统计人数" CommentID="<xsl:value-of select="CommentID"/>" Position="-1" /} 
           中立人：{PE.Label id="评论辩论统计人数" CommentID="<xsl:value-of select="CommentID"/>" Position="0" /}
           分数： <xsl:value-of select="Score"/>]
        </dt>
        <dd class="bbs_center_right">
          <span id="LblNum">第<span style="color:Red">
<xsl:number value="position() + ($listnum * ($SystemCurrentPage - 1))" />
</span>楼</span> </dd>
        <dd> 
        <span id="LblContent">
<span id="commenttxt_{CommentID}">
        <xsl:choose>
        <xsl:when test="IsPrivate = 'false'">
            <xsl:value-of  select="pe:FiltText(Content)"/>
        </xsl:when>
        <xsl:otherwise>
            <xsl:choose>
            <xsl:when test="(UserName=$loginedusername and $loginedusername!='') or $isadminlogined='true'">
                 <xsl:value-of  select="pe:FiltText(Content)"/>
            </xsl:when>
            <xsl:otherwise>
                  本评论只有评论人和管理员可见！
            </xsl:otherwise>
            </xsl:choose>
       </xsl:otherwise>
       </xsl:choose>
</span>
          <xsl:if test="ReplyAdmin != '' and Reply !=''" >
<xsl:choose>
<xsl:when test="ReplyIsPrivate='false'">
          <div class="Reply" width="95%">
            <dl>
              <dt class="ReplyAdminTd" > <span class="ReplyAdmin">管理员回复</span>：</dt>
              <dd>
<xsl:value-of select="Reply"/>
</dd>
              <dd class="ReplyTime">
<xsl:value-of select="pe:FormatDate(ReplyDatetime,'yy-mm-dd')"/>
</dd>
            </dl>
          </div>
</xsl:when>
<xsl:otherwise>
<xsl:if test="UserName=$loginedusername and $loginedusername!=''">
          <div class="Reply" width="95%">
            <dl>
              <dt class="ReplyAdminTd" > <span class="ReplyAdmin">管理员回复</span>：</dt>
              <dd>
<xsl:value-of select="Reply"/>
</dd>
              <dd class="ReplyTime">
<xsl:value-of select="pe:FormatDate(ReplyDatetime,'yy-mm-dd')"/>
</dd>
            </dl>
          </div>
</xsl:if>
</xsl:otherwise>
</xsl:choose>
          </xsl:if>
          </span> </dd>
      </dl>
    </div>
  </div>
  <div class="clearbox">
</div>
</div>

<div id="bbs_bot">
  <div id="bbs_botleft">
<xsl:element name="img">
<xsl:attribute name="src">
<xsl:value-of select="pe:InstallDir()"/>Images/Comment/ip.gif</xsl:attribute>
<xsl:attribute name="alt">
<xsl:value-of select="UpdateDateTime"/>
</xsl:attribute>
<xsl:attribute name="border">0</xsl:attribute>
</xsl:element>
 <xsl:value-of select="pe:FormatDate(UpdateDateTime,'yy-mm-dd')"/> 
</div>
  <div id="bbs_botright">
    <div style="padding-right: 4px; float: right;"> 操作： <span id="LblPKZone"> <a>
<xsl:attribute name="href" >
<xsl:value-of select="pe:InstallDir()"/>Comment/CommentPKZoneManage.aspx?Id=<xsl:value-of select="GeneralID" />&amp;CommentID=<xsl:value-of select="CommentID" />&amp;Title=<xsl:value-of select="CommentTitle" />
</xsl:attribute> <xsl:attribute name="target">_blank</xsl:attribute>PK Zone</a>
</span>
 <span id="LblPKAgree">  <a>
<xsl:attribute name="href">
<xsl:value-of select="pe:InstallDir()"/>Comment/CommentPKZoneManage.aspx?CommentID=<xsl:value-of select="CommentID" />&amp;Id=<xsl:value-of select="GeneralID" />&amp;Title=<xsl:value-of select="CommentTitle" />
</xsl:attribute>
<xsl:attribute name="onkeydown">return Agree(event);</xsl:attribute>
<xsl:attribute name="onmouseout">jsAreaMouseOut(event);</xsl:attribute>
<xsl:attribute name="onmouseover">PopupArea(event, 'Agree<xsl:value-of select="CommentID" />')</xsl:attribute> 支持</a>
</span>
 <span id="LblPKOppose">  <a>
<xsl:attribute name="href">
<xsl:value-of select="pe:InstallDir()"/>Comment/CommentPKZoneManage.aspx?CommentID=<xsl:value-of select="CommentID" />&amp;Id=<xsl:value-of select="GeneralID" />&amp;Title=<xsl:value-of select="CommentTitle" />
</xsl:attribute>
<xsl:attribute name="onkeydown">return Oppose(event);</xsl:attribute>
<xsl:attribute name="onmouseout">jsAreaMouseOut(event);</xsl:attribute>
<xsl:attribute name="onmouseover">PopupArea(event, 'Oppose<xsl:value-of select="CommentID" />')</xsl:attribute>  反对</a>
</span>
 <span id="LblExcerpt"> <a>
<xsl:attribute name="href">
<xsl:value-of select="pe:InstallDir()"/>Comment/CommentExcerpt.aspx?CommentID=<xsl:value-of select="CommentID" />&amp;Id=<xsl:value-of select="GeneralID" />&amp;Title=<xsl:value-of select="CommentTitle" />
</xsl:attribute>  引用</a>
</span>
 </div>
  </div>
</div>

<div>
	<xsl:attribute name="id">Agree<xsl:value-of select="CommentID" />
</xsl:attribute>
	<xsl:attribute name="style">position: absolute; width: 200px; border: solid 1px black; background-color: white; display: none;</xsl:attribute>

	<table border='0' cellpadding='0' cellspacing='1' width='100%'>
		<tr>
			<td align="left">
				<span>
<xsl:attribute name="class">pkzone</xsl:attribute>
<xsl:attribute name="onclick">addpkzone(<xsl:value-of select="CommentID" />,1,this.innerHTML)</xsl:attribute>
<xsl:attribute name="onmouseover">this.className='pkzoneover'</xsl:attribute>
<xsl:attribute name="onmouseout">this.className='pkzone'</xsl:attribute>精彩一针见血</span>
</td>
		</tr>
		<tr>
			<td align="left">
				<span>
<xsl:attribute name="class">pkzone</xsl:attribute>
<xsl:attribute name="onclick">addpkzone(<xsl:value-of select="CommentID" />,1,this.innerHTML)</xsl:attribute>
<xsl:attribute name="onmouseover">this.className='pkzoneover'</xsl:attribute>
<xsl:attribute name="onmouseout">this.className='pkzone'</xsl:attribute>观点独到</span>
</td>
		</tr>
		<tr>
			<td align="left">
				<span>
<xsl:attribute name="class">pkzone</xsl:attribute>
<xsl:attribute name="onclick">addpkzone(<xsl:value-of select="CommentID" />,1,this.innerHTML)</xsl:attribute>
<xsl:attribute name="onmouseover">this.className='pkzoneover'</xsl:attribute>
<xsl:attribute name="onmouseout">this.className='pkzone'</xsl:attribute>说的很对</span>
</td>
		</tr>
		<tr>
			<td align="left">
				<span>
<xsl:attribute name="class">pkzone</xsl:attribute>
<xsl:attribute name="onclick">addpkzone(<xsl:value-of select="CommentID" />,1,this.innerHTML)</xsl:attribute>
<xsl:attribute name="onmouseover">this.className='pkzoneover'</xsl:attribute>
<xsl:attribute name="onmouseout">this.className='pkzone'</xsl:attribute>你说的有道理</span>
</td>
		</tr>
	</table>
</div>


<div>
	<xsl:attribute name="id">Oppose<xsl:value-of select="CommentID" />
</xsl:attribute>
	<xsl:attribute name="style">position: absolute; width: 200px; border: solid 1px black; background-color: white; display: none;</xsl:attribute>

	<table border='0' cellpadding='0' cellspacing='1' width='100%'>
		<tr>
			<td align="left">
				<span>
<xsl:attribute name="class">pkzone</xsl:attribute>
<xsl:attribute name="onclick">addpkzone(<xsl:value-of select="CommentID" />,-1,this.innerHTML)</xsl:attribute>
<xsl:attribute name="onmouseover">this.className='pkzoneover'</xsl:attribute>
<xsl:attribute name="onmouseout">this.className='pkzone'</xsl:attribute>乱七八糟说什么</span>
</td>
		</tr>
		<tr>
			<td align="left">
				<span>
<xsl:attribute name="class">pkzone</xsl:attribute>
<xsl:attribute name="onclick">addpkzone(<xsl:value-of select="CommentID" />,-1,this.innerHTML)</xsl:attribute>
<xsl:attribute name="onmouseover">this.className='pkzoneover'</xsl:attribute>
<xsl:attribute name="onmouseout">this.className='pkzone'</xsl:attribute>你说的没道理</span>
</td>
		</tr>
		<tr>
			<td align="left">
				<span>
<xsl:attribute name="class">pkzone</xsl:attribute>
<xsl:attribute name="onclick">addpkzone(<xsl:value-of select="CommentID" />,-1,this.innerHTML)</xsl:attribute>
<xsl:attribute name="onmouseover">this.className='pkzoneover'</xsl:attribute>
<xsl:attribute name="onmouseout">this.className='pkzone'</xsl:attribute>简直是胡说八道</span>
</td>
		</tr>
	</table>
</div>


</xsl:for-each>
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <UsePage>True</UsePage>
  <LabelSqlCount>select count(*) from PE_Comment where GeneralID = @gid AND Status=1</LabelSqlCount>
  <OutType>sin</OutType>
  <CacheTime>12</CacheTime>
</root>