<root>
  <LabelType>静态标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>雅蓝软件搜索</LabelIntro>
  <LabelDataType>static</LabelDataType>
  <LabelTemplate><![CDATA[<!-- 搜索 -->
                    <div class="main_search">

                         软件搜索：<select name='nodeid' size='1'>{PE.Label id="栏目分类下拉列表选项" nodeid="3" span="" class="" /}</select><select name='fieldoption' size='1'><option value='title' selected>软件名称</option><option value='content'>软件简介</option><option value='author'>软件作者</option><option value='inputer'>录 入 者</option><option value='keyword'>关键字</option></select><input id="Keyword" onfocus="this.value='';" maxLength="100" size="30" value="" name="Keyword" />
                         <input id="Submit" style="border: 0px;width: 65px;height: 21px;" type="image" src="{PE.SiteConfig.applicationpath/}Skin/Default/Images/search_b.gif" name="Submit" onclick="OnSearchCheckAndSubmit();" />
                         <a href="{PE.SiteConfig.applicationpath/}search.aspx?searchtype=2&ModelId=3">高级搜索</a>                 

					   <script language="javascript" type="text/javascript">
                       function OnSearchCheckAndSubmit()
                       {
                            var keyword=document.getElementById("Keyword").value;
                            if(keyword==''||keyword==null)
                            {
                                alert("请填写您想搜索的关键词");
                                return ;
                            }else{
                           
                            var nodeSel=document.getElementById("NodeId");
                            var fieldoptionSel=document.getElementById("fieldoption");
                            var nodeId=nodeSel.options[nodeSel.options.selectedIndex].value;
                            var fieldoption=fieldoptionSel.options[fieldoptionSel.options.selectedIndex].value;
                            window.location="{PE.SiteConfig.applicationpath/}search.aspx?searchtype=1&ModelId=3&nodeId="+nodeId+"&Keyword="+escape(keyword)+"&fieldoption="+fieldoption;
                            }
                       }
                       </script> 
                     </div>]]></LabelTemplate>
  <OutType>txt</OutType>
</root>