<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="UTF-8">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="{PE.Label id="取得栏目META关键词" nodeid="@RequestInt_id" /}" name="Keywords" />
<meta content="{PE.Label id="取得栏目META网页描述" nodeid="@RequestInt_id" /}" name="Description"/>
<title>{PE.Label id="取得节点名称" nid="@RequestInt_id" /}首页-{PE.SiteConfig.SiteTitle/}</title>
<link href="{PE.SiteConfig.ApplicationPath/}Skin/Default/default.css" rel="stylesheet" type="text/css" />
<link href="{PE.SiteConfig.ApplicationPath/}Skin/Default/product.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.ApplicationPath/}js/common.js"></script>
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.ApplicationPath/}js/slider.js"></script>
<script language="javascript" type="text/javascript">
    function redirecturl(url)
    {
        location=url;
    }
    </script>
</head>
<body>
{PE.Label id="网站顶部" /}
<div id="center_all">
  <div id="main_bg">
    <div id="main_right">
      <div id="main_right_box">
        <!-- 网站位置导航信息开始 -->
        <div class="r_navigation">
          <div class="r_n_pic"></div>
          您现在的位置：<a href="{PE.SiteConfig.sitepath/}">{PE.SiteConfig.sitename /}</a>{PE.Label id="栏目位置导航" nodeid="@RequestInt_id" /} </div>
        <!-- 网站位置导航信息结束 -->
        {PE.Label id="右侧广告" /}
        <div class="c_spacing"> </div>
        {PE.Label id="商店搜索" /}
        <div class="c_spacing"> </div>
        {PE.Label id="最新商品子栏目一列式列表循环" shownum="8" parentid="@RequestInt_id" /}
        <div class="c_spacing"> </div>
        {PE.Label id="推荐商品子栏目一列式列表循环" shownum="8" parentid="@RequestInt_id" /}
        <div class="c_spacing"> </div>
        {PE.Label id="热卖商品子栏目一列式列表循环" shownum="8" parentid="@RequestInt_id" /}
        <div class="c_spacing"> </div>
        {PE.Label id="精品商品子栏目一列式列表循环" shownum="8" parentid="@RequestInt_id" /}
        <div class="c_spacing"> </div>
        {PE.Label id="固顶商品子栏目一列式列表循环" shownum="8" parentid="@RequestInt_id" /}
        <div class="c_spacing"> </div>
        <!-- 配送范围开始 -->
        <div class="p_scope">
          <dl>
            <dt>配送范围</dt>
            <dd>
              <ul>
                <li><a href="#">北京 上海 广州</a></li>
                <li><a href="#">华北区 华东区 华南区</a></li>
                <li><a href="#">其他地区邮寄服务</a></li>
                <li><a href="#">海外UPS服务</a></li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>售后服务</dt>
            <dd>
              <ul>
                <li><a href="#">退换货原则</a></li>
                <li><a href="#">退换货处理</a></li>
                <li><a href="#">具体说明</a></li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>我的订单</dt>
            <dd>
              <ul>
                <li><a href="#">如何查询订单情况</a></li>
                <li><a href="#">怎样下订单</a></li>
                <li><a href="#">订单有效期限</a></li>
                <li><a href="#">配送费收取标准</a></li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>如何交款</dt>
            <dd>
              <ul>
                <li><a href="#">付款方式</a></li>
                <li><a href="#">汇款单招领</a></li>
                <li><a href="#">如何使用虚拟账户</a></li>
                <li><a href="#">预售商品订购方法</a></li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>需要帮助</dt>
            <dd>
              <ul>
                <li><a href="#">忘记了密码</a></li>
                <li><a href="#">常见问题</a></li>
                <li><a href="#">联系客服</a></li>
              </ul>
            </dd>
          </dl>
          <div class="clearbox"> </div>
        </div>
        <!-- 配送范围结束 -->
        <div class="clearbox"> </div>
      </div>
    </div>
    {PE.Label id="商店节点左侧" /} </div>
</div>
{PE.Label id="网站底部" /}
</body>
</html>
