<root>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelType>数据源标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetPicArticle.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <LabelSqlString>SELECT TOP 1 PE_CommonModel.*,{$$$TableName$$$}.*  FROM PE_CommonModel INNER JOIN {$$$TableName$$$} ON PE_CommonModel.GeneralID = {$$$TableName$$$}.ID  WHERE  (PE_CommonModel.GeneralID = @itemid) AND PE_CommonModel.Status=99</LabelSqlString>
  <LabelTemplate>
    <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform
 version="1.0"
 xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
 xmlns:pe="labelproc"
 exclude-result-prefixes="pe"
>
<xsl:output method="xml" />
<xsl:param name="itemid"/>
<xsl:template match="/">
<root>
<GeneralID>
<xsl:value-of select="/NewDataSet/Table/GeneralID"/>
</GeneralID>
<NodeID>
<xsl:value-of select="/NewDataSet/Table/NodeID"/>
</NodeID>
<Title>
<xsl:value-of select="/NewDataSet/Table/Title"/>
</Title>
{$$$Custom$$$}
<Vote>
<xsl:value-of select="pe:GetVoteForm(/NewDataSet/Table/GeneralID)"/>
</Vote>
<UpdateTime>
<xsl:value-of select="pe:FormatDate(/NewDataSet/Table/UpdateTime,'yyyy年mm月dd日')"/>
</UpdateTime>
<Hits>
&lt;script language="JavaScript" type="text/JavaScript" src="<xsl:value-of select="pe:InstallDir()" />Common/GetHits.aspx?id=<xsl:value-of select="/NewDataSet/Table/GeneralID"/>"&gt;&lt;/script&gt;
</Hits>
<DayHits>
&lt;script language=&quot;JavaScript&quot; type=&quot;text/JavaScript&quot; src=&quot;
<xsl:value-of select="pe:InstallDir()"/>Common/GetHits.aspx?hitstype=1&amp;id=<xsl:value-of select="/NewDataSet/Table/GeneralID"/>
&quot;&gt;&lt;/script&gt;
</DayHits>
<WeekHits>
&lt;script language=&quot;JavaScript&quot; type=&quot;text/JavaScript&quot; src=&quot;
<xsl:value-of select="pe:InstallDir()"/>Common/GetHits.aspx?hitstype=2&amp;id=<xsl:value-of select="/NewDataSet/Table/GeneralID"/>
&quot;&gt;&lt;/script&gt;
</WeekHits>
<MonthHits>
&lt;script language=&quot;JavaScript&quot; type=&quot;text/JavaScript&quot; src=&quot;
<xsl:value-of select="pe:InstallDir()"/>Common/GetHits.aspx?hitstype=3&amp;id=<xsl:value-of select="/NewDataSet/Table/GeneralID"/>
&quot;&gt;&lt;/script&gt;
</MonthHits>

</root>
</xsl:template>
</xsl:transform>]]>
  </LabelTemplate>
  <attributes>
    <name>itemid</name>
    <default>1</default>
    <intro>{$$$ItemName$$$}ID</intro>
  </attributes>
  <OutType>
  </OutType>
  <CacheTime>0</CacheTime>
</root>
