<root>
  <LabelType>列表标签</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/GetArticleCustom.gif</LabelImage>
  <LabelIntro>
  </LabelIntro>
  <OutType>sin</OutType>
  <CacheTime>0</CacheTime>
  <LabelDataType>sql_sysquery</LabelDataType>
  <LabelSqlString>@strsql</LabelSqlString>
  <LabelTemplate>
          <![CDATA[<?xml version="1.0" encoding="utf-8"?>
<xsl:transform version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:pe="labelproc" exclude-result-prefixes="pe">
<xsl:output method="html" />
<!-- 参数 -->
<xsl:param name="parentid"/>
<xsl:param name="arrnodeid"/>
<xsl:param name="includechild"/>
<xsl:param name="specialid"/>
<xsl:param name="urltype"/>
<xsl:param name="shownum"/>
<xsl:param name="ishot"/>
<xsl:param name="iselite"/>
<xsl:param name="inputername"/>
<xsl:param name="datenum"/>
<xsl:param name="ordertype"/>
<xsl:param name="showtype"/>
<xsl:param name="titlelen"/>
<xsl:param name="contentlen"/>
<xsl:param name="shownodename"/>
<xsl:param name="showpropertytype"/>
<xsl:param name="showincludepic"/>
<xsl:param name="showauthor"/>
<xsl:param name="showdatetype"/>
<xsl:param name="showhits"/>
<xsl:param name="showhotsign"/>
<xsl:param name="shownewsign"/>
<xsl:param name="showtips"/>
<xsl:param name="showcommentlink"/>
<xsl:param name="usepage"/>
<xsl:param name="opentype"/>
<xsl:param name="cols"/>
<xsl:param name="hits"/>
<xsl:param name="elitelevel"/>
<xsl:param name="strsql"/>
<xsl:param name="tr_value"/>
<xsl:template match="/">
<xsl:apply-templates select="NewDataSet" />
</xsl:template>
<xsl:template match="/NewDataSet">
<!-- 这里先判断显示样式 -->
<!-- 表格样式开始 -->
<xsl:choose>
	<xsl:when test="$cols&gt;1">
		<table width="95%">
			<tr>
			<xsl:for-each select="Table">

				<!-- 判断输出前缀图标 -->
				<xsl:choose>
				<xsl:when test="$showpropertytype='0'">
				</xsl:when>
				<xsl:otherwise>
					<xsl:choose>
						<xsl:when test="pe:Convert2Int($showpropertytype)&gt;0">
							<xsl:choose>
								<xsl:when test="Hits>pe:HitsOfHot()">
								<td>
									<xsl:element name="img">
									<xsl:attribute name="src">
									<xsl:value-of select="pe:InstallDir()" />images/ontop
									<xsl:value-of select="$showpropertytype" />.gif
									</xsl:attribute>
									<xsl:attribute name="alt">热门<xsl:value-of select="pe:GetModelItemName(ModelID)"/>
</xsl:attribute>
									</xsl:element>
								</td>
								</xsl:when>
								<xsl:when test="EliteLevel>$elitelevel">
								<td>
									<xsl:element name="img">
									<xsl:attribute name="src">
									<xsl:value-of select="pe:InstallDir()" />images/elite<xsl:value-of select="$showpropertytype" />.gif</xsl:attribute><xsl:attribute name="alt">推荐<xsl:value-of select="pe:GetModelItemName(ModelID)"/>
</xsl:attribute>
									</xsl:element>
								</td>
								</xsl:when>
								<xsl:otherwise>
								<td>
									<xsl:element name="img">
									<xsl:attribute name="src">
									<xsl:value-of select="pe:InstallDir()" />images/common<xsl:value-of select="$showpropertytype" />.gif</xsl:attribute><xsl:attribute name="alt">普通<xsl:value-of select="pe:GetModelItemName(ModelID)"/>
</xsl:attribute>
									</xsl:element>
								</td>
								</xsl:otherwise>
							</xsl:choose>
						</xsl:when>
						<xsl:otherwise>
							<td>
								<xsl:element name="img">
								<xsl:attribute name="src">
								<xsl:value-of select="pe:InstallDir()" />images/<xsl:value-of select="$showpropertytype" /></xsl:attribute><xsl:attribute name="alt">普通<xsl:value-of select="pe:GetModelItemName(ModelID)"/>
</xsl:attribute>
								</xsl:element>
							</td>
						</xsl:otherwise>
					</xsl:choose>
				</xsl:otherwise>
				</xsl:choose>

				<td>
				<!-- 判断输出所属栏目开始 -->
				<xsl:if test="$shownodename='true'">
				[<a>
				<xsl:attribute name="href">
				<xsl:value-of select="pe:GetNodePath('true',NodeID)" />
				</xsl:attribute>
				<xsl:choose>
				<xsl:when test="$opentype='_blank'">
				<xsl:attribute name="target">_blank</xsl:attribute>
				</xsl:when>
				<xsl:when test="$opentype='_parent'">
				<xsl:attribute name="target">_parent</xsl:attribute>
				</xsl:when>
				<xsl:when test="$opentype='_top'">
				<xsl:attribute name="target">_top</xsl:attribute>
				</xsl:when>
				<xsl:otherwise>
				<xsl:attribute name="target">_self</xsl:attribute>
				</xsl:otherwise>
				</xsl:choose>
				<xsl:value-of select="pe:GetNode(NodeID,'name')" />
				</a>]			
				</xsl:if>
				<!-- 判断输出所属栏目结束 -->
				<!-- 输出标题开始 -->
				<a>
				<xsl:attribute name="href">
				<xsl:value-of select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
				</xsl:attribute>
				<xsl:choose>
				<xsl:when test="$opentype='_blank'">
				<xsl:attribute name="target">_blank</xsl:attribute>
				</xsl:when>
				<xsl:when test="$opentype='_parent'">
				<xsl:attribute name="target">_parent</xsl:attribute>
				</xsl:when>
				<xsl:when test="$opentype='_top'">
				<xsl:attribute name="target">_top</xsl:attribute>
				</xsl:when>
				<xsl:otherwise>
				<xsl:attribute name="target">_self</xsl:attribute>
				</xsl:otherwise>
				</xsl:choose>
				<!-- 判断是否输出tips -->
				<xsl:if test="$showtips='true'">
				<xsl:attribute name="title">标题：<xsl:value-of disable-output-escaping="yes" select="Title"/>
                                <xsl:value-of select="'&#xD;'" />作者：<xsl:value-of select="Author"/>
				<xsl:value-of select="'&#xD;'" />发表时间:<xsl:value-of select="pe:FormatDate(UpdateTime, 'yy年mm月dd日')" />
				<xsl:value-of select="'&#xD;'" />点击数:<xsl:value-of select="Hits"/>
				</xsl:attribute>
				</xsl:if>
                                <xsl:value-of disable-output-escaping="yes" select="pe:CutText(Title,$titlelen,'…')" />
				</a>
				<!-- 输出信息标题结束 -->
				</td>

				<!-- 输出内容开始 -->
				<!-- 输出内容结束 -->


				<!-- 输出{$$$ItemName$$$}点击数开始 -->
				<xsl:if test="$showhits='true'">
				<td>
<xsl:value-of select="Hits"/>
</td>
				</xsl:if>
				<!-- 输出点击数结束 -->

				<!-- 输出“[图文]”字样开始 -->
				<!-- 输出“[图文]”结束 -->

				<!-- 输出作者开始 -->
				<xsl:if test="$showauthor='true'">
				<td>
<xsl:value-of select="Inputer"/>
</td>
				</xsl:if>
				<!-- 输出作者结束 -->
				<!-- 输出日期开始 -->
				<xsl:if test="$showdatetype!='0'">
				 <td>
<xsl:value-of select="pe:FormatDate(UpdateTime, $showdatetype)" />
</td>
				</xsl:if>
				<!-- 输出日期结束 -->
				<!-- 判断输出热门标记开始 -->
				<xsl:if test="$showhotsign='true'">
				<xsl:if test="Hits>pe:HitsOfHot()">
				<td>
<img src="{pe:InstallDir()}images/hot.gif" />
</td>
				</xsl:if>
				</xsl:if>
				<!-- 输出热门标记结束 -->
				<!-- 判断输出最新标记开始 -->
				<xsl:if test="$shownewsign='true'">
				<xsl:if test="2>pe:TimeSpan(UpdateTime,pe:TimeNow())">
				<td>
<img src="{pe:InstallDir()}images/new.gif" />
</td>
				</xsl:if>
				</xsl:if>
				<!-- 输出最新标记结束 -->

				<!-- 判断输出评论链接开始 -->
				<!-- 输出评论链接结束 -->

				<!-- 换行 -->
				<xsl:if test="position()&gt;1">
					<xsl:if test="position()&lt;last()">
						<xsl:if test="position()mod$cols=0">
							<xsl:value-of disable-output-escaping="yes" select="$tr_value" />
						</xsl:if>
					</xsl:if>
				</xsl:if>
			</xsl:for-each>
			</tr>
		</table>
	</xsl:when>
	<xsl:otherwise>
		<table width="100%">
			<xsl:for-each select="Table">
			<tr>
				<!-- 判断输出前缀图标 -->
				<xsl:choose>
				<xsl:when test="$showpropertytype='0'">
				</xsl:when>
				<xsl:otherwise>
					<xsl:choose>
						<xsl:when test="pe:Convert2Int($showpropertytype)&gt;0">
							<xsl:choose>
								<xsl:when test="Hits>pe:HitsOfHot()">
								<td>
									<xsl:element name="img">
									<xsl:attribute name="src">
									<xsl:value-of select="pe:InstallDir()" />images/ontop<xsl:value-of select="$showpropertytype" />.gif</xsl:attribute><xsl:attribute name="alt">热门<xsl:value-of select="pe:GetModelItemName(ModelID)"/>
</xsl:attribute>
									</xsl:element>
								</td>
								</xsl:when>
								<xsl:when test="EliteLevel>$elitelevel">
								<td>
									<xsl:element name="img">
									<xsl:attribute name="src">
									<xsl:value-of select="pe:InstallDir()" />images/elite<xsl:value-of select="$showpropertytype" />.gif</xsl:attribute><xsl:attribute name="alt">推荐<xsl:value-of select="pe:GetModelItemName(ModelID)"/>
</xsl:attribute>
									</xsl:element>
								</td>
								</xsl:when>
								<xsl:otherwise>
								<td>
									<xsl:element name="img">
									<xsl:attribute name="src">
									<xsl:value-of select="pe:InstallDir()" />images/common<xsl:value-of select="$showpropertytype" />.gif</xsl:attribute><xsl:attribute name="alt">普通<xsl:value-of select="pe:GetModelItemName(ModelID)"/>
</xsl:attribute>
									</xsl:element>
								</td>
								</xsl:otherwise>
							</xsl:choose>
						</xsl:when>
						<xsl:otherwise>
							<td>
								<xsl:element name="img">
								<xsl:attribute name="src">
								<xsl:value-of select="pe:InstallDir()" />images/<xsl:value-of select="$showpropertytype" /></xsl:attribute><xsl:attribute name="alt">普通<xsl:value-of select="pe:GetModelItemName(ModelID)"/>
</xsl:attribute>
								</xsl:element>
							</td>
						</xsl:otherwise>
					</xsl:choose>
				</xsl:otherwise>
				</xsl:choose>


				<td>
				<!-- 判断输出所属栏目开始 -->
				<xsl:if test="$shownodename='true'">
				[<a>
				<xsl:attribute name="href">
				<xsl:value-of select="pe:GetNodePath('true',NodeID)" />
				</xsl:attribute>
				<xsl:choose>
				<xsl:when test="$opentype='_blank'">
				<xsl:attribute name="target">_blank</xsl:attribute>
				</xsl:when>
				<xsl:when test="$opentype='_parent'">
				<xsl:attribute name="target">_parent</xsl:attribute>
				</xsl:when>
				<xsl:when test="$opentype='_top'">
				<xsl:attribute name="target">_top</xsl:attribute>
				</xsl:when>
				<xsl:otherwise>
				<xsl:attribute name="target">_self</xsl:attribute>
				</xsl:otherwise>
				</xsl:choose>
				<xsl:value-of select="pe:GetNode(NodeID,'name')" />
				</a>]			
				</xsl:if>
				<!-- 判断输出所属栏目结束 -->
				<!-- 输出标题开始 -->
				<a>
				<xsl:attribute name="href">
				<xsl:value-of select="pe:GetInfoPath(NodeID,GeneralID,InputTime,PinyinTitle)" />
				</xsl:attribute>
				<xsl:choose>
				<xsl:when test="$opentype='_blank'">
				<xsl:attribute name="target">_blank</xsl:attribute>
				</xsl:when>
				<xsl:when test="$opentype='_parent'">
				<xsl:attribute name="target">_parent</xsl:attribute>
				</xsl:when>
				<xsl:when test="$opentype='_top'">
				<xsl:attribute name="target">_top</xsl:attribute>
				</xsl:when>
				<xsl:otherwise>
				<xsl:attribute name="target">_self</xsl:attribute>
				</xsl:otherwise>
				</xsl:choose>
				<!-- 判断是否输出tips -->
				<xsl:if test="$showtips='true'">
				<xsl:attribute name="title">标题：<xsl:value-of disable-output-escaping="yes" select="Title"/>
                                <xsl:value-of select="'&#xD;'" />作者:<xsl:value-of select="Inputer"/>
				<xsl:value-of select="'&#xD;'" />发表时间:<xsl:value-of select="pe:FormatDate(UpdateTime, 'yy年mm月dd日')" />
				<xsl:value-of select="'&#xD;'" />点击数:<xsl:value-of select="Hits"/>
				</xsl:attribute>
				</xsl:if>
                                <xsl:value-of disable-output-escaping="yes" select="pe:CutText(Title,$titlelen,'…')" />
				</a>
				<!-- 输出标题结束 -->
				</td>

				<!-- 输出内容开始 -->
				<!-- 输出内容结束 -->


				<!-- 输出点击数开始 -->
				<xsl:if test="$showhits='true'">
				<td>
<xsl:value-of select="Hits"/>
</td>
				</xsl:if>
				<!-- 输出点击数结束 -->

				<!-- 输出“[图文]”字样开始 -->
				<!-- 输出“[图文]”结束 -->

				<!-- 输出{$$$ItemName$$$}作者开始 -->
				<xsl:if test="$showauthor='true'">
				<td>
<xsl:value-of select="Inputer"/>
</td>
				</xsl:if>
				<!-- 输出作者结束 -->
				<!-- 输出日期开始 -->
				<xsl:if test="$showdatetype!='0'">
				 <td>
<xsl:value-of select="pe:FormatDate(UpdateTime, $showdatetype)" />
</td>
				</xsl:if>
				<!-- 输出日期结束 -->
				<!-- 判断输出热门标记开始 -->
				<xsl:if test="$showhotsign='true'">
				<xsl:if test="Hits>pe:HitsOfHot()">
				<td>
<img src="{pe:InstallDir()}images/hot.gif" />
</td>
				</xsl:if>
				</xsl:if>
				<!-- 输出热门标记结束 -->
				<!-- 判断输出最新标记开始 -->
				<xsl:if test="$shownewsign='true'">
				<xsl:if test="2>pe:TimeSpan(UpdateTime,pe:TimeNow())">
				<td>
<img src="{pe:InstallDir()}images/new.gif" />
</td>
				</xsl:if>
				</xsl:if>
				<!-- 输出最新标记结束 -->

				<!-- 判断输出评论链接开始 -->
				<!-- 输出评论链接结束 -->
			</tr>
			</xsl:for-each>
		</table>
	</xsl:otherwise>
</xsl:choose>

<!-- 表格样式结束 -->
</xsl:template>
</xsl:transform>]]></LabelTemplate>
  <attributes>
    <name>strsql</name>
    <default>SELECT C.*,T.* FROM PE_CommonModel C INNER JOIN {$$$TableName$$$} T ON C.ItemID=T.ID WHERE C.Status=99 AND C.TableName='{$$$TableName$$$}' ORDER BY C.UpdateTime DESC</default>
    <intro>查询语句</intro>
  </attributes>
  <attributes>
    <name>parentid</name>
    <default>1</default>
    <intro>父栏目ID</intro>
  </attributes>
  <attributes>
    <name>arrnodeid</name>
    <default>0</default>
    <intro>指定栏目ID</intro>
  </attributes>
  <attributes>
    <name>includechild</name>
    <default>false</default>
    <intro>是否包含子栏目</intro>
  </attributes>
  <attributes>
    <name>specialid</name>
    <default>0</default>
    <intro>专题ID</intro>
  </attributes>
  <attributes>
    <name>urltype</name>
    <default>0</default>
    <intro>链接地址类型</intro>
  </attributes>
  <attributes>
    <name>shownum</name>
    <default>10</default>
    <intro>{$$$ItemName$$$}数</intro>
  </attributes>
  <attributes>
    <name>ishot</name>
    <default>false</default>
    <intro>是否是热门{$$$ItemName$$$}</intro>
  </attributes>
  <attributes>
    <name>iselite</name>
    <default>false</default>
    <intro>是否是推荐{$$$ItemName$$$}</intro>
  </attributes>
  <attributes>
    <name>inputername</name>
    <default>
    </default>
    <intro>作者姓名</intro>
  </attributes>
  <attributes>
    <name>datenum</name>
    <default>0</default>
    <intro>日期范围</intro>
  </attributes>
  <attributes>
    <name>ordertype</name>
    <default>1</default>
    <intro>排序方式</intro>
  </attributes>
  <attributes>
    <name>showtype</name>
    <default>1</default>
    <intro>显示方式</intro>
  </attributes>
  <attributes>
    <name>titlelen</name>
    <default>20</default>
    <intro>标题最多字符数</intro>
  </attributes>
  <attributes>
    <name>contentlen</name>
    <default>100</default>
    <intro>{$$$ItemName$$$}内容最多字符数</intro>
  </attributes>
  <attributes>
    <name>shownodename</name>
    <default>false</default>
    <intro>是否显示所属栏目名称</intro>
  </attributes>
  <attributes>
    <name>showpropertytype</name>
    <default>0</default>
    <intro>显示{$$$ItemName$$$}属性的方式</intro>
  </attributes>
  <attributes>
    <name>showincludepic</name>
    <default>false</default>
    <intro>是否显示“[图文]”字样</intro>
  </attributes>
  <attributes>
    <name>showauthor</name>
    <default>false</default>
    <intro>是否显示{$$$ItemName$$$}作者</intro>
  </attributes>
  <attributes>
    <name>showdatetype</name>
    <default>0</default>
    <intro>显示更新日期的样式</intro>
  </attributes>
  <attributes>
    <name>showhits</name>
    <default>false</default>
    <intro>是否显示{$$$ItemName$$$}点击数</intro>
  </attributes>
  <attributes>
    <name>showhotsign</name>
    <default>false</default>
    <intro>是否显示热门{$$$ItemName$$$}标志</intro>
  </attributes>
  <attributes>
    <name>shownewsign</name>
    <default>false</default>
    <intro>是否显示新{$$$ItemName$$$}标志</intro>
  </attributes>
  <attributes>
    <name>showtips</name>
    <default>false</default>
    <intro>是否显示作者、更新日期、点击数等浮动提示信息</intro>
  </attributes>
  <attributes>
    <name>showcommentlink</name>
    <default>false</default>
    <intro>是否显示评论链接</intro>
  </attributes>
  <attributes>
    <name>usepage</name>
    <default>false</default>
    <intro>是否分页显示</intro>
  </attributes>
  <attributes>
    <name>opentype</name>
    <default>0</default>
    <intro>{$$$ItemName$$$}打开方式</intro>
  </attributes>
  <attributes>
    <name>cols</name>
    <default>1</default>
    <intro>每行显示标题的的列数</intro>
  </attributes>
  <attributes>
    <name>hits</name>
    <default>0</default>
    <intro>热门最小点击数</intro>
  </attributes>
  <attributes>
    <name>elitelevel</name>
    <default>0</default>
    <intro>推荐优先级</intro>
  </attributes>
  <attributes>
    <name>tablename</name>
    <default>{$$$TableName$$$}</default>
    <intro>所属于表名</intro>
  </attributes>
  <attributes>
    <name>tr_value</name>
    <default>&amp;lt;/tr&amp;gt;&amp;lt;tr&amp;gt;</default>
    <intro>表格式专用参数</intro>
  </attributes>
</root>