<?xml version="1.0"?>
<root>
  <LabelType>列表分页</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/PE_user.gif</LabelImage>
  <LabelIntro>跳转函数为changepage(转到页, 标签名, 分页标签名)</LabelIntro>
  <LabelTemplate>总记录{$totalpub/}条，
每页{$pagesize/}条，
共{$endid/}页，
当前第{$currentid/}页，
&lt;a href="#" onclick="changepage(1,'{$sourcename/}','{$spanname/}');"&gt;首页&lt;/a&gt;
 &lt;a href="#" onclick="changepage({$prvid/},'{$sourcename/}','{$spanname/}');"&gt;上一页&lt;/a&gt;
 {$loop range="3"}&lt;a href="#" onclick="changepage({$pageid/},'{$sourcename/}','{$spanname/}');"&gt;{$pageid/}&lt;/a&gt; $$$&lt;b&gt;&lt;a href="#" onclick="changepage({$pageid/},'{$sourcename/}','{$spanname/}');"&gt;{$pageid/}&lt;/a&gt;&lt;/b&gt; {$/loop}
&lt;a href="#" onclick="changepage({$nextid/},'{$sourcename/}','{$spanname/}');"&gt;下一页&lt;/a&gt;
&lt;a href="#" onclick="changepage({$endid/},'{$sourcename/}','{$spanname/}');"&gt;尾页&lt;/a&gt;
 转到&lt;select id='Jumppage' onchange="if(this.options[this.selectedIndex].value!=''){changepage(this.options[this.selectedIndex].value,'{$sourcename/}','{$spanname/}');}"&gt;
{$loop range="4"}&lt;option value='{$pageid/}'&gt;{$pageid/}&lt;/option&gt;$$$&lt;option value='{$pageid/}' selected&gt;{$pageid/}&lt;/option&gt;{$/loop}
&lt;/select&gt;页</LabelTemplate>
</root>