<?xml version="1.0"?>
<root>
  <LabelType>列表分页</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/PE_user.gif</LabelImage>
  <LabelIntro>色块风格的分页,需要载入对应的CSS</LabelIntro>
  <LabelTemplate><![CDATA[<style type="text/css">
.tabletitle1 {
background-color : #559AE4; color : #fff;
} 
.tablebody1 {
background-color : #fff; line-height : normal; 
} 
.tablebody2 {
background-color : #e4e8ef; line-height : normal; 
} 
.tableborder5 {
border : 1px solid #559AE4;background-color : #d6e0ef;
} 
.pageinput {
border : 1px solid #d6e0ef; background-color : #fafafa; height : 18px; 
font-family : Arial, 宋体, fantasy; font-size : 11.5px; 
}
</style>
<table cellpadding="0" cellspacing="1" class="tableborder5">
<tr align="center">
<td class="tabletitle1" title="总记录数">&nbsp;{$totalpub/}&nbsp;</td><td class="tabletitle1" title="每页显示数">&nbsp;{$pagesize/}&nbsp;</td>
<td class="tabletitle1" title="分页">&nbsp;{$currentid/}/{$endid/}&nbsp;页</td><td class="tablebody1">&nbsp;<a href="{$firsturl/}"><img src="/images/First.gif" border="0" alt="第一页"></a>&nbsp;</td>
<td class="tablebody1">&nbsp;<a href="{$prvurl/}"><img src="/images/Previous.gif" border="0" alt="上一页"></a>&nbsp;</td>
{$loop}<td class="tablebody1">&nbsp;<a href="{$pageurl/}">{$pageid/}</a>&nbsp;</td>$$$<td class="tablebody2">&nbsp;<B><font color="red">{$pageid/}</font></B></td>{$/loop}
<td class="tablebody1">&nbsp;<a href="{$nexturl/}"><img src="/images/Next.gif" border="0" alt="下一页"></a>&nbsp;</td>
<td class="tablebody1">&nbsp;<a href="{$endurl/}"><img src="/images/Last.gif" border="0" alt="尾页"></a>&nbsp;</td>
<td class="tablebody1">
<input type="text" name="page" size="2" value="{$currentid/}" Class="PageInput"><input type="button" value="GO" name="submit" Class="PageInput" onclick="jumpurl();"></td>
</tr></table>]]></LabelTemplate>
</root>