<?xml version="1.0"?>
<root>
  <LabelType>内容分页</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/PE_Vote.gif</LabelImage>
  <LabelIntro>显示下拉分页标题</LabelIntro>
  <LabelTemplate><![CDATA[<select id='Jumppage' onchange="if(this.options[this.selectedIndex].value!=''){redirecturl(this.options[this.selectedIndex].value);}">
{$loop}<option value='{$pageurl/}'>{$pagetitle/}</option>$$$<option value='{$pageurl/}' selected>{$pagetitle/}</option>{$/loop}
</select>]]></LabelTemplate>
</root>