<?xml version="1.0" encoding="gb2312"?>
<Config>
	<APISettings>
			<Item>
				<Name>API_Enable</Name>
				<Value>false</Value>
			</Item>			
			<Item>
				<Name>API_Key</Name>
				<Value>MYAPI_TEST</Value>
			</Item>
			<Item>
				<Name>API_Timeout</Name>
				<Value>10000</Value>
			</Item>
			<Item>
				<Name>API_Urls</Name>
				<Value>http://localhost/dvbbsnet/api/1.0/dv_api_serv.aspx</Value>
			</Item>
	</APISettings>
</Config>