<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="UTF-8">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="{PE.Label id="取得栏目META关键词" nodeid="@RequestInt_id" /}" name="Keywords" />
<meta content="{PE.Label id="取得栏目META网页描述" nodeid="@RequestInt_id" /}" name="Description"/>
<title>{PE.Label id="取得节点名称" nid="@RequestInt_id" /}-{PE.SiteConfig.sitename /}</title>
<link href="{PE.SiteConfig.ApplicationPath/}Skin/Default/default.css" rel="stylesheet" type="text/css" />
<link href="{PE.SiteConfig.ApplicationPath/}Skin/Default/soft.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.ApplicationPath/}JS/Common.js"></script>
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.ApplicationPath/}JS/slider.js"></script>
<script language="javascript" type="text/javascript">
    function redirecturl(url)
    {
        location=url;
    }
    </script>
</head>
<body>
{PE.Label id="网站顶部" /}
<div id="center_all">
  <div id="main_bg">
    <div id="main_right">
      <div id="main_right_box">
        <!-- 网站位置导航信息开始 -->
        <div class="r_navigation">
          <div class="r_n_pic"></div>
          您现在的位置：<a href="{PE.SiteConfig.sitepath/}">{PE.SiteConfig.sitename /}</a>{PE.Label id="栏目位置导航" nodeid="@RequestInt_id" /} </div>
        <!-- 网站位置导航信息结束 -->
        {PE.Label id="右侧广告" /}
        <!-- 右侧一列开始束 -->
        <div id="r_main">
          <div class="c_spacing"> </div>
          <div class="r_content">
            <dl>
              <dt>本栏推荐</dt>
              <dd> {PE.Label id="全站最新推荐" shownum="10" titlelen="28" showupdatetime="false" showpic="true" shownodename="false" opentype="_blank" nodeopentype="_blank" span_classname="new" elitelevel="6" /} </dd>
            </dl>
          </div>
          <div class="c_spacing"> </div>
          <div class="r_content">
            <dl>
              <dt>本周排行</dt>
              <dd> {PE.Label id="栏目信息排行" shownum="20" titlelen="22" showupdatetime="false" showpic="true" shownodename="false" target="_blank" node_target="_blank" span_classname="new" parentid="@RequestInt_id" days="7" showhits="true" /} </dd>
            </dl>
          </div>
        </div>
        <div class="childclass_main">
          <!-- 一列式栏目上下循环开始（childclass_main_box2右缩进控制宽度上下循环） -->
          {PE.Label id="软件一列式栏目上下循环" parentid="@RequestInt_id" shownum="10" titlelen="50" page="true" pagesize="10" urlpage="true" /}
          <!-- 一列式栏目上下循环结束 -->
          <div class="childclass_main_box2">
            <div class="class_page">{PE.Page id="url_动易后台风格" datasource="软件一列式栏目上下循环" unitname="个栏目" /}</div>
          </div>
          <div class="clearbox"></div>
        </div>
        <!-- 右侧一列结束 -->
        <div class="c_spacing"> </div>
        <!-- 推荐图片软件开始 -->
        <div class="c_main_one">
          <dl>
            <dt class="c_title">
              <div class="more"> </div>
              <a href="#">推荐图软</a></dt>
            <dd class="c_content">
              <!-- 显示8张推荐图片文章 -->
              <div class="s_photo_list"> {PE.Label id="带图片内容列表_软件_普通式" parentid="@RequestInt_id" arrnodeid="@RequestInt_id" includechild="true" specialid="0" shownum="8" ishot="false" iselite="true" datenum="0" ordertype="{PE.Label id="取得栏目下的内容排序方式" nodeid="@RequestInt_id" /}" imgwidth="150" imgheight="150" titlelen="20" contentlen="0" showtips="false" urltype="0" hits="0" elitelevel="1" span="" class="" /}
                <div class="clearbox"></div>
              </div>
            </dd>
          </dl>
        </div>
        <!-- 推荐图片软件结束 -->
      </div>
    </div>
    {PE.Label id="软件节点左侧" /} </div>
</div>
{PE.Label id="网站底部" /}
</body>
</html>
