{PE.DataSource id="cone" datasource="作者详细信息" authorname="@Request_authorname" xslt="true" /}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>作者-{PE.SiteConfig.sitename /}</title>
<meta content="{PE.Label id="网站信息配置中的关键字" /}" name="Keywords" />
<meta content="{PE.Label id="网站信息配置中网站描述" /}" name="Description"/>
<link href="{PE.SiteConfig.ApplicationPath/}Skin/Gray/default.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.ApplicationPath/}JS/Common.js"></script>
</head>
<body>
{PE.Label id="雅灰网站顶部" /}
<table class="center_all" cellspacing="0">
    <tr>
        <td><table id="r_navigation" cellspacing="0">
                <tr>
                    <td class="r_n_pic"></td>
                    <td class="logo_nav">您现在的位置：<a href="{PE.SiteConfig.sitepath/}">{PE.SiteConfig.sitename /}</a> >>作者</td>
                </tr>
            </table></td>
    </tr>
</table>
<table class="center_all" cellspacing="0">
    <tr>
        <td><table class="main" cellspacing="0">
                <tr>
                    <td class="main_left"><table class="width_100" cellspacing="0">
                            <tr>
                                <td>
                                	<table class="c_main" cellspacing="0">
                                        <tr>
                                            <td><table class="cmain_tit">
                                                    <tr>
                                                        <td><a>作者简介</a></td>
                                                    </tr>
                                                </table></td>
                                        </tr>
                                        <tr>
                                            <td class="c_content"> {PE.Field id="cone" fieldname="AuthorIntro" /} </td>
                                        </tr>
                                    </table>
                                	<table class="c_main" cellspacing="0">
                                        <tr>
                                            <td><table class="cmain_tit">
                                                    <tr>
                                                        <td><a>作品列表</a></td>
                                                    </tr>
                                                </table></td>
                                        </tr>
                                        <tr>
                                            <td class="c_content">
                                            <ul>
          <!-- 作品列表标签 -->
          {PE.Label id="作者文章作品列表_普通式" authorname="@Request_authorname" updatetime="@RequestDate_updatetime" itype="2" idate="true" ilink="true" inum="20" iorder="0" tablename="PE_U_Article" mypage="true" mypagesize="10" myurlpage="true" span="" class="" /}
                                              <div class="clearbox"> </div>
                                            </ul>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="class_page" cellspacing="0">
                                        <tr>
                                            <td>{PE.Page id="url_动易后台风格" datasource="显示作者作品列表_普通式" unitname="个作品" /}</td>
                                        </tr>
                                    </table></td>
                            </tr>
                        </table></td>
                    <td width="5"></td>
                    <td class="main_right">
                    	<table class="r_main" cellspacing="0">
                            <tr>
                                <td class="r_main_title"> 作者头像 </td>
                            </tr>
                            <tr>
                                <td class="r_main_content">
                                <ul>
        <!-- 作者头像 -->
                                    <img src="{PE.SiteConfig.ApplicationPath/}{PE.SiteConfig.uploaddir/}/{PE.Field id="cone" fieldname="AuthorPhoto" /}" alt="{PE.Field id="cone" fieldname="AuthorName" /}" border="0" width="150" height="175" />
                                </ul>
                                </td>
                            </tr>
                        </table>
                    	<table class="r_main" cellspacing="0">
                            <tr>
                                <td class="r_main_title"> 日期查询 </td>
                            </tr>
                            <tr>
                                <td class="r_main_content">
                                  <ul>
                                  <li>
                                    <script language="javascript" type="text/javascript" src="{PE.SiteConfig.ApplicationPath/}JS/AuthorDate.js"></script>
                                    <script language="javascript">getlink("{PE.SiteConfig.ApplicationPath/}Common/ShowAuthor","{PE.Field id="cone" fieldname="AuthorName" /}");</script>
                                    <a href="{PE.SiteConfig.ApplicationPath/}Common/ShowAuthor.aspx?authorname={PE.Field id="cone" fieldname="AuthorName" /}&updatetime=">显示全部文章</a>
                                  </li>
                                  </ul>
                                </td>
                            </tr>
                        </table>
                    	<table class="r_main edge_bot" cellspacing="0">
                            <tr>
                                <td class="r_main_title"> 作者详细信息 </td>
                            </tr>
                            <tr>
                                <td class="r_main_content">
                                    <ul>
                                      <!-- 作者详细信息 -->
                                      <li> 姓名：{PE.Field id="cone" fieldname="AuthorName" /} </li>
                                      <li> 性别：{PE.Field id="cone" fieldname="AuthorSex" /} </li>
                                      <li> 生日：{PE.Field id="cone" fieldname="AuthorBirthDay" /} </li>
                                      <li> 公司：{PE.Field id="cone" fieldname="AuthorCompany" /} </li>
                                      <li> 部门：{PE.Field id="cone" fieldname="AuthorDepartment" /} </li>
                                      <li> 地址：{PE.Field id="cone" fieldname="AuthorAddress" /} </li>
                                      <li> 电话：{PE.Field id="cone" fieldname="AuthorTel" /} </li>
                                      <li> 传真：{PE.Field id="cone" fieldname="AuthorFax" /} </li>
                                      <li> 邮编：{PE.Field id="cone" fieldname="AuthorZipCode" /} </li>
                                      <li> 主页：{PE.Field id="cone" fieldname="AuthorHomePage" /} </li>
                                      <li> 邮件：{PE.Field id="cone" fieldname="AuthorEmail" /} </li>
                                      <li> 分类：{PE.Field id="cone" fieldname="AuthorType" /} </li>
                                    </ul>
                                    <div class="clearbox"> </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- main 结束 -->
        </td>
    </tr>
</table>
{PE.Label id="雅灰网站底部" /}
</body>
</html>