<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="{PE.Label id="网站信息配置中的关键字" /}" name="Keywords" />
<meta content="{PE.Label id="网站信息配置中网站描述" /}" name="Description"/>
<title>来源-{PE.SiteConfig.sitename /}</title>
<link href="{PE.SiteConfig.ApplicationPath/}Skin/Gray/default.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.ApplicationPath/}JS/Common.js"></script>
</head>
<body>
{PE.Label id="雅灰网站顶部" /}

<table class="center_all" cellspacing="0">
    <tr>
        <td><table id="r_navigation" cellspacing="0">
                <tr>
                    <td class="r_n_pic"></td>
                    <td class="logo_nav">您现在的位置：<a href="{PE.SiteConfig.sitepath/}">{PE.SiteConfig.sitename /}</a> >> 来源列表</td>
                </tr>
            </table></td>
    </tr>
</table>

<table class="center_all" cellspacing="0">
    <tr>
        <td><table class="main" cellspacing="0">
                <tr>
                    <td class="main_left">
                    	<table class="width_100" cellspacing="0">
                          <tr>
                            <td class="width_l">
                              <table class="c_shop" cellspacing="0">
                                <tr>
                                  <td>
                                    <table class="cshop_tit">
                                      <tr>
                                        <td><span class="showicon">推荐来源</span></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="c_content">
                                    <ul>
                                    {PE.Label id="推荐来源列表" shownum="5" authortype="0" showtype="0" imgheight="175" imgwidth="150" intronum="50" span="" class="" /}
                                    </ul>
                                  </td>
                                </tr>
                              </table>

                            </td>
                            <td class="width_5"></td>
                            <td>
                              
                                <table class="c_main" cellspacing="0">
                                    <tr>
                                        <td><table class="cmain_tit">
                                            <tr>
                                                <td><span class="showicon">来源列表</span></td>
                                            </tr>
                                        </table></td>
                                    </tr>
                                    <tr>
                                        <td class="c_content">
{PE.Label id="来源列表_表格式" page="true" pagesize="10" urlpage="true" /}
                                        </td>
                                    </tr>
                                </table>
                                <table class="class_page" cellspacing="0">
                                  <tr>
                                    <td>{PE.Page id="url_动易后台风格" datasource="来源列表_表格式" unitname="个来源" /}</td>
                                  </tr>
                                </table>
                              
                            </td>
                          </tr>
                        </table>
                    </td>
                    <td width="5"></td>
                    <td class="main_right"> {PE.Label id="雅灰网站首页右栏" /} </td>
                </tr>
            </table>
            <!-- main 结束 -->
        </td>

    </tr>
</table>
{PE.Label id="雅灰网站底部" /}
</body>
</html>