<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="UTF-8">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="{PE.Label id="网站信息配置中的关键字" /}" name="Keywords" />
<meta content="{PE.Label id="网站信息配置中网站描述" /}" name="Description"/>
<title>温馨提示-{PE.SiteConfig.sitename /}</title>
<link href="{PE.SiteConfig.ApplicationPath/}Prompt/prompts.css" rel="stylesheet" type="text/css" />
<link href="{PE.SiteConfig.ApplicationPath/}Skin/Gray/default.css" rel="stylesheet" type="text/css" />
<link href="{PE.SiteConfig.ApplicationPath/}Skin/Gray/user.css" rel="stylesheet" type="text/css" />
</head>
<body>
{PE.label id="雅灰网站顶部" /}
<table class="center_all" cellspacing="0">
    <tr>
        <td>
            <table class="u_management_bg" cellspacing="0">
                <tr>
                    <td class="u_management_bg_td">
                        {PE.Control.form1/} 
                        <div class="c_spacing"></div>
                    </td>
                </tr>
            </table>
            <div class="c_spacing"></div>
        </td>
    </tr>
</table>
{PE.Label id="雅灰会员中心底部信息" /}
</body>
</html>
