<?xml version="1.0"?>
<root>
  <LabelType>列表分页</LabelType>
  <LabelImage>
  </LabelImage>
  <LabelIntro>动易2007后台风格路径分页标签</LabelIntro>
  <LabelTemplate>总{$totalpub/}字
 &lt;a href="{$firsturl/}"&gt;首页&lt;/a&gt;
 &lt;a href="{$prvurl/}"&gt;上一页&lt;/a&gt;
 {$loop range="5"}&lt;a href="{$pageurl/}"&gt;{$pageid/}&lt;/a&gt; $$$&lt;b&gt;&lt;a href="{$pageurl/}"&gt;{$pageid/}&lt;/a&gt;&lt;/b&gt; {$/loop}
&lt;a href="{$nexturl/}"&gt;下一页&lt;/a&gt;
 &lt;a href="{$endurl/}"&gt;尾页&lt;/a&gt;
 页次：{$currentid/}/{$endid/}页
 转到第&lt;select id='Jumppage' onchange="if(this.options[this.selectedIndex].value!=''){location=this.options[this.selectedIndex].value;}"&gt;
{$loop}&lt;option value='{$pageurl/}'&gt;{$pageid/}&lt;/option&gt;$$$&lt;option value='{$pageurl/}' selected&gt;{$pageid/}&lt;/option&gt;{$/loop}&lt;/select&gt;页</LabelTemplate>
</root>