<?xml version="1.0"?>
<root>
  <LabelType>列表分页</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/PE_user.gif</LabelImage>
  <LabelIntro>页面需要引用js/slider.js 需要有跳转函数:redirecturl(转到页)</LabelIntro>
  <LabelTemplate><![CDATA[<script language="JavaScript">
var A_TPL2h = {
	'b_vertical' : true,
	'b_watch': true,
	'n_controlWidth': 16,
	'n_controlHeight': 120,
	'n_sliderWidth': 15,
	'n_sliderHeight': 16,
	'n_pathLeft' : 1,
	'n_pathTop' : 1,
	'n_pathLength' : 103,
	's_imgControl': '{PE.SiteConfig.applicationpath/}Images/Silder/bluev_bg.gif',
	's_imgSlider': '{PE.SiteConfig.applicationpath/}Images/Silder/bluev_sl.gif',
	'n_zIndex': 1
}
var A_INIT2h = {
       's_type' : 'url',
       's_name' : 'showpagenum',
       'n_minValue' : 1,
       'n_maxValue' : {$endid/},
       'n_value' : {$currentid/},
       'n_step' : 1,
       's_spanname' : '{$originurl/}'
}
new slider(A_INIT2h, A_TPL2h);
</script>]]></LabelTemplate>
</root>