<?xml version="1.0"?>
<root>
  <LabelType>列表分页</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/PE_user.gif</LabelImage>
  <LabelIntro>通过路径进行页面跳转的分页</LabelIntro>
  <LabelTemplate><![CDATA[总记录{$totalpub/}条，
每页{$pagesize/}条，
共{$endid/}页，
当前第{$currentid/}页，
<a href="{$firsturl/}">首页</a> <a href="{$prvurl/}">上一页</a>
 {$loop}<a href="{$pageurl/}">{$pageid/}</a> $$$<b><a href="{$pageurl/}">{$pageid/}</a></b> {$/loop}
<a href="{$nexturl/}">下一页</a> <a href="{$endurl/}">尾页</a> 
转到<select id='Jumppage' onchange="if(this.options[this.selectedIndex].value!=''){location=this.options[this.selectedIndex].value;}">
{$loop}<option value='{$pageurl/}'>{$pageid/}</option>$$$<option value='{$pageurl/}' selected>{$pageid/}</option>{$/loop}
</select>页]]></LabelTemplate>
</root>