<?xml version="1.0"?>
<root>
  <LabelType>内容分页</LabelType>
  <LabelImage>../../Admin/Images/LabelIco/PE_Vote.gif</LabelImage>
  <LabelIntro>内容分页标签专用</LabelIntro>
  <LabelTemplate><![CDATA[共{$endid/}页
 您在第{$currentid/}页
 <a href="{$firsturl/}">首页</a> <a href="{$prvurl/}">上一页</a>
 {$loop range="5"}<a href="{$pageurl/}">{$pageid/}</a> $$$<b><a href="{$pageurl/}">{$pageid/}</a></b> {$/loop}
 <a href="{$nexturl/}">下一页</a>
 <a href="{$endurl/}">尾页</a>
 跳转到<select id='Jumppage' onchange="if(this.options[this.selectedIndex].value!=''){location = this.options[this.selectedIndex].value;}">
{$loop range="30"}<option value='{$pageurl/}'>{$pageid/}</option>$$$<option value='{$pageurl/}' selected>{$pageid/}</option>{$/loop}</select>页
 本页共有{$totalpub/}个字符]]></LabelTemplate>
</root>