<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="UTF-8">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="{PE.Label id="网站信息配置中的关键字" /}" name="Keywords" />
<meta content="{PE.Label id="网站信息配置中网站描述" /}" name="Description"/>
<title>在线支付第三步-{PE.SiteConfig.sitename /}</title>
<link href="{PE.SiteConfig.ApplicationPath/}Skin/Default/default.css" rel="stylesheet" type="text/css" />
<link href="{PE.SiteConfig.ApplicationPath/}Skin/Default/product.css" rel="stylesheet" type="text/css" />
<script src="{PE.SiteConfig.ApplicationPath /}js/common.js" type="text/javascript" language="javascript"></script>
<script src="{PE.SiteConfig.ApplicationPath /}js/slider.js" type="text/javascript" language="javascript"></script>
</head>
<body>
{PE.Label id="网站顶部" /}
<div id="center_all">
  <div id="main_bg">
    <div id="main_right">
      <div id="main_right_box">
        <!-- 网站位置导航信息开始 -->
        <div class="r_navigation">
          <div class="r_n_pic"></div>
          您现在的位置：{PE.SiteConfig.sitename/}>>在线支付第三步 </div>
        {PE.Label id="右侧广告" /}
        <div class="c_spacing"> </div>
        <div class="p_main_box"> {PE.Control.form1/} </div>
      </div>
    </div>
    {PE.Label id="商店节点左侧(1)" /} </div>
</div>
{PE.Label id="网站底部" /}
</body>
</html>
