<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="{PE.Label id="网站信息配置中的关键字" /}" name="Keywords" />
<meta content="{PE.Label id="网站信息配置中网站描述" /}" name="Description"/>
<title>版权信息-{PE.SiteConfig.sitename /}</title>
<link href="{PE.SiteConfig.ApplicationPath/}Skin/Default/default.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.ApplicationPath/}JS/Common.js"></script>
</head>
<body>
{PE.Label id="网站顶部" /}
<div id="center_all">
  <div id="main_bg">
    <div id="main_right">
      <div id="main_right_box"> 您现在的位置：<a href="{PE.SiteConfig.sitepath/}">{PE.SiteConfig.sitename /}</a>{PE.Label id="栏目位置导航" nodeid="@RequestInt_id" /}
        {PE.Label id="右侧广告" /}
        <div class="c_main_box">
          <div class="c_title"> 版权信息</div>
          <div class="c_content">
          <p>&nbsp;&nbsp; 本声明适用于您使用动易网络(以下简称&quot;本网站&quot;)所提供的各种工具和服务(以下简称&quot;服务&quot;)。<br />
　　1、 总则：您通过用户注册页面进入本网站即表示您已经同意自己与本网订立本协议。本网站可随时执行全权决定更改&ldquo;条款&rdquo;。如&ldquo;条款&rdquo;有任何变更，本网将在本网站上刊载公告作为通知。经修订的&ldquo;条款&rdquo;一经在本网站上公布后，立即自动生效。<br />
　　2、 关于版权及言论问题：用户在使用本站系统过程中，不得发布侵犯党和国家利益的言论，不得发布泄露国家机密的言论，不得发布有损害他人声誉的言论，不得发布侵犯他人版权的言论等。用户在论坛、留言板以及个人网站上所发布、转载的文章所引起的版权问题以及因文章内包含毁谤、诋毁、攻击他人的信息等一切纠纷或后果由用户自行承担，本网概不负责。<br />
　　本网站尊重他人的任何权利，同时也要求我们的使用者也尊重他人之权利。本网站在适当情况下，有权自行决定删除侵犯他人权利的文章终止侵害或违反他人权利之使用者的帐号。<br />
　　3、 关于经营活动：本站支持用户在使用本站系统过程中，进行合法的经营，但因为用户过失所造成的后果由用户自行承担，一切未经过本网官方认可的经营活动均与本官方站点无关。<br />
　　4、 关于用户资料：&ldquo;您的资料&rdquo;包括您在注册、使用本站服务过程中、在任何公开信息场合或通过任何电子邮件形式，向本站或其他用户提供的任何资料。您应对&ldquo;您的资料&rdquo;负全部责任，而本站仅作为您在网上发布和刊登&quot;您的资料&quot;的被动渠道。<br />
　　如果您在本网站注册，表示您同意：<br />
　　根据本网站所刊载的会员资料表格的要求，提供关于您或贵公司的真实、准确、完整和反映当前情况的资料； <br />
　　本网站维持并及时更新会员资料，使其保持真实、准确、完整和反映当前情况。倘若您提供任何不真实、不准确、不完整或不能反映当前情况的资料，或本网有合理理由怀疑该资料不真实、不准确、不完整或不能反映当前情况，本网站有权暂停或终止您在本网站的注册身份及资料。<br />
　　5、 关于帐号的安全性：在登记过程中，您将选择会员注册名和密码。您须自行负责对您的会员注册名和密码保密，且须对您在会员注册名和密码下发生的所有活动承担责任。<br />
　　6、 系统的版权：本网对所有开发的或合作开发的服务的知识产权拥有所有权或使用权，这些服务受到适用的知识产权、版权、商标、服务商标、专利或其他法律的保护。<br />
　　7、 用户利益保障：本站将定期对用户数据进行备份工作，如因为操作失误、黑客攻击以及服务器故障引起的数据损失，本网将尽可能地恢复，但这种情况下所导致的损失为不可抗拒因素，本站具有免责权利。但用户有权要求本网根据服务停止时间采取延期使用的补救措施。但如果因为本站经营不善而导致本站服务无法继续，用户有权要求本网将用户数据返还用户或者寻找其他途径以妥善解决，以保障用户合法权利。</p>
<p>&nbsp;&nbsp;&nbsp; 在此对动易网络公司表示感谢！欢迎您到动易论坛进行交流。</p>
	      </div>
          <div class="c_bot"> </div>
        </div>
      </div>
    </div>
    {PE.Label id="网站首页左侧" /} </div>
</div>
{PE.Label id="网站底部" /}
</body>
</html>
