<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta content="{PE.Label id="网站信息配置中的关键字" /}" name="Keywords" />
<meta content="{PE.Label id="网站信息配置中网站描述" /}" name="Description"/>
<title>问卷调查-{PE.SurveyName /}</title>
{PE.SurveyJS/}
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="{PE.SiteConfig.ApplicationPath/}Skin/Default/Images/style_01.jpg" width="600" height="92" alt=""></td>
  </tr>
  <tr>
    <td style="padding:8px;" background="{PE.SiteConfig.ApplicationPath/}Skin/Default/Images/style_03.jpg">{PE.GetSurveyForm/}</td>
  </tr>
  <tr>
    <td><img src="{PE.SiteConfig.ApplicationPath/}Skin/Default/Images/style_04.jpg" width="600" height="17" alt=""></td>
  </tr>
</table>
</body>
</html>
