<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="{PE.Label id="网站信息配置中的关键字" /}" name="Keywords" />
<meta content="{PE.Label id="网站信息配置中网站描述" /}" name="Description"/>
<title>搜索-{PE.SiteConfig.sitename /}</title>
<link href="{PE.SiteConfig.ApplicationPath/}Skin/Default/default.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{PE.SiteConfig.applicationpath/}js/common.js"></script>
</head>
<body>
{PE.Label id="网站顶部" /}
<div id="center_all">
<div id="main_bg">
  <div id="main_right">
    <div id="main_right_box">
      <!-- 网站位置导航信息开始 -->
      <div class="r_navigation">
        <div class="r_n_pic"></div>
        您现在的位置：<a href="{PE.SiteConfig.sitepath/}">{PE.SiteConfig.sitename /}</a> >>商品搜索</div>
        <!-- 网站位置导航信息结束 -->
        <div class="r_ad"> {PE.Label id="右侧广告" /}</div>
        <div class="c_spacing"></div>
        <div class="c_main_box">
          <div class="c_title"> 搜索结果</div>
          <div class="c_content"> {PE.Label id="栏目内搜索_商品" parentid="@RequestInt_nodeid" fieldname="@Request_fieldoption" fieldvalue="@Request_keyword" pagesize="12" arrnodeid="0" titlelen="50" contentlen="0" span="" class="" /} </div>
          <div class="c_bot"> </div>
        </div>
        <div class="class_page">{PE.Page id="url_动易后台风格" datasource="显示栏目内搜索_商品" unitname="个商品" /}</div>
      </div>
    </div>
    {PE.Label id="商店节点左侧" /} </div> 
</div>
{PE.Label id="网站底部" /}
</body>
</html>
